@using Syncfusion.Server.Base.Localization;
@inject LocalizationHandler localization;
@{
    var userDetail = (User)ViewBag.UserDetail;
}

<div role="tabpanel" class="tab-pane col-xs-12 no-padding" id="change-password-tab">
    <div id="change-password" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admin-page-body">
        <form class="change-password-form">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-12 no-padding">
                    @Html.Label("new-password", T["New Password"].Value, new { @class = "app-textbox-label" })
                    <span class="mandatory">*</span>
                </div>
                <div class="col-xs-12 no-padding">
                    @Html.Password("fake-password", new { id = "fake-password", @class = "fake-password-avoid-autocomplete" })
                    <input type="password" id="new-password" autocomplete="new-password" name="new-password" maxlength="64" data-toggle="popover" data-title="@T["Password must contain:"]" data-trigger="focus" data-html="true" data-content="@PasswordPolicyManagement.DisplayMessageForPasswordPopover(localization)" data-placement="right" class="form-control password-fields-user-profile-edit" placeholder="@T["New Password"]" name="user-password" data-name="user-password">
                    <span class="su su-show view-green show-hide-password" data-toggle="tooltip" data-original-title="@T["Click to view"]"></span>
                    <span id="new-password-validate" class="validation-message"></span>
                </div>
            </div>

            <div class="col-xs-12 no-padding input-field-margin confirm-password">
                <div class="col-xs-12 no-padding">
                    @Html.Label("confirm-password", T["Confirm Password"].Value, new { @class = "app-textbox-label" })
                    <span class="mandatory">*</span>
                </div>
                <div class="col-xs-12 no-padding">
                    @Html.Password("confirm-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "confirm-password", autocomplete = "new-password", name = "confirm-password", maxlength = "4000", placeholder = T["Confirm Password"].Value })
                    <span class="su su-show view-green show-hide-password" data-toggle="tooltip" data-original-title="@T["Click to view"]"></span>
                    <span id="confirm-password-validate" class="validation-message"></span>
                </div>
            </div>
            <input type="hidden" id="user-id" value="@ViewBag.UserDetail.UserId" />
        </form>
    </div>
    <div class="admin-page-footer col-xs-12">
        <div class="admin-page-actions col-lg-12 col-md-12">
            <button type="button" class="primary-button pull-right" onclick="onUserChangePasswordClick()">
                <span>@T["Update"]</span>
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding validation">
        <h5 id="password-validation" class="password-validate-holder"></h5>
    </div>
</div>