@using Syncfusion.Server.Base.Localization;
@inject LocalizationHandler localization;
@{
    var userDetail = (User)ViewBag.UserDetail;
}

<div role="tabpanel" class="tab-pane col-12 float-start no-padding" id="change-password-tab">
    <div id="change-password" class="col-lg-12 col-md-12 col-sm-12 col-12 float-start admin-page-body">
        <form class="change-password-form">
            @Html.AntiForgeryToken()
            @if (userDetail.IsActive)
            {
                @if (ViewBag.IsCurrentUser)
                {
                    <div class="col-12 float-start no-padding">
                        <div class="col-12 float-start no-padding">
                            @Html.Label("current-password", T["Current Password"].Value, new { @class = "app-textbox-label" })
                            <span class="mandatory">*</span>
                        </div>
                        <div class="col-12 float-start no-padding change-password-position">
                            @Html.Password("fake-password", new { id = "fake-password", @class = "fake-password-avoid-autocomplete" })
                            @Html.Password("current-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "current-password", autocomplete = "current-password", placeholder = T["Current Password"].Value, name = "old-password", maxlength = "4000" })
                            <span class="u su-show view-green show-hide-password" id="show-newpassword" data-bs-toggle="tooltip" data-original-title="@T["Click to view"]"></span>
                            <span id="old-password-validate" class="password-validate-holder validation-message"></span>
                        </div>
                    </div>
                }

                <div class="col-12 float-start no-padding input-field-margin">
                    <div class="col-12 no-padding">
                        @Html.Label("new-password", T["New Password"].Value, new { @class = "app-textbox-label" })
                        <span class="mandatory">*</span>
                    </div>
                    <div class="col-12 float-start no-padding change-password-position">
                        @Html.Password("fake-password", new { id = "fake-password", @class = "fake-password-avoid-autocomplete" })
                        <input type="password" id="new-password" autocomplete="new-password" name="new-password" maxlength="64" data-bs-toggle="popover" data-bs-original-title="@T["Password must contain:"]" data-bs-trigger="focus" data-bs-html="true" data-bs-content="@PasswordPolicyManagement.DisplayMessageForPasswordPopover(localization)" data-bs-placement="right" class="form-control password-fields-user-profile-edit" placeholder="@T["New Password"]" name="user-password" data-name="user-password">
                        <span class="su su-show view-green show-hide-password" data-bs-toggle="tooltip" data-bs-original-title="@T["Click to view"]"></span>
                        <span id="new-password-validate" class="validation-message"></span>
                    </div>
                </div>

                <div class="col-12 float-start no-padding input-field-margin confirm-password">
                    <div class="col-12 float-start no-padding">
                        @Html.Label("confirm-password", T["Confirm Password"].Value, new { @class = "app-textbox-label" })
                        <span class="mandatory">*</span>
                    </div>
                    <div class="col-12 float-start no-padding change-password-position">
                        @Html.Password("confirm-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "confirm-password", autocomplete = "new-password", name = "confirm-password", maxlength = "4000", placeholder = T["Confirm Password"].Value })
                        <span class="su su-show view-green show-hide-password" data-bs-toggle="tooltip" data-bs-original-title="@T["Click to view"]"></span>
                        <span id="confirm-password-validate" class="validation-message"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="password-notification">
                    @T["The email address is not yet verified. The change password option will be available once the email is verified."]
                </div>
            }

            <input type="hidden" id="user-id" value="@ViewBag.UserDetail.UserId"/>
        </form>
    </div>
    <div class="col-12 col-sm-3 col-md-2 col-lg-2 float-start no-padding validation">
        <h5 id="password-validation" class="password-validate-holder"></h5>
    </div>
</div>