<div id="add-tenants-report-dialog-content" class="col-12 float-start no-padding">
    <div class="col-12 float-start status-text no-padding">
        <span class="status-display-msg">@T["Granting user access to sites"] </span>
        <span class="status-description"></span>
        <div id="csv-download">
            @Html.Raw(string.Format(T["Please download the detailed report {0}here{1}"].Value, "<a class='report-download text-decoration-none'>", "</a>"))
        </div>
    </div>
    <div class="col-12 float-start status-table no-padding">
        <table class="report-table">
            <tbody>
                <tr class="title-row">
                    <td>
                        @T["Total"]
                    </td>
                    <td>
                        @T["Success"]
                    </td>
                    <td>
                        @T["Skipped"]
                        <span tabindex="0" class="info-icon su su-info" role="button" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="focus" data-bs-content="@T["Users who already have access to the selected site(s) were skipped."]"></span>
                    </td>
                    <td>
                        @T["Failed"]
                    </td>
                    <td>
                        @T["Status"]
                    </td>
                </tr>
                <tr class="content-row">
                    <td id="total-count">
                    </td>
                    <td id="success-count">
                    </td>
                    <td id="skip-count">
                    </td>
                    <td id="fail-count">
                    </td>
                    <td id="status">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>