@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="application-name-template">
        <a class="item-name grid-content text-decoration-none" title="${TenantName}" data-bs-toggle="tooltip" href="@Url.Action("ViewSite", "TenantsManagement")/${Id}">${TenantName}</a>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="application-url-template">
        <a class="grid-content text-decoration-none" title="${SiteUrl}" data-bs-toggle="tooltip" href="${SiteUrl}">${SiteUrl}</a>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="application-tenant-template">
        ${if (TenantType == "@((int)TenantType.BoldBIOnPremise)")}
        <span>@AppBranding.Bold.ProductName</span>
        ${else if (TenantType == "@((int)TenantType.BoldReportsOnPremise)")}
        <span>@AppBranding.BoldReports.ProductName</span>
        ${/if}
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="admin-checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="${Id}" id="admin-row-check${Id}" data-id="${Id}" />
        <input name="admin-row-check${Id}" type="hidden" value="false">
        <label for="admin-row-check${Id}" class="admin-checkbox-row-label"> </label>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="applicationname-header">
        <div class="item-name">@T["Site Name"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="application-url-header">
        <div class="item-header">@T["Site URL"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="application-tenant-header">
        <div class="item-header">@T["Tenant Type"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="admin-checkbox-header-template">
        @Html.CheckBox("admin-checkbox-header", new { @class = "material-checkbox" })
        @Html.Label("admin-checkbox-header", " ", new { @class = "admin-checkbox-header-label" })
    </script>
</head>
<div id="add-tenants-dialog-content" class="modal-body col-12 float-start">
    <div id="add-user-search-area" class="float-start no-margin">
        <input type="text" class="float-start" id="add-tenant-search" placeholder="@T["Search sites"]" />
        <span class="su su-inner-close close-icon float-start" id="add-tenant-clear-search" title="@T["Clear search"]"></span>
        <span class="su su-search search-icon float-start" title="@T["Search"]"></span>
    </div>
    <div class="col-12 float-start no-padding">
        <div id="add_tenants_grid">
        </div>
    </div>
    <div class="col-12 float-start no-padding">
        <div class="note-info"><span class="note-text">@T["Note"]: </span><span>@T["The users who were selected in the previous screen will have access to the sites that were selected."]</span></div>
    </div>
</div>

