@{
    var userDetail = (User)ViewBag.UserDetail;
    ViewBag.MessageBox = false;
    ViewBag.Title = T["User Profile"].Value + " - " + T["Security"].Value + " - " + GlobalAppSettings.SystemSettings.OrganizationName;
    var isExternalLogin = new UserManagement().IsExternalDirectory(userDetail.DirectoryTypeId);
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/user-management-profile.css" asp-append-version="true" />
}

@section scripts{
      <script nonce="@Context.Items["ScriptNonce"]" src="~/bundles/js/user-management-profile.js" asp-append-version="true"></script>
    <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        
        var fileUploadUrl = "@Url.Action("Upload", "fileupload")";
        var UpdatePasswordUrl = "@Url.Action("UpdatePassword", "UserManagement")";
        var disableMfaUrl = "@Url.Action("DisableMfa", "UserManagement")";
        var regenerateRecoveryCodeUrl = "@Url.Action("RegenerateRecoveryCode", "UserManagement")";
        var isShow2fa = convertToBoolean("@isExternalLogin");
        var isEnableUpdateButton = convertToBoolean("@userDetail.IsActive");
        if (!isEnableUpdateButton)
        {
            $("#password-update-button").css("visibility", "hidden");
        }
    </script>
}

@section MainSection {
    @await Html.PartialAsync("_UserProfileMenu")

    <div class="col-xs-12 header-section no-padding no-margin width-alignment">
   
        <div class="admin-page-header col-md-12 col-lg-12 col-sm-12 security-header">
            <div class="col-xs-6 no-padding">
                <a class="back-button pull-left" href="@Url.Action("Index", "UserManagement")" data-toggle="tooltip" data-original-title="@T["Users"]" data-placement="bottom" data-container="body">
                    <i class="su su-arrow-back"> </i>
                </a>

                <div class="admin-page-header-description col-xs-6 no-padding" id="application-title">
                    <hgroup class="col-xs-12 header-group">
                        <h1 class="page-title" id="display-name">@T["Security"]</h1>
                    </hgroup>
                </div> 
            </div>
            <div class="col-xs-4 top-nav-sec no-padding">
                @await Html.PartialAsync("../Shared/_TopMenu")
            </div>
        </div>

        <div id="password-update-button" class="col-md-12 import-area bi-page-header admin-page-icon">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-6 no-padding admin-header-btn pull-right" id="user-management-options">
                    <button type="button" class="primary-button pull-right" id="save-changed-password">
                    <span>@T["Update"]</span>
                </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 no-padding auth-page-nav-bar">
            <ul id="ad-tab-nav" class="nav nav-tabs" role="tablist">
                @if (!isExternalLogin)
                {
                    <li role="presentation">
                        <a href="#change-password-tab" id="change-password" aria-controls="change-password" role="tab" data-toggle="tab">@T["Change Password"]</a>
                    </li>
                }
                <li role="presentation">
                    <a href="#2fa-tab" id="2fa" aria-controls="2fa" role="tab" data-toggle="tab">@T["Two Factor Authentication"]</a>
                </li>
            </ul>
        </div>
        
    </div>


    <div id="change-password-container" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 admin-page-content-container security-setting-container" role="tabpanel">
        <div class="admin-page-content col-xs-12 no-padding" id="change-password-content">
            <div class="tab-content col-xs-12 no-padding">
                @if (!isExternalLogin)
                {
                    @await Html.PartialAsync("_ChangePassword")
                }
                @await Html.PartialAsync("_MultiFactorAuthentication")
            </div>
        </div>
        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    </div>
    @await Html.PartialAsync("_ShowRecoveryCode")
    @await Html.PartialAsync("_DisableMfaDialog")
    @await Html.PartialAsync("_RecoveryCodeRegenerationDialog")
}
