@inject IJsonHelper Json;

@{
    ViewBag.Title = "Synchronize Users - " + GlobalAppSettings.SystemSettings.OrganizationName;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/users-groups-sync.css" asp-append-version="true"/>
}

@section scripts{
    <script src="~/bundles/js/synchronize-users.js" asp-append-version="true"></script>

    @if (ViewBag.AzureAdSync > 0)
    {
        <script>
            var synchronizeSelectedUsersUrl = "@Url.Action("SynchronizeSelectedAzureUsers", "UserManagement")";
        </script>
    }
    <script type="text/x-jsrender" id="user-profile-template">
        <a class="user-name" title="{{:FullName}}" data-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")/?userid={{:UserId}}&email={{:Email}}">{{:TrimmedFullName}}</a>
    </script>

    <script type="text/x-jsrender" id="email-template">
        <span title="{{:EmailId}}" class="grid-content" data-toggle="tooltip">
            {{:EmailId}}
        </span>
    </script>


    <script type="text/x-jsrender" id="checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox selfhosted" name="checkbox-row" data-checked-id="{{:UserId}}" id="row-check{{:UserId}}" />
        <input name="row-check{{:UserId}}" type="hidden" value="false">
        <label for="row-check{{:UserId}}"> </label>
    </script>

    <script type="text/x-jsrender" id="checkbox-header-template">
        @Html.CheckBox("checkbox-header", new
        {
            @class = "material-checkbox selfhosted"
        })
        @Html.Label("checkbox-header", " ", new
        {
            @class = "checkbox-header-label"
        })
    </script>

    <script type="text/x-jsrender" id="name-header">
        <div class="item-header">Name</div>
    </script>

    <script type="text/x-jsrender" id="username-header">
        <div class="item-header">Username</div>
    </script>

    <script type="text/x-jsrender" id="email-header">
        <div class="item-header">Email Address</div>
    </script>

    <script type="text/x-jsrender" id="userid-header">
        <div class="item-header">User id</div>
    </script>

    <script type="text/x-jsrender" id="user-detail-validation">
        {{if IsDuplicated}}
        <div class="su su-login-error user-import-validation" title="{{:DisplayMessage}}" data-html="true" data-toggle="tooltip" data-placement="left"></div>
        {{/if}}
    </script>

    <script type="text/javascript" language="javascript">
        ej.support.stableSort = false;
        var data = @Html.Raw(Json.Serialize(ViewBag.ActiveDirectoryUsers));
        $(function() {
            data = ej.parseJSON(data);
            GridLocalization();
            $("#user_grid").ejGrid({
                dataSource: data,
                gridLines: ej.Grid.GridLines.None,
                allowPaging: true,
                enableAltRow: false,
                enableRowHover: true,
                allowSorting: true,
                allowSelection: true,
                allowScrolling: false,
                allowFiltering: true,
                allowSearching: true,
                locale: "en-US",
                selectionType: ej.Grid.SelectionType.Multiple,
                pageSettings: { pageSize: 20 },
                templateRefresh: "refreshTemplate",
                filterSettings: { filterType: "menu" },
                selectionSettings: { selectionMode: ["row"] },
                dataBound: function(args) {
                    $('[data-toggle="tooltip"]').tooltip();
                    $("#checkbox-header").change(headCheckboxOnChange);
                    this.model.indexes = {}; /* Additional property*/
                    var selecteduserIdValues = [];
                },

                recordClick: "fnRecordClick",
                create: "fnOnUserGridCreate",
                actionComplete: "fnOnUserGridActionComplete",
                columns: [
                    {
                        headerTemplateID: "#checkbox-header-template",
                        template: true,
                        templateID: "#checkbox-row-template",
                        textAlign: ej.TextAlign.Center,
                        allowFiltering: false,
                        width: 20
                    },
                    {
                        template: true,
                        allowSorting: true,
                        templateID: "#user-profile-template",
                        headerText: "Name",
                        headerTemplateID: "#name-header",
                        width: 115,
                        field: "FullName",
                        allowFiltering: true,
                        type: "string"
                    },
                    {
                        field: "EmailId",
                        headerText: "Email Address",
                        templateID: "#email-template",
                        headerTemplateID: "#email-header",
                        type: "string",
                        allowFiltering: true,
                        width: 150
                    },
                    {
                        field: "UserId",
                        headerText: "User id",
                        headerTemplateID: "#userid-header",
                        type: "string",
                        cssClass: "user-id",
                        allowFiltering: true,
                        width: 100,
                        visible: false
                    },
                    {
                        field: "",
                        width: 15,
                        templateID: "#user-detail-validation",
                        allowFiltering: false,
                        visible: true
                    }
                ]

            });
        });
    </script>
}

@section MainSection{

    @await Html.PartialAsync("../UserManagement/_UserMenu")

    <div class="col-xs-12 admin-page-container">
        <div class="admin-page-header col-xs-12" id="user-title">
            <a href="@Url.Action("index", "UserManagement")" data-toggle="tooltip" data-placement="top" title="Users" class="back-button pull-left">
                <i class="su su-arrow-back back-navigaion"> </i>
            </a>

            @if (ViewBag.AzureAdSync > 0)
            {
                <div class="col-xs-7 page-title" id="user-title-with-count">
                    Azure AD Synchronization - USERS (<span id="total-record-count"></span>)
                </div>
                <div class="col-xs-6 page-description">Select Users to synchronize with Azure AD</div>
            }
            <div class="hide" id="synchronize-users">
                <span class="primary-button pull-right top-margin" data-toggle="tooltip" data-placement="top" data-container="body" title="Synchronize Users with Active Directory" onclick="SynchronizeUsers()">Synchronize</span>
            </div>
        </div>
        <div class="col-xs-12 admin-page-body col-lg-12">
            <div id="search-area" class="pull-right">

                @if (ViewBag.AzureAdSync > 0)
                {
                    <input type="text" id="search-ad-users" class="pull-left no-margin" placeholder="Search Azure AD users" autocomplete="off" />
                }
                <span class="su close-icon su-inner-close pull-left no-margin" id="clear-search" data-toggle="tooltip" data-placement="top" title="Clear search"></span>
                <span class="su su-search search-icon pull-left no-margin search-user" data-toggle="tooltip" data-placement="top" title="Search"></span>
            </div>

            <div id="user_grid"></div>
        </div>
    </div>
}