@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <script>
        var saveCustomAttributeUrl = { "user": "@Url.Action("SaveUserCustomAttribute", "CustomAttribute")", "group": "@Url.Action("SaveGroupCustomAttribute", "CustomAttribute")", "site": "@Url.Action("SaveSiteCustomAttribute", "CustomAttribute")" };
        var isAttributeNameExistsUrl = { "user": "@Url.Action("IsUserAttributeNameExists", "CustomAttribute")", "group": "@Url.Action("IsGroupAttributeNameExists", "CustomAttribute")", "site": "@Url.Action("IsSiteAttributeNameExists", "CustomAttribute")" };
        var getCustomAttributeDetailsUrl = { "user": "@Url.Action("GetUserAttributes", "CustomAttribute")", "group": "@Url.Action("GetGroupAttributes", "CustomAttribute")", "site": "@Url.Action("GetSiteAttributes", "CustomAttribute")" };
        var updateCustomAttributeUrl = { "user": "@Url.Action("UpdateUserCustomAttribute", "CustomAttribute")", "group": "@Url.Action("UpdateGroupCustomAttribute", "CustomAttribute")", "site": "@Url.Action("UpdateSiteCustomAttribute", "CustomAttribute")" };
        var removeCustomAttributeUrl = { "user": "@Url.Action("RemoveUserCustomAttribute", "CustomAttribute")", "group": "@Url.Action("RemoveGroupCustomAttribute", "CustomAttribute")", "site": "@Url.Action("RemoveSiteCustomAttribute", "CustomAttribute")" };
    </script>
</head>
<body>
    <div id="custom-attribute-content" style="display:none">
        <div class="col-12 custom-attribute-div">
            <form class="col-12 no-padding" id="custom-attribute-form" autocomplete="off">
                <div class="col-12 no-padding">
                    <label class="custom-attribute-label">@T["Name"]:</label>
                    <input id="custom-attribute-name" name="custom-attribute-name" autocomplete="off" class="custom-attribute-input form-control" placeholder="@T["Enter the attribute name"]" maxlength="255" autofocus>
                    <div class="validation-errors"></div>
                </div>
                <div class="col-12 no-padding">
                    <label class="custom-attribute-label">@T["Value"]:</label>
                    <textarea id="custom-attribute-value" name="custom-attribute-value" autocomplete="off" class="form-control" placeholder="@T["Enter the attribute value"]" maxlength="4000"></textarea>
                    <div class="validation-errors"></div>
                </div>
                <div class="col-12 no-padding">
                    <label class="custom-attribute-label">@T["Description"]:</label>
                    <textarea id="custom-attribute-descrition" autocomplete="off" class="form-control" placeholder="@T["Write a description about this attribute"]" maxlength="1024"> </textarea>
                </div>
                <div class="entry-checkbox">
                    @Html.CheckBox("encrypt-custom-attribute", new { @class = "material-checkbox" })
                    @Html.Hidden("encrypt-custom-attribute")
                    @Html.Label("encrypt-custom-attribute", T["Encrypt this attribute"].Value, new { @class = "toggle-space" })
                </div>
            </form>
        </div>
    </div>
</body>