@using System.Configuration
@using Newtonsoft.Json
@{
    Layout = null;
    bool isSelfHosted = ServerAppConfig.IsSelfHosted;
    var globalAppSettings = new TenantHandler().GetTenantConfig();
    var isDebug = globalAppSettings.SystemSettings.IsDebug;
    var currentUrl = HttpContext.Current.Request.RawUrl.ToString();
    var dashboardBIUrl = new DashboardServerEndPoints(globalAppSettings).DashboardServerBIUrl();
    var cdnLink = globalAppSettings.SystemSettings.CDNLink;
    var configurationPath = isSelfHosted ? dashboardBIUrl + "/webdesignerservice/scripts/settings/" + GlobalAppSettings.Branding.ToLower() + "/settings.min.js" : globalAppSettings.SystemSettings.CDNLink.ToLower() + "/scripts/settings/" + GlobalAppSettings.Branding.ToLower() + "/settings.min.js";
    var dashboardServerApiUrl = new DashboardServerApiEndPoints(globalAppSettings).DashboardServerApiUrl();
    var isAdmin = HttpContext.Current.Session["IsAdmin"] != null && Convert.ToBoolean(HttpContext.Current.Session["IsAdmin"]);

    HttpContext.Current.Response.Cookies.Add(new HttpCookie(ServerAppConfig.DesignerLanguageCookieName)
    {
        Value = GlobalAppSettings.GetLanguageTag(),
        HttpOnly = true,
        Expires = DateTime.UtcNow.AddYears(1)
    });
}
<!DOCTYPE html>

<html style="height:100%;width:100% ; overflow:hidden;">
<head>
    <title>[[[Connection]]] - @globalAppSettings.SystemSettings.OrganizationName</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta name="dashboard_server:url" content="@dashboardServerApiUrl" />
    <meta name="dashboard_service:url" content="@globalAppSettings.SystemSettings.InternalAppDataServiceUrl" />
    <meta name="designer_service:url" content="@ServerAppConfig.InternalAppDataServiceUrl" />
    <meta name="designer_service:access_token" content="@ViewBag.AccessToken" />
    <meta name="data_service:url" content="@ServerAppConfig.InternalAppDataServiceUrl" />
    <meta name="datasource_schedule:url" content="@Url.Action("GetRecurrenceTypeView", "DataSources")" />

    @*<meta name="datasource:version" content="@ViewBag.Version" />
        <meta name="datasource:id" content="@ViewBag.DataSourceId" />
        <meta name="isdraft" content="@ViewBag.IsDraft" />*@
    <meta name="datasource:connectionlist" content="@ViewBag.Datasources" />
    <meta name="intermediatedbstatus" content="@ViewBag.IntermediateDbStatus" />

    <meta name="user:is_admin" content="@isAdmin.ToString()" />
    <meta name="user:culture" content="@ViewBag.Culture" />

    <meta name="globalization:date_format" content="@globalAppSettings.SystemSettings.DateFormat" />
    <meta name="globalization:time_format" content="@globalAppSettings.SystemSettings.TimeFormat.ToString()" />

    <script>
        var rootUrlAction = "@Url.Action("", "")";
        var datasourceDesignerUrl = "@Url.Action("Index", "DataSourceDesigner")";
        var baseUrl = "@globalAppSettings.SystemSettings.BaseUrl"; // If you are working on local developemnt change the baseurl as localsource url
        var currentUrl = "@currentUrl";
        var configurationPath = "@configurationPath";
        var isSelfHosted = "@isSelfHosted";
        var dataStoreSettingUrl = "@Url.Action("DataStoreSettings", "Administration")";
        var modelLanguage = "@ViewBag.ModelLanguage";
    </script>
</head>

<body ng-app="serverApp" id="body" onload="openDatasource()" style="overflow: hidden; position: static; margin: 0; padding: 0; height: 100%; width: 100%">
    @Styles.Render("~/bundles/styles/connection-designer")
    @Styles.Render("~/bundles/Styles/webdesignerservice/dashboard-designer-component")

    <script src="@(EarlyUrlLocalizer.IgnoreLocalizationUrlPrefix)@ServerAppConfig.InternalAppDataServiceUrl/localization/designerlocalization.js?v=@ServerAppConfig.ProductVersion"></script>

    @Scripts.Render("~/bundles/Scripts/webdesignerservice/dashboard-designer-dependency")

    @*Referred directly in the view page due to pivot grid changes and sfcompressor minification issue*@
    @if (isSelfHosted)
    {
        @Scripts.Render("~/bundles/Scripts/webdesignerservice/ej1-web-all")
        @Scripts.Render("~/bundles/Scripts/webdesignerservice/ej2-web-all")
        @Scripts.Render("~/bundles/Scripts/webdesignerservice/dashboard-designer-component")
    }
    else
    {
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

        <script src="@cdnLink/scripts/designer/ej1.web.all.min.js"></script>
        <script src="@cdnLink/scripts/designer/ej2.web.all.min.js"></script>
        @Scripts.Render("~/bundles/Scripts/webdesignerservice/dashboard-designer-component")
    }

    @Scripts.Render("~/bundles/scripts/connection-designer")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/scripts/signalr-bundle")

    <div id="connectionDesigner"></div>

    @Scripts.Render("~/bundles/scripts/localizationcontent")
</body>
</html>