@inject IUserManagement userManagement
@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = globalAppSettings.SystemSettings.OrganizationName + " - [[[Widgets]]]";
    var isMarkItemsPublic = globalAppSettings.SystemSettings.IsMarkItemsPublic;
    var isAdmin = Context.Session.GetString("IsAdmin") != null && Convert.ToBoolean(Context.Session.GetString("IsAdmin"));
    var requestType = DisplayCategory.AllWidgets;
    var widgetUrl = Url.Action("widgets", "widgets");
    var activeClass = "active";
    var sectionName = "[[[All Widgets]]]";
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    if (ViewBag.AbsolutePath.IndexOf("/widgets/public") > -1)
    {
        requestType = DisplayCategory.PublicWidgets;
        sectionName = "[[[Public Widgets]]]";
        activeClass = String.Empty;
    }
    else if (ViewBag.AbsolutePath.IndexOf("/widgets/all") > -1)
    {
        requestType = DisplayCategory.AllWidgets;
        sectionName = "[[[All Widgets]]]";
        activeClass = String.Empty;
    }
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.ManageWidgets);
}

@model List<ItemDetail>

@section styles{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/tile-dashboards-page.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/tile-dashboards-page.min.css" />
    </environment>

    <style>
        #items_WaitingPopup {
            display: none !important;
        }
    </style>
}

@section scripts{
    <script>
        var i_am_ie9 = false;
        var getwidgetDetailsUrl = "@Url.Action("GetwidgetDetails", "widgets")";
        var getLinkDialogViewUrl= "@Url.Action("GetLinkView", "items")";
       var designerInstallationHelpUrl = "@(ServerAppConfig.AppSettings.Documentation.BaseUri  + GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.DesignerInstallation))";

        serverApp.controller("widgetsController", ["$scope", function ($scope) {
            $scope.itemRequestType = @((int)requestType);
            if (($scope.itemRequestType == "@((int)DisplayCategory.PublicWidgets)") || $scope.itemRequestType == "@((int)DisplayCategory.AllWidgets)") {
                $(".tool-tip").hide();
            }

            $scope.search = {
                "Name": ""
            };

            $scope.clearSearch = function () {
                $("[data-toggle='tooltip']").tooltip();

                if ($scope.search.Name != "")
                    clearSearch = true;
                else
                    clearSearch = false;

                $scope.search.Name = "";
            }

            $scope.onClickDisplayCategory = function ($event) {
                $event.preventDefault();
                var gridObj = $("#items").data("ejGrid");
                $("[data-toggle='tooltip']").tooltip();
                $scope.itemRequestType = $event.currentTarget.getAttribute("data-display-category");
                $.xhrPool.abortAll();
                $("#items").find(".e-gridcontent").css("visibility", "hidden");
                gridObj.refreshContent();
                if ($scope.itemRequestType != "100") {
                    $("#category-section-name").html($event.currentTarget.getAttribute("data-section")).attr({ "data-original-title": $event.currentTarget.getAttribute("data-section") });
                    if ( $scope.itemRequestType == "@((int)DisplayCategory.AllWidgets)") {
                        $(".tool-tip").hide();
                    }
                }

            };
        }]);
    </script>
    <!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->

    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/widget-page.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/widget-page.min.js"></script>
    </environment>
}

@section MainSection{
    <div id="server-items-container" class="server-items-container" ng-cloak ng-controller="widgetsController">
        <span class="su su-sidebar-expand category-collapse pull-left" title="[[[Expand]]]" data-toggle="tooltip" data-placement="top"></span>
        <div class="item-list-panel pull-left" id="item-list-panel">
            <ul class="item-navigation" role="tablist">
                <li class="public-widgets @(ViewBag.AbsolutePath.IndexOf("/widgets/public") > -1 ? "active" : String.Empty)" href="@widgetUrl/public" ng-click="onClickDisplayCategory($event)" title="[[[Public Widgets]]]" data-toggle="tooltip" data-placement="top" data-display-category="@((int)DisplayCategory.PublicWidgets)" data-section="Public Widgets">
                    <a class="tab-header" href="@widgetUrl/public" role="tab">
                        <i class="su su-public-dashboards"></i>
                    </a>
                </li>
                <li class="all-widgets @(ViewBag.AbsolutePath.IndexOf("/widgets/all") > -1 ? "active" : @activeClass)" href="@widgetUrl/all" ng-click="onClickDisplayCategory($event)" title="[[[All Widgets]]]" data-toggle="tooltip" data-placement="top" data-display-category="@((int)DisplayCategory.AllWidgets)" data-section="All Widgets">
                    <a class="tab-header" href="@widgetUrl/all" role="tab">
                        <i class="su su-all-dashboards"></i>
                    </a>
                </li>
                <li class="category-collapse pull-right" title="[[[Collapse]]]" data-toggle="tooltip" data-placement="top">
                    <a class="tab-header" href="">
                        <i class="su su-sidebar-collapse"></i>
                    </a>
                </li>
            </ul>

            <div id="category-listing" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (sectionName != null)
                {
                    if (isMarkItemsPublic == false && isAdmin == true)
                    {
                        <div class="tool-tip col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left: 7px; cursor:pointer">
                            <span class="dropdown-toggle" style="display:block; padding-top:8px; " data-toggle="dropdown" id="help-text-default"><span id="error_icon" class="su su-warning-alt" title="" style="color:yellow;"></span></span>
                            <div class="dropdown-menu" role="menu" id="help-text-message" style="left:18px; width: 300px; padding-left:5px; margin-left:-11px;">
                                [[[ Public Widgets disabled in ]]] <a href="@Url.Action("DashboardSettings", "Administration")">[[[dashboard settings.]]]</a>
                            </div>

                        </div>
                    }
                    else if (isMarkItemsPublic == false && isAdmin == false)
                    {
                        <div class="tool-tip col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left: 7px; cursor:pointer">
                            <span class="dropdown-toggle" style="display:block; padding-top:8px; " data-toggle="dropdown" id="help-text-default"><span id="error_icon" class="su su-warning-alt" title="" style="color:yellow;"></span></span>
                            <div class="dropdown-menu" role="menu" id="help-text-message" style="left:18px; width: 300px; padding-left:5px; margin-left:-11px">
                                [[[Public Widgets disabled by the system administrator. Please contact your system administrator to enable this.]]]
                            </div>
                        </div>
                    }
                    <span id="category-section-name" class="col-lg-5 col-md-5 col-sm-5 col-xs-5" title="@sectionName" data-toggle="tooltip" data-placement="top">@sectionName</span>

                }
                else
                {
                    <span id="category-section-name" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" title="[[[Widgets]]]" data-toggle="tooltip" data-placement="top">[[[Widgets]]]</span>
                }
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding text-right sorting" style="width:50%; float:right;">
                    <span class="dropdown text-right" id="field">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                            <span class="selected selected-field" data-value="ModifiedDate">[[[Modified Date]]]</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dashboard-sort">
                            <li>
                                <a class="dashboard-sort-options" data-value="Name" href="javascript:void(0);">
                                    <i class="su su-tick"></i>
                                    <span class="search-option">[[[Widget Name]]]</span>
                                </a>
                            </li>
                            <li>
                                <a class="dashboard-sort-options" data-value="CreatedByDisplayName" href="javascript:void(0);">
                                    <i class="su su-tick"></i>
                                    <span class="search-option">[[[Owner Name]]]</span>
                                </a>
                            </li>
                            <li>
                                <a class="dashboard-sort-options" data-value="CreatedDate" href="javascript:void(0);">
                                    <i class="su su-tick"></i>
                                    <span class="search-option">[[[Added Date]]]</span>
                                </a>
                            </li>
                            <li>
                                <a class="dashboard-sort-options selected" data-value="ModifiedDate" href="javascript:void(0);">
                                    <i class="su su-tick"></i>
                                    <span class="search-option">[[[Modified Date]]]</span>
                                </a>
                            </li>
                        </ul>
                    </span>

                    <span class="su su-sort-down-up text-right" id="order" data-value="descending">
                        <span class="path1 sorting-icon" style="margin-right: -5px"></span>
                        <span class="path2 sorting-icon opacity"></span>
                    </span>

                    <div class="search-area" role="search">
                        <span class="su su-search search-item pull-left" title="[[[Search]]]" data-toggle="tooltip" data-placement="left"></span>
                        <div id="input-div"><input type="text" class="search-home-section" id="search-home-page" ng-model="search.Name" placeholder="[[[Search]]]" autocomplete="off" /></div>
                        <span class="su su-inner-close close-icon category" ng-click="clearSearch()" id="clear-search" title="[[[Clear search]]]" data-container='body' data-toggle="tooltip" data-placement="top"></span>
                    </div>
                </div>

            </div>
            <input type="hidden" value="@isMarkItemsPublic.ToString()" id="isMarkItemspublic" />
            <div id="item-grid-container" data-grid-name="widgets">
                @await Html.PartialAsync("../Items/_ItemsList", new ViewDataDictionary(ViewData) { { "gridName", "widgets" } })
            </div>
        </div>

        <div id="item-viewer" class="pull-left">
            <iframe id="dashboard_render_iframe" class="dashboard_render" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0"></iframe>
            <div id="initial-item-message">
                <span id="message" class="select-dashboard-message">
                    <span class="su su-info"></span>
                    <span>
                        [[[Select a widget to view.]]]
                    </span>
                </span>
            </div>
            @await Html.PartialAsync("../Shared/_Footer", new ViewDataDictionary(ViewData) { { "appsettings", globalAppSettings } })
        </div>
    </div>

    <div id="widget_edit_popup" style="display:none">
        <iframe id="widget_edit_popup_iframe" class="widget-popup-frame"></iframe>
    </div>
    <div id="popup-container" style="display:none" class="no-padding">
        <iframe id="scheduler-popup-iframe" class="datasource-popup-frame"></iframe>
    </div>
    <div id="make_item_public" class="no-padding pull-left" style="display:none"></div>

    <div id="remove_item_public" class="no-padding" style="display:none"></div>
    @await Html.PartialAsync("../Items/_AddItems")
}
