@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;
@using System.Security.Claims;

@{
    if (CloudAppConfig.IsSelfHosted)
    {
        ViewBag.Title = "[[[Change Password]]] - " + GlobalAppSettings.SystemSettings.OrganizationName;
    }
    else
    {
        ViewBag.Title = "Change Password | " + (GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "Bold ID Account" : CloudAppConfig.AccountTitle);
    }
    ViewBag.MessageBox = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = ViewBag.ReturnUrl;
    var currentUserId = Guid.Parse(GlobalAppSettings.HttpContextAccessor.HttpContext.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);
    var profileUrl = "profile";
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/change-password.css" asp-append-version="true"/>
}
@section scripts{
    <script src="~/bundles/js/change-password.js" asp-append-version="true"></script>
    <script src="~/bundles/js/ej2.js" asp-append-version="true"></script>
    <script>
        var updatepasswordUrl = "@Url.Action("updatepassword", "User")";
        $(document).ready(function () {
            generateProfileAvatar();
        });
    </script>
}
@section MainSection{
    <div id="edit-profile-base-div" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 no-padding">
        <input type="hidden" class="page-name" data-content="CHANGE PASSWORD">
        <input type="hidden" id="UserName" value="@(currentUserId)" />
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 profile-edit admin-page-container" id="user-profile-master">
            <div id="edit-profile-heading-div" class="col-xs-12 col-md-12 col-sm-12 col-lg-12 admin-page-header">
                <h2 class="page-title">[[[MY PROFILE - Change Password]]]</h2>
            </div>
            <div id="change-password" class="admin-page-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" id="change-password-content">
                    <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 change-password-form">
                        <div class="user-profile-table" cellpadding="20">
                            <div class="spacer col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding text-right password-label-div">
                                    @Html.Label("current-password", "[[[Current password]]]", new { @class = "password-label app-textbox-label" })
                                    <span class="mandatory">*</span>
                                </div>
                                <div class="password-field col-xs-12 col-sm-5 col-md-4 col-lg-3 no-padding">
                                    @Html.Password("fake-password", new { id = "fake-password", @class = "fake-password-avoid-autocomplete" })
                                    @Html.Password("old-password", "", new { @class = "form-control notification-content password-fields-user-profile-edit", id = "old-password", placeholder = "[[[Current Password]]]", name = "old-password", maxlength = "4000" })
                                    <span class="su su-show show-hide-password" id="show-newpassword"></span>
                                    <span id="old-password-validate" class="password-validate-holder validation-message"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding new-section">
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding text-right password-label-div">
                                    @Html.Label("new-password", "[[[New password]]]", new { @class = "password-label app-textbox-label" })
                                    <span class="mandatory">*</span>
                                </div>
                                <div class="password-field col-xs-12 col-sm-5 col-md-4 col-lg-3 no-padding">
                                    @Html.Password("new-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "new-password", placeholder = "[[[New Password]]]", name = "new-password", maxlength = "4000" })
                                    <span class="su su-show show-hide-password" id="show-newpassword"></span>
                                    <span id="new-password-validate" class="password-validate-holder  validation-message"></span>
                                </div>
                            </div>
                            <div id="confirm-password-section" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding confirm-section">
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding text-right password-label-div">
                                    @Html.Label("confirm-password", "[[[Confirm password]]]", new { @class = "password-label app-textbox-label" })
                                    <span class="mandatory">*</span>
                                </div>
                                <div class="password-field col-xs-12 col-sm-5 col-md-4 col-lg-3 no-padding">
                                    @Html.Password("confirm-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "confirm-password", placeholder = "[[[Confirm Password]]]", name = "confirm-password", maxlength = "4000" })
                                    <span class="su su-show show-hide-password" id="show-newpassword"></span>
                                    <span id="confirm-password-validate" class="password-validate-holder  validation-message"></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 confirm-section">
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding"></div>
                                <div id="change-password-btn" class="button-section col-xs-12 col-sm-9 col-md-4 col-lg-3 no-padding">
                                    @if (!string.IsNullOrWhiteSpace(returnUrl))
                                    {
                                        <a href="@returnUrl" class="link-button pull-right" id="change-password-cancel">[[[Cancel]]]</a>
                                        <input id="hidden-return-url" class="hidden" value="@returnUrl" />
                                    }
                                    else
                                    {
                                        <a href="@profileUrl" class="link-button pull-right" id="change-password-cancel">[[[Cancel]]]</a>
                                    }

                                    @Html.TextBox("save", "[[[Save]]]", new { type = "button", @class = "primary-button pull-right", id = "change-password-save", onclick = "onChangePasswordClick()" })
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 no-padding">
                                    <h5 id="password-validation" class="password-validate-holder validation-message"></h5>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="page-inner-small-padding no-right-padding">
            </div>
        </div>
    </div>
}