<!DOCTYPE html>
@{
    var globalAppSettings = _globalAppSettings;
    var isSuccess = ViewData["IsSuccess"] != null ? Convert.ToBoolean(ViewData["IsSuccess"]) : false;
    var itemId = Convert.ToString(ViewData["itemid"]);
    var dataSourceName = Convert.ToString(ViewData["DataSourceName"]);
    Layout = null;
    var CreateAccess = ViewData["CreateAccess"] != null ? Convert.ToBoolean(ViewData["CreateAccess"]) : false;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
}
<html class="dashboard-server">
@if (isSuccess == false)
{

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            @ViewBag.Title
        </title>
        <script>
            var isdatasourceexistUrl = "@Url.Action("isdatasourceexist", "items")";
        </script>
        <style>
            [contentEditable=false]:empty:not(:focus):before {
                content: attr(data-text);
            }
        </style>

        @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-datasource.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-datasource.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-datasource.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-datasource.min.js"></script>
        </environment>

        <script>
            $(document).ready(function () {
                $(document).on("click", ".popup-close", function (e) {
                    parent.$("#datasource-popup").find("iframe").contents().find("html").html("");
                    parent.$("#update-datasource-popup-iframe").contents().find(".input-value").removeClass("input-value");
                    eDialog = parent.$("#datasource-popup").data("ejDialog");
                    eDialog.close();
                });
            });
        </script>
    </head>
    if (CreateAccess)
    {
        <body class="item-add" id="item-update">
            <form name="add-item-form" id="add-item-form" method="post" action="@Url.Action("adddatasource", "datasources")" enctype="multipart/form-data">
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content col-lg-12" id="popup-container">
                            <div class="modal-header col-lg-12">
                                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 no-padding">
                                    <span class="su su-nav-datasource head-icon"></span>
                                    <span class="modal-title popup-title" title="@T["Upload Data Source"]">@T["Upload Data Source"]</span>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
                                    <a href="javascript:void(0);" title="@T["Close"]" class="popup-close pull-right" onclick="closeAddItemPopup()"><span class="su su-close"></span></a>
                                </div>
                            </div>

                            <div class="modal-body">

                                <div id="general-file-container">
                                    <table class="table" width="100%" cellspacing="10px" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="col-xs-2 content-padding"><label class="app-textbox-label pull-right" id="label-div">@T["Name"]<span class="mandatory">*</span></label></td>
                                                <td class="col-xs-10 content">
                                                    <div>
                                                        <input type="text" id="file-name-content" autofocus name="datasourcename" maxlength="255" class="form-control text-field" tabindex="1">
                                                        <span id="validate-name" class="validation-message"></span>
                                                        <span id="plugin-validation" class="validation-message"></span>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="col-xs-2"><label class="app-textbox-label content-padding pull-right">@T["Description"]</label></td>
                                                <td class="col-xs-10 content">
                                                    <textarea style="resize: none;" name="description" class="form-control text-field " id="file-description" maxlength="1024" tabindex="2"></textarea>
                                                    <span class="info-text">
                                                        * @T["1024 characters maximum"]
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-xs-2 content-padding" valign="top"><label class="app-textbox-label pull-right" id="datasource-label">@T["Data Source"]<span class="mandatory">*</span></label></td>
                                                <td class="col-xs-10 content-padding">
                                                    <div class="input-group col-xs-10 imagepath no-padding">
                                                        <input type="text" class="form-control text-field upload-file" id="file-name" value="@T["Browse file path"]" name="uploaded-file-name" readonly tabindex="-1" />
                                                        <label for="browse-file" class="trigger-file-input_wrapper"></label>
                                                        <div class="file-upload btn btn-default">
                                                            <span>...</span><input type="file" id="browse-file" accept=".syds" class="browse-button upload-btn" name="file" tabindex="-1">
                                                        </div>
                                                        <span id="validate-file" class="validation-message"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-8 padding-top no-padding">
                                    <input type="button" title="" class="primary-button app-btn-primary margin-right" id="publish-file" onclick="addfileValidate()" tabindex="4" value="@T["Add"]" />
                                    <input type="button" title="" class="secondary-button app-btn-secondary" id="cancel-add-file" onclick="closeAddItemPopup()" value="@T["Cancel"]" tabindex="5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </body>
    }
    else
    {
        <body>
            <script>
                $(document).ready(function () {
                    closeAddItemPopup();
                    parent.messageBox("su-datasource", "@T["Upload Data Source – Access Denied"]", "@T["You do not have access to create a Data Source. Please check with your Dashboards administrator to obtain access."]", "", function () {
                        parent.onCloseMessageBox();
                    });
                });

            </script>
        </body>
    }

}
else
{
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-datasource.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-datasource.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-datasource.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-datasource.min.js"></script>
        </environment>

        <script>
            $(document).ready(function () {
                if (parent.window.IsUpdateDashboard == true) {
                    closeAddItemPopup();
                    if (parent.$("#update-data-source-popup-iframe").contents().find("select").length > 0) {
                        if ("@dataSourceName" != "") {
                            updateContents("@itemId", "@dataSourceName");
                        }
                    }
                }
                else {
                    closeAddItemPopup();
                    parent.messageBox("su-datasource", "@T["Upload Data Source"]", "@T["Data Source has been added successfully."]", "success", function () {
                        var gridName = window.parent.$('#item-grid-container').attr("data-grid-name");
                        if (gridName == "datasources") {
                            parent.ResetGrid();
                        }
                        parent.onCloseMessageBox();
                    });
                }
            });
        </script>
    </head>
}

@section scripts{
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}

</html>