@*@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var isSuccess = ViewData["IsSuccess"] != null ? Convert.ToBoolean(ViewData["IsSuccess"]) : false;
}

<!DOCTYPE html>
<html class="dashboard-server">
@if (!isSuccess)
{

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
            @ViewBag.Title
        </title>
        <script>
            var isdatasourceexistUrl = "@Url.Action("isdatasourceexist", "items")";
        </script>
           @Styles.Render("~/bundles/styles/add-datasource")
           @Scripts.Render("~/bundles/scripts/edit-datasource")


        @Html.Partial("~/Views/Shared/_LoaderIcon.cshtml")

		   
        <script>
            $(document).ready(function () {
                $(document).on("click", ".popup-close", function (e) {
                    parent.$("#datasource-edit-popup").find("iframe").contents().find("html").html("");
                    eDialog = parent.$("#datasource-edit-popup").data("ejDialog");
                    eDialog.close();
                });
            });
        </script>
    </head>
    <body class="item-update" id="item-update">
        <form name="add-item-form" class="edit-data-source-form" method="post" action="~/datasources/editdatasource" enctype="multipart/form-data">
            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content col-lg-12" id="popup-container">
                        <div class="modal-header col-lg-12">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 no-padding">
                                <span class="su su-nav-datasource head-icon"></span>
                                <span class="modal-title popup-title" title="[[[Update Data Source]]]">[[[Update Data Source]]]</span>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
                                <a href="javascript:void(0);" title="[[[Close]]]" class="popup-close pull-right"><span class="su su-close"></span></a>
                            </div>
                        </div>

                        <div class="modal-body">
                            <div id="general-file-container">
                                <table class="table" width="100%" cellspacing="10px" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td class="col-xs-2 content-padding"><label class="app-textbox-label pull-right" id="label-div">[[[Name]]]<span class="mandatory">*</span></label></td>
                                            <td class="col-xs-10 content">
                                                <span>
                                                    <input type="text" id="file-name-content" autofocus name="name" maxlength="255" class="form-control text-field" tabindex="1">
                                                    <span id="validate-name" class="validation-message"> </span>
                                                    <span id="plugin-validation" class="validation-message"></span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-2"><label class="content-padding app-textbox-label pull-right">[[[Description]]]</label></td>
                                            <td class="col-xs-10 content">
                                                <textarea style="resize: none;" name="description" class="form-control text-field" id="file-description" maxlength="1024" tabindex="2"></textarea>
                                                <span class="notification  info-text">
                                                    * [[[1024 characters maximum]]]
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-2 content-padding" valign="top"><label class="app-textbox-label  pull-right" id="datasource-label">[[[Data Source]]]<span class="mandatory">*</span></label></td>
                                            <td class="col-xs-10  content-padding ">
                                                <div class="input-group col-xs-10 imagepath no-padding">
                                                    <input type="text" class="form-control text-field upload-file" id="file-name" value="[[[Browse file path]]]" name="uploaded-file-name" readonly tabindex="-1" />
                                                    <label for="browse-file" class="trigger-file-input_wrapper"></label>
                                                    <div class="file-upload btn btn-default">
                                                        <span>...</span><input type="file" id="browse-file" accept=".syds" class="browse-button upload-btn" name="file" tabindex="-1">
                                                    </div>
                                                </div>
                                                <span id="validate-file" class="validation-message"></span>
                                            </td>
                                        </tr>
                                        <tr id="version-comment">
                                            <td class="col-xs-2 content-padding">
                                                <label class="content-padding app-textbox-label pull-right" id="version-comment">[[[Version comments]]]</label>
                                            </td>
                                            <td class="col-xs-10 content-padding">
                                                <textarea id="comment" style="resize: none;" name="versionComment" class="form-control text-field " readonly='' maxlength="1024" tabindex="3"></textarea>
                                                <span class="notification  info-text">
                                                    * [[[1024 characters maximum]]]
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-8 padding-top no-padding">
                                <input type="button" title="" class="primary-button margin-right" disabled value="[[[Update]]]" id="publish-file" onclick="addfileValidate()" disabled tabindex="4">
                                <input type="button" title="" class="secondary-button" id="cancel-add-file" onclick="closeAddItemPopup()" value="[[[Cancel]]]" tabindex="5">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="ItemId" name="ItemId" value="">
                    <input type="hidden" id="IsSourceChanged" name="IsSourceChanged" value="">
                    <input type="hidden" id="IsNameChanged" name="IsNameChanged" value="">
                    <input type="hidden" id="IsDescriptionChanged" name="IsDescriptionChanged" value="">
                    <script>
                        $(function () {
                            createEditFilePopup(@Html.Raw(Json.Encode(ViewData["itemdetail"])));
                        });
                    </script>
                </div>
            </div>
        </form>
</body>
}
else
{

    <head>
        @Styles.Render("~/bundles/styles/add-datasource")
        @Scripts.Render("~/bundles/scripts/edit-datasource")
        <script>
            $(document).ready(function () {
                closeAddItemPopup();
                parent.messageBox("su-datasource", "[[[Update Data Source]]]", "[[[Data Source has been updated successfully.]]]", "success", function () {
                    parent.ResetGrid();
                    parent.onCloseMessageBox();
                });
            });
        </script>
    </head>
}
 @Scripts.Render("~/bundles/scripts/localizationcontent")
</html>*@