@using Syncfusion.Server.Base.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.Accounts.cshtml";
    var isCreatePassword = ViewBag.IsCreatepassword != null ? ViewBag.IsCreatepassword : false;
    if (CloudAppConfig.IsSelfHosted)
    {
        ViewBag.Title = isCreatePassword ? "[[[Account Activation - ]]]" + GlobalAppSettings.SystemSettings.OrganizationName : "[[[Reset Password - ]]]" + GlobalAppSettings.SystemSettings.OrganizationName;
    }
    else
    {
        ViewBag.Title = isCreatePassword ? "[[[Account Activation | ]]]" + GlobalAppSettings.BrandingDisplayName + "[[[ Account]]]" : "[[[Reset Password | ]]]" + GlobalAppSettings.BrandingDisplayName + "[[[ Account]]]";
    }

    var passwordRules = "<ul class='text-body' id='password_policy_rules'><li id='p_policy_length'><span class = 'icon'></span><span class='content'>[[[6 characters]]]</span></li><li id='p_policy_uppercase'><span class = 'icon'></span><span class='content'>[[[1 Uppercase letter]]]</span></li><li id='p_policy_lowercase'><span class = 'icon'></span><span class='content'>[[[1 Lowercase letter]]]</span></li><li id='p_policy_number'><span class = 'icon'></span><span class='content'>[[[1 Number]]]</span></li><li id='p_policy_specialcharacter'><span class = 'icon'></span><span class='content'>[[[1 Special character]]]</span></li></ul>";
}

@section styles{
    @Styles.Render("~/bundles/styles/accounts/change-password")
}

@section scripts{
    <script>
        var passwordRegex = @ValidationHelpers.PasswordRegex;
    </script>
    @Scripts.Render("~/bundles/scripts/accounts/change-password")
}

@section MainSection{
    <form action="@Url.Action("updatepassword", "accounts")" class="change-password-container" name="changePasswordForm" method="post" onsubmit="return changePasswordValidation();" id="update-password-form" autocomplete="off">

        @if (isCreatePassword)
        {
            <div class="form-name text-h1">[[[Create password]]]</div>
        }
        else
        {
            <div class="form-name text-h1">[[[Reset password]]]</div>
        }

        <input type="hidden" value="@Request["userid"]" name="userId" />
        <input type="hidden" value="@Request["recoverycode"]" name="recoveryCode" />
        <input type="hidden" value="@Request["returnUrl"]" name="returnUrl" />
        <input type="hidden" value="@Request["token"]" name="token" />
        <input type="hidden" value="@Request["subdomain"]" name="subdomain" />
        <input type="hidden" value="@ViewBag.HttpHeaders" name="httpHeaders" />
        <input type="hidden" value="@ViewBag.RequestUrl" name="requestUrl" />
        <div class="update-form-input-field new-password">
            <input placeholder="[[[New password]]]" type="password" id="password" name="password" class="form-control change-password-form" maxlength="85" data-toggle="popover" data-title="[[[Password must contain]]]" data-trigger="focus" data-html="true" data-content="@passwordRules" />
            <span class="su su-eye show-hide-password"></span>
            <div class="validation-holder">
                <span id="validation-error" class="validation-messages"></span>
            </div>
        </div>
        <div class="update-form-input-field re-password">
            <input placeholder="[[[Confirm password]]]" type="password" id="re-password" name="re-password" class="form-control change-password-form" maxlength="85" />
            <span class="su su-eye show-hide-password"></span>
            <div class="validation-holder">
                <span id="validation-error" class="validation-messages"></span>
            </div>
        </div>
        <button id="submit-button" class="submit-button proceed-button" type="submit">
           @(isCreatePassword ? "[[[Create password]]]" : "[[[Reset my password]]]")
        </button>
    </form>
}