@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var isSuccess = ViewData["IsSuccess"] != null ? Convert.ToBoolean(ViewData["IsSuccess"]) : false;
    var canCreateCategory = ViewData["CanCreateCategory"] != null ? Convert.ToBoolean(ViewData["CanCreateCategory"]) : false;
    var allowedDashboardExtensions = ".sydx";
    var emailAddress = ViewBag.Email;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');

    if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier && (emailAddress.EndsWith("@syncfusion.com", StringComparison.OrdinalIgnoreCase)))
    {
        allowedDashboardExtensions = ".sydx,.sydj";
    }
    else if (GlobalAppSettings.Branding == AppBranding.BoldBI.Identifier)
    {
        allowedDashboardExtensions = ".sydj";
    }
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
}
<!DOCTYPE html>
<html class="dashboard-server">
@if (isSuccess == false)
{

    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>
        @ViewBag.Title
    </title>
    @await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
    <script>
            var isitemexistinsamecategoryUrl = "@Url.Action("isitemexistinsamecategory", "dashboards")";
            var canCreateCategory = "@canCreateCategory";
    </script>
    <style>
        [contentEditable=false]:empty:not(:focus):before {
            content: attr(data-text);
        }
    </style>

    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-dashboards.css" />
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, dashboardServerResourceUrl)" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-dashboards.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-dashboards.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, dashboardServerResourceUrl)" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-dashboards.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            $(document).on("click", ".PopupClose", function (e) {
                closeAddDashboardPopup();
            });
        });
        function load() {
            if (($(parent.window).width()) > 1400) {
                $(".dialog").addClass("iframe");
            }

            if (($(parent.window).width()) < 1400) {
                $(".dialog").removeClass("iframe");
            }
        }
    </script>
    </head>
    <body class="white-bg" onload="load();">
        <div id="PopupContainer" class="col-lg-12 no-padding add-dashboard-module dialog">
            <div class="col-xs-12 dialog-header">
                <span class="su su-nav-dashboard Head-icon"></span>
                <span class="PopupTitle extendedTitle" title="@T["Upload Dashboard"]">@T["Upload Dashboard"]</span>
                <a href="javascript:void(0);" title="@T["Close"]" class="PopupClose">
                    <span class="su su-close"></span>
                </a>
            </div>
            <form name="addItemForm" id="add-dashboard-form" method="post" action="~/dashboards/adddashboard" enctype="multipart/form-data">

                <div class="dialogBody col-xs-12 no-padding file-content-height dialog-body">
                    <div id="general-file-container">
                        <table width="100%" cellspacing="10px" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="col-md-2 text-right">
                                        <div class="bottom-margin35">@T["Category"]<span class="mandatory">*</span></div>
                                    </td>
                                    <td class="col-md-10">
                                        <div class="input-group @(canCreateCategory ? "can-create-category" : "")">
                                            <select id="selected_category" data-live-search="true" title='@T["Select category"]' name="categoryId" class="selectpicker input-group-btn form-control bottom-margin30" data-size="5" style="width:100%;margin-bottom:15px;">
                                                <option data-divider="true"></option>
                                                @for (var item = 0; item < Model.Count; item++)
                                                {
                                                    <option value="@Model[item].Id">@Model[item].Name</option>
                                                }
                                            </select>
                                            @if (canCreateCategory)
                                            {
                                                <span class="input-group-btn" style="vertical-align: top" id="add-new-category">
                                                    <button class="btn btn-default" type="button" title="@T["Add new Category"]" data-toggle="tooltip"><span class="su-add"></span></button>
                                                </span>
                                            }
                                            <span id="CategoryMessage" class="ErrorMessage hide">@T["Please select category"]</span>
                                            @if (Model.Count == 0)
                                            {
                                                <span id="emtpyCategoryList" class="ErrorMessage">@T["Please create a category to group the dashboard"]</span>
                                            }
                                            @if (ViewBag.isInvalidCategory == true)
                                            {
                                                <span id="invalid-category" class="ErrorMessage">@T["You do not have permission to create a dashboard in this category."]</span>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30">@T["Name"]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-10">
                                        <span>
                                            <input type="text" id="file_name" autofocus name="fileName" maxlength="255" class="form-control bottom-margin30 text" tabindex="1">
                                            <span id="validate-name" class="validation-message"></span>
                                            <div id="plugin_validation" class="validation-message"></div>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30">@T["Description"]</div></td>
                                    <td class="col-xs-10">
                                        <textarea style="resize: none;" name="description" class="form-control bottom-margin30 text" id="file_description" maxlength="1024" tabindex="2"></textarea>
                                        <span class="notification help-text">
                                            <span class="help-text-mandatory">*</span>@T["1024 characters maximum"]
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30">@T["File"]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-10">
                                        <div class="input-group no-padding imagepath bottom-margin30  @(canCreateCategory ? "can-create-category" : "")">
                                            <input type="text" class="form-control upload-file text" id="filename" value="@T["Browse file path"]" name="uploadedFileName" readonly tabindex="-1" />
                                            <label for="browse_file" class="trigger-file-input-wrapper"></label>
                                            <div class='fileUpload btn btn-default'>
                                                <span>...</span>
                                                <input type="file" id="browse_file" class="browse-button upload-btn" name="file" accept='@allowedDashboardExtensions' tabindex="-1">
                                            </div>
                                        </div>
                                        <span id="validate-file" class="validation-message"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="submit" class="hide-content" style="display: none" />
            </form>

            <div class="dialog-footer">
                <div class="pull-right">
                    <input type="button" title="" class="btn primary-button app-btn-primary" id="publish_file" onclick="addDashboardValidate()" tabindex="4" value="@T["Add"]">
                    <input type="button" title="" class="btn secondary-button app-btn-secondary" id="cancelAddFile" onclick="closeAddDashboardPopup()" value="@T["Cancel"]" tabindex="5">
                </div>
            </div>
        </div>
    </body>
}
else if (isSuccess == true && @ViewBag.isExists == "false")
{
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-dashboards.css" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, dashboardServerResourceUrl)" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-dashboards.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/add-dashboards.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, dashboardServerResourceUrl)" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-dashboards.min.js"></script>
        </environment>

        <script>
            var canCreateCategory = "@canCreateCategory";

            $(document).ready(function () {
                closeAddDashboardPopup();
                parent.messageBox("su-nav-dashboard", "@T["Upload Dashboard"]", "@T["Dashboard has been added successfully."]", "success", function () {
                    if (typeof (parent.RefreshCategorySection) === "function") {
                        parent.RefreshCategorySection("@ViewData["TargetCategoryId"]");
                    }
                    parent.onCloseMessageBox();
                });
            });
        </script>
    </head>
}
<environment include="Development,CloudDevelopment">
<script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
</html>