@model ItemDetail

@{
    Layout = null;
    var categoryList = ViewData["CategoryList"] as List<ItemDetail>;
    var isValid = ViewData["IsValid"] != null ? Convert.ToBoolean(ViewData["IsValid"].ToString()) : false;
    var isSuccess = ViewData["IsSuccess"] != null ? Convert.ToBoolean(ViewData["IsSuccess"].ToString()) : false;
    var isDataSourceUpdated = ViewData["IsDataSourceUpdated"] != null ? Convert.ToBoolean(ViewData["IsDataSourceUpdated"]) : false;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<!DOCTYPE html>
<html class="dashboard-server">
@if (!isSuccess)
{

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            @ViewBag.Title
        </title>
        @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")

        <script>
			var isitemexistinsamecategoryUrl = "@Url.Action("isitemexistinsamecategory", "dashboards")";
            var isDashboardDataSourceUpdatedUrl = "@Url.Action("isdashboardwithshareddatasource", "dashboards")";
        </script>
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-dashboards.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-dashboards.min.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-dashboards.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-dashboards.min.js"></script>
        </environment>

        <script>
            $(document).ready(function () {
                $(document).on("click", ".PopupClose", function (e) {
                    $("#edit-file-popup").find("iframe").contents().find("html").html("");
                    eDialog = parent.$("#edit-file-popup").data("ejDialog");
                    eDialog.close();
                });
            });
            function load() {
                if (($(parent.window).width()) > 1400) {
                    $(".dialog").addClass("iframe");
                }

                if (($(parent.window).width()) < 1400) {
                    $(".dialog").removeClass("iframe");
                }
            }
        </script>
    </head>
    <body class="white-bg" onload="load();">
        <form name="addItemForm" id="edit-dashboard-form" method="post" action="~/dashboards/editdashboard" enctype="multipart/form-data">
            <div id="PopupContainer" class="col-lg-12 no-padding edit-dashboard-module dialog">
                <div class="col-xs-12 dialog-header">
                    <span class="su su-nav-dashboard Head-icon"></span>
                    <span class="PopupTitle extendedTitle" title="@T["Upload Dashboard"]">@T["Upload Dashboard"]</span>
                    <a href="javascript:void(0);" title="@T["Close"]" class="PopupClose">
                        <span class="su su-close"></span>
                    </a>
                </div>

                <div class="dialogBody col-xs-12 no-padding file-content-height dialog-body">
                    <div id="general-file-container">
                        <input type="hidden" name="ItemId" value="@Model.Id" />
                        <table width="100%" cellspacing="10px" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="col-xs-3">
                                        <div class="bottom-margin35 text-right">@T["Category"]<span class="mandatory">*</span></div>
                                    </td>
                                    <td class="col-xs-9">
                                        <div>
                                            <select id="selected_category" data-live-search="true" title='@T["Select category"]' name="categoryId" class="selectpicker form-control bottom-margin30" data-size="5" style="width:100%;margin-bottom:15px;">
                                                @for (var item = 0; item < categoryList.Count; item++)
                                                {
                                                    <option value="@categoryList[item].Id">@categoryList[item].Name</option>
                                                }
                                            </select>
                                            <span id="CategoryMessage" class="ErrorMessage hide">@T["Please select category"]</span>
                                            <input type="hidden" id="category_change_validation" name="isCategoryChanged" value="false" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-3 text-right"><div class="bottom-margin30">@T["Name"]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-9">
                                        <span>
                                            <input type="text" id="file_name" name="Name" class="form-control text-field bottom-margin30 text" maxlength="255" value="@Model.Name" tabindex="1" autofocus>
                                            @if (!isValid)
                                            {
                                                <span id="validate-name" class="validation-message text">@ViewData["ErrorMessage"]</span>
                                            }
                                            else
                                            {
                                                <span id="validate-name" class="validation-message text"></span>
                                            }
                                            <div id="plugin_validation" class="validation-message text"></div>
                                            <input type="hidden" id="name_change_validation" name="IsNameChanged" value="false" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-3 text-right"><div class="bottom-margin30">@T["Description"]</div></td>
                                    <td class="col-xs-9">
                                        <textarea style="resize: none;" name="description" class="form-control text-field bottom-margin30" maxlength="1024" id="file_description" tabindex="2">@Model.Description</textarea>
                                        <span class="notification help-text">
                                            *@T["1024 characters maximum"]
                                        </span>
                                        <input type="hidden" id="description_change_validation" name="IsDescriptionChanged" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-3 text-right"><div class="bottom-margin30">@T["File"]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-9">
                                        <div class="input-group no-padding imagepath bottom-margin30">
                                            <input type="text" id="name" class="form-control upload-file text" value="@String.Concat(Model.FileName)" readonly name="uploadedFileName" tabindex="-1">
                                            <label for="browse_file" class="trigger-file-input-wrapper"></label>
                                            <div class='fileUpload btn btn-default'>
                                                <span>...</span><input type="file" id="browse_file" class="browse-button upload-btn" name="file" accept='.sydx' tabindex="-1">
                                            </div>
                                            <input type="hidden" id="source_change_validation" name="isSourceChanged" value="false" />
                                        </div>
                                        <span id="validate-file" class="validation-message"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-3 text-right"><div class="bottom-margin30">@T["Version comments"]</div></td>
                                    <td class="col-xs-9">
                                        <textarea id="version_comment" name="versionComment" class="form-control text-field bottom-margin30 text" maxlength="1024" disabled tabindex="4"></textarea>
                                        <span class="notification help-text">
                                            <span class="help-text-mandatory">*</span>@T["1024 characters maximum"]
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-12 dialogFooter rightAlign no-left-padding fixed-footer dialog-footer">
                    <div class="pull-right">
                        <input type="submit" class="hide-content" style="display: none" />
                        <input type="button" title="" class="btn primary-button app-btn-primary" value="@T["Update"]" id="publish_file" onclick="validateNewFileForm()" disabled tabindex="4">
                        <input type="button" title="" class="btn secondary-button app-btn-secondary" id="cancelEditFile" onclick="closeEditFilePopup()" value="@T["Cancel"]" tabindex="4">
                    </div>
                </div>
            </div>
        </form>
        <script>
			$(function () {
				window.editData = {
					ItemId: "@Model.Id",
					Name: "@Model.Name",
					Description: "@Model.Description",
					CategoryId:"@Model.CategoryId"
				}
				$('#selected_category').val(window.editData.CategoryId.toLowerCase());
				$("#selected_category").selectpicker("refresh");
				parent.CurrentItemId = "@Model.Id";
			});
        </script>
    </body>
}
else
{
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/iframe.css" />
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-dashboards.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/iframe.js"></script>
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-dashboards.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/iframe.min.css" />
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-dashboards.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/iframe.min.js"></script>
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-dashboards.min.js"></script>
        </environment>


        <script>
            var dashboardScope = parent.angular.element(parent.document.getElementById("server-items-container")).scope();
            var getUpdateDataSourceUrl = "@Url.Action("getdatasources", "dashboards")";
            var gridObj = parent.$("#items").data("ejGrid");
            var dashboardScope = parent.angular.element(parent.document.getElementById("server-items-container"))
                .scope();
            $(document).ready(function() {
                if (window.parent.IsVersionNotChanged == true || !(@Json.Serialize(isDataSourceUpdated))) {
                    parent.$("#edit-file-popup").ejDialog("close");
                    parent.messageBox("su-nav-dashboard",
                        "@T["Upload Dashboard"]",
                        "@T["Dashboard has been uploaded successfully."]",
                        "success",
                        function() {
                            var gridName = window.parent.$('#item-grid-container').attr("data-grid-name");
                            if (gridName == "dashboards") {
                                dashboardScope.refreshCategorySection("@ViewData["TargetCategoryId"]");
                            }
                            parent.onCloseMessageBox();
                            parent.ResetItemList(ItemType.Dashboard);
                        });
                    } else {
                        if ("@isDataSourceUpdated" == "True") {
                            parent.$("#edit-file-popup").ejDialog("close");
                            parent.messageBox("su-nav-dashboard",
                                "@T["Upload Dashboard"]",
                                "@T["Dashboard has been uploaded successfully. The previous version of the Dashboard used shared Data Sources. Do you want to update Data Sources for the new version?"]",
                                "error",
                                function() {
                                    parent.onCloseMessageBox();
                                    getDashboardDatasource("@ViewData["TargetCategoryId"]",
                                        parent.CurrentItemId,
                                        dashboardScope);
                                },
                                function() {
                                    var gridName = window.parent.$('#item-grid-container').attr("data-grid-name");
                                    if (gridName == "dashboards") {
                                        dashboardScope.refreshCategorySection("@ViewData["TargetCategoryId"]");
                            }
                            parent.onCloseMessageBox();
                        });
                        parent.$(".message-box-btn-holder").find("input:last").removeClass("critical-action-button app-btn-danger").addClass("primary-button app-btn-primary");
                    }
                }
            });
        </script>
    </head>
}
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
</html>
