@using System.Configuration
@{
    var globalAppSettings = new TenantHandler().GetTenantConfig();
    ViewBag.Title = "[[[Permission Denied]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
    var cdnLink = ConfigurationManager.AppSettings["CdnLink"].TrimEnd('/');
    var requestUrl = HttpContext.Current.Request.Url.AbsolutePath.ToString().ToLower();
    var dashboardsPageUrl = Url.Action("Dashboards", "Dashboards");
}
@Html.Partial("~/Views/Shared/_LoaderIcon.cshtml")
@if (Layout == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/scripts/bootstrapjs")
    @Scripts.Render("~/bundles/scripts/server-common-js")
}
@section styles{
    @Styles.Render("~/bundles/styles/error-page-new")
}
@section MainSection{
    <script>
        $(document).ready(function (e) {
            generateProfileAvatar();
        });
    </script>
    <div class="error-page-outer dashbord-denied">
        <div class="error-page-content">
            <div class="error-inside">
                <div class="error-image-center-2">
                    <img src="@GlobalAppSettings.CdnDomain/static/error-pages/v1/access-denied.svg" class="error-image-2">
                </div>
                <div class="error-type">[[[Access Denied]]]</div>
                @if (requestUrl.IndexOf(dashboardsPageUrl, StringComparison.OrdinalIgnoreCase) != -1)
                {
                    <div class="error-text">
                        [[[You do not have permission to view this dashboard.<br>Please contact your administrator.]]]
                    </div>
                }
                else
                {
                    <div class="error-text">
                        [[[You do not have permission to view this page.<br>Please contact your administrator.]]]
                    </div>
                }
            </div>
        </div>
    </div>
    @if (requestUrl.IndexOf(dashboardsPageUrl, StringComparison.OrdinalIgnoreCase) != -1)
    {
        <div class="dashboard-permission-denied">
            @Html.Partial("../Shared/_Footer", new ViewDataDictionary { { "appsettings", globalAppSettings } })
        </div>
    }

}

