@using System.Configuration
@using Newtonsoft.Json
@{
    var globalAppSettings = new TenantHandler().GetTenantConfig();
    var nativeNameTitleCase = Context.GetPrincipalAppLanguageForRequest().GetNativeNameTitleCase();
    var gridName = string.Empty;
    var cdnLink = globalAppSettings.SystemSettings.CDNLink;
    var requestUrl = HttpContext.Current.Request.Url.AbsolutePath.ToString().ToLower();
    var dashboardsPageUrl = Url.Action("Dashboards", "Dashboards");
    var widgetsPageUrl = Url.Action("Widgets", "Widgets");
    //To show or hide menu for mobile devices
    var isMobile = DeviceDetection.IsMobile;
    var menuClass = isMobile ? "collapse width" : "collapse in";
    var includeMessageBox = ViewBag.MessageBox == null || ViewBag.MessageBox == true;
    var faviconLogo = globalAppSettings.SystemSettings.FavIcon;
    var isAdmin = HttpContext.Current.Session["IsAdmin"] != null && Convert.ToBoolean(HttpContext.Current.Session["IsAdmin"]);
    var tourCookie = Request.Cookies["syncfusion.dashboards.server.tour"];
    var isItemPageRequested = (HttpContext.Current.Request.Url.AbsolutePath == "/" || HttpContext.Current.Request.Url.AbsolutePath == Url.Content("~/") || HttpContext.Current.Request.Url.ToString().IndexOf("/homepages", StringComparison.CurrentCultureIgnoreCase) > 0
  || HttpContext.Current.Request.Url.ToString().IndexOf("/dashboards", StringComparison.CurrentCultureIgnoreCase) > 0 || HttpContext.Current.Request.Url.ToString().IndexOf("/data-sources", StringComparison.CurrentCultureIgnoreCase) > 0
  || HttpContext.Current.Request.Url.ToString().IndexOf("/files", StringComparison.CurrentCultureIgnoreCase) > 0 || HttpContext.Current.Request.Url.ToString().IndexOf("/widgets", StringComparison.CurrentCultureIgnoreCase) > 0) &&
                                                                                          !isMobile;
    var tourObj = new TourCookie();
    if (tourCookie != null)
    {
        tourObj = JsonConvert.DeserializeObject<TourCookie>(JsonConvert.DeserializeObject(tourCookie.Value).ToString());
    }
    var isWelcomePage = ViewBag.IsWelcomePage != null && ViewBag.IsWelcomePage;
    var showTour = (tourCookie == null || (tourObj.TourCompleted == "false" && tourObj.TourSkipped == "false")) && !isWelcomePage && !isMobile;
    var appContainerStyle = (ViewBag.HidePageLoader != null && ViewBag.HidePageLoader) ? "" : "opacity:0;";
    var helpSiteBaseUrl = ConfigurationManager.AppSettings["documentation:base_url"];
    var feedbackCookie = Request.Cookies["feedback.visible"];
    var showFeedbackKey = ServerAppConfig.EnableCloudFeedback;
    var showFeedback = (feedbackCookie == null && tourCookie != null && !isWelcomePage && !isMobile && showFeedbackKey);
    var absolutePath = HttpContext.Current.Request.Url.AbsolutePath;
    var isSelfHosted = ServerAppConfig.IsSelfHosted;
    var dashboardBIUrl = isSelfHosted ? new DashboardServerEndPoints(globalAppSettings).DashboardServerBIUrl() : string.Empty;
    var isExludeEjDialog = ViewBag.IsExludeEjDialog != null ? ViewBag.IsExludeEjDialog : false;

    HttpContext.Current.Response.Cookies.Add(new HttpCookie("i18n.sitelangtag")
    {
        Value = GlobalAppSettings.GetLanguageTag(),
        HttpOnly = true,
        Expires = DateTime.UtcNow.AddYears(1)
    });
    var bannerApiEndpoint = ConfigurationManager.AppSettings["boldbi:banner_api"];
}
<!DOCTYPE html>
<html class="dashboard-server" lang="@globalAppSettings.SystemSettings.Language">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @if (!isSelfHosted && !globalAppSettings.SystemSettings.IsDebug)
    {
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    }

    @RenderSection("meta", false)

    <title>
        @ViewBag.Title
    </title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }

        #layout-body-loader-icon {
            position: absolute;
            top: 50%;
            left: 50% !important;
            margin-left: -27px;
            margin-top: -27px;
        }
    </style>

    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700" rel="stylesheet">

    @Html.Partial("~/Views/Shared/_LoaderIcon.cshtml")

    <link rel="icon" href="@faviconLogo" onerror="if (this.href !== null && this.href.toLowerCase() !== '@cdnLink/images/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon') this.href = '@cdnLink/images/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon';" />

    <!--Prefetch viewer & designer resources-->
    @if (!isSelfHosted)
    {
        <link rel="prefetch" href="@ServerAppConfig.InternalAppDataServiceUrl">
    }
    <script>
        var isSelfHosted = @Json.Encode(ServerAppConfig.IsSelfHosted);
        window.onload = function () {
            var preloadScripts = [
                "@Scripts.Url("~/bundles/scripts/dashboard-designer")",
                "@Scripts.Url("~/bundles/Scripts/webdesignerservice/dashboard-designer-dependency")",
                "@Scripts.Url("~/bundles/scripts/webdesignerservice/dashboard-designer-component")",
                "@Scripts.Url("~/bundles/Scripts/datasource-designer")",
                "@Scripts.Url("~/bundles/Scripts/connection-designer")",
                "@Scripts.Url("~/bundles/scripts/signalr-bundle")",
                "@Scripts.Url("~/bundles/scripts/DatasourceRecurrencePage")",
                "@Scripts.Url("~/bundles/scripts/DatasourceRecurrenceDepedency")"
            ];

            if (!isSelfHosted) {
                preloadScripts.push("@Scripts.Url("~/bundles/scripts/dashboard-feedback-viewer")");
                preloadScripts.push("@cdnLink/scripts/designer/ej1.common.all.min.js");
                preloadScripts.push("@cdnLink/scripts/designer/ej2.common.all.min.js");
                preloadScripts.push("@cdnLink/scripts/designer/ej.dashboarddesigner.min.js");
                preloadScripts.push("@cdnLink/scripts/designer/ej1.web.all.min.js");
                preloadScripts.push("@cdnLink/scripts/designer/ej2.web.all.min.js");

            } else {
                preloadScripts.push("@Scripts.Url("~/bundles/Scripts/webdesignerservice/ej1-web-all")");
                preloadScripts.push("@Scripts.Url("~/bundles/Scripts/webdesignerservice/ej2-web-all")");
                preloadScripts.push("@Scripts.Url("~/bundles/Scripts/webdesignerservice/ej-dashboard-designer")");
                preloadScripts.push("@Scripts.Url("~/bundles/Scripts/webdesignerservice/ej1-common-all")");
                preloadScripts.push("@Scripts.Url("~/bundles/Scripts/webdesignerservice/ej2-common-all")");
                preloadScripts.push("@Scripts.Url("~/bundles/scripts/dashboard-viewer-v2")");
            }

            var preloadStyles = [
                "@Styles.Url("~/bundles/Styles/webdesignerservice/dashboard-designer-component")",
                "@Styles.Url("~/bundles/styles/dashboard-designer")",
                "@Styles.Url("~/bundles/Styles/datasource-designer")",
                "@Styles.Url("~/bundles/Styles/connection-designer")",
                "@Styles.Url("~/bundles/Styles/file-render-dashboard")",
                "@Styles.Url("~/bundles/styles/ScheduleIframe")",
                "@Styles.Url("~/bundles/styles/SchedulerRecurrence")",
                "@Styles.Url("~/bundles/styles/DatasourceRecurrence")",
                "https://fonts.googleapis.com/css?family=Roboto:400,500,700"
            ];
            PreloadResources(preloadScripts, "script");
            PreloadResources(preloadStyles, "style");
        }
    </script>
</head>

<body ng-app="serverApp" class="clearfix" id="body">
    @if (!(ViewBag.HidePageLoader != null && ViewBag.HidePageLoader))
    {
        <div class="loader-blue loader-icon" id="layout-body-loader-icon">
            <svg class="circular">
                <circle class="path" cx="27" cy="27" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    }
    @Scripts.Render("~/bundles/scripts/localizationcontent")

    @Styles.Render("~/bundles/styles/layout")
    @RenderSection("styles", false)
    @if (!isMobile)
    {
        if (isExludeEjDialog)
        {
            @Scripts.Render("~/bundles/scripts/connector-page-layout")
        }
        else
        {
            @Scripts.Render("~/bundles/scripts/layout")
        }
        @Scripts.Render("~/bundles/scripts/ej2-dialog")
    }
    else
    {
        @Scripts.Render("~/bundles/scripts/layout-mobile")
    }
    <script type="text/javascript">
        $.extend(ej, Syncfusion);
        var baseUrl = "@globalAppSettings.SystemSettings.BaseUrl";
        var isAdmin = "@isAdmin";
        var manageLicenseUrl = "@(ServerAppConfig.IsSelfHosted ? ServerAppConfig.InternalAppIdpUrl + "/" + ServerAppConfig.TenantManagementHostName + "/administration/license-settings" : Url.Action("LicenseSettings", "Administration"))";
		var contactUsUrl = "https://www.@(GlobalAppSettings.BrandingDomain)/contact";
        var getUserNotificationsPartialViewResultUrl = "@Url.Action("GetUserNotificationsPartialViewResult", "notification")";
        var paymentPageUrl = "@Url.Action("GetCardDetail", "Payment")";
        var getNotificationCountUrl = "@Url.Action("GetNotificationCount", "PartialView")";
        var getTenantStatusUrl = "@Url.Action("GetTenantStatus", "PartialView")";
        var helpSiteBaseUrl = "@helpSiteBaseUrl";
        var setPermissionUrl = "@Url.Action("SetCookieStoragePermission", "Accounts")";
        var feedbackSendUrl = "@Url.Action("AddUserFeedback", "Feedback")";
        var feedbackCookieUrl = "@Url.Action("SetUserFeedbackCookies", "FeedBack")";
        var createDatasourceIframeUrl = "@Url.Action("Connection", "DataSourceDesigner")";
        var appBranding = "@GlobalAppSettings.Branding";
        var rootUrl = "@Url.Action("", "")";
        var rootUrlAction = "@Url.Action("", "")";
        var bannerApiEndpoint = "@bannerApiEndpoint";

        $(document).ready(function () {
            generateProfileAvatar();
        });
    </script>
    @if (isMobile)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                GetGridName();

                function nextEvent() {
                    $(this).on('touchend', function (e) {
                        var htmlWaitingPopupTemplateId = createLoader("html");
                        $("html").ejWaitingPopup({ template: $("#" + htmlWaitingPopupTemplateId) });
                        $("html").ejWaitingPopup("show");
                        window.location.href = ($(this).attr("href"));
                        $(this).off('touchend');
                    });
                    $(this).on('touchmove', function (e) {
                        $(this).off('touchend');
                    });
                }

                $('#main-nav a, .items a, .notification-mobile-link, .menu-options a, .notification-text-content a, .admin-page-header a, #edit-profile-heading-div a, #change-password-btn a').on('click touchstart', this, nextEvent);

                $(window).on('popstate', function (e) {
                    $("html").ejWaitingPopup("hide");
                });

                $(document).on('touchend', function (e) {
                    $(".tooltip").hide();
                });

                $(document).on("touchend", "#open-dashboard, .item-list-panel li, .favorite-item, .option-click", function (e) {
                    if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i))) {
                        $(this).click();
                    }
                });

                if ($("#menu-area").hasClass("in")) {
                    $('#menu-area').collapse('hide');
                }
            });

            function GetGridName() {
                gridName = $('#item-grid-container').attr("data-grid-name");

                var isScheduleGrid = $('#scheduleGrid').hasClass("schedule-grid");

                if (typeof gridName != "undefined") {
                    if (gridName === "dashboards") {
                        $(".header-org-name").text("[[[DASHBOARDS]]]");
                    }
                    else if (gridName === "widgets") {
                        $(".header-org-name").text("[[[WIDGETS]]]");
                    }
                    else if (gridName === "datasources") {
                        $(".header-org-name").text("[[[DATA SOURCES]]]");
                    }
                }
                else if (isScheduleGrid) {
                    $(".header-org-name").text("[[[SCHEDULES]]]");
                }
                else if ($("#server-app-container #homepage-page-container").length > 0) {
                    $(".header-org-name").text("[[[PINBOARDS]]]");
                }
                else {
                    $(".header-org-name").text($(".page-name").attr("data-content"));
                }
            }
        </script>
    }
    @if (includeMessageBox)
    {
        <script>
            $(document).ready(function () {
                $("#messageBox").ejDialog({
                    width: (window.innerWidth > 460) ? "450px" : (window.innerWidth - 10),
                    showOnInit: false,
                    allowDraggable: true,
                    enableResize: false,
                    height: "auto",
                    showHeader: false,
                    enableModal: true,
                    close: "onMessageDialogClose"
                });
            });
        </script>
    }

    @RenderSection("scripts", false)
    <div id="server-app-container" style="@appContainerStyle">
        <section id="header-area" class="mobile-visible">
            <div class="header-bar col-lg-12 col-md-12 col-sm-12">
                @if (!isWelcomePage)
                {
                    <div class="mobile-menu-icon text-center mobile-visible collapsed" data-toggle="collapse" aria-expanded="false" data-target="#menu-area">
                        <span>
                            <i class="su su-mobile-menu-icon"></i>
                        </span>
                    </div>
                }
                <div class="org-name-wrapper">
                    <h5 class="header-org-name">@globalAppSettings.SystemSettings.OrganizationName</h5>
                </div>

                <div class="pull-right" id="notification-section">
                    <a id="notification-link" class="notification-mobile-link no-padding" href="@Url.Action("getusernotifications", "notification" )">
                        <span id="notification-icon" class="su su-notification-alert">

                        </span>
                    </a>
                </div>
            </div>
        </section>
        @if (!isWelcomePage)
        {
            if (isMobile)
            {
                <section id="menu-area" class="collapse width">
                    @Html.Partial("../Shared/_Menu", globalAppSettings.SystemSettings.CDNLink, new ViewDataDictionary { { "helpSiteBaseUrl", helpSiteBaseUrl }, { "helpSiteUrl", ViewBag.HelpSiteUrl }, { "GlobalAppSettings", globalAppSettings }, { "ItemPermission", ViewBag.ItemAddOptions != null ? ViewBag.ItemAddOptions as Dictionary<ItemType, bool> : new Dictionary<ItemType, bool>() } })
                </section>
            }
            else
            {
                <section id="menu-area">
                    @Html.Partial("../Shared/_Menu", globalAppSettings.SystemSettings.CDNLink, new ViewDataDictionary { { "helpSiteBaseUrl", helpSiteBaseUrl }, { "helpSiteUrl", ViewBag.HelpSiteUrl }, { "GlobalAppSettings", globalAppSettings }, { "ItemPermission", ViewBag.ItemAddOptions != null ? ViewBag.ItemAddOptions as Dictionary<ItemType, bool> : new Dictionary<ItemType, bool>() } })
                </section>
            }
        }
                <div id="content-area" class="clearfix col-xs-12">
                    <div class="suspension-warning" style="display:none">
                        <div class="warning-content"></div>
                    </div>
                    @if (!isMobile)
                    {
                        <div class="user-warning" style="display:none">
                           <div class="user-warning-content"></div>
                        </div>
                    }
                   @RenderSection("MainSection", true)
                    <div id="success-alert">
                        <div id="image-container">
                            <div class="image-holder">
                                <span class="su su-tick" alt="Success Icon"></span>
                            </div>
                        </div>
                        <div id="message">
                            <h1 id="message-header"></h1>
                            <span id="message-content"></span>
                        </div>
                    </div>
                    <div id="warning-alert">
                        <div id="image-container">
                            <span class="su su-warning-alt" alt="Warning Icon"></span>
                        </div>
                        <div id="message" class="div-close">
                            <h1 id="message-header"></h1>
                            <span id="message-content"></span>
                        </div>
                        <div class="close-div">
                            <span id="close-content">[[[Close]]]</span>
                        </div>
                    </div>
                    <div id="mobile-alert">
                        <span id="message"></span>
                    </div>
                    <div id="progress-alert-container">

                    </div>
                </div>
        @{
            if ((requestUrl.IndexOf(dashboardsPageUrl, StringComparison.OrdinalIgnoreCase) == -1 && requestUrl.IndexOf(widgetsPageUrl, StringComparison.OrdinalIgnoreCase) == -1))
            {
                @Html.Partial("../Shared/_Footer", new ViewDataDictionary { { "appsettings", globalAppSettings } })
            }
        }
        @if (includeMessageBox)
        {
            <div id="messageBox" style="display:none">
                <div class="message-header"></div>
                <div class="message-box-close"></div>
                <div class="message-content text-center"></div>
                <div class="message-box-btn-holder"></div>
            </div>
        }
    </div>
    <div class="preloader-wrap" style="width: 100%;height: 100%; position: fixed; top: 0; bottom: 0; background: #fff; z-index : 2; display: none">
        <div id="loader_image" align="center" style="position:relative;top:39%;">
            <div class="loader-blue loader-icon" id="loader-icon">
                <svg class="circular">
                    <circle class="path" cx="27" cy="27" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                </svg>
            </div>
        </div>
        <div id="loader_text" align="center" style="font-family:Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;position:relative;top: 42%;font-size:21px;font-weight:400;"></div>
    </div>
    <div class="page-additional-navigation">
        <input id="userName" type="hidden" value="@((HttpContext.Current.User as ServerPrincipal).UserId)" />
        <input id="BaseUrlHidden" type="hidden" value="/" />
        <input id="baseurl" name="baseurl" type="hidden" value="" />
        <input id="DateFormat" name="DateFormat" type="hidden" value="@globalAppSettings.SystemSettings.DateFormat" />
        <input id="DesignerName" name="DesignerName" type="hidden" value="@(globalAppSettings.SystemSettings.InstallationFolder + "dashboarddesigner")" />
    </div>
    <div id="alert-notification">
    </div>
    <div id="collapse-menu-backdrop" style="display: none;"></div>
    <script>
        var showFeedbackDialog = "@showFeedback";
    </script>
    @*@if (showTour)
        {
            @Styles.Render("~/bundles/styles/dashboard-server-tour")
            Html.RenderPartial("~/Views/Shared/_ServerTour.cshtml", ViewBag.ItemAddOptions as Dictionary<ItemType, bool>);
            @Scripts.Render("~/bundles/scripts/dashboard-server-tour")
        }*@
    @Styles.Render("~/bundles/styles/dashboard-feedback")
    @if (!ServerAppConfig.IsSelfHosted)
    {
        @Html.Partial("~/Views/Shared/_GeneralFeedback.cshtml")
        @Html.Partial("~/Views/Support/_ConciergeSupport.cshtml")
        @Scripts.Render("~/bundles/scripts/dashboard-feedback")
        @Html.Partial("~/Views/Shared/_NotificationBanner.cshtml")
    }

    @Html.Partial("~/Views/DataSourceDesigner/_Connection.cshtml")
    @if ((absolutePath == "/" ||
                                            absolutePath == Url.Content("~/") ||
                                            requestUrl.IndexOf("/pinboards", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                                            requestUrl.IndexOf("/dashboards", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                                            requestUrl.IndexOf("/data-sources", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                                            requestUrl.IndexOf("/files", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                                            requestUrl.IndexOf("/schedules", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                                            requestUrl.IndexOf("/slideshows", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                                            requestUrl.IndexOf("/widgets", StringComparison.CurrentCultureIgnoreCase) > 0) &&
                                            (ViewBag.ItemAddOptions != null && !isMobile)
                                        )
    {
        Html.RenderPartial("~/Views/Items/_ItemAddOptions.cshtml", ViewBag.ItemAddOptions as Dictionary<ItemType, bool>, new ViewDataDictionary { { "IsDashboardsPage", requestUrl.IndexOf("/dashboards", StringComparison.CurrentCultureIgnoreCase) > 0 } });
    }
    @if (!isMobile)
    {
        @Html.Partial("~/Views/Items/_createItemMenu.cshtml", ViewBag.ItemAddOptions != null ? ViewBag.ItemAddOptions as Dictionary<ItemType, bool> : new Dictionary<ItemType, bool>())
        @Html.Partial("~/Views/Notification/_UserNotificationPartial.cshtml")
    }
</body>
</html>