<div id="user-activity-log" style="visibility:hidden"></div>

<div id="activitylog-info-popup" ng-controller="activityLogInfoCtrl">
    <div class="fluent-item-popup-body" id="dialog-content">
        <span class="col-xs-12 activity-log-summary">
            <label class="activity-log-label">@T["Summary"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.Summary}}</span>
        </span>
        <span class="col-xs-12 activity-log-date">
            <label class="activity-log-label">@T["Date"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.EventDateformat || '-' }}</span>
        </span>
        <span class="col-xs-12 activity-log-username" ng-if="ActivityLogDetail.InitiatedDisplayName">
            <label class="activity-log-label">@T["User"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.InitiatedDisplayName }}</span>
        </span>
        <span class="col-xs-12 activity-log-username" ng-if="!ActivityLogDetail.InitiatedDisplayName">
            <label class="activity-log-label">@T["User"]</label>
            <span class="activity-log-detail">
                {{ getLogDetails(ActivityLogDetail.AppType, ActivityLogDetail.AppSource) }}
            </span>
        </span>
        <span class="col-xs-12 activity-log-email">
            <label class="activity-log-label">@T["Email"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.InitiatedUserEmail || '-' }}</span>
        </span>
        <span class="col-xs-12 activity-log-site">
            <label class="activity-log-label">@T["Site"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.Site || '-' }}</span>
        </span>
        <span class="col-xs-12 activity-log-ipaddress">
            <label class="activity-log-label">@T["IPAddress"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.UserLogDetails.IpAddress || '-' }}</span>
        </span>
        <span class="col-xs-12 activity-log-event-type">
            <label class="activity-log-label">@T["EventCategory"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.EventCategoryString || '-' }}</span>
        </span>
        <span class="col-xs-12 activity-log-event-category">
            <label class="activity-log-label">@T["EventType"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.EventTypeString || '-' }}</span>
        </span>
        <span class="col-xs-12 activity-log-source" ng-if="(ActivityLogDetail.EventTypeString === '@ActivityLogType.Added.ToString()' || ActivityLogDetail.EventTypeString === '@ActivityLogType.Updated.ToString()') && ActivityLogDetail.UserLogDetails.ChangeLog.Source != null">
            <label class="activity-log-label">@T["Source"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.UserLogDetails.ChangeLog.Source}}</span>
        </span>
        <span class="col-xs-12 activity-log-user-agent">
            <label class="activity-log-label">@T["UserAgent"]</label>
            <span class="activity-log-detail">{{ActivityLogDetail.UserLogDetails.UserAgent || '-' }}</span>
        </span>
        <span ng-if="((ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@ImportSource.CSV.ToString()' || ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@DirectoryType.OAuth2.ToString()' || ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@DirectoryType.OpenIDConnect.ToString()' || ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@ImportSource.Azure.ToString()' || ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@ImportSource.Windows.ToString()' || ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@ImportSource.Database.ToString()' || ActivityLogDetail.UserLogDetails.ChangeLog.Source == '@DirectoryType.AzureADB2C.ToString()') && ActivityLogDetail.EventCategoryString == '@ActivityLogModule.Permission.ToString()') || (ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@ImportSource.CSV.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@DirectoryType.OAuth2.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@DirectoryType.OpenIDConnect.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@DirectoryType.JWTSSO.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@ImportSource.Azure.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@ImportSource.Windows.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@ImportSource.Database.ToString()' && ActivityLogDetail.UserLogDetails.ChangeLog.Source !== '@DirectoryType.AzureADB2C.ToString()')">
            <span ng-if="ActivityLogDetail.EventTypeString === '@ActivityLogType.Added.ToString()' || ActivityLogDetail.EventTypeString === '@ActivityLogType.Updated.ToString()'">
                <span ng-if="ActivityLogDetail.EventTypeString === '@ActivityLogType.Added.ToString()'">
                    <span class="col-xs-12 horizontal-line"></span>
                    <label class="col-xs-12 changes-logs-label">@T["ChangesLogs"]</label>
                    <span class="col-xs-12 changes-logs-section">
                        <span class="col-xs-12 no-margin no-padding change-items">
                            <label class="activity-log-label">@T["ChangeItem"]</label>
                            <span class="activity-log-detail">{{ActivityLogDetail.EventCategoryString || '-' }}</span>
                        </span>
                        <span class="col-xs-12 no-margin no-padding change-summary">
                            <label class="activity-log-label">@T["Changes"]</label>
                            <span class="activity-log-detail">{{ActivityLogDetail.Summary || '-' }}</span>
                        </span>
                    </span>
                </span>
                <div ng-repeat="changeLog in ActivityLogDetail.UserLogDetails.ChangeLog.ChangeLogCollection">
                    <span ng-if="changeLog.ChangedItem !== '@AppConstant.Password.ToString()'">
                        <span ng-repeat="log in changeLog.ChangeLog">
                            <span class="col-xs-12 horizontal-line"></span>
                            <label class="col-xs-12 changes-logs-label" ng-if="$first">@T["ChangesLogs"]</label>
                            <span class="col-xs-12 changes-logs-section">
                                <span ng-if="ActivityLogDetail.EventTypeString === '@ActivityLogType.Updated.ToString()'">
                                    <span class="col-xs-12 no-margin no-padding change-items">
                                        <label class="activity-log-label">@T["ChangeItem"]</label>
                                        <span class="change-item">{{log.ChangedItem || '-' }}</span>
                                    </span>
                                    <span class="col-xs-12 no-margin no-padding change-from">
                                        <label class="activity-log-label">@T["From"]</label>
                                        <span class="change-item">{{ capitalizeFirstLetter(log.From) || '-' }}</span>
                                    </span>
                                    <span class="col-xs-12 no-margin no-padding change-to">
                                        <label class="activity-log-label">@T["To"]</label>
                                        <span class="change-item">{{ capitalizeFirstLetter(log.To) || '-' }}</span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </div>
            </span>
        </span>
    </div>
</div>
