@using Syncfusion.Server.Base.Localization;
@inject LocalizationHandler localization;

<div id="rules-add-dialog-wrapper">
    <div class="modal" tabindex="-1" role="dialog">
        <div id="rules-add-dialog" role="document">
            <form class="col-lg-12 no-padding add-rule-dialog-form modal-content" id="dialog-container" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-body col-12 form">

                    <div class="col-12 form-padding">
                        <label class="col-4 app-textbox-label text-start">@T["Rule Name"]<span class="mandatory">*</span></label>
                        <div class="col-8 no-padding">
                            <input type="text" id="rulename" maxlength="254" placeholder="@T["Rule Name"]" class="form-control validation" name="rule-name" data-name="rulename"/>
                            <span class="ruleadd-validation-messages" id="invalid-rulename"></span>
                        </div>
                    </div>


                    <div class="col-12 float-end form-padding">
                        <label class="col-4 float-end app-textbox-label text-start">@T["IP Type"]<span class="mandatory">*</span></label>
                        <div class="col-8 float-end no-padding">
                            <div class="radio-button-section" id="type4">
                                <input type="radio" name="ipaddress-type" id="ip-type4" value="IPv4" class="css-radio" checked>
                                <label for="ip-type4" class="app-textbox-label radio-btn-label notransition">@T["IPv4"]</label>
                                <input type="radio" name="ipaddress-type" id="ip-type6" value="IPv6" class="css-radio">
                                <label for="ip-type6" class="app-textbox-label radio-btn-label notransition">@T["IPv6"]</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-padding">
                        <label class="col-4 app-textbox-label text-start">@T["IP Address"]<span class="mandatory">*</span></label>
                        <div class="col-8 no-padding">
                            <input type="text" id="ipaddress" maxlength="254" class="form-control  validation" placeholder="@T["IP Address"]" name="ip-address" data-name="ipaddress">
                            <span class="ruleadd-validation-messages" id="invalid-ipaddress"></span>
                        </div>
                    </div>

                </div>
                <div class="col-12 modal-footer">
                    <div class="col-4"></div>
                    <div class="col-8 no-padding">
                        <input type="button" id="add-rule" class="primary-button float-end" value="@T["Add Rule"]"/>
                        <input type="button" id="cancel-rule" class="secondary-button popup-close float-end" value="Cancel"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>