@{ 
    var showSyncfusionBrand = GlobalAppSettings.SystemSettings.IsShowPoweredBySyncfusion ? "form-group" : "form-group hide";
}
<div class="site-sub-section branding-sub-section col-xs-12  no-padding @(ViewBag.ThirdPartyLogins ||  ViewBag.WhiteLabel || ViewBag.CustomDomain ? string.Empty : " unlock-enterprise-features")">
    <h3 class="title sub-section-heading blur-whitelable-content">[[[Branding]]]</h3>

    <div class="col-xs-12 no-margin no-padding blur-whitelable-content">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-6 branding-logo no-padding login-screen-logo" data-image="login-screen">
                <div class="col-xs-3 logo-section">
                    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                    {
                        if (CloudAppConfig.IsSelfHosted)
                        {
                            <img id="display-login-logo" src="@GlobalAppSettings.SystemSettings.LoginLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.LoginLogo)';" alt="[[[Login screen Logo]]]" />
                        }
                        else
                        {
                            <img id="display-login-logo" src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/content/images/@GlobalAppSettings.Branding/application/@ViewBag.SystemSettings.LoginLogo" alt="[[[Login screen Logo]]]" />
                        }
                    }
                    else
                    {
                        <img id="display-login-logo" src="@GlobalAppSettings.SystemSettings.LoginLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.LoginLogo)';" alt="[[[Login screen Logo]]]" />
                    }
                </div>
                <div class="col-xs-8 logo-description">
                    <h3 class="title col-xs-12 sub-section-heading blur-whitelable-content no-margin">[[[Login screen logo]]]</h3>
                    <p class="no-margin">[[[200x40 pixels preferred]]]</p>
                    <div class="upload-link">
                        <div id="upload-login-image" class="settings-upload-button">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 branding-logo header-logo no-padding" data-image="header-logo">
                <div class="col-xs-3 logo-section">
                    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                    {
                        if (CloudAppConfig.IsSelfHosted)
                        {
                            <img id="mainscreen_logo_img" src="@GlobalAppSettings.SystemSettings.MainScreenLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.MainLogo)';" alt="[[[Header Logo]]]" />
                        }
                        else
                        {
                            <img id="mainscreen_logo_img" src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/content/images/@GlobalAppSettings.Branding/application/@ViewBag.SystemSettings.MainScreenLogo" alt="[[[Header Logo]]]" />
                        }
                    }
                    else
                    {
                        <img id="mainscreen_logo_img" src="@GlobalAppSettings.SystemSettings.MainScreenLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.MainLogo)';" alt="[[[Header Logo]]]" />
                    }
                </div>
                <div class="col-xs-8 logo-description">
                    <h3 class="title col-xs-12 sub-section-heading blur-whitelable-content no-margin">[[[Header logo]]]</h3>
                    <p class="no-margin">[[[40x40 pixels preferred]]]</p>
                    <div class="upload-link">
                        <div id="upload-Main-screen-image" class="settings-upload-button">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 no-padding">
            <div class="col-xs-6 branding-logo no-margin no-padding" data-image="favicon">
                <div class="col-xs-3 logo-section">
                    <span class="app-img-container favicon tooltip-container" data-toggle="tooltip" data-animation="true" data-image="favicon">
                        @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                        {
                            if (CloudAppConfig.IsSelfHosted)
                            {
                                <img id="favicon_logo_img" src="@GlobalAppSettings.SystemSettings.FavIcon" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.Favicon)';" alt="[[[Favicon]]]" />
                            }
                            else
                            {
                                <img id="favicon_logo_img" src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/content/images/@GlobalAppSettings.Branding/application/@ViewBag.SystemSettings.FavIcon" alt="[[[Favicon]]]" />
                            }
                        }
                        else
                        {
                            <img id="favicon_logo_img" src="@GlobalAppSettings.SystemSettings.FavIcon" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.Favicon)';" alt="[[[Favicon]]]" />
                        }
                    </span>
                </div>
                <div class="col-xs-8 logo-description">
                    <h3 class="title col-xs-12  sub-section-heading blur-whitelable-content no-margin">[[[Favicon]]]</h3>
                    <p class="no-margin">[[[40x40 pixels preferred]]]</p>
                    <div class="upload-link">
                        <div id="upload-favicon-image" class="settings-upload-button">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 branding-logo email-logo no-padding" data-image="email-logo">
                <div class="col-xs-3 logo-section">
                    @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                    {
                        if (CloudAppConfig.IsSelfHosted)
                        {
                            <img id="email_logo_img" src="@GlobalAppSettings.SystemSettings.EmailLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.EmailLogo)';" alt="[[[Email Logo]]]" />
                        }
                        else
                        {
                            <img id="email_logo_img" src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/content/images/@GlobalAppSettings.Branding/application/@ViewBag.SystemSettings.EmailLogo" alt="[[[Email Logo]]]" />
                        }
                    }
                    else
                    {
                        <img id="email_logo_img" src="@GlobalAppSettings.SystemSettings.EmailLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.EmailLogo)';" alt="[[[Email Logo]]]" />
                    }
                </div>
                <div class="col-xs-8 logo-description">
                    <h3 class="title col-xs-12  sub-section-heading blur-whitelable-content no-margin">[[[Email logo]]]</h3>
                    <p class="no-margin">[[[200x40 pixels preferred]]]</p>
                    <div class="upload-link">
                        <div id="upload-emaillogo-image" class="settings-upload-button">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" blur-whitelable-content col-xs-12 no-margin powerdby-section">
            <div class="col-xs-12 no-padding">
                <div class="form-group no-margin">
                    <div id="enable-checkbox">
                        @Html.CheckBox("enablepoweredbysyncfusion", new { @class = "material-checkbox", @id = "enablepoweredbysyncfusion" })
                        @Html.Hidden("enablepoweredbysyncfusion")
                        @Html.Label("enablepoweredbysyncfusion", "[[[Show powered by information]]]", new { @class = "app-textbox-label col-xs-4 section-label" })
                    </div>
                </div>
                <div class="form-group col-xs-6 branding-logo footer-logo no-padding margin" data-image="login-screen">
                    <div class="col-xs-3 logo-section">
                        @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
                        {
                            if (CloudAppConfig.IsSelfHosted)
                            {
                                <img id="display-powered-logo" src="@GlobalAppSettings.SystemSettings.PoweredByLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.PoweredByLogo)';" alt="[[[Powered by logo]]]" />
                            }
                            else
                            {
                                <img id="display-powered-logo" src="@GlobalAppSettings.AzureBlob.AzureBlobStorageUri/@GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName/@GlobalAppSettings.GetStorageMode()/content/images/@GlobalAppSettings.Branding/application/@ViewBag.SystemSettings.PoweredByLogo" alt="[[[Powered by logo]]]" />
                            }
                        }
                        else
                        {
                            <img id="display-powered-logo" src="@GlobalAppSettings.SystemSettings.PoweredByLogo" onerror="this.onerror=null;this.src='@Url.Content(" ~ /images/boldid/application/" + IconFileNames.PoweredByLogo)';" alt="[[[Powered by logo]]]" />
                        }

                    </div>
                    <div class="col-xs-8 logo-description">
                        <h3 class="title col-xs-12 sub-section-heading blur-whitelable-content no-margin">[[[Powerd by logo]]]</h3>
                        <p class="no-margin">[[[100x25 pixels preferred]]]</p>
                        <div class="upload-link">
                            <div id="upload-poweredlogo-image" class="settings-upload-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group blur-whitelable-content col-xs-12 no-margin no-padding">
            <div class="col-xs-12 no-padding">
                <div class="form-group no-margin">
                    <div id="enable-checkbox">
                        @Html.CheckBox("enablecopyrightinfo", new { @class = "material-checkbox", @id = "enablecopyrightinfo" })
                        @Html.Hidden("enablecopyrightinfo")
                        @Html.Label("enablecopyrightinfo", "[[[Show copyright information]]]", new { @class = "app-textbox-label col-xs-4 section-label" })
                    </div>
                </div>
                <label class="app-textbox-label section-label title col-xs-12 copyright-info">[[[Site copyright information]]]</label>
                <div class="no-padding col-xs-12">
                    <input type="text" id="site-copyright" name="copy_right_info" class="form-control validation-padding" placeholder="[[[Enter copyright information]]]" value="@ViewBag.SystemSettings.CopyrightInformation.Replace("$$CurrentYear$$", DateTime.UtcNow.Year.ToString())" data-original-value="@ViewBag.SystemSettings.CopyrightInformation" />
                    <span class="validation-errors"></span>
                </div>
            </div>
        </div>
    </div>
</div>