<div id="email-activity-log" style="visibility: hidden"></div>
<div id="emaillog-info-popup"    ng-controller="emailLogInfoCtrl">
    <div class= "fluent-item-popup-body" id="dialog-content">
        <span class="col-xs-12 email-log-event">
            <label class="email-data">@T["Event"]</label> {{EmailLogDetail.Event}}
        </span>
        <span class="col-xs-12 email-log-date">
            <label class="email-data">@T["Date"]</label> {{EmailLogDetail.ModifiedDateString}}
        </span>
        <span class="col-xs-12 email-log-status">
            <label class="email-data">@T["Status"]</label> {{EmailLogDetail.Status}}
        </span>
        <span class="col-xs-12 email-log-recipient">
            <label class="email-data">@T["Recipient"]</label> {{EmailLogDetail.RecipientEmail}}
        </span>
        <span class="col-xs-12 email-log-initiated">
            <label class="email-data">@T["Initiated By"]</label> {{EmailLogDetail.InitiatedBy}}
        </span>
        <div class="col-xs-12 mail-error-message" style="display:none">
            <label class="email-data" id="error-text-area">@T["Error Message"]</label>
            <div id="mail-error-message" class="form-control" name="text" readonly>{{EmailLogDetail.StatusMessage}}</div>
        </div>
        <div class="col-xs-12 mail-body">
            <label class="email-data" id="email-text-area">@T["Email Message"]</label>
            <div id="mail-body" class="form-control" name="text" readonly >{{EmailLogDetail.MailBody}}</div>
        </div>
    </div>
</div>