<div class="export-section no-padding" id="export-section-container">

    <div class="export-option">
        @Html.CheckBox("export-site-settings", GlobalAppSettings.SystemSettings.ExportSettings.IsIncludeSiteSettings, new { @class = "material-checkbox" })
        <label for="export-site-settings">@T["Site Settings"]</label>
    </div>

    <div class="export-option">
        @Html.CheckBox("export-look-and-feel", GlobalAppSettings.SystemSettings.ExportSettings.IsIncludeLookAndFeelSettings, new { @class = "material-checkbox" })
        <label for="export-look-and-feel">@T["Look and Feel"]</label>
    </div>

    <div class="export-option">
        @Html.CheckBox("export-email", GlobalAppSettings.SystemSettings.ExportSettings.IsIncludeEmailSettings, new { @class = "material-checkbox" })
        <label for="export-email">@T["Email"]</label>
    </div>

    <div class="export-option">
        @Html.CheckBox("export-accounts", GlobalAppSettings.SystemSettings.ExportSettings.IsIncludeAccountSettings, new { @class = "material-checkbox" })
        <label for="export-accounts">@T["Accounts"]</label>
    </div>

    <div class="export-option">
        @Html.CheckBox("export-authentication", GlobalAppSettings.SystemSettings.ExportSettings.IsIncludeAuthenticationSettings, new { @class = "material-checkbox" })
        <label for="export-authentication">@T["Authentication"]</label>
    </div>

    <div class="export-option">
        @Html.CheckBox("export-security", GlobalAppSettings.SystemSettings.ExportSettings.IsIncludeSecuritySettings, new { @class = "material-checkbox" })
        <label for="export-security">@T["Security"]</label>
    </div>
</div>
