<div id="offline-license-update-dialog" class="col-12 float-start modal no-padding" tabindex="-1" role="dialog">
    <div id="popup-container" class="col-12 float-start no-padding">
        <div class="col-12 float-start upload-content">
            <div id="upload-section" class="col-12 float-start no-padding">
                <div class="col-12 float-start no-padding">
                    <label id="upload-lable">@T["Select license file"]</label>
                </div>
                <div class="upload-btn-wrapper col-12 float-start no-padding">
                    <input type="text" id="file-name" class="col-8 float-start" placeholder="@T["Choose file"]" readonly="readonly" />
                    <span id="browse-lic" class="input-group-addon btn popup no-left-border">...</span>
                    <input type='file' id="getFile" accept=".lic" class="display-none">
                    <div id="tenant-type" class="display-none"></div>
                    <div class="validation-error-message col-12 float-start display-none"></div>
                </div>
                <div id="license-details" class="col-12 float-start" style="display: none">
                    <div id="customer-email-container" class="col-12 float-start upload-group no-padding display-none">
                        <label class="col-4 float-start no-padding license-detail-lable">@T["Email"]</label>
                        <p id="customer-email" class="col-8 float-start no-padding"></p>
                    </div>
                    <div id="subscription-id-container" class="col-12 float-start no-padding upload-group display-none">
                        <label class="col-4 float-start no-padding  license-detail-lable">@T["Subscription Id"]</label>
                        <p id="subscription-id-offline" class="col-8 float-start no-padding"></p>
                    </div>
                    <div  id="subscription-name-container" class="col-12 float-start no-padding upload-group display-none">
                        <label class="col-4 float-start no-padding  license-detail-lable">@T["Subscription Name"]</label>
                        <p id="subscription-name" class="col-8 float-start no-padding"></p>
                    </div>
                    @if (!CloudAppConfig.Branding.IsWhiteLabelling)
                    {
                        <div  id="plan-name-container" class="col-12 float-start no-padding upload-group display-none">
                            <label class="col-4 float-start no-padding  license-detail-lable">@T["Plan Name"]</label>
                            <p id="plan-name" class="col-8 float-start no-padding"></p>
                        </div>
                    }
                    <div  id="tenant-status-container" class="col-12 float-start no-padding upload-group display-none">
                        <label class="col-4 float-start no-padding  license-detail-lable">@T["Tenant Status"]</label>
                        <p id="tenant-status" class="col-8 float-start no-padding">@T["Licensed"]</p>
                    </div>
                    <div  id="expiry-date-container" class="col-12 float-start no-padding display-none">
                        <label class="col-4 float-start no-padding  license-detail-lable">@T["Expiry Date"]</label>
                        <p id="expiry-date" class="col-8 float-start no-padding"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>