<div class="sub-section no-padding">
    <h3 class="title sub-section-heading">@T["Password Policy"]</h3>
    <div class="section-info-message">
        @T["Configure password policies based on your organization's IT policy to create strong passwords for your user accounts."]
    </div>
    <div class="col-md-12 no-padding section-content-first password-option">
        <div class="col-md-12 no-padding">
            <label class="app-textbox-label password-length">@T["Minimum Length"]</label>
            <input id="min-len">
            <span class="min-len-validation-messages" id="min-len-validation"></span>
        </div>
    </div>

    <div class="password-option">
        @Html.CheckBox("enable-lower-case", GlobalAppSettings.SystemSettings.PasswordSettings.LowerCaseRequired, new { @class = "material-checkbox" })
        <label for="enable-lower-case">@T["Require at least one lowercase letter"] (a-z).</label>
    </div>

    <div class="password-option">
        @Html.CheckBox("enable-upper-case", GlobalAppSettings.SystemSettings.PasswordSettings.UpperCaseRequired, new { @class = "material-checkbox" })
        <label for="enable-upper-case">@T["Require at least one uppercase letter"] (A-Z).</label>
    </div>

    <div class="password-option">
        @Html.CheckBox("enable-numeric", GlobalAppSettings.SystemSettings.PasswordSettings.NumberRequired, new { @class = "material-checkbox" })
        <label for="enable-numeric">@T["Require at least one number"] (0-9).</label>
    </div>

    <div class="password-option">
        @Html.CheckBox("enable-special-char", GlobalAppSettings.SystemSettings.PasswordSettings.SpecialCharactersRequired, new { @class = "material-checkbox" })
        <label for="enable-special-char">@T["Require at least one special character"] (!,#,$,*,etc.)</label>
    </div>
</div>
