<div id="dashboard-theme-upload-dialog-popup">
    <div class="modal" tabindex="-1" role="dialog">
        <div id="dashboard-theme-upload-dialog" class="modal-dialog applicationtheme-upload-dialog" role="document">
            <form action="@Url.Action("UploadDashboardFile", "Administration")" method="post" id="upload-dashboard-fileform" enctype="multipart/form-data" class="col-lg-12 no-padding modal-content upload-form" autocomplete="off" novalidate>
                @Html.AntiForgeryToken()
                <div class="col-12 float-start padding-container">
                    <div class="col-12 float-start field-padding">
                        <label class="font-label">@T["Choose Theme File"]</label>
                        <div class="upload-box">
                            <input type="text" class="form-control no-margin file-name trigger-dash-theme-upload theme-file-name" id="dashboard-theme-file-name" tabindex="-1" value="" placeholder="@T["Choose Theme File"]" readonly>
                            <span class="trigger-dash-theme-upload input-group-addon upload-file-btn">...</span>
                            <input type="file" accept=".css" name="dashboardthemefile" id="dashboardtheme-file" class="upload-btn">
                            <span class="validation-message" id="invalid-dashboardthemefile-name"></span>
                        </div>
                    </div>

                    <div class="col-12 float-start field-padding">
                        <label class="font-label">@T["Theme Name"]</label>
                        <div>
                            <input type="text" id="dashboardtheme-name" maxlength="254" class="form-control validation theme-name" placeholder="@T["Theme Name"]" name="filename" data-name="dashboardtheme name" required disabled>
                            <span class="validation-message" id="invalid-dashboardtheme-name"></span>
                        </div>
                    </div>
                    <div class="col-12 float-start field-padding padding-bottom">
                    </div>
                </div>
                <div class="col-12 float-start modal-footer">
                    <input type="button" id="cancel-dashboardtheme-upload" class="secondary-button popup-close" value="@T["Cancel"]"/>
                    <input type="submit" id="upload-dashboardtheme" class="primary-button upload-theme" value="@T["Upload"]" disabled />
                </div>
            </form>
        </div>
    </div>
</div>
