@{
    ViewBag.Title = T["X-Frame Options"].Value + " - " + GlobalAppSettings.SystemSettings.OrganizationName;
    var isXFrameTab = (!string.IsNullOrWhiteSpace(Context.Request.Query["view"]) && Context.Request.Query["view"] == "x-frame-options") ? "active" : string.Empty;
}
<div role="tabpanel" class="tab-pane col-xs-12 col-lg-12 col-md-12 col-sm-12 admin-page-body @isXFrameTab" id="x-frame-options">
    <div id="x-frame-options-settings-body" class="col-xs-12 no-padding">
        <div class="col-xs-12 no-padding field-container-dashboard">
            <div class="info-label">
                @Html.CheckBox("x-frame", (bool)GlobalAppSettings.SystemSettings.IsXFrameOptionsEnabled, new { @class = "material-checkbox" })
                <label for="x-frame">
                    @T["Enable X-Frame-Options"]
                </label>
            </div>
            <div class="info-message" id="x-frame-checkbox-label">
                @T["If you enable this option, the application will add an X-Frame-Options header, SAMEORIGIN, meaning that the page will only be displayed if all frame ancestors and the page origin are the same. By default, this option is disabled."]
            </div>
            <div class="bg-warning x-frame-notification">
                @T["Please make sure that you are not using iframe embedding, as it will not work when this setting is saved."]
            </div>
        </div>
    </div>
    <div class="admin-page-footer col-xs-12 no-padding">
        <div class="admin-page-actions col-xs-12 col-lg-12 no-margin">
            <button class="secondary-button pull-right" id="cancel-settings">@T["Cancel"]</button>
            <button type="button" title="" id="update-x-frame-options-settings" class="primary-button pull-right">
                @T["Save"]
            </button>
        </div>
    </div>
</div>