@{
    ViewBag.Title = T["Embed Settings"].Value + " - " + GlobalAppSettings.SystemSettings.OrganizationName;
    var embedEnabled = Convert.ToBoolean(ViewBag.EmbedSettings);
    var embedSecretCode = GlobalAppSettings.SystemSettings.EmbedSecret;
    var generateSecret = T["Generate Secret"].Value;
    var resetSecret = T["Reset Secret"].Value;
    var fileName = !string.IsNullOrEmpty(ViewBag.fileName) ? ViewBag.fileName : T["Browse file path (.json)"].Value;
    var showDownloadLink = embedEnabled ? "display:block" : "display:none";
    var branding = GlobalAppSettings.Branding;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/embed-settings.css" integrity="@IntegrityTagHelper.GetIntegrity("bundles/css/embed-settings.css")" crossorigin="anonymous" asp-append-version="true" />
}
@section scripts{
    <script nonce="@Context.Items["ScriptNonce"]" src="~/bundles/js/embed-settings.js" integrity="@IntegrityTagHelper.GetIntegrity("bundles/js/embed-settings.js")" crossorigin="anonymous" asp-append-version="true"></script>
       <script nonce="@Context.Items["ScriptNonce"]">
        var embedEnabled = @Json.Serialize(embedEnabled);
        var embedSecretCode = "@embedSecretCode";
        var isResetEmbedSecretUrl = "@Url.Action("ResetEmbedSecret", "Administration")";
        var updateSystemSettingsValueUrl = "@Url.Action("UpdateSystemSettingValue", "Administration")";
        var jsonFileName = "@fileName";
    </script>
}

@section MainSection{

    @await Html.PartialAsync("_AdminMenu")
    <div class="col-12 float-start header-section no-padding no-margin width-alignment">
        <div id="embed-settings-header" class="col-12 float-start admin-page-header header-without-button">
            <div class="admin-page-header-description col-6 float-start no-padding" id="application-title">
                <hgroup class="col-12 float-start header-group">
                    <h1 class="page-title">
                            @T["EMBED SETTINGS"]
                        </h1>
                        <h5 class="page-description">
                            @T[$"Configuration for {AppBranding.Bold.ProductName} sites"]
                        </h5>
                    </hgroup>
                </div>
                <div class="col-4 top-nav-sec no-padding">
                    @await Html.PartialAsync("../Shared/_TopMenu")
                </div>
             </div>
    </div>
    <div id="embed-settings-container" class="col-12 float-start admin-page-content-container">
        <div class="admin-page-content col-12 float-start no-padding">
            <div id="embed-settings-body" class="admin-page-body col-12 float-start">
                <div class="embed-authentication col-12 float-start no-padding">
                    <div class="material-switch inline-align">
                        <input type="checkbox" id="restrict-embed-enabled" @(embedEnabled ? "checked" : string.Empty) />
                        <label for="restrict-embed-enabled" class="label-primary"></label>
                    </div>
                    <div class="app-textbox-label inline-align activation">
                        @T["Enable embed authentication"]
                    </div>
                    <div class="embed-loader inline-align embed-loading">
                        <div class="loader-blue loader-icon" id="layout-body-loader-icon">
                            <svg class="circular">
                                <circle class="path" cx="27" cy="27" r="8" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
                            </svg>
                        </div>
                    </div>
                </div>

                <form action="@Url.Action("PostEmbedSettings", "Administration")" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="col-12 float-start no-padding import-file">
                        <label class="app-textbox-label activation embed-enabled">
                            @T["Embed Configuration"]
                        </label>
                        <div class="no-padding">
                            <div class="upload-box">
                                <input type="text" class="form-control col-md-6 float-start no-margin @(embedEnabled ? string.Empty : "disabled")" id="filename" value="@(embedEnabled ? fileName : T["Browse file path (.json)"].Value)">
                                <span id="trigger-file" class="input-group-addon btn popup no-left-border @(embedEnabled ? string.Empty : "disabled")">
                                    ...
                                </span>
                                <input type="file" accept=".json" name="csfile" id="csfile" class="btn popup upload-btn">
                            </div>
                            <input type="submit" class="primary-button" title="@T["Upload embed configuration file here"]" id="cs-upload" disabled="" value="@T["Upload"]"/>

                            <p>
                                <a href="@Url.Action("DownloadTemplate", "Administration")" class="download-template text-decoration-none" title="@T["Download sample template"]" style="@showDownloadLink">@T["Download Template"]</a>
                                @if (ViewBag.result.ToLower() == "error")
                                {
                                    <span id="import-validation-msg">@T["Please upload a valid json file."]</span>
                                }
                                else if (ViewBag.result.ToLower() == "invalid")
                                {
                                    <span id="import-validation-msg">@T["Please select a json file with a valid format."]</span>
                                }
                                else if (fileName.ToLower() == "success")
                                {
                                    <span id=""></span>
                                }
                            </p>
                        </div>

                    </div>
                </form>
                <div id="get-secret-code" class="col-12 float-start no-padding input-field-margin">
                    <label class="app-textbox-label activation">
                        @T["Embed secret"]
                    </label>
                    <div class="secret-code-container">
                        <div id="secret-code-link">
                            <input type="text" id="secret-code" name="" class="form-control" placeholder="@T["Embed secret"]" autocomplete="off" disabled="disabled" readonly>
                            <div class="form-control su su-copy text focus" id="secret-code-copy" disabled="disabled" data-bs-original-title="@T["Click to copy"]"></div>
                        </div>
                        <button type="button" title="" id="get-embed-code" class="primary-button" @(embedEnabled ? string.Empty : "disabled")>
                            @if (string.IsNullOrWhiteSpace(embedSecretCode))
                            {
                                @generateSecret;
                            }
                            else
                            {
                                @resetSecret;
                            }
                        </button>
                        <div class="info-message">@T["Anyone with access to the secret key can impersonate and create a URL to access the dashboard. So, keep the embed authentication disabled when not in use."]</div>
                        <div class="secret-code-notification">
                            @T["Store the secret key somewhere safe. As soon as you navigate away from this page, you will not be able to retrieve or restore the generated secret key."]
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    </div>
}