@using System.Configuration;
@model List<LicensePlans>
@{
    ViewBag.Title = "[[[Manage License - ]]]" + GlobalAppSettings.SystemSettings.OrganizationName;
    var boldBiLicense = Model != null ? Model.Where(x => x.TenantType == TenantType.BoldBIOnPremise).FirstOrDefault() : null;
    var boldReportsLicense = Model != null ? Model.Where(x => x.TenantType == TenantType.BoldReportsOnPremise).FirstOrDefault() : null;
    var isBoldBiLicenseAvailable = boldBiLicense != null;
    var isBoldReportsLicenseAvailable = boldReportsLicense != null;
}

@section styles{
    @Styles.Render("~/styles/admin/site-settings")
}

@section scripts{
    @Scripts.Render("~/scripts/admin/licenese-settings")
    <script>
        var updateLicenseKeyUrl = "@Url.Action("ApplyLicenseKey", "Administration")";
        var isBoldBiLicenseAvailable = "@isBoldBiLicenseAvailable";
        var isBoldReportsLicenseAvailable = "@isBoldReportsLicenseAvailable";
    </script>
}

@section MainSection{
    @Html.Partial("_AdminMenu")

    <div id="look-and-feel-container" class="admin-page-container">
        <div id="organization-block" class="col-xs-12 no-padding">
            <div class="col-md-12 import-area admin-page-header">
                <hgroup class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                    <h1 class="h2 page-title">[[[MANAGE LICENSE]]]</h1>
                    <h5 class="page-description">[[[Managing the license and plan for the application]]]</h5>
                </hgroup>
            </div>
            @if (Model != null)
            {
                <div>
                    <ul id="license-tab-nav" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#bold-bi-tab" id="bold-bi" aria-controls="bold-bi-tab" role="tab" data-toggle="tab">[[[Bold BI Enterprise]]]</a>
                        </li>
                        <li role="presentation">
                            <a href="#bold-reports-tab" id="bold-reports" aria-controls="bold-reports-tab" role="tab" data-toggle="tab">[[[Bold Reports Enterprise Reporting]]]</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bold-bi-tab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admin-page-body tab-data">
                            @if (boldBiLicense != null && boldBiLicense.TenantInfoId != Guid.Empty)
                            {
                                <form id="look-and-feel-form" class="col-md-12 form-horizontal no-padding" autocomplete="off">
                                    <div class="col-xs-12 sub-section admin-page-body">
                                        <h3 class="title col-xs-12  sub-section-heading">[[[Plan Details]]]</h3>
                                        <div class="col-xs-6 no-margin no-padding">
                                            <table class="table table-section">
                                                <tr>
                                                    <th>[[[Particulars]]]</th>
                                                    <th>[[[Your Quota]]]</th>
                                                    <th>[[[Used]]]</th>
                                                    <th>[[[Remaining]]]</th>
                                                </tr>
                                                <tr>
                                                    <td>[[[Users]]]</td>
                                                    <td>@boldBiLicense.LicenseSettings["Users"]</td>
                                                    <td>@boldBiLicense.LicenseSettings["UsedUsers"]</td>
                                                    <td>@boldBiLicense.LicenseSettings["RemainingUsers"]</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[Dashboard Tenants]]]</td>
                                                    <td>@boldBiLicense.LicenseSettings["DashboardTenants"]</td>
                                                    <td>@boldBiLicense.LicenseSettings["UsedDashboardTenants"]</td>
                                                    <td>@boldBiLicense.LicenseSettings["RemainingDashboardTenants"]</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 update-license-btn-holder">
                                            <button id="update-onpremise-plan" license-service-url="@boldBiLicense.UpdateLicenseUrl" class="primary-button pull-right">[[[Check License]]]</button>
                                            <div id="update-license-key-notification-loader" class="pull-right" style="display:none">
                                                <svg x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                                    <rect x="0" y="10" width="4" height="10" fill="#0565FF" opacity="0.2">
                                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.8s" repeatCount="indefinite" />
                                                    </rect>
                                                    <rect x="8" y="10" width="4" height="10" fill="#0565FF" opacity="0.2">
                                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.8s" repeatCount="indefinite" />
                                                    </rect>
                                                    <rect x="16" y="10" width="4" height="10" fill="#0565FF" opacity="0.2">
                                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.8s" repeatCount="indefinite" />
                                                    </rect>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 admin-page-body">
                                        <h3 class="title col-xs-12 sub-section-heading">[[[Subscription Information]]]</h3>
                                        <div class="col-xs-6 no-margin no-padding" id="subscription-information">
                                            <table class="table active-subscription-table-section">
                                                <tr>
                                                    <td>[[[Plan]]]</td>
                                                    <td>@boldBiLicense.SubscriptionInfo.Plan.PlanName</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[Expiry Date]]]</td>
                                                    <td>@(new GlobalAppSettings().GetDateTimeFormat(boldBiLicense.SubscriptionInfo.ExpiryDate))</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[Licensed To]]]</td>
                                                    <td>@boldBiLicense.LicenseSettings["LicensedTo"]</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[License Version]]]</td>
                                                    <td>@boldBiLicense.SubscriptionInfo.Version</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <p class="no-license-info">[[[You do not have bold bi enterprise license.]]]</p>
                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bold-reports-tab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admin-page-body tab-data">
                            @if (boldReportsLicense != null && boldReportsLicense.TenantInfoId != Guid.Empty)
                            {
                                <form id="look-and-feel-form" class="col-md-12 form-horizontal no-padding" autocomplete="off">
                                    <div class="col-xs-12 sub-section admin-page-body">
                                        <h3 class="title col-xs-12  sub-section-heading">[[[Plan Details]]]</h3>
                                        <div class="col-xs-6 no-margin no-padding">
                                            <table class="table table-section">
                                                <tr>
                                                    <th>[[[Particulars]]]</th>
                                                    <th>[[[Your Quota]]]</th>
                                                    <th>[[[Used]]]</th>
                                                    <th>[[[Remaining]]]</th>
                                                </tr>
                                                <tr>
                                                    <td>[[[Users]]]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["Users"]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["UsedUsers"]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["RemainingUsers"]</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[Report Tenants]]]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["ReportTenants"]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["UsedReportTenants"]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["RemainingReportTenants"]</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 update-license-btn-holder">
                                            <button id="update-onpremise-plan" license-service-url="@boldReportsLicense.UpdateLicenseUrl" class="primary-button pull-right">[[[Check License]]]</button>
                                            <div id="update-license-key-notification-loader" class="pull-right" style="display:none">
                                                <svg x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                                    <rect x="0" y="10" width="4" height="10" fill="#0565FF" opacity="0.2">
                                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.8s" repeatCount="indefinite" />
                                                    </rect>
                                                    <rect x="8" y="10" width="4" height="10" fill="#0565FF" opacity="0.2">
                                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.8s" repeatCount="indefinite" />
                                                    </rect>
                                                    <rect x="16" y="10" width="4" height="10" fill="#0565FF" opacity="0.2">
                                                        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.8s" repeatCount="indefinite" />
                                                        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.8s" repeatCount="indefinite" />
                                                    </rect>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 admin-page-body">
                                        <h3 class="title col-xs-12 sub-section-heading">[[[Subscription Information]]]</h3>
                                        <div class="col-xs-6 no-margin no-padding" id="subscription-information">
                                            <table class="table active-subscription-table-section">
                                                <tr>
                                                    <td>[[[Plan]]]</td>
                                                    <td>@boldReportsLicense.SubscriptionInfo.Plan.PlanName</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[Expiry Date]]]</td>
                                                    <td>@(new GlobalAppSettings().GetDateTimeFormat(boldReportsLicense.SubscriptionInfo.ExpiryDate))</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[Licensed To]]]</td>
                                                    <td>@boldReportsLicense.LicenseSettings["LicensedTo"]</td>
                                                </tr>
                                                <tr>
                                                    <td>[[[License Version]]]</td>
                                                    <td>@boldReportsLicense.SubscriptionInfo.Version</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <p class="no-license-info">[[[You do not have bold reports enterprise reporting license.]]]</p>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="no-license-info">
                    [[[License details not found.]]]
                </p>
            }
        </div>
    </div>
}
