@model SAMLSettings

@{
    ViewBag.Title = "[[[Single Sign-On Settings - ]]]" + GlobalAppSettings.SystemSettings.OrganizationName;
    var unloadAppDomainUrl = CloudAppConfig.IdPUrl.TrimEnd('/') + "/authorization/appdomainunLoad";
}

@section styles{
    @Styles.Render("~/styles/saml-settings-page")
}

@section scripts{
    @Scripts.Render("~/scripts/saml-settings-page")
    <script type="text/javascript">
        var ssoSettingsUrl = "@Url.Action("SAMLSettings", "Administration")";
        var updatesamlsettingsUrl = "@Url.Action("UpdateSAMLSettings", "Administration")";
        var unloadAppDomainUrl = "@unloadAppDomainUrl";

        serverApp.controller("ssoController",
            [
                "$scope", "ajaxService", function ($scope, ajaxService) {

                    $scope.tenantRegex =
                        '^(?!(ftp|https?):\/\/)([a-zA-Z0-9-_]+\.)*[a-zA-Z0-9][a-zA-Z0-9-]+(\.[a-z]{2,6})?(:\d{1,5})?(\/[a-zA-Z0-9]+[a-zA-Z0-9]*(\.[a-z]{2,8})?)*?$';
                    $scope.init = function () {
                        $scope.ssoSettings = @Html.Raw(Json.Encode(Model));
                    };

                    $scope.saveSsoSettings = function () {
                            updateSetting();
                    };

                    $scope.confirmSsoSetting = function () {
                        $("#default-authentication-confirmation-diolog").ejDialog("close");
                        updateSetting();
                    };

                    $scope.hideValidationMessage = function (data) {
                        if (!data) {
                            $("span.validation-message").addClass("ng-hide");
                            $("#update-saml-settings").prop("disabled", false);
                        } else if ($scope.ssoSettingsForm.$invalid) {
                            $("#update-saml-settings").prop("disabled", true);
                        }
                    };

                    function updateSetting() {
                        ajaxService.postJsonData(updatesamlsettingsUrl, { "samlSettingsData": $scope.ssoSettings })
                            .then(function (data) {
                                $scope.categories = data;
                                if (data) {
                                    var messageText =
                                        "[[[SSO settings have been updated. The application will restart automatically in order to apply the changes.</br></br>Note: If the changes are not reflected, we recommend you restart the application manually.]]]";
                                    messageBox("su-single-sign-on",
                                        "[[[SSO Settings]]]",
                                        messageText,
                                        "success",
                                        function () {
                                            onCloseMessageBox();
                                            $.post(unloadAppDomainUrl,   // url
                                                { myData: '' }, // data to be submit
                                                function (data, status) {// success callback
                                                    if (data.status) {
                                                        location.href = ssoSettingsUrl;
                                                    }
                                                });
                                        });
                                } else {
                                    WarningAlert("[[[SSO Settings]]]", "[[[Error while updating settings.]]]", 7000);
                                }
                            });
                    };
                }
            ]);

        $(document).ready(function () {
            addPlacehoder("body");
            $("[data-toggle='popover']").popover({
                container: 'body'
            });
            function addPlacehoder(object) {
                if (regexIe8.test(userAgent)) {
                    $(object).find(
                        "input[type=text][class!='hidden-input'],input[type=password][class!='hidden-input'],textarea[id='txt_welcome_note']")
                        .each(function () {
                            if ($(this).val() === "") {
                                $($("<div>", { "class": "placeholder", text: $(this).attr("placeholder") }))
                                    .insertAfter(this).show();
                            } else {
                                $($("<div>",
                                    {
                                        "class": "placeholder",
                                        text: $(this).attr("placeholder"),
                                        "style": "display:block"
                                    })).insertAfter(this).hide();
                            }
                        });
                }
            }
            
            $("#default-authentication-confirmation-diolog").ejDialog({
                showOnInit: false,
                allowDraggable: true,
                enableResize: false,
                width: "600px",
                enableModal: true,
                showHeader: false,
                close: "authenticationDialogBoxClose",
                closeOnEscape: true
            });
        });

        $(document).on('click',
            function(e) {
                if ($(".popover").children().hasClass("popover-content")) {
                    $(".popover-content").attr("id", "popover-content");
                    $(".arrow").attr("id", "arrow");
                }

                if (e.target.id !== "popover-content" &&
                    e.target.id !== "arrow" &&
                    e.target.id !== "relyingParty-info" &&
                    e.target.id !== "clientId-info" &&
                    e.target.id !== "application-id-uri-info" &&
                    e.target.id !== "uri-info" &&
                    e.target.id !== "tenantName-info" &&
                    e.target.id !== "mobile-clientId-info") {
                    $(".popover").css("display", "none");
                }
                $('.popover').each(function() {
                    if (!($(this).is(e.target) || $(this).has(e.target).length > 0) &&
                        $(this).siblings('.popover').length !== 0 &&
                        $(this).siblings('.popover').has(e.target).length === 0) {
                        $(this).popover().remove();
                    }
                });
            });

    </script>
}

@section MainSection{
    @Html.Partial("_AdminMenu")
    <div id="saml-container" class="admin-page-container @((ViewBag.ThirdPartyLogins ||  ViewBag.WhiteLabel ) ? string.Empty : "unlock-enterprise-features")" ng-controller="ssoController" ng-init="init()">
        @Html.Partial("_DiologBox")
        <div class="col-lg-12 col-md-12 col-sm-12 admin-page-header blur-whitelable-content">
            <hgroup>
                <h1 class="page-title">[[[SINGLE SIGN-ON SETTINGS]]]</h1>
                <h5 class="page-description">[[[Configuration for setting Single Sign-On]]]</h5>
            </hgroup>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 check-box-label blur-whitelable-content">
            @Html.CheckBox("enable-sso", true, new
            {
                @class = "material-checkbox selfhosted schedule-checkbox",
                data_ng_model = "ssoSettings.IsEnabled",
                ng_click = "hideValidationMessage(ssoSettings.IsEnabled)"
            })
            @Html.Label("enable-sso", "[[[Enable SSO]]]", new
            {
                @class = "clspadleft app-checkbox-label normal-font"
            })
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 admin-page-body blur-whitelable-content">
            <form id="saml-setting" name="ssoSettingsForm" class="saml-form col-lg-12 col-md-12 col-sm-12" method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="col-lg-12 col-md-12 col-sm-12 admin-page-body">
                    <div class="col-lg-12 col-md-12 no-padding">
                        <label class="app-textbox-label col-lg-2 col-md-2 no-margin">[[[Application Id]]]</label>
                        <div class="col-lg-8 col-md-8 no-margin form-input-field">
                            <div class="col-lg-10 col-md-10 no-margin">
                                <input type="text" class="form-control no-margin" ng-model="ssoSettings.ApplicationId" ng-init="applicationId=ssoSettings.ApplicationId" name="ApplicationId" placeholder="[[[Application Id]]]" id="application-id" data-ng-disabled="!ssoSettings.IsEnabled" required />
                                <span class="validation-message top-padding" ng-show="ssoSettingsForm.ApplicationId.$error.required && ssoSettingsForm.ApplicationId.$dirty ">[[[Please enter Application Id]]]</span>
                            </div>
                            <span id="uri-info" class="su su-info info-popup" data-toggle="popover" data-placement="bottom" data-html="true" data-content="[[[A unique identifier used to register the ]]]@GlobalAppSettings.BrandingDisplayName [[[web app in ADFS]]]"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 no-padding">
                        <label class="app-textbox-label col-lg-2 col-md-2 no-margin">[[[Application Id URI]]]</label>
                        <div class="col-lg-8 col-md-8 no-margin form-input-field">
                            <div class="col-lg-10 col-md-10 no-margin">
                                <input type="text" class="form-control no-margin" ng-model="ssoSettings.ApplicationIdURI" ng-init="ApplicationIdURI=ssoSettings.ApplicationIdURI" name="ApplicationIdURI" placeholder="[[[Application Id URI]]]" id="application-id-uri" data-ng-disabled="!ssoSettings.IsEnabled" required />
                                <span class="validation-message top-padding" ng-show="ssoSettingsForm.ApplicationIdURI.$dirty && ssoSettingsForm.ApplicationIdURI.$invalid">[[[Please enter Application Id URI]]]</span>
                            </div>
                            <span id="application-id-uri-info" class="su su-info info-popup" data-toggle="popover" data-placement="bottom" data-html="true" data-content="[[[The globally unique URI used to identify this web API. It is the prefix for scopes and the value of the audience claim in access tokens. It is also referred to as an identifier URI.]]]"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 no-padding">
                        <label class="app-textbox-label col-lg-2 col-md-2 no-margin">[[[Tenant Name]]]</label>
                        <div class="col-lg-8 col-md-8 no-margin form-input-field">
                            <div class="col-lg-10 col-md-10 no-margin">
                                <input type="text" class="form-control no-margin" ng-model="ssoSettings.TenantName" ng-init="tenantName=ssoSettings.TenantName" name="tenantName" placeholder="[[[Tenant Name]]]" id="tenant-name" data-ng-disabled="!ssoSettings.IsEnabled" ng-pattern="tenantRegex" required />
                                <span class="validation-message top-padding" ng-show="ssoSettingsForm.tenantName.$error.required && ssoSettingsForm.tenantName.$dirty">[[[Please enter Tenant Name]]]</span>
                                <span class="validation-message top-padding" ng-show="ssoSettingsForm.tenantName.$error.pattern ">[[[Please enter valid URL]]]</span>
                            </div>
                            <span id="tenantName-info" class="su su-info info-popup" data-toggle="popover" data-placement="bottom" data-html="true" data-content="[[[A dedicated instance of the Azure AD service]]]"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 no-padding">
                        <label class="app-textbox-label col-lg-2 col-md-2 no-margin">[[[Mobile App Client Id]]]</label>
                        <div class="col-lg-8 col-md-8 no-margin form-input-field">
                            <div class="col-lg-10 col-md-10 no-margin">
                                <input type="text" class="form-control no-margin" ng-model="ssoSettings.MobileApplicationId" ng-init="MobileApplicationId=ssoSettings.MobileApplicationId" name="MobileApplicationId" placeholder="[[[Mobile App Client Id]]]" id="mobile-app-id" data-ng-disabled="!ssoSettings.IsEnabled" />
                            </div>
                            <span id="mobile-clientId-info" class="su su-info info-popup" data-toggle="popover" data-placement="bottom" data-html="true" data-content="[[[A unique identifier used to register the ]]]@GlobalAppSettings.BrandingDisplayName [[[mobile app in ADFS]]]"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="admin-page-actions col-lg-12 col-md-12 col-sm-12 blur-whitelable-content">
            <a href="@Url.Content("~/")" class="secondary-button pull-right" id="UpdateSAMLSettingsCancel-bottom" title="">[[[Cancel]]]</a>
            <button type="submit" id="update-saml-settings" class="primary-button pull-right" ng-click="saveSsoSettings()" ng-disabled="ssoSettingsForm.$invalid">[[[Save]]]</button>
        </div>
    </div>

    @if ((!ViewBag.ThirdPartyLogins || !ViewBag.WhiteLabel))
    {
        @Html.Partial("~/Views/UnlockFeatures/UnlockFeatures.cshtml")
    }
}