@{
    ViewBag.Title = T["User Settings"].Value + " - " + GlobalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/user-settings.css" asp-append-version="true" />
}

@section scripts{
    <script type="text/javascript">
        var checkMailSettingUrl = "@Url.Action("checkmailsettingsexist", "Administration")";
        var saveUserSettingsUrl = "@Url.Action("SaveUserSettings", "Administration")";
    </script>
    <script src="~/bundles/js/user-settings.js" asp-append-version="true"></script>
}

@section MainSection{

@await Html.PartialAsync("_AdminMenu")

    <div class="col-xs-12 header-section no-padding no-margin width-alignment">
    <div id="user-settings-header" class="col-xs-12 admin-page-header">
            <div class="admin-page-header-description col-xs-6 no-padding" id="application-title">
                <hgroup class="col-xs-12 header-group">
                    <h1 class="page-title">@T["USER SETTINGS"]</h1>
                <h5 class="page-description">@T["Configuration for activating user accounts"]</h5>
            </hgroup>
        </div>
        <div class="col-xs-4 top-nav-sec no-padding">
                @await Html.PartialAsync("../Shared/_TopMenu")
        </div>
            </div>
        <div class="col-md-12 import-area bi-page-header admin-page-icon">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-6 no-padding admin-header-btn pull-right" id="user-management-options">
                    <button class="secondary-button pull-right" id="cancel-settings">@T["Cancel"]</button>
                        <button type="button" id="update-user-settings" name="UpdateUserSettings" class="primary-button pull-right">
                            <span>@T["Save"]</span>
                        </button>
                </div>
            </div>
        </div>
</div>

<div id="user-settings-container" class="col-xs-12 admin-page-content-container">
    <div class="admin-page-content col-xs-12 no-padding">  
        <div id="user-settings-body" class="col-xs-12 admin-page-body">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-12 no-padding">
                    <label class="app-textbox-label activation">@T["Account Activation Mode"]</label>
                </div>
                <div class="radio-button-section" id="automatic">
                    <input type="radio" id="automatic-account-activation" name="activation" class="css-radio" value="AutomaticActivation" @((int)ViewBag.UserSettings == (int)ActivationType.AutomaticActivation ? "checked" : string.Empty) />
                    <label for="automatic-account-activation" class="app-textbox-label radio-btn-label notransition" id="labelautomatic">@T["Automatic"]</label>
                </div>
                <div class="radio-button-section" id="email">
                    <input type="radio" id="email-account-activation" name="activation" class="css-radio" value="EmailActivation" @((int)ViewBag.UserSettings == (int)ActivationType.EmailActivation ? "checked" : string.Empty) @(ViewBag.IsEmailSettingsConfigured == "failure" ? "disabled" : string.Empty) />
                    <label for="email-account-activation" class="app-textbox-label radio-btn-label notransition @(ViewBag.IsEmailSettingsConfigured == "failure" ? "disabled-lable-color" : string.Empty)" id="labelemail">@T["Email"]</label>
                </div>
                @if (@ViewBag.IsEmailSettingsConfigured == "failure")
                {
                    <div class="col-lg-12 no-padding">
                        <div class="bg-danger email-settings-validation">
                            @T["Activation emails cannot be sent until the email settings are configured. You can select 'Automatic Activation' to activate the user without configuring email settings."]
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-12 no-padding email-container">
                <div class="col-xs-12 no-padding email-required-header">
                    <label class="app-textbox-label is-email-required">
                        User Email
                    </label>
                    <div class="section-info-message">@T["This setting controls whether email address is required for creating new users."]</div>
                </div>
                <div class="email-not-required radio-button-section" id="not-required">
                    <input type="radio" id="email-not-required" name="email-required" class="css-radio" value="Not Required" @(GlobalAppSettings.SystemSettings.EmailRequired == EmailRequired.NotRequired ? "checked" : string.Empty) @(GlobalAppSettings.SystemSettings.ActivationType == ActivationType.EmailActivation ? "disabled" : string.Empty) />
                    <label for="email-not-required" class="app-textbox-label radio-btn-label notransition @(GlobalAppSettings.SystemSettings.ActivationType == ActivationType.EmailActivation ? "disabled-lable-color" : string.Empty)" id="label-email-not-required">@T["Not Required"]</label>
                </div>
                <div class="email-not-required radio-button-section" id="required">
                    <input type="radio" id="email-required" name="email-required" class="css-radio" value="Required" @(((int)ViewBag.UserSettings == (int)ActivationType.EmailActivation || GlobalAppSettings.SystemSettings.EmailRequired == EmailRequired.Required) ? "checked" : string.Empty) />
                    <label for="email-required" class="app-textbox-label radio-btn-label notransition" id="label-email-required">@T["Required"]</label>

                    <div class="col-lg-12 bg-danger email-settings-validation hide"></div>
                </div>
                <div class="col-lg-12 no-padding">
                    <div id="email-required-warning" class="bg-warning email-settings-validation @(GlobalAppSettings.SystemSettings.ActivationType == ActivationType.EmailActivation ? string.Empty : "hide")">
                        @T["When the account activation preference is email, email address is mandatory for activating the account."]
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    @await Html.PartialAsync("../Shared/_FooterOnPremise")
</div>
}
