
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
@await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/addgrouppermission.css" />
     <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/addgrouppermission.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/addgrouppermission.min.css" />
     <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/addgrouppermission.min.js"></script>
</environment>

 <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

 <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var getPermissionEntityUrl = "@Url.Action("GetPermissionEntity", "permission")";
        var getItemScopeUrl = "@Url.Action("GetItemScope", "permission")";
        var getItemScopeAccessUrl = "@Url.Action("GetItemScopeAccess", "permission")";
        var addnewgrouppermissionUrl = "@Url.Action("addnewgrouppermission", "permission")";
        var deleteGroupPermissionUrl = "@Url.Action("DeleteGroupPermission", "permission")";
        $(document).ready(function () {
            parent.$("#add-permission_wrapper").ejWaitingPopup("hide");
        });
        var entityObj = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.PermissionEntity)));
        var accessObj = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.PermissionAccess)));
        var groupId = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.groupId)));
</script>
<div class="add-permissions" id="add-group-permission">
    @await Html.PartialAsync("_AddPermission")
    <input type="hidden" id="group-id-hidden" value="@ViewBag.groupId" />
</div>
