
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
@await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/adduserpermission.css" />
    <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, dashboardServerResourceUrl)" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/adduserpermission.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/adduserpermission.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="@ServerAppConfig.CustomFontUrl(globalAppSettings?.SystemSettings?.FontPreference, dashboardServerResourceUrl)" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/adduserpermission.min.js"></script>
</environment>

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
<script>
        var getPermissionEntityUrl = "@Url.Action("GetPermissionEntity", "permission")";
        var getItemScopeUrl = "@Url.Action("GetItemScope", "permission")";
        var getItemScopeAccessUrl = "@Url.Action("GetItemScopeAccess", "permission")";
        var addnewuserpermissionUrl = "@Url.Action("addnewpermission", "permission")";
        var deleteuserPermissionUrl = "@Url.Action("DeleteUserPermission", "permission")";
        $(document).ready(function () {
            $("#add-permission_wrapper").ejWaitingPopup("hide");
        });
        var entityObj = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.PermissionEntity)));
        var accessObj = JSON.parse(@Html.Raw(Json.Serialize(ViewBag.PermissionAccess)));
</script>

<div class="add-permissions" id="add-user-permission">
    @await Html.PartialAsync("_AddPermission")
    <input type="hidden" id="user-id-hidden" value="@ViewBag.userId" />
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
</div>
