@{
    Layout = null;
    var displayName = GlobalAppSettings.BrandingDisplayName;
    var redirectUrl = ServerAppConfig.InternalAppIdpUrl;
    var subscriptionUrl = ViewBag.SubscriptionUrl;
    var cdnLink = string.Empty;
    var faviconLogo = string.Empty;
    var dashboardServerResourceUrl = GlobalAppSettings.HttpPathBase + ServerAppConfig.AppSettings.EndPoints.CdnLink;
    if (ServerAppConfig.IsSelfHosted)
    {
        cdnLink = (GlobalAppSettings.HttpPathBase.ToString().Equals("/") ? string.Empty : GlobalAppSettings.HttpPathBase.ToString()) + ServerAppConfig.AppSettings.EndPoints.CdnLink + "/cdn/images";
        faviconLogo = ServerAppConfig.InternalAppIdpUrl + "/ums/logos?type=favicon";
    }
    else
    {
        cdnLink = @GlobalAppSettings.CdnDomain;
        faviconLogo = dashboardServerResourceUrl + "/cdn/images/application/" + @ServerAppConfig.AppSettings.AppBranding.Identifier + "/" + @ServerAppConfig.BrandingJson.BrandingImages.FavIcon;
    }

    dashboardServerResourceUrl = dashboardServerResourceUrl.TrimEnd('/');
}

<!DOCTYPE html>
<html>
<head>
    <title>@T["License Activation"] - @GlobalAppSettings.BrandingDisplayName</title>
    @await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
    <link rel="icon" href="@faviconLogo" onerror="if (this.href !== null && this.href.toLowerCase() !== '@dashboardServerResourceUrl/cdn/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@ServerAppConfig.BrandingJson.BrandingImages.FavIcon') this.href = '@dashboardServerResourceUrl/cdn/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@ServerAppConfig.BrandingJson.BrandingImages.FavIcon';" />
    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/license-activation.js"></script>
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/layout.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/license-activation.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/license-activation.min.js"></script>
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/layout.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/license-activation.min.css" />
    </environment>
    <script>
        var lisenceValidationUrl = "@Url.Action("LicenseValidation", "ServerConfiguration")";
        var lisenceActivationUrl = "@Url.Action("ActivateLicense", "ServerConfiguration")";
        var offlineSetupImageUrl = "@Url.Content("~/images/static/default-pages/offline-setup.png")";
        var startupHome = "@Url.Content("~/images/static/default-pages/login-to-activate.png")";
        var redirectUrl = "@redirectUrl";
    </script>
</head>

<body id="license-activation-waiting-element" class="license-activation-content">
    <div class="loader-blue loader-icon display-none" id="layout-body-loader-icon">
        <svg class="circular">
            <circle class="path" cx="27" cy="27" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
        </svg>
    </div>
    <div id="startup-waiting-element" class="startup-waiting-popup storage-page-content">
        @await Html.PartialAsync("_LicenseActivationFooter")
        <div class="system-startUp-settings-bg">
            <div class="startup-page-conatiner" id="startup-page-conatiner">
                <div id="system-settings-general" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="image-parent-container">
                        <div class="image-container">
                            <img class="startup-image" src="@Url.Content("~/images/static/default-pages/login-to-activate.png")" />
                            <div class="welcome-content">
                                <span class="first-content">@T["See Clearly. Act Boldly."]</span>
                                @if (!ServerAppConfig.IsHideHelpLink)
                                {
                                    <a href="@(GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.SetupHelp))" target="_blank">@T["Need setup help?"]</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" id="system-settings-welcome-container">
                        <div class="welcome-content">
                            <span class="first-content align-center">
                                @T["Complete Your Setup"]
                            </span>

                            <span class="second-content">
                                @T["Complete setup with online activation or license upload, or skip to use trial mode for 30 days."]
                            </span>
                            @if (!ServerAppConfig.BrandingJson.IsWhiteLabelling)
                            {
                                <div class="btn-holder">
                                    <button type="button" id="online-license" license-service-url="@ViewBag.SubscriptionUrl" class="proceed-button content-display">@T["Login to activate"]</button>
                                    <button type="button" id="offline-license" license-service-url="@ViewBag.SubscriptionUrl" class="proceed-button content-display">@T["Upload license file"]</button>
                                </div>
                                <div class="col-xs-12  align-center">
                                    <span class="link-header">@T["Don’t have an account?"] <a class="link-decoration" target="_blank" href="@GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.Pricing)">@T["Sign Up"]</a></span>
                                </div>
                                <div class="divider-container col-xs-12">
                                    <hr class="connect-line-left"><div class="content text-body">@T["or"]</div><hr class="connect-line-right">
                                </div>
                                <div class="col-xs-12 align-center">
                                    <a id="skip-license-activation" class="link-decoration" href="@ServerAppConfig.InternalAppIdpUrl ">@T["Proceed with 30 days trial"]</a>
                                </div>
                            }
                            else
                            {
                                <div class="btn-holder">
                                    <button type="button" id="offline-license" class="proceed-button content-display" data-offlinelicense-url="@GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.Downloads)" data-tenant-type="@((int)TenantType.BoldBIOnPremise)">@T["Upload your unlock Key file."]</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="system-settings-offline-license col-lg-5 col-md-5 col-sm-5 col-xs-5" id="system-settings-offline-license-container">
                        <div id="popup-container" class="col-xs-12 no-padding">
                            <div class="col-xs-12 upload-header no-padding">
                                <div class="col-xs-12 no-padding">
                                    <span class="popup-title">@T["Offline Setup"]</span>
                                    @if (!ServerAppConfig.BrandingJson.IsWhiteLabelling)
                                    {
                                        <p class="title-description">
                                            @Html.Raw(string.Format(T["Provide the {0} unlock key file downloaded from the website to proceed with the offline installation. If you do not have a unlock key file, you can download it {1}here{2}."].Value, displayName, "<a target='_blank' href='" + GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.Downloads) + "'>", "</a>"))
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="title-description">
                                            @Html.Raw(string.Format(T["Provide the {0} unlock key file to proceed with the offline installation."].Value, displayName))
                                        </p>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 upload-content no-padding">
                                <div id="upload-section" class="col-xs-12 no-padding">
                                    <div id="file-lable" class="col-xs-12">
                                        <label id="upload-lable">@T["Select the unlock key file"]</label>
                                    </div>
                                    <div class="upload-btn-wrapper col-xs-12 no-padding">
                                        <input type="text" id="file-name" class="col-xs-8" placeholder="@T["choose file"]" readonly="readonly" />
                                        <img id="browse-lic" class="col-xs-4" src="~/images/folder.svg" />
                                        <input type='file' id="getFile" accept=".lic" class="display-none">
                                        <div id="tenant-type" class="display-none"></div>
                                        <div class="validation-error-message col-xs-12 display-none"></div>
                                    </div>
                                    <div id="license-details" class="col-xs-12">
                                        <div id="customer-email-container" class="col-xs-12 no-padding display-none">
                                            <label class="col-xs-4 no-padding license-detail-lable">@T["Email"]</label>
                                            <p id="customer-email" class="col-xs-8 no-padding"></p>
                                        </div>
                                        <div id="subscription-id-container" class="col-xs-12 no-padding display-none">
                                            <label class="col-xs-4 no-padding  license-detail-lable">@T["Subscription Id"]</label>
                                            <p id="subscription-id" class="col-xs-8 no-padding"></p>
                                        </div>
                                        <div id="subscription-name-container" class="col-xs-12 no-padding display-none">
                                            <label class="col-xs-4 no-padding  license-detail-lable">@T["Subscription Name"]</label>
                                            <p id="subscription-name" class="col-xs-8 no-padding"></p>
                                        </div>
                                        @if (!ServerAppConfig.BrandingJson.IsWhiteLabelling)
                                        {
                                            <div id="plan-name-container" class="col-xs-12 no-padding display-none">
                                                <label class="col-xs-4 no-padding  license-detail-lable">@T["Plan Name"]</label>
                                                <p id="plan-name" class="col-xs-8 no-padding"></p>
                                            </div>
                                        }
                                        <div id="tenant-status-container" class="col-xs-12 no-padding display-none">
                                            <label class="col-xs-4 no-padding  license-detail-lable">@T["Tenant Status"]</label>
                                            <p id="tenant-status" class="col-xs-8 no-padding">Licensed</p>
                                        </div>
                                        <div id="expiry-date-container" class="col-xs-12 no-padding display-none">
                                            <label class="col-xs-4 no-padding  license-detail-lable">@T["Expiry Date"]</label>
                                            <p id="expiry-date" class="col-xs-8 no-padding"></p>
                                        </div>
                                        <div id="error-message-container" class="col-xs-12 no-padding display-none">
                                            <p id="error-message" class="col-xs-8 no-padding"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 upload-footer btn-holder">
                                <input id="return-startup-home" type="button" value="@T["Back"]" class="col-xs-6 remove-margin-left secondary-button">
                                <input disabled id="confirm-license" type="button" value="@T["Proceed"]" class="col-xs-6 proceed-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>