@{
    var globalAppSettings = _globalAppSettings;
    var tenantAppConfig = new TenantAppConfiguration(globalAppSettings);
    var isMobile = new DeviceDetection(Context).IsMobile;
    Layout = null;
    ViewBag.Title = ViewBag.ItemName + " - [[[View Widget]]] -" + globalAppSettings.SystemSettings.OrganizationName;
    var baseUrl = ViewBag.BaseUrl;
    var dashboardServiceUrl = globalAppSettings.SystemSettings.InternalAppDataServiceUrl;
    var dashboardServiceResourceUrl = globalAppSettings.SystemSettings.DashboardServiceResourceUrl;
    var isDebug = globalAppSettings.SystemSettings.IsDebug;
    var itemLocation = ViewBag.ItemLocation as string;
    itemLocation = itemLocation != null ? itemLocation.Replace("\\", "\\\\") : string.Empty;
    var enableComment = "true";
    ItemDetail itemDetail = ViewBag.itemDetail;
    var isAuthenticated = "false";
    var isPublic = globalAppSettings.SystemSettings.IsMarkItemsPublic && itemDetail.IsPublic ? "true" : "false";
    ViewBag.DateFormat = globalAppSettings.SystemSettings.DateFormat;
    ViewBag.TimeFormat = globalAppSettings.SystemSettings.TimeFormat ? "HH:mm" : "hh:mm tt";
    var accessToken = ViewBag.accessToken;
    var externalLogin = Context.Request.Query["externallogin"].ToString();
    var hasSSO = Context.Request.Query["hassso"].ToString();
    var faviconLogo = globalAppSettings.SystemSettings.FavIcon;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@faviconLogo" onerror="if (this.href != '@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@IconFileNames.Favicon') this.href = '@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@IconFileNames.Favicon';" />

    <title>@ViewBag.Title</title>
    @if (isDebug)
    {
        <link rel="stylesheet" type="text/css" href="@(dashboardServiceResourceUrl + "/themes/default-theme/ej.dashboardviewer.all.min.css")" />
    }
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/viewer/themes/default-theme/ej.dashboardviewer.all.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/viewer/themes/default-theme/ej.dashboardviewer.all.min.css" />
    </environment>

    @if (isMobile)
    {
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/file-render-dashboard-mobile.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/viewer/widget-render-mobile.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/file-render-dashboard-mobile.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/viewer/widget-render-mobile.min.js"></script>
        </environment>

    }
    else
    {
        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/file-render-dashboard.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/viewer/widget-render.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/file-render-dashboard.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/viewer/widget-render.min.js"></script>
        </environment>

    }
    <style>
        html {
            height: 100%;
        }

        #widget_WaitingPopup {
            height: 100% !important;
            width: 100% !important;
            background-color: #fff !important;
        }

            #widget_WaitingPopup .e-image {
                background: url('@(globalAppSettings.SystemSettings.CDNLink + "/images/waitingpopup.gif")') no-repeat scroll 0px 18px transparent;
                top: 350px !important;
            }


    </style>

    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

    <script>
        var pinWidgetToHomepageUrl = "@Url.Action("PinWidgetToHomepage", "Boards")";
        var embeddedLoginUrl = "@Url.Action("EmbeddedLogin", "Accounts")";
        var externalLogin = "@externalLogin";
		var sso = "@hasSSO";
		var comment = "";
		window.destroyAll = function () { try { ej.widget.destroyAll($('.e-js').off()); } catch (e) { } $(document.body).html('-'); CollectGarbage(); };
        function loadPopup(){
            var widgetWaitingPopupTemplateId = createLoader("widget");
			$("#widget").ejWaitingPopup({ template:$("#" + widgetWaitingPopupTemplateId) });
            $("#widget").ejWaitingPopup("show");
            window.location.href = window.location.href.replace(window.location.pathname + window.location.search, "");
        }
    </script>
    @if (isDebug)
    {
        <script asp-append-version="true" src="@(dashboardServiceResourceUrl + "/scripts/jquery-1.10.2.min.js")"></script>
        <script asp-append-version="true" src="@(dashboardServiceResourceUrl + "/scripts/jquery.easing.1.3.min.js")"></script>
        <script asp-append-version="true" src="@(dashboardServiceResourceUrl + "/scripts/ej.dashboard.ejcommon.all.min.js")"></script>
        <script asp-append-version="true" src="@(dashboardServiceResourceUrl + "/scripts/ej.dashboard.viewer.all.min.js")"></script>
    }

    @{
        if (!string.IsNullOrWhiteSpace(Context.Request.Query["hascomments"]) && Context.Request.Query["hascomments"].ToString().ToLower() == "true")
        {
            enableComment = "true";
        }
        else
        {
            enableComment = "false";
        }
    }

    <script>
        function CommentImageDialogClose() {
            $("#commentImage_popup").ejDialog("close");
            $("#commentImage_popup_image").attr('src', "");
        }
    </script>
</head>

<body style="width: 100%; height: 100%;">
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture" defer></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture" defer></script>
    </environment>
    <div id="widget" style="width: 100%; height: 100%;"></div>

    @if (isMobile)
    {
        <script>
            $(document)
               .ready(function() {
                    if("@enableComment" == "false"){
                       $("#comment-li").html("");
					   $(".navbar-nav li").removeClass("col-xs-4").addClass("col-xs-6");
					    }
               });
        </script>
        <nav id="server-mobile-navbar" class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav col-xs-12 no-padding no-margin">
                    <li class="col-xs-4">
                        <a href="@Url.Action(" Widgets", "Widgets" )" class="su su-nav-home" onclick="loadPopup();"></a>
                    </li>
                    <li class="col-xs-4">
                        <a href="javascript:void(0)" class="su su-nav-widgets active"></a>
                    </li>
                    <li class="col-xs-4" id="comment-li">
                        @if (ViewBag.isWidgetCommented == "true")
                        {
                            <a href="javascript:void(0)" class="su su-with-comment server-comment"></a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="su su-without-comment server-comment"></a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    }

    <input id="comment_Type" type="hidden" data-item-type="individual-widget">
    <input id="isMultiDashboard" type="hidden" data-item-id="false">
    <input id="widget_Comment" class="displayNone" data-item-id="@ViewBag.ItemId">
    <input id="dashboard_Comment" class="displayNone" data-item-id="@Guid.Empty">
    <input id="is_mobile" type="hidden" value="@isMobile.ToString().ToLower()">
    <div id="commentModuleContainer" class="displayNone" style="background-image: url('@(globalAppSettings.SystemSettings.CDNLink + "/images/waitingpopup.gif")'); background-color: #fff; background-repeat: no-repeat; background-position: 50% 50%;">
        <iframe id="commentModuleContainer_iframe" class="comment-popup-frame" src="@Url.Action("IndividualWidgetCommentPartialView", "Comments" )?itemId=@ViewBag.ItemId" style="height: 100%; width: 100%; "></iframe>
    </div>

    <iframe id="delete_popup_iframe" class="comment-popup-frame displayNone" src="@Url.Action("CommentDeletePartialView", "Comments" )" allowtransparency="true" style="position: absolute;"></iframe>

    <div id="commentImage_popup" class="col-md-12 no-padding hidden">
        <div class="col-lg-12 no-padding" id="PopupContainer">
            <div class="col-md-12">
                <div class="col-xs-12 no-padding" style="float:right">
                    <a href="javascript:void(0);" onclick="CommentImageDialogClose()" class="PopupClose"><span class="su su-close"></span></a>
                </div>
            </div>
            <div class="dialogBody col-xs-12 no-padding">
                <img id="commentImage_popup_image" src="" style="width: 100%;">
            </div>
        </div>
    </div>

    <div id="pin-widget-popup" class="displayNone" data-widget-id="" data-widget-name="">
        <iframe id="pin-widget-popup-iframe" class="" style="height: 100%; width: 100%;"></iframe>
    </div>
    <div id="success-alert">
        <div id="image-container">
            <div class="image-holder">
                <span class="su su-tick" alt="Success Icon"></span>
            </div>
        </div>
        <div id="message">
            <h1 id="message-header"></h1>
            <span id="message-content"></span>
        </div>
    </div>
    <div id="warning-alert">
        <div id="image-container">
            <span class="su su-warning-alt" alt="Warning Icon"></span>
        </div>
        <div id="message" class="div-close">
            <h1 id="message-header"></h1>
            <span id="message-content"></span>
        </div>
        <div class="close-div">
            <span id="close-content">[[[Close]]]</span>
        </div>
    </div>

</body>
@if (Context.User.Identity.IsAuthenticated)
{
    isAuthenticated = "true";
}
else
{
    isAuthenticated = "false";
}
@if (!Context.User.Identity.IsAuthenticated)
{
    <script>
            $(document).ready(function () {
                if (externalLogin != null && externalLogin.toLowerCase() == "windowsad" && sso != null && sso.toLowerCase() == "true") {
                    $.ajax({
                        type: "GET",
                        url: "@baseUrl"+ "/windowsauthentication/account/login",
                        data: { },
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        statusCode: {
                            200: function(result) {
                                if (result.responseText.toLowerCase() == "true") {
                                    window.location.href = window.location.href;
                                } else {
                                    $(".error-message").css("display", "block");
                                }
                            },
                        },

                        dataType: "json",
                        success: function(result) {  },
                        error :  function(result) {
						if(result.responseText.toLowerCase() == "true"){
						renderWidget(comment);
						}
						else
						{
						if(@isPublic == true){
						renderWidget(comment);
						}
						else{
						window.location.href = "@baseUrl" + "/login";
						}
						}
						}
                    });
                }
				});
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            if (externalLogin != "") {
                renderWidget(comment);
            }
        });
    </script>
}
<script type="text/javascript">
    var token ="@accessToken";
    var isAuthenticated = "@isAuthenticated";
    var parentRefUrl = (window.location != window.parent.location) ? document.referrer : document.location.href.replace(document.location.pathname + document.location.search, "");
    if(parentRefUrl == ""){
        var parentUrl = "";
    }
    else {
        var parentUrl = parentRefUrl.match(/:\/\/(.[^/]+)/)[1];
    }
    var iframeRefUrl=window.location.href;
    var iframeUrl=iframeRefUrl.match(/:\/\/(.[^/]+)/)[1];
    function IframeLoad() {
        if(iframeRefUrl == parentUrl)
        {
            if(window.parent.$("#item-viewer").data("ejWaitingPopup") != undefined) {
                window.parent.$("#item-viewer").ejWaitingPopup("hide");
            }
        }
    }
    $(document).ready(function () {

        IframeLoad();
        window.addEventListener('message', receiveMessage, false);
        function receiveMessage(event) {
            var comment = "";
            if (event.data) {
                var messageData = JSON.parse(event.data);
                if(messageData["access_token"] != ""){
                    token = messageData["access_token"];
                    var te = "@Html.Raw(itemLocation)";
                    $.ajax({
                        type: "POST",
                        url: embeddedLoginUrl,
                        data: {
                            token:token,
                            itemPath:te
                        },
                        success: function(obj) {
                            if(obj.data != null){
                                userId = obj.data.UserId;
                                userName = obj.data.UserName;
                                var iframeUrl = iframeRefUrl.substring(iframeRefUrl.indexOf('?')+1,iframeRefUrl.length);
                                comment = iframeUrl.substring(iframeUrl.indexOf('=')+1,iframeUrl.indexOf('&'));
                                if($("#widget").data("ejDashboardViewer") != null){
                                    if($("#widget").data("ejDashboardViewer").model.allowComment == false && comment == "true"){
                                        $("#widget").data("ejDashboardViewer")._setModel({"allowComment":(comment == "true")? true:false});
                                        $("#commentModuleContainer_iframe").attr("src","@Url.Action("IndividualWidgetCommentPartialView", "Comments" )?itemId=@ViewBag.ItemId");
                                    }
                                }
                                else{
                                    renderWidget(comment);
                                    $("#widget").data("ejDashboardViewer").model.accessToken = token;
                                }
                            }
                            else
                            {
                                if(@isPublic == true && isAuthenticated.toLowerCase() == "false"){
                                    renderWidget(comment);
                                }
                                else {
                                    window.location.href = "@baseUrl"+"/login";
							}
							}
                        }
                    });
                }
                else{
                    token = token;
                }

            }
            else{
                window.location.href = "@baseUrl"+"/login";
            }
        }
		if (externalLogin != null && externalLogin.toLowerCase() == "azuread" && sso != null && sso.toLowerCase() == "true")
        {
		if (isAuthenticated.toLowerCase() == "true"){
            renderWidget(comment);
			}
		else
		{
			if(@isPublic == true){
                    renderWidget(comment);
                }
                else{
                    window.location.href = "@baseUrl"+"/login";
                }
            }
        }
        if(sso.toLowerCase() == "false" && sso != null){
            if (isAuthenticated.toLowerCase() == "true"){
                renderWidget(comment);
            }
            else{
                if(@isPublic && isAuthenticated.toLowerCase() == "false"){
                    renderWidget(comment);
                }
            }
        }
        $(document).on("click", ".close-div", function () {
            parent.$('#warning-alert').fadeOut();
        });
    });
    function renderWidget(comment)
    {
        var te = "@Html.Raw(itemLocation)";
        var ReportName = "@ViewBag.ItemName";
        var ReportDescription = "@ViewBag.ItemDescription";
        var widgetId = "@ViewBag.ItemId";
        var commentShow = "";
        var authentication = "@isAuthenticated";
        if(authentication.toLowerCase() == "true" && comment == ""){
            commentShow = @enableComment;
        }
        else if(comment != ""){
            commentShow = (comment == "true") ? true :false;
        }
        else{
            commentShow = false;
        }
        $("#pin-widget-popup").ejDialog({
            width: "400px",
            height: "310px",
            showOnInit: false,
            allowDraggable: true,
            enableResize: false,
            title: "[[[Pin Item to the Homepage]]]",
            enableModal: true,
            showHeader: false
        });
        var pinWidgetWaitingPopupTemplateId = createLoader("pin-widget-popup_wrapper");
		$("#pin-widget-popup_wrapper").ejWaitingPopup({ tenplate:$("#" + pinWidgetWaitingPopupTemplateId) });


        $("#widget").ejDashboardViewer({
            accessToken : token,
            serviceUrl: "@dashboardServiceUrl",
            cdnFilePath: "@globalAppSettings.SystemSettings.UseCDN.ToString().ToLower()" == "true" ? "@globalAppSettings.SystemSettings.CDNLink" + "/scripts/viewer" : "",
            dashboardPath: te,
            reportName: ReportName,
            reportDescription: ReportDescription,
            enableExport: true,
            enablePrint: false,
            localeSettings: {
                resourcePath: "",
                culture: "@ViewBag.Culture"
            },
            filterParameters: "@Html.Raw(ViewBag.FilterQuery)",
            onWidgetCommented: "openWidgetComment",
            onCommentDialogClosing: "closeWidgetComment",
            _itemId:"@ViewBag.ItemId",
            _isPublic : @isPublic,
            allowComment: commentShow,
            commentSettings:{
                isWidgetCommented: @Html.Raw(ViewBag.isWidgetCommented),
            },
            onMenuIconClick: function(information){
                if(typeof(information.name)!= "undefined" && information.name == "Pin Widget"){
                    $("#pin-widget-popup").ejDialog("open");
                    $("#pin-widget-popup_wrapper").ejWaitingPopup("show");
                    $("#pin-widget-popup-iframe").attr("src", pinWidgetToHomepageUrl);
                    $("#pin-widget-popup").attr("data-widget-id", widgetId).attr("data-widget-name",information.headertext);
                }
            },
            dashboardCreated : "openComments",
            resizeDashboard :"closeCommentOnResize"
        });
    }
</script>