@{
    var requestUrl = new Uri(Context.Request.GetDisplayUrl());
    var currentUrl = requestUrl.LocalPath.TrimEnd('/');
    var adminHomeUrl = Url.RouteUrl(new { controller = "Administration", action = "Administration" });
    var siteSettingsUrl = Url.Action("administration", "administration") == null ? string.Empty : Url.Action("administration", "administration") + "/site";
    var adSettingsUrl = Url.Action("administration", "administration") + "/user-directory-settings";
    var emailSettingsUrl = Url.Action("administration", "administration") == null ? string.Empty : Url.Action("administration", "administration") + "/e-mail-settings";
    var notificationSettingsUrl = Url.Action("NotificationSettings", "administration");
    var userSettingsUrl = Url.Action("administration", "administration") + "/user-settings";
    var manageLicenseUrl = Url.Action("LicenseSettings", "Administration") ?? string.Empty;
    var manageLicenseSettingsUrl = Url.Action("ManageLicenseSettings", "Administration");
    var dashboardSettingsUrl = Url.Action("DashboardSettings", "Administration");
    var embedSettingsUrl = Url.Action("EmbedSettings", "Administration");
    var updateCardUrl = Url.Action("GetCardDetail", "Payment") ?? string.Empty;
    var conciergeSupportUrl = Url.Action("ConciergeSupport", "Support") ?? string.Empty;
    var dataStoreSettingsUrl = Url.Action("DataStoreSettings", "Administration") ?? string.Empty;
    var dataConnectorUrl = Url.Action("DataConnector", "Administration");
    var credentialsUrl = Url.Action("Credentials", "Administration");
}

<nav id="admin-nav">
    <ul>
        <li class="mobile-hidden">
            <a id="site-settings-link" class="admin-menu-item @(currentUrl.IndexOf(siteSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 || currentUrl.Equals(adminHomeUrl, StringComparison.CurrentCultureIgnoreCase) ? "active" : string.Empty)" href="@siteSettingsUrl" role="tab">
                <i class="su su-url"></i>
                <span>[[[Site]]]</span>
            </a>
        </li>
        <li>
            <a id="dashboard-settings-link" class="admin-menu-item @(currentUrl.IndexOf(dashboardSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@dashboardSettingsUrl" role="tab">
                <i class="su su-nav-dashboard"></i>
                <span>[[[Dashboards]]]</span>
            </a>
        </li>
        <li>
            <a id="embed-settings-link" class="admin-menu-item @(currentUrl.IndexOf(embedSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@embedSettingsUrl" role="tab">
                <i class="su su-embed"></i>
                <span>[[[Embed]]]</span>
            </a>
        </li>
        @if (ServerAppConfig.IsSelfHosted)
        {
            <li>
                <a id="dataStore-settings-link" class="admin-menu-item @(currentUrl.IndexOf(dataStoreSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@dataStoreSettingsUrl" role="tab">
                    <i class="su su-datastorage"></i>
                    <span>[[[Data Store]]]</span>
                </a>
            </li>
            <li>
                <a id="datasource-settings-link" class="admin-menu-item @(currentUrl.IndexOf(dataConnectorUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@dataConnectorUrl" role="tab">
                    <i class="su su-connector"><i class="su-connector path1" style="padding-right:0px"></i></i>
                    <span>[[[Connectors]]]</span>
                </a>
            </li>
            <li>
                <a id="email-settings-link" class="admin-menu-item @(currentUrl.IndexOf(emailSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@emailSettingsUrl" role="tab">
                    <i class="su su-e-mail"></i>
                    <span>[[[Email]]]</span>
                </a>
            </li>
            <li class="mobile-hidden">
                <a id="user-settings-link" class="admin-menu-item @(currentUrl.IndexOf(userSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@userSettingsUrl" role="tab">
                    <i class="su su-user_settings_icon"></i>
                    <span>[[[Accounts]]]</span>
                </a>
            </li>
        }
        <li class="mobile-hidden">
            <a id="active-directory-settings-link" class="admin-menu-item @(currentUrl.IndexOf(adSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@adSettingsUrl" role="tab">
                <i class="su su-lock"></i>
                <span>[[[Authentication]]]</span>
            </a>
        </li>
        <li class="mobile-hidden">
            <a id="notification-settings-link" class="admin-menu-item @(currentUrl.IndexOf(notificationSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@notificationSettingsUrl" role="tab">
                <i class="su su-notification-settings"></i>
                <span>[[[Notifications]]]</span>
            </a>
        </li>

        @if (!ServerAppConfig.IsSelfHosted)
        {
            <li>
                <a id="notification-settings-link" class="admin-menu-item @(currentUrl.IndexOf(conciergeSupportUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@conciergeSupportUrl" role="tab">
                    <i class="su su-concierge-support"></i>
                    <span>[[[Support Settings]]]</span>
                </a>
            </li>
            <li class="mobile-hidden">
                <a id="license-settings-link" class="admin-menu-item @(currentUrl.IndexOf(manageLicenseUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@manageLicenseUrl" role="tab">
                    <i class="su su-license-settings"></i>
                    <span>[[[Subscription]]]</span>
                </a>
            </li>
            <li>
                <a id="payment-link" class="admin-menu-item @(currentUrl.IndexOf(updateCardUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@updateCardUrl" role="tab">
                    <i class="su su-dollar"></i>
                    <span>[[[Payments]]]</span>
                </a>
            </li>
            @*<li class="mobile-hidden">
                <a id="credential-link" class="admin-menu-item @(currentUrl.IndexOf(credentialsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@credentialsUrl" role="tab">
                    <i class="su su-credentials"></i>
                    <span>[[[Credentials]]]</span>
                </a>
            </li>*@
        }
        else
        {
            <li class="mobile-hidden">
                <a id="license-settings-link" class="admin-menu-item @(currentUrl.IndexOf(manageLicenseSettingsUrl, StringComparison.CurrentCultureIgnoreCase) > -1 ? "active" : string.Empty)" href="@manageLicenseSettingsUrl" role="tab">
                    <i class="su su-license-settings"></i>
                    <span>[[[Manage License]]]</span>
                </a>
            </li>
        }

    </ul>
</nav>
