<div class="col-md-12 form-group">
    <div class="section-title">
        <span>[[[Group Import Settings]]]</span>
    </div>
    <div class="col-md-6 section-info-message-container">
        <span class="su su-info"></span>
        <div class="section-info-message">[[[This settings will be used for importing groups from the above configured authentication provider. We have 4 known authentication providers where we know how to import groups from them. Select any of the applicable provider from the dropdown.]]]</div>
    </div>
</div>
<div class="col-md-12 form-group">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[Provider]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <select class="selectpicker col-md-6 no-padding group-import-provider-type" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled")>
                <option class="no-margin-dropdown-ul" value="None">[[[Select a provider]]]</option>
                @if (ViewBag.AuthType == AuthType.OAuth)
                {
                    <option class="no-margin-dropdown-ul" value="CognitoAWS" selected="@(Model !=null && Model.KnownProviderType == KnownAuthProviders.CognitoAWS)">[[[Cognito AWS]]]</option>
                }
                <option class="no-margin-dropdown-ul" value="Auth0" selected="@(Model !=null && Model.KnownProviderType == KnownAuthProviders.Auth0)">[[[Auth0]]]</option>
                <option class="no-margin-dropdown-ul" value="Okta" selected="@(Model !=null && Model.KnownProviderType == KnownAuthProviders.Okta)">[[[Okta]]]</option>
                <option class="no-margin-dropdown-ul" value="OneLogin" selected="@(Model !=null && Model.KnownProviderType == KnownAuthProviders.OneLogin)">[[[OneLogin]]]</option>
            </select>
        </div>
    </div>
</div>
@if (ViewBag.AuthType == AuthType.OAuth)
{
    @*Cognito AWS*@
    <div class="col-md-12 form-group cognito-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.CognitoAWS ? string.Empty : "display-none")">
        <div class="col-md-6 no-padding no-margin">
            <label class="app-textbox-label col-md-4 no-margin">[[[User Pool Id]]]</label>
            <div class="col-md-8 no-margin form-input-field">
                <input type="text" class="form-control col-md-6 no-margin" name="userPoolId" placeholder="[[[User Pool Id]]]" id="user-pool-id" value="@(Model != null && Model.Cognito != null && !string.IsNullOrWhiteSpace(Model.Cognito.UserPoolId) ? Model.Cognito.UserPoolId : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group cognito-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.CognitoAWS ? string.Empty : "display-none")">
        <div class="col-md-6 no-padding no-margin">
            <label class="app-textbox-label col-md-4 no-margin">[[[AWS Accesskey Id]]]</label>
            <div class="col-md-8 no-margin form-input-field">
                <input type="text" class="form-control col-md-6 no-margin" name="awsAccesskeyId" placeholder="[[[AWS Accesskey Id]]]" id="aws-accesskey-id" value="@(Model != null && Model.Cognito != null && !string.IsNullOrWhiteSpace(Model.Cognito.AwsAccesskeyId) ? Model.Cognito.AwsAccesskeyId : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group cognito-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.CognitoAWS ? string.Empty : "display-none")">
        <div class="col-md-6 no-padding no-margin">
            <label class="app-textbox-label col-md-4 no-margin">[[[AWS Accesskey Secret]]]</label>
            <div class="col-md-8 no-margin form-input-field">
                <input type="text" class="form-control col-md-6 no-margin" name="awsAccesskeySecret" placeholder="[[[AWS Accesskey Secret]]]" id="aws-accesskey-secret" value="@(Model != null && Model.Cognito != null && !string.IsNullOrWhiteSpace(Model.Cognito.AwsAccesskeySecret) ? Model.Cognito.AwsAccesskeySecret : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group cognito-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.CognitoAWS ? string.Empty : "display-none")">
        <div class="col-md-6 no-padding no-margin">
            <label class="app-textbox-label col-md-4 no-margin">[[[Region]]]</label>
            <div class="col-md-8 no-margin form-input-field">
                <input type="text" class="form-control col-md-6 no-margin" name="cognitoRegion" placeholder="[[[Region]]]" id="cognito-region" value="@(Model != null && Model.Cognito != null && !string.IsNullOrWhiteSpace(Model.Cognito.Region) ? Model.Cognito.Region : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
            </div>
        </div>
    </div>
}
@*Auth0*@
<div class="col-md-12 form-group auth0-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.Auth0 ? string.Empty : "display-none")">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[Audience]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <input type="text" class="form-control col-md-6 no-margin" name="audience" placeholder="[[[Audience]]]" id="audience" value="@(Model != null && Model.Auth0 != null && !string.IsNullOrWhiteSpace(Model.Auth0.Audience) ? Model.Auth0.Audience : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
        </div>
    </div>
</div>
<div class="col-md-12 form-group auth0-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.Auth0 ? string.Empty : "display-none")">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[Extension URL]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <input type="text" class="form-control col-md-6 no-margin" name="extensionUrl" placeholder="[[[Extension URL]]]" id="extension-url" value="@(Model != null && Model.Auth0 != null && !string.IsNullOrWhiteSpace(Model.Auth0.ExtensionURL) ? Model.Auth0.ExtensionURL : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
        </div>
    </div>
</div>
@*Okta*@
<div class="col-md-12 form-group okta-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.Okta ? string.Empty : "display-none")">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[API Token]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <input type="text" class="form-control col-md-6 no-margin" name="apiToken" placeholder="[[[API Token]]]" id="api-token" value="@(Model != null && Model.Okta != null && !string.IsNullOrWhiteSpace(Model.Okta.ApiToken) ? Model.Okta.ApiToken : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
        </div>
    </div>
</div>
@*OneLogin*@
<div class="col-md-12 form-group onelogin-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.OneLogin ? string.Empty : "display-none")">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[API Client ID]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <input type="text" class="form-control col-md-6 no-margin" name="apiClientId" placeholder="[[[API Client ID]]]" id="api-client-id" value="@(Model != null && Model.OneLogin != null && !string.IsNullOrWhiteSpace(Model.OneLogin.ApiClientId) ? Model.OneLogin.ApiClientId : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
        </div>
    </div>
</div>
<div class="col-md-12 form-group onelogin-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.OneLogin ? string.Empty : "display-none")">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[API Client Secret]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <input type="text" class="form-control col-md-6 no-margin" name="apiClientSecret" placeholder="[[[API Client Secret]]]" id="api-client-secret" value="@(Model != null && Model.OneLogin != null && !string.IsNullOrWhiteSpace(Model.OneLogin.ApiClientSecret) ? Model.OneLogin.ApiClientSecret : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
        </div>
    </div>
</div>
<div class="col-md-12 form-group onelogin-fields @(Model != null && Model.KnownProviderType == KnownAuthProviders.OneLogin ? string.Empty : "display-none")">
    <div class="col-md-6 no-padding no-margin">
        <label class="app-textbox-label col-md-4 no-margin">[[[Region]]]</label>
        <div class="col-md-8 no-margin form-input-field">
            <input type="text" class="form-control col-md-6 no-margin" name="oneloginRegion" placeholder="[[[Region]]]" id="onelogin-region" value="@(Model != null && Model.OneLogin != null && !string.IsNullOrWhiteSpace(Model.OneLogin.Region) ? Model.OneLogin.Region : string.Empty)" @(ViewBag.AuthType == AuthType.OAuth ? "data-ng-disabled=!oauthIsEnabled" : "data-ng-disabled=!openidIsEnabled") />
        </div>
    </div>
</div>