@{
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/custom-domain.css" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/custom-domain.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/custom-domain.min.css" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/custom-domain.min.js"></script>
</environment>

<script>
    var validateCustomDomainUrl = "@Url.Action("ValidateCustomDomain", "CustomDomain")";
    var addCustomDomainUrl = "@Url.Action("AddCustomDomain", "CustomDomain")";
    var createSubscriptionCardUrl = "@Url.Action("AddPaymentDetail", "Payment")";
    var isCardExist = "@(GlobalAppSettings.Branding == AppBranding.BoldBI.Identifier && ViewBag.SaasPlan != (int)SaaSPlan.SingleUserPlan ? true : ViewBag.IsCardExist)";
    var updateSslCertificateUrl = "@Url.Action("UpdateSslCertificate", "CustomDomain")";
    var deleteCustomDomainUrl = "@Url.Action("DeleteCustomDomain", "CustomDomain")";
</script>
<script src="https://js.stripe.com/v3/"></script>
<div id="stripePublicKey" style="display:none">
    @ServerAppConfig.AppSettings.Subscription.StripeKey
</div>
<div id="custom-domain-popup" class="fluent-popup" style="display: none">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <span id="custom-domain-dialog-header">@T["Setup Custom Domain"]</span>
            <button type="button" title="@T["Close"]" class="close popup-close close-custom-domain" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
    </div>
    <div class="charge-custom-domain-div col-xs-12 no-padding">
        <div class="fluent-popup-body col-xs-12">
            <div class="custom-domain-logo text-center">
                <i class="su su-www"></i>
            </div>
            <div class="custom-domain-header text-center">
                <span>@T["Dashboards on your own domain!"]</span>
            </div>
            <div class="custom-domain-description">
                <label id="custom-domain-description-label" class="popup-label text-center">@T["You can use your own domain for your dashboards."]<br>
                    @string.Format(T["It includes your domain setup and an {0} Certificate."].Value,"SSL")<br>
                    <a class="domain-learn" href="@(ServerAppConfig.AppSettings.Documentation.BaseUri + GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.CustomDomain))" target="_blank">@T["Learn how to do it."]</a>
                </label>
            </div>
            @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier || ViewBag.SaasPlan == (int)SaaSPlan.SingleUserPlan)
            {
            <hr class="buy-domain-separator" />
            <div class="custom-domain-amount text-center popup-label">
                @Html.Raw(string.Format(T["You will be charged {0}/Month{1}"].Value,"<span class='custom-domain-charge'>$100<span class='charge-period'>","</span></span>"))
            </div>
            <button type="button" id="custom-domain-buy-button" class="app-button app-primary-button app-btn-primary">@T["Buy now"]</button>
            }
            else
            {
            <hr class="invisible">
            <button type="button" id="custom-domain-buy-button" class="app-button app-primary-button app-btn-primary">@T["Next"]</button>
            }

        </div>
    </div>

    <div id="billing-address-container" style="display: none;">
        <div class="fluent-popup-body col-xs-12">
            <form class="card-form no-padding col-xs-12" id="card-form-id">
                <span>
                    <label id="billing-address-label" class="popup-label">@T["Billing Address"]</label>
                </span>
                <div class="col-xs-12 col-md-12 no-padding">
                    <div class="col-xs-5 col-md-5 no-padding" id="validation-detail">
                        <span class="validation-error text"></span>
                    </div>
                </div>
                <div class="billing-address-button col-xs-12">
                    <button type="button" id="billing-address-validate-button" class="app-button app-primary-button app-btn-primary pull-right">@T["Next"]</button>
                </div>
            </form>
        </div>
    </div>

    <div id="card-payment-container" style="display: none;">
        <div class="fluent-popup-body col-xs-12">
            <form onsubmit="validateForm(event)">
                <div id="upgradecard-details">
                </div>
                <span class="col-xs-12 horizontal-divider"></span>
                <div class="payment-summary">
                    <label class="storage-payment-label">@T["Total Payment"]</label>
                    <span class="storage-total-price">$100 / Mo</span>
                </div>
                <div class="card-pay-button col-xs-12">
                    <button type="button" id="card-pay-back" class="app-button app-secondary-button app-btn-secondary pull-left">@T["Back"]</button>
                    <button type="button" id="card-pay-now-button" class="app-button app-primary-button app-btn-primary pull-right">@T["Pay Now"]</button>
                </div>
            </form>
        </div>
    </div>

    <div class="validate-custom-domain-div col-xs-12 no-padding" style="display:none">
        <div class="fluent-popup-body col-xs-12">
            <div class="custom-domain-logo text-center">
                <i class="su su-www"></i>
            </div>
            <div class="custom-domain-header text-center">
                <span>@T["Dashboards on your own domain!"]</span>
            </div>
            <div class="custom-domain-description text-center">
                <label id="custom-domain-description-label" class="popup-label text-center">
                    @Html.Raw(string.Format(T["To continue, add a {0} record mapping to the below domain name, for your domain in the {1} settings."].Value, "CNAME", "DNS"))
                    <a class="app-hyperlink" href="@(ServerAppConfig.AppSettings.Documentation.BaseUri + GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.CustomDomain))" target="_blank">@T["Learn how to do it."]</a>
                </label>
                <div class="input-group custom-domain-link-div">
                    <input onClick="this.setSelectionRange(0, this.value.length)" value="@ServerAppConfig.AppSettings.EndPoints.CustomDomainMapping" type="text" class="form-control text-center custom-domain-link" readonly />
                    <span class="input-group-btn">
                        <button class="btn btn-default su su-copy custom-domain-link-copy" type="button" readonly="" data-original-title="@T["Click to copy"]"></button>
                    </span>
                </div>

                <label class="col-xs-12 popup-label text-center domain-name-warning">@string.Format(T["Do not include {0} or {1}"].Value,"http://","https://")</label>
            </div>
            <div class="custom-domain-input col-xs-12 no-padding">
                <input id="custom-domain-name" type="text" class="form-control textarea" placeholder="www.mydashboardsite.com" maxlength="255" />
                <div id="domain-validation-message" class="col-xs-12 error-message text-center"></div>
            </div>
            <button type="button" id="custom-domain-validate-button" class="app-button app-primary-button app-btn-primary" disabled="disabled">@T["Validate and proceed"]</button>
        </div>
    </div>

    <form class="upload-ssl-certificate-div" method="post" action="" enctype="multipart/form-data" id="sslform" style="display:none">
        <div class="col-xs-12 no-padding">
            <div class="fluent-popup-body col-xs-12">
                <div class="free-ssl-div">
                    <span class="su su-lock"></span>
                    <span class="free-ssl-description">@string.Format(T["Get your free {0} certificate from us."].Value, "SSL")</span>
                    <span class="free-ssl-badge badge">@T["Coming soon"]</span>
                </div>
                <div class="custom-domain-header text-center">
                    <span>@string.Format(T["{0} Certificate"].Value,"SSL")</span>
                </div>
                <div class="upload-ssl-description text-center">
                    <span class="popup-label">@string.Format(T["Upload {0} certificate to make your website secure."].Value,"SSL")</span>
                </div>
                <div class="ssl-certificate-input col-xs-12 no-padding">
                    <div class="no-padding ssl-certificate-upload-div">
                        <div class="input-group input-file ssl-certificate-upload" name="ssl-certificate">
                            <input type="text" class="form-control ssl-browsefile-input" placeholder='@T["Browse file path"]' />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-choose ssl-browsefile-button" type="button">@T["Browse"]</button>
                            </span>
                        </div>
                    </div>
                    <div class="no-padding certificate-password-div">
                        <input id="ssl-certificate-password" type="password" class="form-control textarea" name="sslpassword" placeholder="@T["Password"]" maxlength="255" />
                    </div>
                </div>
                <div id="certificate-upload-validation-message" class="col-xs-12 error-message text-center"></div>
                <div class="ssl-certificate-button col-xs-8">
                    <button type="button" id="ssl-certificate-validate-back" class="app-button app-secondary-button app-btn-secondary pull-left">@T["Back"]</button>
                    <button type="button" id="ssl-certificate-validate-button" class="app-button app-primary-button app-btn-primary pull-right" disabled="disabled">@T["Validate and proceed"]</button>
                </div>
            </div>
        </div>
    </form>

    <div class="domain-registration-success col-xs-12 no-padding" style="display:none">
        <div class="fluent-popup-body col-xs-12">
            <div class="registration-success-header text-center">
                <i class="su su-password-tick"></i>
            </div>
            <div class="registration-success-description text-center">
                @T["Your domain has been registered successfully!"]
            </div>
            <a class="custom-domain-address text-center" href="#">
                www.mydashboardsite.com
            </a>
            <hr class="registration-success-separator" />
            <div class="ssl-validity text-center">
                @Html.Raw(string.Format(T["{0} certificate valid until {1}"].Value,"SSL","<span class='valid-until-date'></span>"))
            </div>
            <button type="button" class="app-button app-secondary-button app-btn-secondary registration-success-close">@T["Close"]</button>
        </div>
    </div>
</div>

<div id="update-ssl-certificate-popup" class="fluent-popup" style="display: none">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <i class="su su-edit"></i>
            <span id="custom-domain-dialog-header">@string.Format(T["Update {0} Certificate"].Value,"SSL")</span>
            <button type="button" title="@T["Close"]" class="close popup-close close-update-ssl" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </h4>
    </div>

    <form class="upload-ssl-certificate" method="post" action="" enctype="multipart/form-data" id="updatesslform" style="display:none">
        <div class="col-xs-12 no-padding">
            <div class="fluent-popup-body col-xs-12">
                <div class="custom-domain-header text-center">
                    <span>@string.Format(T["{0} Certificate"].Value, "SSL")</span>
                </div>
                <div class="upload-ssl-description text-center">
                    <span class="popup-label">@string.Format(T["Upload {0} certificate to make your website secure."].Value,"SSL")</span>
                </div>
                <div class="ssl-certificate-input col-xs-12 no-padding">
                    <div class="no-padding ssl-certificate-upload-div">
                        <div class="input-group update-input-file ssl-certificate-upload" name="ssl-certificate">
                            <input type="text" class="form-control ssl-browsefile-input" placeholder='@T["Browse file path"]' />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-choose ssl-browsefile-button" type="button">@T["Browse"]</button>
                            </span>
                        </div>
                    </div>
                    <div class="no-padding certificate-password-div">
                        <input id="update-ssl-certificate-password" type="password" class="form-control textarea" name="sslpassword" placeholder="@T["Password"]" maxlength="255" />
                    </div>
                </div>
                <div id="update-certificate-validation-message" class="col-xs-12 error-message text-center"></div>
                <div class="ssl-certificate-button col-xs-6">
                    <button type="button" id="update-ssl-certificate-validate-button" class="app-button app-primary-button app-btn-primary pull-right" disabled="disabled">@T["Validate and proceed"]</button>
                </div>
            </div>
        </div>
    </form>

    <div class="domain-registration-success col-xs-12 no-padding" style="display:none">
        <div class="fluent-popup-body col-xs-12">
            <div class="registration-success-header text-center">
                <i class="su su-password-tick"></i>
            </div>
            <hr class="registration-success-separator" />
            <div class="ssl-validity text-center">
                @string.Format(T["{0} certificate has been updated successfully."].Value, "SSL")<br>
                @Html.Raw(string.Format(T["The {0} certificate is valid until {1}"].Value, "SSL", "<span class='valid-until-date'></span>"))
            </div>
            <button type="button" class="app-button app-secondary-button app-btn-secondary registration-success-close">@T["Close"]</button>
        </div>
    </div>
</div>

<div class="modal no-padding" id="custom-domain-delete-confirmation" tabindex="-1" role="dialog" style="display:none">
    <div class="col-lg-12 modal-dialog no-padding" role="document">
        <div class="col-lg-12 modal-content no-padding" autocomplete="off">
            <div class="col-md-12 modal-header">
                <div class="col-xs-8 no-padding">
                    <i class="su su-delete head-icon"></i>
                    <span class="modal-title">@T["Delete Custom Domain"]</span>
                </div>
                <div class="col-xs-4 no-padding">
                    <a href="javascript:void(0);" onclick="OnDeleteCustomDomainClose()" class="close">
                        <i class="su su-close"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body col-xs-12">
                <div class="col-xs-12 no-left-padding no-bottom-padding no-right-padding">
                    <div class="delete-msg">@T["Are you sure you want to delete the custom domain?"]</div>
                </div>
            </div>
            <div class="col-xs-12 modal-footer  no-right-padding no-left-padding">
                <div class="col-xs-4"><input type="hidden" id="hiddenId" /></div>
                <div class="col-xs-8 no-padding">
                    <input type="button" id="delete-custom-domain-confirmation" class="app-button app-critical-action-button app-btn-danger" value="@T["Yes"]" tabindex="1" autofocus />
                    <input type="button" onclick="OnDeleteCustomDomainClose()" class="app-button app-secondary-button app-btn-secondary popup-close" value="@T["No"]" tabindex="2" />
                </div>
            </div>
        </div>
    </div>
</div>
