<div id="default-authentication-confirmation-diolog" class="modal no-padding" tabindex="-1" role="dialog">
    <div class="modal-dialog no-margin">
        <div id="popup-container" class="col-lg-12 no-padding modal-content">
            <div class="col-12 modal-header no-padding">
                <div class="col-xs-11 no-padding">
                    <i id="default-icon" class="su su-open"><i class="su su-open path1"></i></i>
                    <span class="popup-title col-xs-10 modal-title">@T["Confirmation Default Authentication"]</span>
                </div>
                <div class="col-xs-1 no-padding float-end">
                    <a id="default-authentication-confirmation-diolog-close" href="#" class="popup-close" title="@T["Close"]">
                        <span class="su su-close"></span>
                    </a>
                </div>
            </div>
            <div class="modal-body col-12">
                <p>@T["You have chosen this as the default authentication. If you disable this setting, the default authentication settings will be reverted."]</p><br>
                <p>@T["Would you like to proceed?"]</p>
            </div>
            <div class="col-12 modal-footer">
                <div class="col-4"></div>
                <div class="col-xs-8 no-padding">
                    <input type="button" value="@T["Yes"]" ng-click="confirmSsoSetting()" class="app-button app-primary-button app-btn-primary update-oauth-or-openid-settings">
                    <input type="button" id="update-oauth-or-openid-settings" value="@T["No"]" class="app-button app-secondary-button app-btn-secondary">
                </div>
            </div>
        </div>
    </div>
</div>