@{
    var helpSiteBaseUrl = ServerAppConfig.AppSettings.Documentation.BaseUri;
    var localizationHelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.Localization);
}

<div class="col-lg-12 admin-page-body">
    <h3 class="title col-lg-12 sub-section-heading">[[[Display]]]</h3>
    <div class="form-group">
        @Html.Label("time-zone", "[[[Time Zone]]]", new { @class = "app-textbox-label col-lg-2" })
        <div class="dropdown site-settings-drop-down col-lg-4">
            @Html.DropDownList("timezone", ViewBag.listTimeZone as IEnumerable<SelectListItem>, new { id = "time-zone", @class = "selectpicker form-control", data_none_results_text = "[[[No results match]]]", data_size = "10", title = "[[[Select Timezone]]]", data_live_search = "true", data_live_search_placeholder = "[[[Search]]]" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("ejMM_DD_YYYY", "[[[Date format]]]", new { @class = "app-textbox-label col-lg-2" })

        <div class="col-lg-10 top-padding">
            <div class="col-sm-3 no-padding">
                <input type="radio" class="css-radio" id="MM_DD_YYYY" name="date_format" value="MM/dd/yyyy" @(ViewBag.SystemSettings.DateFormat == "MM/dd/yyyy" ? "checked" : string.Empty) />
                <label for="MM_DD_YYYY">MM/DD/YYYY</label>
            </div>
            <div class="col-sm-3 no-padding">
                <input type="radio" class="css-radio" id="DD_MM_YYYY" name="date_format" value="dd/MM/yyyy" @(ViewBag.SystemSettings.DateFormat == "dd/MM/yyyy" ? "checked" : string.Empty) />
                <label for="DD_MM_YYYY">DD/MM/YYYY</label>
            </div>
            <div class="col-sm-3 no-padding">
                <input type="radio" class="css-radio" id="DD_MMM_YYYY" name="date_format" value="d MMM, yyyy" @(ViewBag.SystemSettings.DateFormat == "d MMM, yyyy" ? "checked" : string.Empty) />
                <label for="DD_MMM_YYYY">DD MMM YYYY</label>
            </div>
            <div class="col-sm-3 no-padding">
                <input type="radio" class="css-radio" id="MMM_DD_YYYY" name="date_format" value="MMM d, yyyy" @(ViewBag.SystemSettings.DateFormat == "MMM d, yyyy" ? "checked" : string.Empty) />
                <label for="MMM_DD_YYYY">MMM DD YYYY</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Use 24-hour format", "[[[Use 24-hour format]]]", new { @class = "app-textbox-label col-xs-2" })
        <div class="col-xs-4 timeformat switch-align">
            <span class="material-switch text-left">
                <input type="checkbox" id="time_format" name="enablefooter" @((bool)ViewBag.SystemSettings.TimeFormat ? "checked" : string.Empty) />
                <label for="time_format" class="label-primary"></label>
            </span>
            <div class="time">
                [[[13.00]]]
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-2"></div>
                <span class="validation-message col-xs-4" message=13></span>
            </div>

        </div>
    </div>
    @if (ServerAppConfig.IsSelfHosted)
    {
        <div class="form-group">
            <div class="col-xs-2 user-model-language-container">
                @Html.Label("language", "[[[Application language]]]", new { @class = "col-xs-11 app-textbox-label" })
                <div class="col-xs-1 model-language-info-tag">
                    <span class="dropdown-toggle cursor-type" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                    <div class="col-xs-2 dropdown-menu common-tooltip-info" role="menu">
                        [[[The language used in the application user interface (such as menu items, dialog boxes, toolboxes, and more).]]]

                        @if (!@ServerAppConfig.IsHideHelpLink)
                        {
                            <br><br>
                            <span>[[[Click]]] <a href = "@(helpSiteBaseUrl + localizationHelpSiteUrl)" target="_blank" >[[[here]]]</a> [[[to learn how to add new localization in Bold BI.]]]</span>
                        }
                    </div>
                </div>
            </div>
            <div class="dropdown col-xs-4 language-group">
                @Html.DropDownList("language", ViewBag.languageList as IEnumerable<SelectListItem>, new { id = "language", @class = "selectpicker form-control pull-left", data_live_search = "false" })
                <input type="hidden" id="lang_tag" value="@ViewBag.systemLanguage">
                <input type="hidden" id="return_url" value="@ViewBag.SystemSettings.BaseUrl">
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-xs-2 user-model-language-container">
            <label class="col-xs-11 app-textbox-label" id="user-model-language">[[[Data language]]]</label>
            <div class="col-xs-1 model-language-info-tag">
                <span class="dropdown-toggle cursor-type" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                <div class="col-xs-2 dropdown-menu common-tooltip-info" role="menu">
                    [[[The language used in date, number, and currency formats.]]]
                </div>
            </div>
        </div>
        <div class="dropdown col-xs-4 language-group" id="model-language-dropdown">
            @Html.DropDownList("model-language", ViewBag.ModelLanguages as IEnumerable<SelectListItem>, new { id = "model-language", @class = "selectpicker form-control pull-left", data_live_search = "true", data_size = 10 })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Disable user preference", "[[[Disable user preference]]]", new { @class = "app-textbox-label col-xs-2" })
        <div class="col-xs-4 switch-align">
            <span class="material-switch text-left">
                <input type="checkbox" id="system-language-preference" name="enablefooter" @((bool)ViewBag.SystemSettings.IsSystemLanguagePreference ? "checked" : string.Empty) />
                <label for="system-language-preference" class="label-primary"></label>
            </span>
        </div>
    </div>
</div>
