@{
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = "[[[Email Settings]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    var mailAuthenticationTypes = new List<SelectListItem>
{
        new SelectListItem { Value = "0", Text = "[[[Anonymous authentication]]]", Selected = globalAppSettings.SystemSettings.MailSettingsAuthType == MailSettingsAuthType.Anonymous },
        new SelectListItem { Value = "1", Text = "[[[Basic authentication]]]", Selected = globalAppSettings.SystemSettings.MailSettingsAuthType == MailSettingsAuthType.Basic }
    };
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}


<div id="mail-settings-container" class="col-md-12 col-lg-12 col-sm-12 admin-page-container" role="tabpanel" aria-labelledby="email-settings">
    <div id="email-setting" class="admin-page-header col-md-12 col-lg-12 col-sm-12">
        <hgroup>
            <h1 class="h2 page-title">
                [[[EMAIL SETTINGS]]]
            </h1>
            <h5 class="page-description">
                [[[Configuration for sending emails from application]]]
            </h5>
        </hgroup>
    </div>

    <div id="email-setting-body" class="admin-page-body">
        <form id="email-setting-form" class="row admin-page-form" autocomplete="off">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("smtp-address", "[[[SMTP Server]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <input type="text" id="smtp-address" class="form-control mail-settings-fields" name="smtp_address" placeholder="[[[SMTP server]]]" value="@ViewBag.SystemSettings.MailSettingsHost" />
                    <span class="validation-errors"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("port-number", "[[[SMTP Port]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <input type="text" id="port-number" class="form-control mail-settings-fields" name="port_number" placeholder="[[[SMTP port]]]" value="@ViewBag.SystemSettings.MailSettingsPort" />
                    <span class="validation-errors"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("mail-display-name", "[[[Sender Name]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <input type="text" id="mail-display-name" class="form-control mail-settings-fields" name="mail_display_name" placeholder="[[[Sender name]]]" value="@ViewBag.SystemSettings.MailSettingsSenderName" />
                    <span class="validation-errors"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("mail-user-name", "[[[Sender Email Address]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <input type="text" id="mail-user-name" class="form-control mail-settings-fields" name="mail_user_name" placeholder="[[[Sender email address]]]" value="@ViewBag.SystemSettings.MailSettingsAddress" />
                    <span class="validation-errors"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("mail-authentication-type", "[[[Authentication Type]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    @Html.DropDownList("auth_type", mailAuthenticationTypes, new { @class = "selectpicker", id = "mail-authentication-type" })
                    <span class="validation-errors"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("sender-user-name", "[[[Username]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    @if (globalAppSettings.SystemSettings.MailSettingsAuthType == MailSettingsAuthType.Basic)
                    {
                        <input type="text" id="sender-user-name" class="form-control mail-settings-fields mail-credentials" name="sender_user_name" placeholder="[[[Username]]]" value="@ViewBag.SystemSettings.MailSettingsUserName" />
                    }
                    else
                    {
                        <input type="text" id="sender-user-name" class="form-control mail-settings-fields mail-credentials" name="sender_user_name" placeholder="[[[Username]]]" disabled="disabled" />
                    }
                    <span class="validation-errors"></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("mail-password", "[[[Password]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8">
                    <input type="text" class="hidden-input" style="display: none;">
                    <input style="visibility: hidden; position: absolute; left: -99999px" class="hidden-input" type="password" name="fake_passwordfield_to_turnoff_autocomplete">
                    @if (globalAppSettings.SystemSettings.MailSettingsAuthType == MailSettingsAuthType.Basic)
                    {
                        <input type="password" id="mail-password" class="form-control mail-settings-fields mail-credentials" name="mail_password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" />
                    }
                    else
                    {
                        <input type="password" id="mail-password" class="form-control mail-settings-fields mail-credentials" name="mail_password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" disabled="disabled" />
                    }
                    <div class="show-hide-password su su-eye"></div>
                    <span class="validation-errors"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                @Html.Label("secure-mail-authentication", "[[[Enable SSL]]]", new { @class = "app-textbox-label col-lg-2 col-md-2 col-sm-3 col-xs-4" })
                <div class="form-input-field col-lg-4 col-md-5 col-sm-6 col-xs-8 switch-align">
                    <span class="material-switch text-left">
                        <input type="checkbox" id="secure-mail-authentication" name="secure-mail-authentication" @((bool)ViewBag.SystemSettings.MailSettingsIsSecureAuthentication ? "checked" : string.Empty) />
                        <label for="secure-mail-authentication" class="label-primary"></label>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="admin-page-actions col-lg-12 col-md-12">
        <a href="@Url.Action("Index","Home")" class="secondary-button pull-right" id="UpdateSystemSettingsCancel-bottom" title="">[[[Cancel]]]</a>
        <button type="button" title="" id="UpdateSystemSettings-bottom" name="UpdateSystemSettings" class="primary-button pull-right">
            <span>[[[Save]]]</span>
        </button>
    </div>
</div>

@section scripts{
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/emailConfiguration.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/emailConfiguration.min.js"></script>
    </environment>
}
