<div id="emaillog-info-popup" class="fluent-popup custom-bootstrap-styles custom-server-style" style="display: none" ng-controller="EmailLogInfoCtrl">
    <div class="fluent-item-popup-body">
        <span class="email-log-event">
            <label class="info-label">@T["Event"]</label> {{EmailLogDetail.Event}}
        </span>
        <span class="email-log-date">
            <label class="info-label">@T["Date"]</label> {{EmailLogDetail.ModifiedDateString}}
        </span>
        <span class="email-log-status">
            <label class="info-label">@T["Status"]</label> {{EmailLogDetail.Status}}
        </span>
        <span class="email-log-recipient">
            <label class="info-label">@T["Recipient"]</label> <span data-bs-toggle="tooltip" data-original-title="{{EmailLogDetail.RecipientEmail}}">{{EmailLogDetail.RecipientEmail}}</span>
        </span>
        <span class="email-log-initiated">
            <label class="info-label">@T["Initiated By"]</label> <span data-bs-toggle="tooltip" data-original-title="{{EmailLogDetail.InitiatedBy}}">{{EmailLogDetail.InitiatedBy}}</span>
        </span>
        <div class="mail-error-message" ng-show="EmailLogDetail.Status === 'Failed'">
            <label class="info-label">@T["Error Message"]</label>
            <div id="mail-error-message" class="form-control" name="text" readonly>{{EmailLogDetail.StatusMessage}}</div>
        </div>
        <div class="mail-body">
            <label class="info-label">@T["Email Message"]</label>
            <div id="mail-body" class="form-control" name="text" readonly >{{EmailLogDetail.MailBody}}</div>
        </div>
    </div>
</div>