@{
    var activeTab = (!string.IsNullOrWhiteSpace(Context.Request.Query["tab"]) && Context.Request.Query["tab"].ToString().ToLower() == "attributes") ? "active" : string.Empty;
}

<!DOCTYPE html>
<head>
    <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var siteAttributesUrl = "@Url.Action("GetSiteAttributes", "CustomAttribute")";
        $(document).ready(function () {
            $("#SiteAttributesGrid").ejGrid({
                dataSource: null,
                gridLines: ej.Grid.GridLines.None,
                allowSorting: true,
                allowSearching: true,
                allowPaging: true,
                allowSelection: true,
                allowFiltering: true,
                filterSettings: { filterType: "menu" },
                pageSettings: { pageSize: 8 },
                enableRowHover: true,
                enableAltRow: false,
                create: "initialSiteGridCreate",
                dataBound: function (args) {
                    $('[data-bs-toggle="tooltip"]').tooltip();
                },
                columns: [
                    { field: 'Name', templateID: "#attribute-name-template", headerText: "@T["Name"]", width: 40, allowSorting: true, allowFiltering: true },
                    { field: 'Value', templateID: "#attribute-value-template", headerText: "@T["Value"]", width: 60, allowSorting: true, allowFiltering: true },
                    { field: 'Description', templateID: "#attribute-description-template", headerText: "@T["Description"]", width: 50, allowSorting: true, allowFiltering: true },
                    { field: 'ModifiedDateString', headerText: "@T["Last Modified"]", width: 40, allowSorting: true, allowFiltering: false },
                    { field: 'Options', headerText: '', templateID: "#options", width: 20, allowSorting: false, allowFiltering: false }
                ]
            });

            $.ajax({
                type: "GET",
                url: siteAttributesUrl,
                success: function (result) {
                    if (result.Status) {
                        var siteAttributesGrid = $("#SiteAttributesGrid").data("ejGrid");
                        siteAttributesGrid.dataSource(result.Attributes);
                    }
                    $("#SiteAttributesGrid").ejWaitingPopup("hide");
                }
            });
        });
    </script>
    <script type="text/x-jsrender" id="attribute-name-template">
        <span class="grid-content" title="{{:Name}}" data-bs-toggle="tooltip">{{:Name}}</span>
    </script>
    <script type="text/x-jsrender" id="attribute-value-template">
        <span class="grid-content" title="{{:Value}}" data-bs-toggle="tooltip">{{:Value}}</span>
    </script>
    <script type="text/x-jsrender" id="attribute-description-template">
        <span class="grid-content" title="{{:Description}}" data-bs-toggle="tooltip">{{:Description}}</span>
    </script>
</head>
<body>
    <div role="tabpanel" class="tab-pane @activeTab" id="custom-attributes">
        <div id="site-attribute-body" class="bi-page-body col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padding">
                <div id="SiteAttributesGrid"></div>
            </div>
            <script type="text/x-jsrender" id="options">
                <div class="user-hover-options">
                    <a href="#" id="edit-site-attribute" title="@T["Edit"]" data-bs-toggle="tooltip" data-id="{{:Id}}" data-name="site">
                        <i class="su su-edit"></i>
                    </a>
                    <a class="delete-class" href="#;" id="remove-site-attribute" title="@T["Remove"]" data-bs-toggle="tooltip" data-id="{{:Id}}" data-name="site">
                        <i class="su su-delete"></i>
                    </a>
                </div>
            </script>
        </div>
    </div>
</body>