@using System.Runtime.InteropServices;
@{
    var globalAppSettings = _globalAppSettings;
    var tenantAppConfig = new TenantAppConfiguration(globalAppSettings);
    var showSyncfusionBrand = globalAppSettings.SystemSettings.IsShowPoweredBySyncfusion ? "form-group" : "form-group hide";
    var defaultAppLogo = globalAppSettings.SystemSettings.CDNLink + "/images/application/" + ServerAppConfig.AppSettings.AppBranding.Identifier + "/" + IconFileNames.MainLogo;
    var appLogo = (globalAppSettings.SystemSettings.MainScreenLogo.EndsWith(IconFileNames.MainLogo) || globalAppSettings.SystemSettings.MainScreenLogo.EndsWith("main_logo.png")) ? defaultAppLogo : globalAppSettings.SystemSettings.MainScreenLogo;
    var protocolTypes = new List<SelectListItem>
{
        new SelectListItem { Text = "http", Value = "http", Selected = !globalAppSettings.SystemSettings.IsSecureConnection },
        new SelectListItem { Text = "https", Value = "https", Selected = globalAppSettings.SystemSettings.IsSecureConnection }
    };
    var helpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.DomainBinding);
    var isWindowsPlatform = RuntimeInformation.IsOSPlatform(OSPlatform.Windows);
}
<script>
    var isSitesPage = "true";
</script>
<div id="look-and-feel-container" class="admin-page-container col-xs-12">
    <div id="organization-block" class="col-xs-12 no-padding">
        <div class="col-md-12 import-area admin-page-header">
            <hgroup class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                <h1 class="h2 page-title">[[[SITE SETTINGS]]]</h1>
                <h5 class="page-description">[[[Rebrand with your company name, logo, domain, time zone, and date-time display formats.]]]</h5>
            </hgroup>
        </div>

        <form id="look-and-feel-form" class="col-md-12 form-horizontal no-padding" autocomplete="off">
            @if (ServerAppConfig.IsSelfHosted)
            {
                <div class="general-sub-section admin-page-body">
                    <h3 class="title col-xs-12  sub-section-heading">[[[General]]]</h3>
                    <div class="form-group margin_btm_30" style="margin-top:15px">
                        @Html.Label("site-orgname", "[[[Organization name]]]", new { @class = "col-xs-2 app-textbox-label" })
                        <div class="col-xs-4" id="site-orgname-section">
                            <input type="text" id="site-orgname" class="form-control site-orgname-fields" placeholder="[[[Enter your Organization Name]]]" value="@ViewBag.SystemSettings.OrganizationName" data-original-value="@ViewBag.SystemSettings.OrganizationName" />
                        </div>
                    </div>
                    <div class="form-group margin_btm_30">
                        @Html.Label("enable-ssl", "[[[Site URL]]]", new { @class = "col-xs-2 app-textbox-label" })

                        <div id="ssl-selectpicker" class="input-group col-xs-4">
                            <div class="input-group-addon">
                                @Html.DropDownList("enableSsl", protocolTypes, new { id = "enable-ssl", @class = "selectpicker", data_live_search = "false" })
                            </div>
                            <div class="col-xs-12 no-padding">
                                <input type="text" id="site-base-url" name="site-base-url" class="form-control site-url-fields" placeholder="[[[Enter your URL]]]" value="@ViewBag.authority" data-original-value="@ViewBag.authority" />
                            </div>
                        </div>
                        @if (isWindowsPlatform)
                        {
                            <div class="col-xs-6" id="help_text" style="display: @ViewBag.icon">
                                <span id="error_icon" class="su su-info info-settings" title=""></span>
                                <div class="col-xs-2 dropdown-menu" id="ssl-help-message" style="display: none">
                                    [[[The server needs to be hosted in IIS with a valid SSL certificate assigned to it.]]]

                                    @if (!@ServerAppConfig.IsHideHelpLink)
                                    {
                                        <span>[[[Click]]] <a href="@(ServerAppConfig.AppSettings.Documentation.BaseUri + @helpSiteUrl)" target="_blank">[[[here]]]</a> [[[for more details.]]]</span>
                                    }
                                </div>
                            </div>
                        }
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-2"></div>
                            <span class="validation-errors col-xs-4" id="site-url-validation"></span>
                        </div>
                        <input type="hidden" class="hidden-input" id="scheme_value" data-value="@ViewBag.scheme">
                    </div>
                    @*<div class="form-group">
                            @Html.Label("login-welcome-text", "[[[Welcome note]]]", new { @class = "col-xs-2 app-textbox-label" })
                            <div class="col-xs-4">
                                <textarea rows="3" maxlength="70" id="txt_welcome_note" class="form-control welcome-note-text NotificationContent" placeholder="[[[Welcome note]]]">@ViewBag.SystemSettings.WelcomeNoteText</textarea>
                                <span class="info-text">*[[[70 characters maximum]]]</span>
                            </div>
                        </div>*@
                </div>
            }

            @await Html.PartialAsync("~/Views/Administration/_DisplaySettings.cshtml")

            <div class="branding-sub-section admin-page-body @(ViewBag.ThirdPartyLogins ||  ViewBag.WhiteLabel || ViewBag.CustomDomain ? string.Empty : "unlock-enterprise-features")">
                <h3 class="title col-xs-12  sub-section-heading blur-whitelable-content">[[[Branding]]]</h3>
                @if (!ServerAppConfig.IsSelfHosted)
                {
                    <div class="form-group blur-whitelable-content" style="margin-top:15px">
                        @Html.Label("site-orgname", "[[[Organization name]]]", new { @class = "col-xs-2 app-textbox-label" })
                        <div class="col-xs-4" id="site-orgname-section">
                            <input type="text" id="site-orgname" class="form-control site-orgname-fields" placeholder="[[[Enter your Organization Name]]]" value="@ViewBag.SystemSettings.OrganizationName" data-original-value="@ViewBag.SystemSettings.OrganizationName" />
                        </div>
                    </div>
                    <div class="form-group blur-whitelable-content">
                        @Html.Label("enable-ssl", "[[[Domain]]]", new { @class = "col-xs-2 app-textbox-label" })

                        <div class="col-xs-4 custom-domain-section">
                            <input type="text" id="site_url" name="site_url" disabled class="form-control site-url-fields" placeholder="[[[Enter your URL]]]" value="@ViewBag.SystemSettings.BaseUrl" data-original-value="@ViewBag.SystemSettings.BaseUrl" />

                            <div class="custom-domain pull-left no-padding">
                                @if (!ViewBag.IsCustomDomain)
                                {
                                    <span>[[[Now, you can use your own domain]]]</span>
                                    <button type="button" title="" id="add-custom-domain" class="app-button app-secondary-button custom-domain-btn">
                                        [[[Use custom domain]]]
                                    </button>
                                }
                                else
                                {
                                    <div class="alert alert-success no-margin">
                                        [[[SSL Certificate expires on]]] <b>@ViewBag.ExpirationDate</b>
                                    </div>

                                    @*<button type="button" title="" id="update-custom-domain" class="app-button app-secondary-button custom-domain-btn no-margin">
                                            [[[Update custom domain]]]
                                        </button>*@
                                }
                            </div>
                        </div>

                        <input type="hidden" class="hidden-input" id="scheme_value" data-value="@ViewBag.scheme">
                    </div>
                }

                <div class="col-xs-6 no-margin no-padding blur-whitelable-content">

                    <div class="form-group highlight-image" data-image="login-screen">
                        @Html.Label("login-screen-image", "[[[Login screen logo]]]", new { @class = "col-xs-4 app-textbox-label" })
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input type="text" id="upload-login-image-textbox" class="form-control filename-text" value="[[[Browse file path]]]" readonly>
                                <span id="upload-login-image-addon" class="input-group-addon">
                                    <div id="upload-login-image" class="settings-upload-button">
                                    </div>
                                </span>
                            </div>
                            <span class="info-text">
                                *[[[200x40 pixels preferred]]]
                            </span>
                        </div>
                    </div>

                    <div class="form-group highlight-image" data-image="header-logo">
                        <label class="col-xs-4 app-textbox-label">[[[Header logo]]]</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input type="text" id="upload-main-screen-image-textbox" class="form-control filename-text" value="[[[Browse file path]]]" readonly>
                                <span id="upload-main-screen-image-addon" class="input-group-addon"><div id="upload-Main-screen-image" class="settings-upload-button"></div></span>
                            </div>

                            <span class="info-text">
                                *[[[40x40 pixels preferred]]]
                            </span>
                        </div>
                    </div>

                    <div class="form-group highlight-image" data-image="favicon">
                        <label class="col-xs-4 app-textbox-label">[[[Favicon]]]</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input type="text" id="upload-favicon-image-textbox" class="form-control filename-text" value="[[[Browse file path]]]" readonly>
                                <span id="upload-favicon-image-addon" class="input-group-addon">
                                    <div id="upload-favicon-image" class="settings-upload-button"></div>
                                </span>
                            </div>
                            <span class="info-text">
                                *[[[40x40 pixels preferred]]]
                            </span>
                        </div>
                    </div>

                    <div class="form-group highlight-image" data-image="email-logo">
                        <label class="col-xs-4 app-textbox-label">[[[Email logo]]]</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input type="text" id="upload-emaillogo-image-textbox" class="form-control filename-text" value="[[[Browse file path]]]" readonly>
                                <span id="upload-emaillogo-image-addon" class="input-group-addon">
                                    <div id="upload-emaillogo-image" class="settings-upload-button"></div>
                                </span>
                            </div>
                            <span class="info-text">
                                *[[[200x40 pixels preferred]]]
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center blur-whitelable-content">
                    <div id="image-container" class="center-img">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="login-img">
                                        <span data-toggle="tooltip" data-animation="true" class="app-img-container tooltip-container" data-image="login-screen">
                                            <img id="display-login-logo" src="@globalAppSettings.SystemSettings.LoginLogo" height="40" alt="[[[Login screen logo]]]" />
                                        </span>
                                        <div class="applogo-label">[[[Login screen logo]]]</div>
                                    </td>
                                    <td>
                                        <span class="app-img-container favicon tooltip-container" data-toggle="tooltip" data-animation="true" data-image="favicon">
                                            <img id="favicon_logo_img" src="@globalAppSettings.SystemSettings.FavIcon" width="16" height="16" alt="[[[Favicon]]]" />
                                        </span>
                                        <div class="applogo-label">[[[Favicon]]]</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="separator-img no-padding">
                                        <img src="@Url.Content("~/images/divider_light.png")" alt="divider" />
                                    </td>
                                    <td class="separator-img no-padding">
                                        <img src="@Url.Content("~/images/divider_light.png")" alt="divider" />
                                    </td>
                                </tr>
                                <tr width="200">
                                    <td>
                                        <span class="app-img-container header-icon tooltip-container" data-toggle="tooltip" data-animation="true" data-image="header-logo">
                                            <img id="mainscreen_logo_img" src="@appLogo" height="40" alt="[[[Header logo]]]" />
                                        </span>
                                        <div class="applogo-label">[[[Header logo]]]</div>
                                    </td>
                                    <td class="email-logo-img">
                                        <span class="app-img-container email-icon tooltip-container" data-toggle="tooltip" data-animation="true" data-image="email-logo">
                                            <img id="email_logo_img" src="@globalAppSettings.SystemSettings.EmailLogo" height="40" alt="[[[Email logo]]]" />
                                        </span>
                                        <div class="applogo-label">[[[Email logo]]]</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="@showSyncfusionBrand blur-whitelable-content">
                    @Html.Label("enablepoweredbysyncfusion", "[[[Show powered by Syncfusion]]]", new { @class = "app-textbox-label col-xs-2" })
                    <div class="col-xs-4 enablepoweredbysyncfusion switch-align">
                        <span class="material-switch text-left">
                            <input type="checkbox" id="enablepoweredbysyncfusion" name="enablefooter" @((bool)ViewBag.SystemSettings.IsEnablePoweredBySyncfusion ? "checked" : string.Empty) />
                            <label for="enablepoweredbysyncfusion" class="label-primary"></label>
                        </span>
                    </div>
                </div>
                <div class="form-group blur-whitelable-content">
                    @Html.Label("enablecopyrightinfo", "[[[Show copyright information]]]", new { @class = "app-textbox-label col-xs-2" })
                    <div class="col-xs-4 enablecopyrightinfo switch-align">
                        <span class="material-switch text-left">
                            <input type="checkbox" id="enablecopyrightinfo" name="enablefooter" @((bool)ViewBag.SystemSettings.IsEnableCopyrightInfo ? "checked" : string.Empty) />
                            <label for="enablecopyrightinfo" class="label-primary"></label>
                        </span>
                    </div>
                </div>
                @if (!ServerAppConfig.IsSelfHosted)
                {
                    <div id="login-disclaimer" class="col-xs-12 no-padding" ng-controller="LoginDisclaimerInfoCtrl">
                        <div class="hidden">
                            <textarea id="temp" class="hidden"></textarea>
                            <div id="toRemoveCulture"></div>
                        </div>
                        <h3 class="title col-xs-12 login-disclaimer sub-section-heading blur-whitelable-content">[[[Login Disclaimer]]]</h3>
                        <div class="form-group blur-whitelable-content">
                            @Html.Label("enablelogindisclaimer", "[[[Enable login disclaimer]]]", new { @class = "app-textbox-label col-xs-2" })
                            <div class="col-xs-4 enablelogindisclaimer switch-align">
                                <span class="material-switch text-left">
                                    <input type="checkbox" id="enablelogindisclaimer" name="enablefooter" @(ViewBag.SystemSettings.LoginDisclaimer.IsEnabled ? "checked" : string.Empty) ng-click="enableLoginDisclaimer()" />
                                    <label for="enablelogindisclaimer" class="label-primary"></label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group blur-whitelable-content">
                            @Html.Label("enablecheckboxconsent", "[[[Users must consent every time]]]", new { @class = "app-textbox-label col-xs-2" })
                            <div class="col-xs-4 enablecheckboxconsent switch-align">
                                <span class="material-switch text-left">
                                    <input type="checkbox" id="enablecheckboxconsent" @(ViewBag.SystemSettings.LoginDisclaimer.IsEnabled ? string.Empty : "disabled") name="enablefooter" @(ViewBag.SystemSettings.LoginDisclaimer.IsConsentCheckboxEnabled ? "checked" : string.Empty) ng-click="enableConsentContent()" />
                                    <label for="enablecheckboxconsent" class="label-primary"></label>
                                </span>
                            </div>
                        </div>
                        <div id="consent-preview-container" class="col-xs-6 no-margin no-padding blur-whitelable-content">
                            <div class="form-group blur-whitelable-content">
                                <label class="app-textbox-label col-xs-4">[[[Consent content]]]</label>
                                <div class="col-xs-8 no-margin form-input-field">
                                    <input type="text" class="form-control no-margin" placeholder="[[[Enter the consent content.]]]" id="consent-content" name="consent-content" @(ViewBag.SystemSettings.LoginDisclaimer.IsEnabled ? string.Empty : "disabled") maxlength="100" value="@(ViewBag.SystemSettings.LoginDisclaimer.ConsentContent != string.Empty ? ViewBag.SystemSettings.LoginDisclaimer.ConsentContent : (ViewBag.SystemSettings.LoginDisclaimer.IsConsentCheckboxEnabled ? "[[[I have read and accept the login disclaimer.]]]" : "[[[By logging in you accept our login disclaimer.]]]"))" ng-model="consentContent" ng-change="consentContentSplit()" />
                                    <div class="validation-errors"></div>
                                </div>
                            </div>
                            <div class="form-group blur-whitelable-content">
                                <label class="app-textbox-label col-xs-4">[[[Title]]]</label>
                                <div class="col-xs-8 no-margin form-input-field">
                                    <input type="text" class="form-control no-margin" placeholder="[[[Enter the login disclaimer title.]]]" id="login-disclaimer-title" name="login-disclaimer-title" value="@(ViewBag.SystemSettings.LoginDisclaimer.Title)" maxlength="100" @(ViewBag.SystemSettings.LoginDisclaimer.IsEnabled ? string.Empty : "disabled") ng-model="consentTitle" />
                                    <div class="validation-errors"></div>
                                </div>
                            </div>
                            <div class="form-group blur-whitelable-content">
                                <label class="app-textbox-label col-xs-4">[[[Message]]]</label>
                                <div class="col-xs-8 no-margin form-input-field" id="login-temp-container">
                                    <textarea id="login-disclaimer-temp" name="login-disclaimer-temp" autocomplete="off" class="form-control no-margin" placeholder="[[[Enter the login disclaimer message.]]]" maxlength="4000" @(ViewBag.SystemSettings.LoginDisclaimer.IsEnabled ? string.Empty : "disabled") onclick="EnableDisclaimerMessage()">@(ViewBag.SystemSettings.LoginDisclaimer.Message)</textarea>
                                    <div class="validation-errors"></div>
                                </div>
                                <div class="col-xs-8 no-margin form-input-field" id="login-disclaimer-container" style="display: none">
                                    <textarea id="login-disclaimer-message" name="login-disclaimer-message" autocomplete="off" class="form-control no-margin" placeholder="[[[Enter the login disclaimer message.]]]" maxlength="4000" @(ViewBag.SystemSettings.LoginDisclaimer.IsEnabled ? string.Empty : "disabled")>@(ViewBag.SystemSettings.LoginDisclaimer.Message)</textarea>
                                    <div class="validation-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 text-center blur-whitelable-content" ng-if="loginDisclaimerEnabled">
                            <div id="image-container" class="center-img disclaimer-content-container">
                                @Html.CheckBox("content-disclaimer-checkbox", true, new { @class = "material-checkbox" })
                                <label class="content-disclaimer-name"></label>
                            </div>
                        </div>
                        <div id="consent-content-dialog" style="display: none">
                            <div class="fluent-popup-header col-xs-12 no-padding">
                                <h4 class="popup-title">
                                    <span id="info-dialog-header">{{consentTitle}}</span>
                                    <button id="close-info-dialog" type="button" title="[[[Close]]]" data-toggle="tool-tip" data-container="body" class="close popup-close" ng-click="closeConsentContentInfo()" aria-label="Close">
                                        <span class="su su-close"></span>
                                    </button>
                                </h4>
                            </div>
                            <div class="fluent-item-popup-body col-xs-12">
                                <div class="col-xs-12 no-padding" id="consent-message">
                                </div>
                            </div>
                            <div class="fluent-popup-footer text-center no-padding col-xs-12">
                                <button class="app-button app-secondary-button" ng-click="closeConsentContentInfo()" title="Close">[[[Close]]]</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>

    <div class="admin-page-actions col-lg-12 col-md-12 no-margin">
        <a href="@Url.Action("Index","Home")" class="secondary-button pull-right" id="cancel-site-settings" title="">[[[Cancel]]]</a>
        <button type="button" title="" id="update-mail-settings" name="UpdateSystemSettings" class="primary-button pull-right update-system-settings">
            [[[Save]]]
        </button>
    </div>
</div>

@if (!ServerAppConfig.IsSelfHosted && ViewBag.CustomDomain)
{
    @await Html.PartialAsync("~/Views/Administration/_CustomDomain.cshtml")
}