<div id="font-upload-dialog-popup">
    <div class="modal" tabindex="-1" role="dialog">
        <div id="font-upload-dialog" class="modal-dialog font-upload-dialog" role="document">
            <form action="@Url.Action("UploadFontFile", "Administration")" id="upload-font-form" method="post" onsubmit="return false" enctype="multipart/form-data" class="col-lg-12 no-padding modal-content upload-form" autocomplete="off" novalidate>
                <div class="col-xs-12 dialog-content">
                    <div class="col-xs-12 field-padding">
                        <label class="font-label">@T["Font file"]<span class="mandatory">*</span></label>
                        <div class="upload-box">
                            <input type="text" class="form-control no-margin trigger-font-upload-input" id="font-file-name" tabindex="-1" value="@T["Browse file path (.woff2)"]" readonly>
                            <span id="trigger-font-upload" class="input-group-addon upload-file-btn trigger-font-upload">...</span>
                            <input type="file" accept=".woff2" name="fontfile" id="font-file" class="upload-btn">
                            <span class="font-file-upload-validation-messages validation-message" id="invalid-font-file-name"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 field-padding padding-bottom">
                        <label class="font-name-label font-label">@T["Font name"]<span class="mandatory">*</span></label>
                        <div>
                            <input type="text" id="font-name" maxlength="254" class="form-control font-name" placeholder="@T["Font name"]" name="filename" data-name="font name" required>
                            <span class="validation-message invalid-font-name" id="invalid-font-name"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 modal-footer">
                    <input type="button" id="cancel-font-upload" class="secondary-button  app-btn-secondary popup-close" value="@T["Cancel"]" onclick="onUploadFontDialogCancel()" />
                    <input type="submit" id="upload-font" class="primary-button app-btn-primary" value="@T["Upload"]" disabled />
                </div>
            </form>
        </div>
    </div>
</div>
