<div id="dashboard-theme-upload-dialog-popup">
    <div class="modal" tabindex="-1" role="dialog">
        <div id="dashboard-theme-upload-dialog" class="modal-dialog applicationtheme-upload-dialog" role="document">
            <form action="@Url.Action("UploadDashboardFile", "Administration")" onsubmit="return false" method="post" enctype="multipart/form-data" class="col-lg-12 no-padding modal-content" id="upload-dashboard-theme-form" autocomplete="off" novalidate>
                <div class="col-xs-12 dialog-content">
                    <div class="col-xs-12 field-padding">
                        <label class="font-label">@T["Choose Theme File"]</label>
                        <div class="upload-box">
                            <input type="text" class="form-control no-margin applicationtheme-file-name dashboard-file-name" id="dashboard-theme-file-name" tabindex="-1" value="" placeholder="@T["Choose Theme File"]" readonly>
                            <span id="trigger-dashboard-file" class="input-group-addon upload-file-btn">...</span>
                            <input type="file" accept=".css" name="dashboardthemefile" id="dashboardtheme-file" class="upload-btn">
                            <span class="applicationthemefileupload-validation-messages validation-message" id="invalid-dashboardthemefile-name"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 field-padding">
                        <label class="font-label">@T["Theme Name"]</label>
                        <div class="">
                            <input type="text" id="dashboardtheme-name" maxlength="254" class="form-control validation theme-name" placeholder="@T["Theme Name"]" name="dashboardthemename" data-name="dashboardtheme name" required disabled>
                            <span class="applicationthemeupload-validation-messages validation-message" id="invalid-dashboardtheme-name"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 field-padding padding-bottom">
                    </div>
                </div>
                <div class="col-xs-12 modal-footer">
                    <input type="button" id="cancel-dashboardtheme-upload" class="secondary-button  app-btn-secondary popup-close" value="@T["Cancel"]" onclick="onUploadDashboardThemeDialogCancel()" />
                    <input type="submit" id="upload-dashboardtheme" class="primary-button app-btn-primary upload-applicationtheme" value="@T["Upload"]" disabled />
                </div>
            </form>
        </div>
    </div>
</div>
