<div id="webhookLog-info-popup" class="fluent-popup custom-bootstrap-styles custom-server-style" style="display: none" ng-controller="WebhookLogInfoCtrl">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <span id="info-dialog-header">@T["Details"]</span>
            <button id="close-info-dialog" type="button" title=@T["Close"] data-toggle="tool-tip" data-container="body" class="close popup-close" ng-click="closeItemInfo()" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body">
        <span class="webhook-log-event">
            <label class="info-label">@T["Event"]</label> {{WebhookLogDetail.EventDescription}}
        </span>
        <span class="webhook-log-url">
            <label class="info-label">@string.Format(T["Webhook {0}"].Value, "URL")</label> <span data-toggle="tooltip" data-original-title="{{WebhookLogDetail.RequestUrl}}">{{WebhookLogDetail.RequestUrl}}</span>
        </span>
        <span class="webhook-log-date">
            <label class="info-label">@T["Date"]</label> {{WebhookLogDetail.CreatedDateString}}
        </span>
        <span class="webhook-log-statuscode">
            <label class="info-label">@T["Status code"]</label> {{WebhookLogDetail.ResponseStatusCode}}
        </span>
        <span class="webhook-log-failure-type">
            <label class="info-label">@T["Failure Type"]</label> {{WebhookLogDetail.FailureType}}
        </span>
        <span class="webhook-log-file-content" style="display:none">
            <label class="info-label">@T["File Content"]</label> <a id="download-file-content" href="" data-toggle="tooltip" download="" title=""></a>
        </span>
        <div class="webhook-response-message">
            <label class="info-label">@T["Response Message"]</label>
            <div id="response-message" class="form-control" name="text" readonly>{{WebhookLogDetail.ResponseMessage}}</div>
        </div>
        <div class="webhook-request-data">
            <label class="info-label">@T["Request Message"]</label>
            <div id="request-message" class="form-control" name="text" readonly>{{WebhookLogDetail.RequestData}}</div>
        </div>
    </div>
    <div class="fluent-popup-footer">
        <div class="col-xs-12 no-padding">
            <button class="secondary-button" ng-click="closeItemInfo()" title="">@T["Cancel"]</button>
        </div>
    </div>
</div>