@{
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = T["Site Credentials"].Value + " - " + globalAppSettings.SystemSettings.OrganizationName;
    var model = ViewBag.GranularPermissions as Dictionary<object, bool>;
    var canShowAdminMenu = await ServerAppConfig.CanShowAdminMenu(model, _identityResponse.IsAdmin, _featureManager);
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var pageDescription = T["Client ID and secret for publishing resources between sites."];
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.SiteCredentials);
}

@section scripts{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/credentials.css" />
         <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/credentials.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/credentials.min.css" />
         <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/credentials.min.js"></script>
    </environment>
     <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var clientSecret = "@globalAppSettings.SystemSettings.TenantSecret";
    </script>
}

@section MainSection{
    @await Html.PartialAsync("_AdminMenu")
    <div class="col-12 no-padding no-margin @(canShowAdminMenu ? "width-alignment" : "admin-panel-full-width") top-nav-header-without-btn">
        @await Html.PartialAsync("../Shared/_TopHeaderSection", new ViewDataDictionary(ViewData) { { "PageHeader", @T["Site Credentials"] }, { "PageDescription", @pageDescription } })
    </div>

<div id="client-credentials-container" class="bi-page-container col-12 @(canShowAdminMenu ? string.Empty : "admin-panel-full-width")">
    <div class="bi-page-content col-12 no-padding">
        <div id="credentials-body" class="col-12 bi-page-body admin-page-body">
                <form class="admin-page-form col-12 no-padding no-padding" autocomplete="off">
                    <div class="col-12 no-padding">
                        <div class="col-md-12 no-padding">
                            @Html.Label("client-id", T["Client Id"].Value, new { @class = "app-textbox-label" })
                        </div>
                        <input type="text" class="form-control txt-holder client-values" tabindex="-1" id="my-client-id" readonly="readonly" value="@globalAppSettings.SystemSettings.TenantId" />
                        <div class="su su-copy form-control copy-client-values" id="copy-client-id" data-bs-toggle="tooltip" data-bs-original-title="@T["Click to copy"]"></div>
                    </div>
                    <div class="col-12 no-padding client-field-margin">
                        <div class="col-md-12 no-padding">
                            @Html.Label("client-secret", T["Client Secret"].Value, new { @class = "app-textbox-label" })
                        </div>
                        <div class="secret">
                            <input type="password" id="my-secret" readonly="readonly" class="form-control client-values" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" value="@globalAppSettings.SystemSettings.TenantSecret" />
                            <div class="su su-eye show-hide-password copy-client-values" id="show-client-secret" data-bs-toggle="tooltip" data-bs-original-title="@T["Click to view"]"></div>
                            <div class="su su-copy copy-client-values" id="copy-client-secret" data-bs-toggle="tooltip" data-bs-original-title="@T["Click to copy"]"></div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
   @await Html.PartialAsync("../Shared/_Footer", new ViewDataDictionary(ViewData) { { "appsettings", globalAppSettings } })
</div>
}