@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = "[[[DashboardSettings]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = true;
    var makepublic = Convert.ToBoolean(ViewBag.DashboardSettings);
    var defaultView = Convert.ToBoolean(ViewBag.DefaultViewSettings);
    var autosavedFilter = Convert.ToBoolean(ViewBag.AutosaveFilterSettings);
    var theming = Convert.ToBoolean(ViewBag.Theming);
    var helpSiteBaseUrl = ServerAppConfig.AppSettings.Documentation.BaseUri;
    var defaultViewHelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.DefaultViews);
    var autoSaveHelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.AutoSaveFilter);
    var publicDashboardsHelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.DashboardSiteSettings);
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var enableIsolation = globalAppSettings.SystemSettings.IsIsolationCodeEnabled;
    var isSettingsTab = (string.IsNullOrWhiteSpace(Context.Request.Query["tab"]) || Context.Request.Query["tab"] == "dashboard-settings") ? "active" : string.Empty;
    var isAttributeTab = (Context.Request.Query["tab"].ToString() == "attributes") ? "active" : string.Empty;
    var isDeploymentTab = (Context.Request.Query["tab"].ToString() == "deployment-dashboards") ? "active" : string.Empty;
    bool isSelfHosted = ServerAppConfig.IsSelfHosted;
    var deploymentDashboard = ViewBag.DeploymentDashboard;
    var isMaster = globalAppSettings.SystemSettings.IsMaster;
}

@section scripts{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/dashboard-settings.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/dashboard-settings.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/dashboard-settings.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/dashboard-settings.min.js"></script>
    </environment>
    <script>
          var isSelfHosted = "@isSelfHosted";
    </script>
}

@section MainSection{
    @await Html.PartialAsync("_AdminMenu")

    <div id="dashboard-settings-container" role="tabpanel" class="col-xs-12 admin-page-container">
        <div id="dashboard-settings-header" class="col-xs-12 admin-page-header">
            <hgroup>
                <h1 class="h2 page-title">
                    [[[DASHBOARD SETTINGS]]]
                </h1>
                <h5 class="page-description">
                    [[[Configuration for the Dashboards]]]
                </h5>
            </hgroup>
        </div>
        <div id="deployment-header" class="col-xs-12 admin-page-header">
            <div id="deployment-button" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                <hgroup>
                    <h1 class="h2 page-title">
                        [[[DEPLOYMENT DASHBOARDS]]]
                    </h1>
                    <h5 class="page-description">
                        [[[Dashboards created in this site can be published to other site deployment.]]]
                    </h5>
                </hgroup>
            </div>
            <div id="deployment-button" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                <button class="primary-button pull-right" id="add-dashboard" title="[[[Add Dashboard]]]">
                    <span>[[[Add Dashboard]]] </span>
                </button>
            </div>
        </div>
        <div id="site-attribute-header" class="col-xs-12 admin-page-header" style="display: none">
            <div id="site-attribute-header-div" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                <hgroup>
                    <h1 class="h2 page-title">
                        [[[Attributes]]]
                    </h1>
                    <h5 class="page-description">
                        [[[Configure site-level attributes]]]
                    </h5>
                </hgroup>
            </div>
            <div id="add-attribute-button" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                <button class="primary-button pull-right" id="add-custom-attribute" title="[[[Add Attribute]]]" onclick="addCustomAttribute('site')">
                    <span>[[[Add Attribute]]] </span>
                </button>
            </div>
        </div>

        <div>
            <ul id="dashboards-tab-nav" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="@isSettingsTab">
                    <a href="#dashboard-settings-tab" id="dashboard-settings" aria-controls="dashboard-settings-tab" role="tab" data-toggle="tab">[[[Dashboard Settings]]]</a>
                </li>
                @if (!isSelfHosted)
                {
                    <li role="presentation" class="@isAttributeTab">
                        <a href="#custom-attribute-tab" id="custom-attribute" aria-controls="custom-attribute-tab" role="tab" data-toggle="tab">[[[Attributes]]]</a>
                    </li>
                }
                else if (isMaster)
                {
                    <li role="presentation" class="@isDeploymentTab">
                        <a href="#deployment-ad-tab" id="deployment-container" aria-controls="deployment-ad-tab" role="tab" data-toggle="tab">[[[Deployment Dashboards]]]</a>
                    </li>
                }
            </ul>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane @isSettingsTab" id="dashboard-settings-tab">
                <div id="dashboard-settings-body" class="admin-page-body">
                    <div class="row input-field-wrapper">
                        <div class="col-xs-8 field-container-dashboard bottom-width ">
                            <div class="col-md-4">
                            </div>

                            <div class="col-md-2 text-center notification-header">
                                <strong>[[[Allow]]]</strong>

                            </div>
                        </div>
                        <div class="row admin-options">
                            <div class="col-xs-8 field-container-dashboard">
                                <label class="col-md-4 app-textbox-label activation">
                                    [[[Mark dashboards as public]]]

                                </label>

                                <div class="col-md-2 text-center switch-align">
                                    <span class="material-switch text-left">
                                        <input type="checkbox" id="restrict-makepublic-dashboard" @(makepublic ? "checked" : string.Empty) />

                                        <label for="restrict-makepublic-dashboard" class="label-primary"></label>
                                    </span>
                                    <div class="tool-tip col-xs-1">
                                        <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>

                                        @*To hide the widget and their related item from dashboard server cloud temporarily*@
                                        <div class="dropdown-menu" role="menu">[[[This setting will allow the dashboard creators to create public dashboards and these dashboards can be opened by an anonymous user. Click on public]]] <a class="app-hyperlink" href="@Url.Action("dashboards", "dashboards", new { view="public"})" target="_blank">[[[dashboards]]]</a> [[[to view them.]]] 
                                            @if (!@ServerAppConfig.IsHideHelpLink)
                                            {
                                            <span>[[[Learn more about ]]] <a class="app-hyperlink" href="@(helpSiteBaseUrl + publicDashboardsHelpSiteUrl)" target="_blank">[[[public dashboards.]]]</a></span>
                                            } 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row admin-options">
                            <div class="col-xs-8 field-container-dashboard">
                                <label class="col-md-4 app-textbox-label activation">
                                    [[[Default views]]]
                                </label>

                                <div class="col-md-2 text-center switch-align">
                                    <span class="material-switch text-left">
                                        <input type="checkbox" id="restrict-default-view-dashboard" @(defaultView ? "checked" : string.Empty) />

                                        <label for="restrict-default-view-dashboard" class="label-primary"></label>
                                    </span>
                                    <div class="tool-tip col-xs-1">
                                        <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                        <div class="dropdown-menu" role="menu">[[[This setting will allow users to set the default view for the dashboards.]]]
                                            @if (!@ServerAppConfig.IsHideHelpLink)
                                            {
                                                <span>[[[Learn more about ]]] <a class="app-hyperlink" href="@(helpSiteBaseUrl + defaultViewHelpSiteUrl)" target="_blank">[[[default views.]]]</a></span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row admin-options">
                            <div class="col-xs-8 field-container-dashboard">
                                <label class="col-md-4 app-textbox-label activation">
                                    [[[Auto-save filter]]]
                                </label>

                                <div class="col-md-2 text-center switch-align">
                                    <span class="material-switch text-left">
                                        <input type="checkbox" id="restrict-auto-save-filter" @(autosavedFilter ? "checked" : string.Empty) />

                                        <label for="restrict-auto-save-filter" class="label-primary"></label>
                                    </span>
                                    <div class="tool-tip col-xs-1">
                                        <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                        <div class="dropdown-menu" role="menu">[[[The dashboards will be rendered with the last applied filters by the users]]]. 
                                            @if (!@ServerAppConfig.IsHideHelpLink)
                                            {
                                                <span>[[[Learn more about ]]] <a class="app-hyperlink" href="@(helpSiteBaseUrl + autoSaveHelpSiteUrl)" target="_blank"> [[[auto-saving filters.]]]</a></span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row admin-options">
                            <div class="col-xs-8 field-container-dashboard">
                                <label class="col-md-4 app-textbox-label activation">
                                    [[[Theming]]]
                                </label>

                                <div class="col-md-2 text-center switch-align">
                                    <span class="material-switch text-left">
                                        <input type="checkbox" id="dashboard-theming-setting" @(theming ? "checked" : string.Empty) />

                                        <label for="dashboard-theming-setting" class="label-primary"></label>
                                    </span>
                                    <div class="tool-tip col-xs-1">
                                        <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                        <div class="dropdown-menu" role="menu">
                                            [[[This setting will allow the user to hide or show theme options in the dashboard]]].
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row admin-options" style="display:none">
                            <div class="col-xs-8 field-container-dashboard">
                                <label class="col-md-4 app-textbox-label activation">
                                    [[[Isolation Code]]]
                                </label>
                                <div class="col-md-2 text-center switch-align">
                                    <span class="material-switch text-left">
                                        <input type="checkbox" id="enable-isolate-code" @(enableIsolation ? "checked" : string.Empty) />
                                        <label for="enable-isolate-code" class="label-primary"></label>
                                    </span>
                                    <div class="tool-tip col-xs-1">
                                        <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                                        <div class="dropdown-menu" role="menu">[[[Defines whether isolation code has to be applied while opening the dashboards for all users except System Administrator(s). Dashboards will not be filtered using isolation code for System Administrator(s). ]]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admin-page-actions col-xs-12 col-md-12">
                    <a href="@Url.Action("dashboards", "dashboards")" class="secondary-button pull-right" id="cancel-dashboard-settings" title="">[[[Cancel]]]</a>
                    <input type="button" title="" data-url="@Url.Action("updatedashboardsettings", "administration")" id="update-dashboard-settings" class="primary-button pull-right" value="[[[Save]]]" />
                </div>
            </div>

            <div role="tabpanel" class="tab-pane col-md-12 col-lg-12 col-sm-12 admin-page-body @isDeploymentTab " id="deployment-ad-tab">
                @await Html.PartialAsync("_DeploymentDashboards")
            </div>
            @await Html.PartialAsync("_SiteAttribute")
        </div>
        @await Html.PartialAsync("_AddDeploymentDashboard")
        @await Html.PartialAsync("../CustomAttribute/_CustomAttribute")
    </div>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}