@{
    var globalAppSettings = _globalAppSettings;
    var cdnLink = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    ViewBag.Title = "[[[Data Connectors]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    bool isSelfHosted = ServerAppConfig.IsSelfHosted;
    var dashboardServerApiUrl = new DashboardServerApiEndPoints(globalAppSettings).DashboardServerApiUrl();
    var dashboardBIUrl = new DashboardServerEndPoints(globalAppSettings).DashboardServerBIUrl();
    var isAdmin = Context.Session.GetString("IsAdmin") != null && Convert.ToBoolean(Context.Session.GetString("IsAdmin"));
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.DataConnectors);
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var dashboardDesignerResourceUrl = globalAppSettings.SystemSettings.DesignerCdnLink.TrimEnd('/');
}

@section meta{
    <meta name="dashboard_server:url" content="@dashboardServerApiUrl" />
    <meta name="user:is_admin" content="@isAdmin.ToString()" />
    <meta name="designer_service:url" content="@ServerAppConfig.InternalAppDataServiceUrl" />
    <meta name="designer_service:access_token" content="@ViewBag.AccessToken" />
    <meta name="intermediatedbstatus" content="@ViewBag.IntermediateDbStatus" />
}

@section styles{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardDesignerResourceUrl/cdn/css/designer/dashboard-designer-component.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardDesignerResourceUrl/cdn/css/designer/connection-configuration.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/connector-page.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardDesignerResourceUrl/cdn/css/designer/dashboard-designer-component.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardDesignerResourceUrl/cdn/css/designer/connection-configuration.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/connector-page.min.css" />
    </environment>
}

@section scripts{
    <script asp-append-version="true" src="@ServerAppConfig.InternalAppDataServiceUrl/scripts/designerlocalization.js?v=@ServerAppConfig.ProductVersion"></script>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardDesignerResourceUrl/cdn/scripts/designer/datasource-connection-configuration-dependency.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardDesignerResourceUrl/cdn/scripts/designer/datasource-connection-configuration-dependency.min.js"></script>
    </environment>

    <script asp-append-version="true" src="@dashboardDesignerResourceUrl/cdn/scripts/designer/ej1.web.all.min.js"></script>
    <script asp-append-version="true" src="@dashboardDesignerResourceUrl/cdn/scripts/designer/ej2.web.all.min.js"></script>
   
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardDesignerResourceUrl/cdn/scripts/designer/datasource-connection-configuration.js"></script>
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/connector-page.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardDesignerResourceUrl/cdn/scripts/designer/datasource-connection-configuration.min.js"></script>
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/connector-page.min.js"></script>
    </environment>

    <script>
    var subAppPath = "@ServerAppConfig.WebRootPath";
    var isSelfHosted = "@isSelfHosted";
    var dataStoreSettingUrl = "@Url.Action("DataStoreSettings", "Administration")";
    var isHideHelpLink = @Json.Serialize(ServerAppConfig.IsHideHelpLink);
    var customHelpLinkDomain = "@(ServerAppConfig.AllowCustomHelpLink ? ServerAppConfig.AppSettings.Documentation.BaseUri : string.Empty)";
    var custombrandName = "@ServerAppConfig.CustomBrandName";
    </script>
}
@section MainSection{

    @await Html.PartialAsync("_AdminMenu")
    <div id="look-and-feel-container" class="col-xs-12 admin-page-container">
        <div id="dataconnector-settings-header" class="col-xs-12 admin-page-header">
            <hgroup class="col-lg-6">
                <h1 class="h2 page-title">
                    [[[DATA CONNECTORS CONFIGURATION]]]
                </h1>
                <h5 class="page-description">
                    [[[Configure any number of connections for your applications by choosing connectors from the list below.]]]
                </h5>
            </hgroup>
            <a href="@Url.Action("Index", "Home")" class="secondary-button pull-right" id="cancel-connector-settings" title="">[[[Cancel]]]</a>
            <button type="button" title="" id="update-datasource-settings" name="update-datasources-settings" class="primary-button pull-right update-system-settings">
                [[[Save]]]
            </button>
        </div>

        <div id="look-and-feel-form col-lg-12 col-md-12">
            <div id="connectionDesigner" style="height:100%;min-height:350px" class="admin-page-body"></div>
        </div>
        <div class="admin-page-actions col-lg-12 col-md-12 no-margin">
            <a href="@Url.Action("Index", "Home")" class="secondary-button pull-right" id="cancel-connector-settings" title="">[[[Cancel]]]</a>
            <button type="button" title="" id="update-datasource-settings" name="update-datasources-settings" class="primary-button pull-right update-system-settings">
                [[[Save]]]
            </button>
        </div>
    </div>
}
