@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = "[[[User Notification Preference]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
    var notificationAdminSettings = globalAppSettings.SystemSettings.NotificationAdministration;
    var defaultNotificationSettings = globalAppSettings.SystemSettings.DefaultNotificationSettings;
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.Notifications);
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

@section scripts{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/notification-settings.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/notification-settings.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/notification-settings.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/notification-settings.min.js"></script>
    </environment>
}

@section MainSection{

    @await Html.PartialAsync("_AdminMenu")
    <div id="notification-settings-container" class="col-xs-12 admin-page-container">
        <div id="notification-settings-header" class="col-xs-12 admin-page-header">
            <hgroup>
                <h1 class="h2 page-title">
                    [[[NOTIFICATION SETTINGS]]]
                </h1>
                <h5 class="page-description">
                    [[[Configure how your users will receive notifications for comments on dashboards.]]]
                </h5>
            </hgroup>
        </div>
        <div id="notification-settings-body" class="admin-page-body">
            <div class="row input-field-wrapper">
                <div class="col-xs-8 field-container-notification bottom-width ">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-3 text-center notification-header">
                        <strong class="tool-tip-padding">[[[Default Settings]]]</strong>
                        <div class="tool-tip col-xs-1">
                            <span class="dropdown-toggle" data-toggle="dropdown" id="help-text-default"><span id="error_icon" class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu" id="help-text-message">[[[These are the default notification settings applied for new users. Users can change their own notification settings anytime from their profile page.]]]</div>
                        </div>
                    </div>
                    <div class="col-xs-3 text-center notification-header">
                        <strong class="tool-tip-padding">[[[Allow]]]</strong>
                        <div class="tool-tip col-xs-1">
                            <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu">[[[These are the master notification settings. Enabling or disabling any settings here will override the default and user settings.]]]</div>
                        </div>
                    </div>
                </div>
                <div class="row input-field-wrapper">
                    <div class="col-xs-8 field-container-notification">
                        <label class="col-xs-5 app-textbox-label">
                            [[[System notifications]]]
                        </label>
                        <div class="tool-tip-description col-xs-1">
                            <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu">[[[System notifications will appear in the bottom left once the user logs in to the application.]]]</div>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input id="enable-system-notification" name="enable_system" type="checkbox" @(defaultNotificationSettings.EnableSystemNotification == NotificationPreferenceOption.Enable ? "checked" : string.Empty) />
                                <label for="enable-system-notification" class="label-primary"></label>
                            </span>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input type="checkbox" id="restrict-system-notification" @(notificationAdminSettings.EnableSystemNotification ? "checked" : string.Empty) />
                                <label for="restrict-system-notification" class="label-primary"></label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row input-field-wrapper">
                    <div class="col-xs-8 field-container-notification">
                        <label class="col-xs-5 app-textbox-label">
                            [[[Mail notifications]]]
                        </label>
                        <div class="tool-tip-description col-xs-1">
                            <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu">[[[Users will be notified of comments through email.]]]</div>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input id="enable-mail-notification" name="enable_system" type="checkbox" @(defaultNotificationSettings.EnableMailNotification == NotificationPreferenceOption.Enable ? "checked" : string.Empty) />
                                <label for="enable-mail-notification" class="label-primary"></label>
                            </span>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input type="checkbox" id="restrict-mail-notification" @(notificationAdminSettings.EnableMailNotification ? "checked" : string.Empty) />
                                <label for="restrict-mail-notification" class="label-primary"></label>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row input-field-wrapper">
                    <div class="col-xs-8 field-container-notification">
                        <label class="col-xs-5 app-textbox-label">
                            [[[Autowatch comments of created items]]]
                        </label>
                        <div class="tool-tip-description col-xs-1">
                            <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu">[[[Enabling this will send notifications for comments on all the dashboards users have created.]]]</div>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input id="enable-autowatch-created" name="enable_system" type="checkbox" @(defaultNotificationSettings.EnableAutoWatchOfCommentsOfCreatedItems == NotificationPreferenceOption.Enable ? "checked" : string.Empty) />
                                <label for="enable-autowatch-created" class="label-primary"></label>
                            </span>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input id="restrict-autowatch-created" name="enable_autowatch_created" type="checkbox" @(notificationAdminSettings.EnableAutoWatchOfCommentsOfCreatedItems ? "checked" : string.Empty) />
                                <label for="restrict-autowatch-created" class="label-primary"></label>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row input-field-wrapper">
                    <div class="col-xs-8 field-container-notification">
                        <label class="col-xs-5 app-textbox-label">
                            [[[Autowatch comments of accessible items]]]
                        </label>
                        <div class="tool-tip-description col-xs-1">
                            <span class="dropdown-toggle" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="dropdown-menu" role="menu">[[[Enabling this will send notifications for comments on all the dashboards users have access to.]]]</div>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input type="checkbox" id="enable-autowatch-access" @(defaultNotificationSettings.EnableAutoWatchOfCommentsOfAccessibleItems == NotificationPreferenceOption.Enable ? "checked" : string.Empty) />
                                <label for="enable-autowatch-access" class="label-primary"></label>
                            </span>
                        </div>
                        <div class="col-xs-3 text-center switch-align">
                            <span class="material-switch text-left">
                                <input id="restrict-autowatch-access" name="enable_system" type="checkbox" @(notificationAdminSettings.EnableAutoWatchOfCommentsOfAccessibleItems ? "checked" : string.Empty) />
                                <label for="restrict-autowatch-access" class="label-primary"></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="admin-page-actions col-xs-12 col-md-12">
            <a href="@Url.Action("dashboards", "dashboards")" class="secondary-button pull-right" id="cancel-notification-settings" title="">[[[Cancel]]]</a>
            <input type="button" title="" data-url="@Url.Action("savenotificationsettings", "administration")" id="update-notification-settings" class="primary-button pull-right" value="[[[Save]]]" />
        </div>
    </div>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}