@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = T["User Notification Preference"].Value + " - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
    var notificationAdminSettings = globalAppSettings.SystemSettings.NotificationAdministration;
    var defaultNotificationSettings = globalAppSettings.SystemSettings.DefaultNotificationSettings;
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.Notifications);
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var model = ViewBag.GranularPermissions as Dictionary<object, bool>;
    var canShowAdminMenu = await ServerAppConfig.CanShowAdminMenu(model, _identityResponse.IsAdmin, _featureManager);
}

@section scripts{
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/notification-settings.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/notification-settings.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/notification-settings.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/notification-settings.min.js"></script>
    </environment>
}

@section MainSection{

    @await Html.PartialAsync("_AdminMenu")
<script>
        var notificationSettings = @Html.Raw(Json.Serialize(ViewBag.Notification));
</script>
<div class="col-xs-12 no-padding no-margin @(canShowAdminMenu ? "width-alignment" : "admin-panel-full-width")">
    @await Html.PartialAsync("../Shared/_TopHeaderSection", new ViewDataDictionary(ViewData) { { "PageHeader", @T["Notification Settings"] }, { "PageDescription", @T["Configure how your users will receive notifications for different actions performed in the application."] } })
    <div id="notification-settings-header" class="col-xs-12 bi-page-header top-nav-btn-secton">
        <div class="col-xs-12 no-padding">
            <div class="col-xs-6 no-padding button-section">
                <a href="@Url.Action("dashboards", "dashboards")" class="secondary-button app-btn-secondary pull-right" id="cancel-notification-settings" title="">@T["Cancel"]</a>
                <input type="button" title="" data-url="@Url.Action("savenotificationsettings", "administration")" id="update-notification-settings" class="primary-button app-btn-primary pull-right" value="@T["Save"]" />
            </div>
        </div>
    </div>
</div>
<div id="notification-settings-container" class="bi-page-container @(canShowAdminMenu ? string.Empty : "admin-panel-full-width")">
    <div class="bi-page-content col-xs-12 no-padding">
        <div id="notification-settings-body" class="bi-page-body col-xs-12">
            <div class="row input-field-wrapper">
                <div class="col-xs-8 field-container-notification bottom-width ">
                    <div class="notifications-info mail-notification-settings-container" ng-controller="MailNotificationSettingsController">
                        <div class="notifications-head">
                            <h3 class="notification-header no-margin">@T["Email Notifications"]</h3>
                            <h5 class="notification-header-description">
                                @T["Users will be notified of activities through email"]
                            </h5>
                        </div>
                        <div>
                            <ul id="mail-notification-settings" class="notifications-listCollection">
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationOnDashboardCreatedByUser", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableNotificationForDashboardOwner", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationOnDashboardCreatedByUser">
                                        <span>
                                            @T["Notify the owner when someone comments on the dashboard"]
                                        </span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationOnDashboardSharedWithUser", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableNotificationForAccessibleUser", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationOnDashboardSharedWithUser">
                                        <span>@T["Notify users who have access to the dashboard when someone comments on it"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationWhenMentionedInComment", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableNotificationOnUserMention", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationWhenMentionedInComment">
                                        <span>@T["Notify the user when they are mentioned in a comment"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationWhenWatchEnabled", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableNotificationWhenWatchEnabled", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationWhenWatchEnabled">
                                        <span>@T["Notify the user about comments when they have watch enabled for the dashboard"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationForScheduleExportAndDataAlert", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableUserScheduleNotification", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationForScheduleExportAndDataAlert">
                                        <span>@T["Enable data alert and scheduled export email notification"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationForUserProfileEdit", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableUserProfileNotification", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationForUserProfileEdit">
                                        <span>@T["Notify the user when their profile is edited"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableMailNotificationForSharedResource", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableResourceShareNotification", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableMailNotificationForSharedResource">
                                        <span>@T["Notify the user when a resource is shared with them"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list ">
                                    @Html.CheckBox("EnableUserSynchronizationNotification", new { @class = "material-checkbox", ng_model = "NotificationSettings.MailNotificationSettings.EnableUserSynchronizationNotification", ng_change = "updateCheckAllMailNotificatiionSettingsOnChange()" })
                                    <label for="EnableUserSynchronizationNotification">
                                        <span>@T["User synchronization notification"]</span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div ng-controller="SystemNotificationSettingsController">
                        <div class="notifications-info system-notification-settings-container">
                            <div class="notifications-head">
                                <h3 class="notification-header">@T["System Notifications"]</h3>
                                <h5 class="notification-header-description">
                                    @T["System notifications will appear in the bottom left once the user logs into the application"]
                                </h5>
                            </div>
                            <ul id="system-notification-settings" class="notifications-listCollection">
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableSystemNotificationOnDashboardCreatedByUser", new { @class = "material-checkbox", ng_model = "NotificationSettings.SystemNotificationSettings.EnableNotificationForDashboardOwner", ng_change = "updateCheckAllSystemNotificatiionSettingsOnChange()" })
                                    <label for="EnableSystemNotificationOnDashboardCreatedByUser">
                                        <span>@T["Notify the owner when someone comments on the dashboard"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableSystemNotificationOnDashboardSharedWithUser", new { @class = "material-checkbox", ng_model = "NotificationSettings.SystemNotificationSettings.EnableNotificationForAccessibleUser", ng_change = "updateCheckAllSystemNotificatiionSettingsOnChange()" })
                                    <label for="EnableSystemNotificationOnDashboardSharedWithUser">
                                        <span>@T["Notify users who have access to the dashboard when someone comments on it"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableSystemNotificationWhenMentionedInComment", new { @class = "material-checkbox", ng_model = "NotificationSettings.SystemNotificationSettings.EnableNotificationOnUserMention", ng_change = "updateCheckAllSystemNotificatiionSettingsOnChange()" })
                                    <label for="EnableSystemNotificationWhenMentionedInComment">
                                        <span>@T["Notify the user when they are mentioned in a comment"]</span>
                                    </label>
                                </li>
                                <li class="notifications-list">
                                    @Html.CheckBox("EnableSystemNotificationWhenWatchEnabled", new { @class = "material-checkbox", ng_model = "NotificationSettings.SystemNotificationSettings.EnableNotificationWhenWatchEnabled", ng_change = "updateCheckAllSystemNotificatiionSettingsOnChange()" })
                                    <label for="EnableSystemNotificationWhenWatchEnabled">
                                        <span>@T["Notify the user about comments when they have watch enabled for the dashboard"]</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="disable-preference-container notifications-info">
                            <div class="notifications-listCollection">
                                <div class="disable-user-preference notifications-list notifications-head">
                                    @Html.CheckBox("DisableUserPreference", new { @class = "material-checkbox", ng_model = "NotificationSettings.DisableUserPreference" })
                                    <label for="DisableUserPreference">
                                        <span class="notification-header">@T["Disable User Preference"]</span>
                                    </label>
                                    <h5 class="notification-header-description">
                                        @T["Users cannot modify their notification preference"]
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("../Shared/_Footer", new ViewDataDictionary(ViewData) { { "appsettings", globalAppSettings } })
</div>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}