@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = "[[[Schedule Synchronization Page]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

@section scripts{
    <script>
        var getScheduleInfoUrl = "@Url.Action("GetDatabaseScheduleInfo", "Administration")";
        var getRecurrenceTypeUrl = "@Url.Action("GetRecurrenceType", "Administration")";
        var updateAdScheduleUrl = "@Url.Action("UpdateDatabaseSchedule", "Administration")";
    </script>

    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/schedule-synchronization.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/schedule-synchronization.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/schedule-synchronization.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/schedule-synchronization.min.js"></script>
    </environment>
}

@section MainSection{
    @await Html.PartialAsync("_AdminMenu")
    <input type="hidden" value="@globalAppSettings.SystemSettings.TimeFormat.ToString()" id="timeFormat" />
    <input type="hidden" value="@globalAppSettings.SystemSettings.DateFormat" id="dateFormat" />
    <div id="schedule-synchronization-container" class="admin-page-container @(ViewBag.ThirdPartyLogins ? string.Empty : "unlock-enterprise-features blur-content")">
        <div id="schedule-header" class="col-md-12 import-area admin-page-header pull-left">
            <a href="@Url.Action("Administration","Administration")/user-directory-settings" data-toggle="tooltip" data-placement="top" title="[[[User Directory Settings]]]" class="back-button pull-left">
                <i class="su su-arrow-back back-navigaion img-size"> </i>
            </a>
            <hgroup>
                <h2 class="page-title">[[[DATABASE SYNCHRONIZATION SCHEDULE]]]</h2>
                <h5 class="page-description">[[[Schedule to synchronize users and groups with Database]]]</h5>
            </hgroup>
        </div>

        <div class="col-sm-12 col-xs-12 no-padding schedule-info no-margin">
            <div id="enable-checkbox" class="pad-enable display-inline">
                @Html.CheckBox("enable-schedule", new { @class = "material-checkbox  pull-left" })
                @Html.Label("enable-schedule", "[[[Enable database scheduled synchronization]]]", new { @id = "schedule-label" })
            </div>
            <div id="recursion" class="next-schedule-container display-inline pull-right">
                <div class="next-schedule-label text-right">
                    @Html.Label("[[[Next Schedule]]] : ")
                    <span id="next-schedule">
                        [[[Schedule not started.]]]
                    </span>
                </div>
                <div class="col-lg-12  col-sm-12 no-padding no-margin recurrence-information">
                </div>
            </div>
        </div>

        <div id="schedule-panel" class="admin-page-body col-lg-12">
            <div class="col-sm-12 col-xs-12 no-padding">
                <div class="col-sm-2 col-xs-2">
                    @Html.Label("", "[[[Type]]]", new { @class = "app-textbox-label display label-font" })
                </div>
                <div class="col-sm-4 col-xs-4">
                    <select id="recurrence-type" class="select-picker schedule-dropdown schedule-type" title="[[[Select Recurrence Type]]]"></select>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding no-margin display" id="daily-schedule-option">
                <div class="col-sm-12 col-xs-12 no-padding top-margin">
                    <div class="col-sm-2 col-xs-2">
                        @Html.Label("", "[[[Recurs]]]", new { @class = "app-textbox-label display label-font" })
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        <div class="pull-left mar-top">
                            @Html.RadioButton("daily-recurrence-type", " ", new { @class = "css-radio", @checked = "checked", id = "daily-every-x-days" })
                            @Html.Label("daily-every-x-days", "[[[Every]]]", new { @class = "pull-left app-radio-label normal-font" })
                            <div class="pull-left mar-top textbox-pad">
                                @Html.TextBox("every-x-days", null, new { @class = "form-control pull-left numeric-text-box" })
                            </div>
                            <div class="clspad pull-left month-margin">
                                @Html.Label("daily-week-days", "[[[day(s)]]]", new { @class = "pull-left app-textbox-label" })
                            </div>
                        </div>
                        <div class="pull-left cls-padleft mar-top">
                            @Html.RadioButton("daily-recurrence-type", " ", new { @class = "css-radio", id = "daily-week-days" })
                            @Html.Label("daily-week-days", "[[[Every weekday]]]", new { @class = "pull-left app-radio-label normal-font" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding cls-options" id="weekly-schedule-option">
                <div class="col-sm-12 col-xs-12 no-padding no-margin">
                    <div class="col-sm-2 col-xs-2">
                        @Html.Label("", "[[[Recurs]]]", new { @class = "app-textbox-label display label-font" })
                    </div>
                    <div class="col-sm-10 col-xs-10 no-margin">
                        <label class="pull-left week-margin app-textbox-label">[[[Every]]]</label>
                        <div class="monthly-select week-margin pull-left">
                            <input type="text" class="form-control numeric-text-box pull-left" id="every-x-weeks">
                        </div>
                        <label class="clspad pull-left week-margin app-textbox-label">[[[week(s)]]]</label>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding no-margin">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-10 col-xs-10 " id="days-check-box">
                        <div id="enable-sunday" class="col-sm-2 col-xs-2 no-padding no-margin">
                            @Html.CheckBox("sun", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("sun", "[[[Sunday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                        <div id="enable-monday" class="col-sm-2 col-xs-2 no-padding no-margin">
                            @Html.CheckBox("mon", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("mon", "[[[Monday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                        <div id="enable-tuesday" class="col-sm-2 col-xs-2 no-padding no-margin">
                            @Html.CheckBox("tues", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("tues", "[[[Tuesday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                        <div id="enable-wednesday" class="col-sm-2 col-xs-3 no-padding no-margin">
                            @Html.CheckBox("wed", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("wed", "[[[Wednesday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding no-margin">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-10 col-xs-10" id="days-check-box">
                        <div id="enable-thursday" class="col-sm-2 col-xs-2 no-padding no-margin">
                            @Html.CheckBox("thu", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("thu", "[[[Thursday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                        <div id="enable-friday" class="col-sm-2 col-xs-2 no-padding no-margin">
                            @Html.CheckBox("fri", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("fri", "[[[Friday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                        <div id="enable-saturday" class="col-sm-2 col-xs-2 no-padding no-margin">
                            @Html.CheckBox("sat", false, new { @class = "material-checkbox  schedule-checkbox" })
                            @Html.Label("sat", "[[[Saturday]]]", new { @class = "clspadleft app-checkbox-label normal-font" })
                        </div>
                        <div class="col-sm-4 col-xs-4 no-padding no-margin no-float validation-message" id="weekly-day-error-container">
                            <div id="weekly-days-validator"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding cls-options" id="monthly-schedule-option">
                <div class="col-sm-12 col-xs-12 no-padding no-margin">
                    <div class="col-sm-2 col-xs-2">
                        @Html.Label("", "[[[Recurs]]]", new { @class = "app-textbox-label display label-font" })
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        @Html.RadioButton("monthly", " ", new { @class = "css-radio", @checked = "checked", id = "monthly" })
                        @Html.Label("monthly", "[[[Day]]]", new { @class = "pull-left app-radio-label top-margin normal-font" })

                        <div class="cls-day pull-left">
                            @Html.TextBox("monthly-date", null, new { @class = "numeric-text-box pull-left" })
                        </div>
                        @Html.Label("monthly", "[[[of every]]]", new { @class = "pull-left app-textbox-label" })
                        <div class="textbox-pad pull-left">
                            @Html.TextBox("monthly-every-x-months", null, new { @class = "numeric-text-box pull-left" })
                        </div>
                        @Html.Label("monthly", "[[[month(s)]]]", new { @class = "clspad pull-left app-textbox-label" })
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-10 col-xs-10">
                        @Html.RadioButton("monthly", " ", new { @class = "css-radio", id = "monthly-dow" })
                        @Html.Label("monthly-dow", "[[[The]]]", new { @class = "pull-left app-radio-label normal-font" })
                        <div class="i-search-fields  pull-left daybox-width">
                            <select id="monthly-dow-week" data-width="110px" class="select-picker schedule schedule-dropdown monthly-select" data-size="5"></select>
                        </div>
                        <div class="i-search-fields  pull-left monthbox-width">
                            <select id="monthly-dow-day" data-width="160px" class="select-picker schedule schedule-dropdown monthly-select" data-size="5"></select>
                        </div>
                        <div class="pull-left">
                            @Html.Label("monthly-dow", "[[[of every]]]", new { @class = "clspad pull-left month-margin app-textbox-label" })
                            <div class="monthly-select pull-left">
                                @Html.TextBox("monthly-dow-every-x-months", null, new { @class = "numeric-text-box pull-left" })
                            </div>
                            @Html.Label("monthly-dow", "[[[month(s)]]]", new { @class = "clspad pull-left month-margin app-textbox-label" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding no-top-margin cls-options" id="yearly-schedule-option">
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="col-sm-2 col-xs-2">
                        @Html.Label("", "[[[Recurs]]]", new { @class = "app-textbox-label display label-font" })
                    </div>
                    <div class="col-sm-10 col-xs-10">
                        @Html.Label(" ", "[[[Every]]]", new { @class = "pull-left app-textbox-label normal-font" })
                        <div class="monthly-select pull-left">
                            @Html.TextBox("every-x-years", null, new { @class = "form-control numeric-text-box" })
                        </div>
                        @Html.Label(" ", "[[[year(s)]]]", new { @class = "clspad pull-left app-textbox-label" })
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-10 col-xs-10">
                        @Html.RadioButton("yearly", " ", new { @class = "css-radio", @checked = "checked", id = "yearly" })
                        @Html.Label("yearly", "[[[The]]]", new { @class = "pull-left app-radio-label normal-font" })
                        <div class="pull-left">
                            <select id="yearly-month" class="select-picker schedule schedule-dropdown monthly-select no-padding left-margin monthbox-width" data-width="160px" data-size="5"></select>
                        </div>
                        <div class="monthly-select left-margin pull-left">
                            @Html.TextBox("yearly-day", null, new { @class = "form-control pull-left numeric-text-box" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 no-padding">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-10 col-xs-10">
                        @Html.RadioButton("yearly", " ", new { @class = "css-radio", id = "yearly-dow" })
                        @Html.Label("yearly-dow", "[[[The]]]", new { @class = "pull-left app-radio-label normal-font" })
                        <div class="no-margin i-search-fields pull-left">
                            <div class="pull-left daybox-width">
                                <select id="yearly-dow-week" data-width="110px" class="select-picker schedule schedule-dropdown monthly-select" data-size="5"></select>
                            </div>
                        </div>
                        <div class="no-margin i-search-fields pull-left">
                            <div class="pull-left monthbox-width">
                                <select id="yearly-dow-day" data-width="160px" class="select-picker schedule schedule-dropdown monthly-select" data-size="5"></select>
                            </div>
                        </div>
                        <div class="no-margin i-search-fields  pull-left">
                            @Html.Label("yearly-dow", "[[[of]]]", new { @class = "clspad pull-left month-margin app-textbox-label" })
                            <div class="monthly-select pull-left yearbox-width">
                                <select data-width="160px" id="yearly-dow-month" class="select-picker schedule schedule-dropdown" data-size="5"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 no-padding time">
                <div class="col-sm-2 col-xs-2">@Html.Label("", "[[[Time]]]", new { @class = "app-textbox-label display label-font" })</div>
                <div class="col-sm-10 col-xs-10">
                    <div class="pull-left">@Html.TextBox("start-date", null, new { @class = "form-control time-width" })</div>
                </div>
                <div class="col-sm-12 col-xs-12 validation-message" id="start-date-error-container">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-8 col-xs-8 no-margin" id="start-date-validator"></div>
                </div>
            </div>
        </div>
        @if (ViewBag.ThirdPartyLogins)
        {
            <div class="admin-page-actions col-xs-12 col-md-12">
                <a href="@Url.Action("Index","Home")" class="secondary-button pull-right" id="cancel-schedule-synchronization" title="">[[[Cancel]]]</a>
                <input type="button" title="" id="update-schedule-synchronization-bottom" class="primary-button pull-right" value="[[[Save]]]" />
            </div>
        }

    </div>
    @if (!ViewBag.ThirdPartyLogins)
    {
        @await Html.PartialAsync("~/Views/UnlockFeatures/UnlockFeatures.cshtml")
    }
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    </environment>
}