<script>
    var getDiagnosticLogsUrl = "@Url.Action("GetDiagnosticLogs", "Administration")";
</script>
<div id="download-logs-dialog-content" class="custom-template"></div>
<div id="download-logs-dialog" class="" style="visibility: hidden">
    <p>@T["Please note that these logs only contain diagnostic logs required for Embedded BI and Enterprise Reporting applications, and do not contain any of your organizational data. When reporting product-related issues, kindly download and attach the logs to your support ticket."]</p>
    <div id="download-logs-dialog-dropdown-container" class="col-xs-12">
        @Html.Label("download-logs-dialog-dropdown", "Select a time period", new { @class = "col-xs-12 download-logs-dialog-dropdown-label" })
        @Html.DropDownList("download-logs-dialog-dropdown", new List<SelectListItem>
           {
       new SelectListItem{Text="All", Value="4", Selected = true},
        new SelectListItem{Text="Last 1 Hour", Value="1"},
        new SelectListItem{Text="Last 24 Hour", Value="2"},
        new SelectListItem{Text="Last 7 Days", Value="3"},}, new { id = "download-logs-dialog-dropdown", @class = "col-xs-12", data_live_search = "false" })
    </div>
    <div id="download-logs-dialog-buttons" class="col-xs-12">
        <button id="download-logs-dialog-cancel" class="secondary-button pull-right">@T["Cancel"]</button>
        <button id="download-logs-dialog-proceed" class="primary-button pull-right">@T["Download Diagnostic Logs"]</button>
</div>
</div>