@{
    var isAuthenticatedUser = User.Identity.IsAuthenticated;
    var hideLoginOption = ViewBag.HideLoginOption != null ? ViewBag.HideLoginOption : false;
    var isMobileDevice = DeviceDetection.IsMobile;
    var requestUrl = new Uri(this.Context.Request.GetDisplayUrl());
}
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Heebo:400,700" rel="stylesheet">
<header class="boldsign-registration-header @(isMobileDevice ? "col-xs-12" : "")">
    <div class="@(isMobileDevice ? "text-center" : "pull-left")">
        <img class="@(isMobileDevice ? "text-center header-img-mobile" : "pull-left")" src="@GlobalAppSettings.CdnDomain/static/company/boldsign/logo/v1/@IconFileNames.LoginLogo" alt="Syncfusion">
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="@(isMobileDevice ? "col-xs-12 mobile-header-login" : "pull-right") login-text">Already have an account? <a class="bold-sign-login" href="@Url.Action("Login", "Accounts")?returnUrl=@WebUtility.UrlEncode(requestUrl.AbsoluteUri)" tabindex="2">Log In</a></div>
    }
</header>