@{
    var isAuthenticatedUser = User.Identity.IsAuthenticated;
    var hideLoginOption = ViewBag.HideLoginOption != null ? ViewBag.HideLoginOption : false;
    var isMobileDevice = DeviceDetection.IsMobile;
    var requestUrl = new Uri(this.Context.Request.GetDisplayUrl());
}

<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Heebo:400,700" rel="stylesheet">

<header class="registration-header @(isMobileDevice ? "col-xs-12" : "")">
    @*<img src="@GlobalAppSettings.SystemSettings.CDNLink/images/@GlobalAppSettings.Branding/application/registration_header_logo.svg" alt="Syncfusion">*@
    @if (!hideLoginOption)
    {
        if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
        {
            <div class="syncfusion-app-header-logo"></div>
        }
        else
        {
            <div class="boldbi-app-header-logo"></div>
        }
        <div class="link-wrapper">
            @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
            {
                <a class="cloud-home" href="@CloudAppConfig.SyncfusionCloudHomeUrl">Syncfusion Home</a>
            }
            else
            {
                <a class="cloud-home" href="@CloudAppConfig.SyncfusionCloudHomeUrl">Bold BI Home</a>
            }

            @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
            {
                <a class="need-help" href="@CloudAppConfig.DocumentationUrl/bold-bi/getting-started" target="_blank">Need help?</a>
            }
            else
            {
                <a class="need-help" href="@CloudAppConfig.ContactUsUrl(TenantType.BoldBI)" target="_blank">Need help?</a>
            }

            @if (!isAuthenticatedUser)
            {
                <a class="sign-in link-button" href="@Url.Action("Login", "Accounts")?returnUrl=@requestUrl.AbsoluteUri"><strong>SIGN IN</strong></a>
            }
            else
            {
                <a href="@Url.Action("logout", "accounts")?returnUrl=@requestUrl.AbsoluteUri">Sign out</a>
            }
        </div>
    }
</header>