@{
    var isEmptyLayout = ViewBag.IsEmptyLayout != null ? ViewBag.IsEmptyLayout : false;
    var tenantType = ViewBag.TenantType != null ? ViewBag.TenantType : TenantType.BoldSign;
    var domain = Syncfusion.Server.Base.CloudAppConfig.ProductHomeUrl(tenantType);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @await Html.PartialAsync("_OGPContent", new ViewDataDictionary(ViewData) { { "Product", TenantType.BoldSign } })
    <title>Try Bold Sign - @ViewBag.Title</title>
    <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/boldsign/logo/v1/@IconFileNames.Favicon" />
    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/layout-registration.css" asp-append-version="true" />
    @RenderSection("styles", false)
    <script src="~/bundles/js/layout-registration.js" asp-append-version="true"></script>
    <script src="~/bundles/js/ej2.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
    <script>
        $.extend(ej, Syncfusion);
    </script>
</head>
<body id="body">
    @await Html.PartialAsync("../Shared/_Header.BoldSignRegistration")
    <div class="boldsign-parent">
        <div class="boldsign-child">
            <div class="boldsign-main-content">
                @RenderSection("MainSection", true)
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_Footer.BoldSignRegistration", new ViewDataDictionary(ViewData) { { "Domain", domain } })
</body>
</html>