@{
    var isEmptyLayout = ViewBag.IsEmptyLayout != null ? ViewBag.IsEmptyLayout : false;
    var tenantType = ViewBag.TenantType != null ? ViewBag.TenantType : TenantType.BoldBI;
    var domain = Syncfusion.Server.Base.CloudAppConfig.ProductHomeUrl(tenantType);
}
<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @await Html.PartialAsync("_OGPContent")
    <title>
        @ViewBag.Title
    </title>
    <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.Favicon" />
    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/layout-registration.css" asp-append-version="true" />
    @RenderSection("styles", false)
    <script src="~/bundles/js/layout-registration.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle=tooltip]").tooltip()
            var registrTenantBodyWaitingPopupTemplateId = createLoader("body");
            $("#body").ejWaitingPopup({ template: $("#" + registrTenantBodyWaitingPopupTemplateId) });
        });
    </script>
</head>
<body id="body" class="@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldbi-app-body": "syncfusion-app-body")">
    @if (!isEmptyLayout)
    {
        @await Html.PartialAsync("../Shared/_Header.Registration")
    }
    <main id="main-content" class="col-xs-12">
        @RenderSection("MainSection", true)
    </main>
    @if (!isEmptyLayout)
    {
        @await Html.PartialAsync("_Footer.Registration", new ViewDataDictionary(ViewData) { { "Domain", domain } })
    }
</body>
</html>