@{
    var helpLinkData = ViewBag.TenantType == TenantType.BoldBIOnPremise ? AppBranding.Bold.ProductName : AppBranding.BoldReports.ProductName;
    var appBranding = GlobalAppSettings.Branding;
    var storageType = ViewBag.StorageType != null ? ViewBag.StorageType : 0;
    var useSingleTenantDb = GlobalAppSettings.SystemSettings.UseSingleTenantDb != null && (bool)GlobalAppSettings.SystemSettings.UseSingleTenantDb;
}
<div class="system-settings-page-container" id="system-settings-configuration-mode-container">
    <div class="configuration-mode-types col-12">
        <div class="center-configuration-types col-12 radio-padding">
            <div class="configuration-mode-box col-12">
                <div class="second-radio-align radio-padding col-12">
                    <input type="radio" id="single-database" class="radio-button" name="ConfigurationMode"/>
                    <span class="configuration-mode-description">@T["All sites share a single database, with data isolated using an identifier."]</span>
                    @if (ViewBag.TenantType == TenantType.BoldBIOnPremise)
                    {
                        <span class="configuration-mode-description configuration-mode-description-support">@T["Supported Databases: PostgreSQL."]</span>
                    }
                    else
                    {
                        <span class="configuration-mode-description configuration-mode-description-support">@T["Supported Databases: PostgreSQL, MSSQL."]</span>
                    }

                    </div>
                </div>
                <div class="configuration-mode-box configuration-mode-box-distance col-12">
                    <div class="first-radio-align col-12 radio-padding">
                        <input type="radio" id="database-per-tenant" class="radio-button" name="ConfigurationMode"/>
                    <span class="configuration-mode-description">@T["Each site has its own dedicated database."]</span>
                    <span class="configuration-mode-description configuration-mode-description-support">@T["Supported Databases: PostgreSQL, MSSQL, MySQL, and Oracle."]</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="configuration-mode-block">
            <div class="configuration-mode-button btn-holder center-align" id="configuration-mode">
                <input type="button" tabindex="7" id="configurationmode" class="proceed-button " value="@T["Next"]"/>
            </div>
        </div>
    </div>