@{
    var helpLinkData = ViewBag.TenantType == TenantType.BoldBIOnPremise ? "dashboards" : "reports";
    var productName = ViewBag.TenantType == TenantType.BoldBIOnPremise ? GlobalAppSettings.GetDescription(ProductName.BoldBIOnPremise) : GlobalAppSettings.GetDescription(ProductName.BoldReportsOnPremise);    
    var dbnameHelp = ViewBag.TenantType == TenantType.BoldBIOnPremise ? T["This is where Bold BI sites, dashboard resources, and data store configurations are stored."] : T["This is where Bold Reports sites, reports resources and their access permissions are stored."];
    var sqlParameter = await HelpSiteManager.GetHelpSiteUrl(HelpSiteUrlNames.MSSQL_Connection_Parameters);
    var serviceNameHelp = T["The Oracle Service Name is key for client-database communication. It lets clients connect and access the database.The default Service Name is ORCL"];
}


<script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
$(document).on("keyup", "#txt-dbname,#server-dbname,#imdbname", function () {
   forceToLower(this);
});

    var defaultValues = {
        PostgreSQLPort: "@DefaultValue.PostgreSQLPort",
        MySQLPort: "@DefaultValue.MySQLPort",
        PostgreSQLMaintenanceDatabase: "@DefaultValue.PostgreSQLMaintenaceDatabase",
        DefaultDatabaseName: "@DefaultValue.DefaultDatabaseName",
        DefaultServerDatabaseName: "@DefaultValue.DefaultServerDatabaseName",
        DefaultDatastoreDatabaseName: "@DefaultValue.DefaultDatastoreDatabaseName",
        DefaultSchemaForMSSQL: "@DefaultValue.DefaultSchemaForMSSQL",
        DefaultSchemaForPostgres: "@DefaultValue.DefaultSchemaForPostgres",
        DefaultPrefixForUMS: "@DefaultValue.DefaultPrefixForUMS",
        DefaultPrefixForBI: "@DefaultValue.DefaultPrefixForBI",
        DefaultPrefixForReports: "@DefaultValue.DefaultPrefixForReports"
    };

    var IsDefaultSchemaUms = ("@ViewBag.IsDefaultSchemaUms".toLowerCase() === "true");
    var IsDefaultPrefixUms = ("@ViewBag.IsDefaultPrefixUms".toLowerCase() === "true");
</script>

<div id="service-name" class="d-none">
    <div class="sql-server-existing-db-for-oracle center-align">
        <div class="txt-holder databse-dropdown text-wrap database-dropdown-margin center-align">
            <input type="text" id="txt-dbname-for-oracle" name="databaseName" class="" placeholder="@T["Database name"]" />
            <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info db-name-info">@dbnameHelp</div>
        </div>
    </div>
    <div class="txt-holder server-name center-align">
        <input type="text" id="txt-servicename" name="servicename" class=""  placeholder="@T["Service name"]" />
        <span class="startup-validation validation-txt-errors"></span>
        <div class="info-content txt-box-info db-name-info">@serviceNameHelp</div>
    </div>
</div>

<div id="simple_tab_db_name" class="">
    <div class="txt-holder database-name center-align" id="id-database-name">
        <input type="text" id="txt-dbname" name="dbname" class="" placeholder="@T["Database name"]" />
        <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info db-name-info">@dbnameHelp</div>
    </div>
    <div class="txt-holder database-name center-align schema-prefix-hide simple-tab new-smp-db id-schema-prefix-hide new-id-schema-prefix-hide" id="table-prefix-ums">
        <input type="text" id="txt-ums-prefix" name="umsPrefix" class="" placeholder="@T["ID tables prefix"]" />
        <span class="startup-validation validation-txt-errors"></span>
        <div class="info-content txt-box-info">
            @{
#pragma warning disable SCS0029
            }
            @Html.Raw(string.Format(T["Customizable prefix for ID tables."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
            @{
#pragma warning restore SCS0029
            }
        </div>
    </div>
    <div class="txt-holder database-name center-align schema-prefix-hide simple-tab new-smp-db server-schema-prefix-hide" id="simple-server-prefix">
        <input type="text" id="txt-server-prefix" name="serverPrefix" class="" placeholder="@T["Server tables prefix"]" />
        <span class="startup-validation validation-txt-errors"></span>
        <div class="info-content txt-box-info db-prefix-info">
            @{
#pragma warning disable SCS0029
            }
            @Html.Raw(string.Format(T["Customizable prefix for server tables."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
            @{
#pragma warning restore SCS0029
            }
        </div>
    </div>
    <div class="sql-server-existing-db center-align">
        <div class="txt-holder databse-dropdown text-wrap database-dropdown-margin center-align exist-database-name">
            <input type="text" id="database-name" name="databaseName" class="" placeholder="@T["Database name"]" />
            <span class="startup-validation validation-txt-errors"></span>
                <div class="info-content txt-box-info db-name-info">@dbnameHelp</div>
        </div>
        <div class="txt-holder databse-dropdown text-wrap database-dropdown-margin center-align old-db simple-tab schema-prefix-hide id-schema-prefix-hide old-id-schema-prefix-hide" id="table-prefix-name">
            <input type="text" id="ums-table-prefix" name="tablePrefix" class="" placeholder="@T["ID tables prefix"]" />
            <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info">
                @{
#pragma warning disable SCS0029
                }
                @Html.Raw(string.Format(T["Customizable prefix for ID tables."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
                @{
#pragma warning restore SCS0029
                }
            </div>
        </div>
        <div class="txt-holder databse-dropdown text-wrap database-dropdown-margin center-align old-db schema-prefix-hide simple-tab simple-exist-schema-prefix-hide" id="simple-tenant-prefix">
            <input type="text" id="tenant-table-prefix" name="tenantTablePrefix" class="" placeholder="@T["Server tables prefix"]" />
        <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info db-prefix-info">
                @{
#pragma warning disable SCS0029
                }
                @Html.Raw(string.Format(T["Customizable prefix for server tables."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
                @{
#pragma warning restore SCS0029
                }
            </div>
        </div>
        
    </div>
</div>

<div id="advanced_tab_db_name">
    <div class="txt-holder database-name center-align" id="server-database-name">
        <input type="text" id="server-dbname" name="serverdbname" class="" placeholder="@T["Server database name"]" />
        <span class="startup-validation validation-txt-errors"></span>
        <div class="info-content txt-box-info server-db-info">
            @{
#pragma warning disable SCS0029
            }
            @Html.Raw(string.Format(T["This is where we store the {0}{1}{2}, users, and their resource access permissions."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
            @{
#pragma warning restore SCS0029
            }
        </div>
    </div>
    <div class="txt-holder database-name center-align schema-prefix-hide advance-tab new-smp-db advance-schema-prefix-hide">
        <input type="text" id="server-prefix-name" name="serverPrefixName" class="" placeholder="@T["Server tables prefix"]" />
        <span class="startup-validation validation-txt-errors"></span>
        <div class="info-content txt-box-info db-prefix-info">
            @{
#pragma warning disable SCS0029
            }
            @Html.Raw(string.Format(T["Customizable prefix for server tables."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
            @{
#pragma warning restore SCS0029
            }
        </div>
    </div>
    <div class="sql-server-existing-db center-align">
        <div class="txt-holder  text-wrap database-dropdown-margin center-align" id="sql-server-database-name">
            <input type="text" id="server-existing-dbname" name="serverexistingdbname" class="" placeholder="@T["Server database name"]" />
            <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info server-db-info">
                @{
#pragma warning disable SCS0029
                }
                @Html.Raw(string.Format(T["This is where we store the {0}{1}{2}, users, and their resource access permissions."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
                @{
#pragma warning restore SCS0029
                }
            </div>
        </div>

        <div class="txt-holder  text-wrap database-dropdown-margin center-align old-db advance-tab schema-prefix-hide ser-schema-prefix-hide">
            <input type="text" id="server-table-prefix" name="serverTablePrefix" class="" placeholder="@T["Server tables prefix"]" />
            <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info db-prefix-info">
                @Html.Raw(string.Format(T["Customizable prefix for server tables."].Value, "<span class='tenant-content'>", helpLinkData, "</span>"))
            </div>
        </div>
    </div>
    <div class="txt-holder database-name center-align data-store-hide">
        <input type="text" id="imdbname" name="designerdbname" class="" placeholder="@T["Datastore database name"]" />
        <span class="startup-validation validation-txt-errors"></span>
        <div class="info-content txt-box-info imdb-info">@T["This is where we store the authentication information and data extracted from REST data sources."]</div>
    </div>
    <div class="sql-server-existing-db center-align data-store-existing-db-hide" id="sql-datastore-database-name">
        <div class="txt-holder  text-wrap database-dropdown-margin center-align">
            <input type="text" id="imdb-existing-dbname" name="designerexistingdbname" class="" placeholder="@T["Datastore database name"]" />
            <span class="startup-validation validation-txt-errors"></span>
            <div class="info-content txt-box-info imdb-info">@T["This is where we store the authentication information and data extracted from REST data sources."]</div>
        </div>
    </div>
</div>