@model ItemDetail
<!DOCTYPE html>
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var isValid = ViewData["IsValid"] != null ? Convert.ToBoolean(ViewData["IsValid"].ToString()) : false;
    var isSuccess = ViewData["IsSuccess"] != null ? Convert.ToBoolean(ViewData["IsSuccess"].ToString()) : false;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
@if (!isSuccess)
{
    <html class="dashboard-server">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            @ViewBag.Title
        </title>

        <environment include="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-files.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-files.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-files.min.css" />
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-files.min.js"></script>
        </environment>
        <script>
            $(document).ready(function () {
                $(document).on("click", ".PopupClose", function (e) {
                    $("#edit-files-popup").find("iframe").contents().find("html").html("");
                    eDialog = parent.$("#edit-files-popup").data("ejDialog");
                    eDialog.close();
                });
            });

            function load() {
                $('[data-toggle="tooltip"]').tooltip();
                if (($(parent.window).width()) > 1400) {
                    $(".dialog").addClass("iframe");
                }

                if (($(parent.window).width()) < 1400) {
                    $(".dialog").removeClass("iframe");
                }
            }
        </script>

        @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

    </head>
    <body onload="load();">
        @{
            var hasError = !isValid ? "has-error" : "";
        }
        <form id="editItemForm" name="editItemForm" method="post" action="~/files/editfile" enctype="multipart/form-data" autocomplete="off">
            <div id="PopupContainer" class="col-lg-12 no-padding dialog">

                <div class="col-xs-12 dialog-header">
                    <span class="su su-document Head-icon"></span>
                    <span class="PopupTitle">[[[Update File]]]</span>
                    <a href="javascript:void(0);" title="[[[Close]]]" data-toggle="tooltip" data-placement="bottom" class="PopupClose"><span class="su su-close"></span></a>
                </div>

                <div class="dialog-body col-xs-12 no-padding file-content-height no-padding">
                    <div id="general-file-container">
                        <table width="100%" cellspacing="10px" cellpadding="0" border="0">
                            <input type="hidden" name="ItemId" value="@Model.Id" />
                            <tbody>
                                <tr>
                                    <td class="col-md-2 text-right"><div class="bottom-margin30">[[[Name]]]<span class="mandatory">*</span></div></td>
                                    <td class="col-md-10 no-left-padding @hasError">
                                        <span>
                                            <input type="text" id="file_name" name="Name" class="form-control text-field bottom-margin30 text" maxlength="255" value="@Model.Name" tabindex="1" autofocus>
                                            @if (!isValid)
                                            {
                                                <span id="validate-name" class="validation-message text">@ViewData["ErrorMessage"]</span>
                                            }
                                            else
                                            {
                                                <span id="validate-name" class="validation-message text"></span>
                                            }
                                            <div id="plugin_validation" class="validation-message text"></div>
                                            <input type="hidden" id="name_change_validation" name="IsNameChanged" value="false" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30 field-label">[[[Description]]]</div></td>
                                    <td class="col-xs-10 no-left-padding">
                                        <textarea style="resize: none;" name="description" class="form-control text-field bottom-margin30 text" maxlength="1024" id="file-description" tabindex="2">@Model.Description</textarea>
                                        <span class="notification help-text">
                                            <span class="help-text-mandatory">*</span>[[[1024 characters maximum]]]
                                        </span>
                                        <input type="hidden" id="description_change_validation" name="IsDescriptionChanged" value="false" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-xs-2 text-right"><div class="bottom-margin30 field-label">[[[File]]]<span class="mandatory">*</span></div></td>
                                    <td class="col-xs-10 no-padding">
                                        <div class="input-group no-padding imagepath bottom-margin30">
                                            <input type="text" id="name" class="form-control upload-file text" value="@String.Concat(Model.Name, Model.Extension)" readonly name="uploadedFileName" tabindex="-1">
                                            <label for="browse_file" class="trigger-file-input-wrapper"></label>
                                            <div class='fileUpload btn btn-default'>
                                                <span>...</span><input type="file" id="browse_file" title="[[[No file selected]]]." class="browse-button upload-btn" name="file" tabindex="-1">
                                            </div>
                                            <input type="hidden" id="source_change_validation" name="isSourceChanged" value="false" />
                                        </div>
                                        <span class="notification help-text">
                                            <span class="help-text-mandatory">*</span>[[[Recommended size:50mb max]]]
                                        </span>
                                    </td>
                                </tr>
                                <tr id="version_comment">
                                    <td class="col-xs-2 text-right">
                                        <div class="bottom-margin30 ">[[[Version comments]]]</div>
                                    </td>
                                    <td class="col-xs-10 no-left-padding">
                                        <textarea style="resize: none;" id='comment' class='form-control bottom-margin30 text' name="versionComment" readonly="" maxlength="1024" tabindex="3"></textarea>
                                        <span class="notification help-text">
                                            <span class="help-text-mandatory">*</span>[[[1024 characters maximum]]]
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="dialog-footer">
                    <div class="pull-right">
                        <input type="submit" class="hide-content" style="display: none;" />
                        <input type="button" title="" class="btn primary-button" value="[[[Update]]]" id="publish_file" onclick="validateNewFileForm()" disabled tabindex="4">
                        <input type="button" title="" class="btn secondary-button" id="cancelEditFile" onclick="closeEditFilePopup()" value="[[[Cancel]]]" tabindex="4">
                    </div>
                </div>
            </div>
        </form>
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
        </environment>
    </body>
</html>
<script>
        $(function () {
            window.editData = {
                ItemId: "@Model.Id",
                Name: "@Model.Name",
                Description: "@Model.Description"
            }
        });
</script>
}
else
{

<html>
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</environment>
<head>
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-files.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-files.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/edit-files.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/edit-files.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            parent.$("#edit-files-popup").ejDialog("close");
            parent.messageBox("su-document", "[[[Update File]]]", "[[[File has been updated successfully.]]]", "success", function () {
                var gridName = window.parent.$('#item-grid-container').attr("data-grid-name");
                if (gridName == "files") {
                    parent.ResetGrid();
                }
                parent.onCloseMessageBox();
            });
        });
    </script>
</head>
</html>

}