@{
    Layout = null;
    var model = Model as List<string>;
    var globalAppSettings = _globalAppSettings;
    var dashboardUrls = ViewBag.UrlList as List<string>;
    var dashboardNames = ViewBag.ChildItemNames as List<string>;
    var isMobile = new DeviceDetection(Context).IsMobile;
    var selectedId = ViewBag.SelectedId == Guid.Empty ? string.Empty : ViewBag.SelectedId;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="icon" href="@globalAppSettings.SystemSettings.FavIcon" onerror="if (this.href !== null && this.href.toLowerCase() !== '@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@IconFileNames.Favicon') this.href = '@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@IconFileNames.Favicon';" />
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/multi-tabbed-dashboard.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/ej2-dialog.min.js"></script>
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/multi-tabbed-dashboard.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/multi-tabbed-dashboard.min.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/ej2-dialog.min.js"></script>
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/multi-tabbed-dashboard.min.js"></script>
    </environment>

    <script>
        var tabTheme = "@ViewBag.Theme";
        var selectedId = "@selectedId";
        var showBackButton = @Json.Serialize(ViewBag.ShowMyDashboards);
        var isMobileView = @Json.Serialize(isMobile);
        var iframeUrls = @Html.Raw(Json.Serialize(dashboardUrls));
        var iframeIds = @Html.Raw(Json.Serialize(model));
    </script>
</head>
<body>
    @if (ViewBag.ShowMyDashboards && !isMobile)
    {
        <a class="multi-tab-back" href="@Url.Action("dashboards", "dashboards")" title="Back to all dashboards"><i class="su su-arrow-back"></i></a>
        <div class="sf-nav-separator"></div>
    }
    else if (isMobile)
    {
        <div id="multi-tab-mobile-menu" data-action="multi-tab-header">
            <i class="su su-mobile-menu-icon"></i>
        </div>
    }
    <div id="multi-tab-dashboard">
        <div class="e-tab-header">
            @for (var i = 0; i < dashboardNames.Count; i++)
            {
                <div>@dashboardNames[i]</div>
            }
        </div>
        <div class="e-content">
            @for (var i = 0; i < model.Count; i++)
            {
                if (isMobile)
                {
                    <div><iframe id="@(model[i])" width="100%" height="100%" frameborder="0" src=""></iframe></div>
                }
                else
                {
                    <div><iframe id="@(model[i])" width="100%" height="100%" frameborder="0" src="@(dashboardUrls[i])"></iframe></div>
                }
            }
        </div>
    </div>
    @if (isMobile)
    {
        <div class="blur-container" style="display: none"></div>
        <div id="multi-tab-header-container" style="display: none">
            <ul class="multi-tab-header-list-container">
                @for (var i = 0; i < dashboardNames.Count; i++)
                {
                    <li class="multi-tab-header-list" id="e-item_@i">
                        <div class="multi-tab-header-names">@dashboardNames[i]</div>
                    </li>
                }
            </ul>
        </div>
    }
</body>
</html>