@model List<SchemaInfo>
<script>
    var tableSchema=@Html.Raw(Json.Serialize(Model));
    var importDatabaseQuerySchema = {};
</script>
<div class="col-12 no-padding schema-selection">
    <div class="table-list-treeview-header no-padding float-start">
        <h5 class="table-title">@T["Choose the columns that has the user data"]</h5>
    </div>
    <div class="selected-schema-holder-header float-start">
        <h5 class="table-title">@T["User data"]</h5>
    </div>
</div>
<div id="schema-selection" class="col-12 no-padding schema-selection">
    <div id="table-list-treeview" class="col-4 no-padding table-list-treeview">
        <div id="parent-scroll-element">
            <div class="tree-view-search-holder">
                <input id="search-tree" type="text" class="form-control" placeholder="@T["Search"]" />
                <span id="search-tree-close" class="su su-inner-close close-icon" title="@T["Clear search"]"></span>
                <span class="su su-search search-user" title="@T["Search database schema"]"></span>
            </div>
            <div id="scroll-element-database">
                <div>
                    <ul id="tree-view">
                        @for (var schema = 0; schema < Model.Count; schema++)
                        {
                            <li id="schema_@schema" data-field-type="schema" class="expanded">
                                @Model[schema].Schema
                                <ul>
                                    @for (var table = 0; table < Model[schema].Tables.Count; table++)
                                    {
                                        <li id="table_@table" data-field-type="table">
                                            @Model[schema].Tables[table].TableName
                                            <ul>
                                                @for (var column = 0; column < Model[schema].Tables[table].Columns.Count; column++)
                                                {
                                                    <li id="table_@(table)_column_@(column)" data-field-type="column" data-table-name="@Model[schema].Tables[table].TableName" data-column-name="@Model[schema].Tables[table].Columns[column].ColumnName" data-schema-name="@Model[schema].Schema" data-type="@Model[schema].Tables[table].Columns[column].DataType" class="column-hover">
                                                        @Model[schema].Tables[table].Columns[column].ColumnName
                                                        <span class="su su-add selection-add-btn"></span>
                                                        <div class="selected-schema-btn-dialog">

                                                            <div>
                                                                <h5 class="no-margin"><strong>@T["Assign to"]</strong></h5>
                                                                <div class="col-12 no-padding drop-down-fields">
                                                                    <button type="button" class="btn btn-default selected-schema-btn" data-field="username">@T["Username"]</button>
                                                                    <button type="button" class="btn btn-default selected-schema-btn" data-field="firstname" disabled="disabled">@T["First name"]</button>
                                                                    <button type="button" class="btn btn-default selected-schema-btn" data-field="email" disabled="disabled">@T["Email"]</button>
                                                                    <button type="button" class="btn btn-default selected-schema-btn" data-field="lastname" disabled="disabled">@T["Last name"]</button>
                                                                    <button type="button" class="btn btn-default selected-schema-btn" data-field="isactive" disabled="disabled">@T["IsActive"]</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (Model.Count == 0)
                    {
                        <span id="no-records">No tables found</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="selected-schema-holder" class="col-8 no-padding selected-schema-holder">
        <div class="col-12 no-padding selected-schema-fields-container">
            <div class="col-12 no-padding selected-labels">
                <label class="selected-schema-label">@T["Username"] : </label>
                <div class="selected-schema-fields mandatory" data-field="username">
                </div>
            </div>
            <div class="col-12 no-padding selected-labels">
                <label class="selected-schema-label">@T["First name"] : </label>
                <div class="selected-schema-fields mandatory" data-field="firstname">
                </div>
            </div>
            <div class="col-12 no-padding selected-labels">
                <label class="selected-schema-label">@T["Email"] : </label>
                <div class="selected-schema-fields mandatory" data-field="email">
                </div>
            </div>
            <div class="col-12 no-padding selected-labels">
                <label class="selected-schema-label">@T["Last name"] : </label>
                <div class="selected-schema-fields" data-field="lastname">
                </div>
            </div>
            <div class="col-12 no-padding selected-labels">
                <label class="selected-schema-label">@T["IsActive"] : </label>
                <div class="selected-schema-fields" data-field="isactive">
                </div>
            </div>
            <div class="col-12 no-padding last-label selected-labels">
                <label class="selected-schema-label">@T["IsActive Value"] : </label>
                <input type="text" id="txt-activestatus" class="form-control" placeholder="@T["Enter value"]" maxlength="255" />
                <span id="activestatus-validation-message" class="error-message"></span>
            </div>
            <div class="col-12 no-padding selected-labels">
                <div class="selected-schema-label">
                </div>
                <div class="record-count-info info-message">
                    @T["This value will determine whether the user can be imported or removed during synchronization."]
                </div>
            </div>
        </div>
    </div>
</div>

<div id="selected-data-list" class="col-12 no-padding">
</div>