@{
    ViewBag.Title = "Manage License - " + GlobalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
}

@section styles{
    @Styles.Render("~/styles/license-settings")
}

@section scripts{
    @Scripts.Render("~/scripts/license-settings")
}

@section MainSection{
    @Html.Partial("_AdminMenu")

    <div id="license-settings-container" class="col-xs-12 admin-page-container">
        <div id="license-setting-header" class="col-xs-12 admin-page-header">
            <hgroup>
                <h1 class="page-title">MANAGE LICENSES</h1>
                <h5 class="page-description">Manage the available user licenses</h5>
            </hgroup>
        </div>
        <div id="license-setting-body" class="admin-page-body">
            <div class="field-container">
                <div class="license-info">
                    <label class="col-lg-2 col-md-3 no-padding">Total license count</label>
                    <span id="license-count" class="license-count">@ViewBag.UserCount</span>
                </div>
                <div class="license-info">
                    <label class="col-lg-2 col-md-3 no-padding">Licenses currently in use</label>
                    <span id="used-license-count" class="license-count">@ViewBag.UsedUserCount</span>
                </div>
                <div class="license-info">
                    <label class="col-lg-2 col-md-3 no-padding">Remaining licenses available</label>
                    <span id="remaining-license-count" class="license-count">@ViewBag.RemainingCount</span>
                </div>
            </div>
        </div>
    </div>
}

