@{
    Layout = null;
    var imageHelper = new ImageHelper();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("../Shared/_Favicon")
    @await Html.PartialAsync("../Shared/_FontReference")
    @await Html.PartialAsync("../Shared/_ThemeReference")
    <link rel="stylesheet" href="~/bundles/css/error-page.css" asp-append-version="true" />
    <script nonce="@Context.Items["ScriptNonce"]">
        var defaultErrorImageSrc = "@Url.Content(CloudAppConfig.FallbackLoginLogoUrl)";
        document.addEventListener("DOMContentLoaded", function () {
            var logoimage = document.getElementById("error-page-image");
            if (logoimage) {
                logoimage.onerror = function () {
                    this.onerror = null;
                    this.src = defaultErrorImageSrc;
                };
            }
        });
    </script>
</head>
<body class="error-full-content">
    <div class="error-page-outer">
        <div class="error-page-content">
            <div class="error-inside">
                <div class="error-image-center-1">
                    <img id="error-page-image" src="@Url.Content("~/logos?type=login")" class="error-image-1">
                </div>
                <div class="error-image-center-2">
                    <img src="@(ViewBag.ErrorType == "access_denied" ? imageHelper.AccessDeniedImage() : ViewBag.ErrorType == "license_expired" ? imageHelper.LicenseExpired() : imageHelper.PageNotFoundImage())" class="error-image-2">
                </div>
                <div class="error-type">@ViewBag.ErrorHeader</div>

                @if (ViewBag.ErrorType == "license_expired")
                {
                    <div class="error-text">
                        @T["Please contact your administrator to restore access."]
                    </div>
                }
                else
                {
                    <div class="error-text">
                        @ViewBag.ErrorText1 <br>
                        @ViewBag.ErrorText2
                    </div>
                }
                <div class="take-me-back-to-home-page">
                    @if (ViewBag.ErrorType == "access_denied")
                    {
                        <span class="error-page-cursor">
                            <a class="error-to-back-text-color" href="@Url.Action("Logout", "Accounts")">
                                @T["Try a different account"]
                            </a>
                        </span>
                    }
                    else if (ViewBag.ErrorType == "http_error_404")
                    {
                        <span class="error-page-cursor"><a class="error-to-back-text-color" href="@Url.Action("Homepage", "Home")">@T["Take me back to home page"]</a></span>
                    }
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("../Shared/_FooterOnPremise");
</body>
</html>