@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "[[[Site not found]]] - " + GlobalAppSettings.SystemSettings.OrganizationName;
}
@section MainSection{
    <!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <link rel="icon" href="@GlobalAppSettings.SystemSettings.FavIcon" onerror="this.onerror=null;this.src='@GlobalAppSettings.CdnDomain/@GlobalAppSettings.Branding/application/@IconFileNames.Favicon';" />
            <link rel="stylesheet" href="~/bundles/css/error-page-layout.css" asp-append-version="true" />
        </head>
    <body >
        <div class="error-layout">
            <div class="error-display">
                <div class="error-innerdisplay">
                    <div class="error-headerlogo">
                        <img src="@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '@Url.Content(CloudAppConfig.FallbackLoginLogoUrl)') this.src = '@Url.Content(CloudAppConfig.FallbackLoginLogoUrl)';">
                    </div>
                    <div>
                        <img src="@GlobalAppSettings.SystemSettings.CDNLink/images/static/error-pages/v1/site-not-found.svg" class="error-logo">
                    </div>
                    <div class="error-title">[[[Site not found]]]</div>
                    <div class="error-description">
                        [[[Sorry! The site you are looking for is not available. The site may have been deleted.]]]
                    </div>
                    <div class="error-link">
                        <span class="error-page-cursor"><a class="error-to-beck-text-color" href="@Url.Action("Sites", "TenantsManagement")">[[[Take me back to Site page]]]</a></span>
                    </div>
                </div>
            </div>
        </div>
          @await Html.PartialAsync("../Shared/_FooterOnPremise")
    </body>
</html>
}