@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T["Login Error"] - @GlobalAppSettings.SystemSettings.OrganizationName</title>
    @await Html.PartialAsync("~/Views/Shared/_Favicon.cshtml")
    @await Html.PartialAsync("../Shared/_FontReference")
    @await Html.PartialAsync("../Shared/_ThemeReference")
    <link rel="stylesheet" href="~/bundles/css/error-page.css" integrity="@IntegrityTagHelper.GetIntegrity("bundles/css/error-page.css")" crossorigin="anonymous" asp-append-version="true" />
    <script nonce="@Context.Items["ScriptNonce"]" src="~/Scripts/jQuery/jquery-3.7.1.min.js" integrity="@IntegrityTagHelper.GetIntegrity("Scripts/jQuery/jquery-3.7.1.min.js")" crossorigin="anonymous" asp-append-version="true"></script>
       <script nonce="@Context.Items["ScriptNonce"]">
        $(document).ready(function () {
            $(".base-container-bg").css("display", "");
        });
    </script>
</head>
<body>
    <div class="base-container-bg" style="display: none">
        <div class="base-conatiner" id="base-conatiner">
            <div id="main-div">
                <div class="app-logo">
                    <img src="@Url.Content("~/logos?type=login")" />
                </div>
                <div class="secondary-div">
                    <div class="page-title">
                        @T["Login Error"]
                    </div>
                    <div class="page-content text-start">
                        <span>@T["Error in establishing a connection to our login service."];</span><br />
                        <br />
                        <span>@T["Refresh the page and try again. If the problems persist, please contact the system administrator for more information."];</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>