@using Syncfusion.Server.Base;

@{
    Layout = "~/Views/Shared/_Layout.Accounts.cshtml";

    @if (ViewBag.IsAccountActivation)
        {
            ViewBag.Title = $"{T["Account Activation"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}";
        }
        else
        {
            ViewBag.Title = $"{T["Account Recovery"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}";
    }

    var email = ViewBag.Email;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/accounts-code-confirmation.css" asp-append-version="true" />
}

@section MainSection{
    <div class="code-confirmation-body">
        <div class="icon-container">
            <div class="su su-tick"></div>
        </div>
        @if (ViewBag.IsAccountActivation)
        {
            <div class="heading text-h4">@T["Account activation successful."]</div>
            <div class="status-message text-body">
                @Html.Raw(string.Format(T["Your account {0} has been activated successfully."].Value, $"<a id='tenant-email' href='mailto:{email}'>{email}</a>"))
            </div>
        }
        else
        {
            <div class="heading text-h4">@T["Password reset successful."]</div>
            <div class="status-message text-body">
                @Html.Raw(string.Format(T["The password for your account {0} has been updated successfully."].Value, $"<a id='tenant-email' href='mailto:{email}'>{email}</a>"))
            </div>
        }

        <div class="divider-light"></div>
        <div class="back-button text-body"> <a href="@Url.Action("login","accounts")"><span>@T["Proceed to Sign in"]</span></a></div>
    </div>
}