@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;

﻿@{
    Layout = "~/Views/Shared/_Layout.Accounts.cshtml";
    if (CloudAppConfig.IsSelfHosted)
    {
        ViewBag.Title = ViewBag.IsAccountActivation ? "[[[Account Activation]]] - " + GlobalAppSettings.SystemSettings.OrganizationName : "[[[Account Recovery - ]]]" + GlobalAppSettings.SystemSettings.OrganizationName;
    }
    else
    {
        ViewBag.Title = ViewBag.IsAccountActivation ? "Account Activation | " + GlobalAppSettings.BrandingDisplayName + " Account" : "Account Recovery | " + (GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "Bold ID" : GlobalAppSettings.BrandingDisplayName) + " Account";
    }
}
@section styles{
    <link rel="stylesheet" href="~/bundles/css/accounts-reset-password.css" asp-append-version="true"/>
}
@section MainSection{
    <div class="reset-password-container">
        <div class="icon-container"><span class="su su-warning-alt"></span></div>
        @if (ViewBag.IsAccountActivation)
        {
            if (!ViewBag.IsAccountActivated)
            {
                <div class="heading text-h4">[[[Account activation not successful]]]</div>
            }
        }
        else
        {
            <div class="heading text-h4">[[[Couldn’t recover your account]]]</div>
        }

        @if (ViewBag.IsAccountActivation)
        {
            if (ViewBag.IsAccountActivated)
            {
                <div class="back-button text-body"> <a href="@Url.Action("login","accounts")"><span>[[[Proceed to Login]]]</span></a></div>
                <div class="divider-light"></div>
                <div class="forget-password-align"><a href="@Url.Action("RecoverAccount", "Accounts")" class="forgot-pwd-link" tabindex="6">[[[Cannot access your account?]]]</a></div>
            }
            else
            {
                <div class="resend-verification text-body">@ViewBag.ValidationMessage [[[Please ]]]<a href="@Url.Action("RecoverAccount","accounts")?isaccountactivation=true"><span>[[[click here]]]</span></a>[[[ to get the activation link.]]]</div>
            }
        }
        else
        {
            <div class="resend-verification text-body">@ViewBag.ValidationMessage [[[Please ]]]<a href="@Url.Action("RecoverAccount","accounts")"><span>[[[click here]]]</span></a>[[[ to recover your account.]]]</div>
            <div class="divider-light"></div>
            <div class="back-button text-body"> <a href="@Url.Action("login","accounts")"><span>[[[Return to login]]]</span></a></div>
        }
    </div>
}