@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;

﻿@{
    Layout = "~/Views/Shared/_Layout.Accounts.cshtml";
    ViewBag.Title = ViewBag.IsAccountActivation ? $"{T["Account Activation"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}" : $"{T["Account Recovery"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}";
}
@section styles{
    <link rel="stylesheet" href="~/bundles/css/accounts-reset-password.css" asp-append-version="true"/>
}
@section MainSection{
    <div class="reset-password-container">
        <div class="icon-container"><span class="su su-warning-alt"></span></div>
        @if (ViewBag.IsAccountActivation)
        {
            if (!ViewBag.IsAccountActivated)
            {
                <div class="heading text-h4">@T["Account activation not successful"]</div>
            }
        }
        else
        {
            <div class="heading text-h4">@T["Couldn’t recover your account"]</div>
        }

        @if (ViewBag.IsAccountActivation)
        {
            if (ViewBag.IsAccountActivated)
            {
                <div class="back-button text-body"> <a href="@Url.Action("login", "accounts")"><span>@T["Proceed to Sign in"]</span></a></div>
                <div class="divider-light"></div>
                <div class="forget-password-align"><a href="@Url.Action("RecoverAccount", "Accounts")" class="forgot-pwd-link" tabindex="6">@T["Cannot access your account?"]</a></div>
            }
            else
            {
                <div class="resend-verification text-body">
                    @ViewBag.ValidationMessage @Html.Raw(string.Format(T["Please {0} click here {1} to get the activation link."].Value, $"<a href={Url.Action("RecoverAccount", "accounts")}?isaccountactivation=true><span>", "</span></a>"))
                </div>
            }
        }
        else
        {
            <div class="resend-verification text-body">
                @ViewBag.ValidationMessage  @Html.Raw(string.Format(T["Please {0} click here {1} to recover your account."].Value, $"<a href={Url.Action("RecoverAccount", "accounts")}><span>", "</span></a>"))
            </div>
            <div class="divider-light"></div>
            <div class="back-button text-body"> <a href="@Url.Action("login", "accounts")"><span>@T["Return to Sign in"]</span></a></div>
        }
    </div>
}