@{
    ViewBag.Title = "Dashboards | Register – Plan and Subscription | " + CloudAppConfig.BoldBIDisplayName;
    var countryList = ViewBag.CountryList;
    var selectedPlanId = ViewBag.SelectedPlanId;
}

<link rel="stylesheet" href="~/bundles/css/billingaddress.css" asp-append-version="true"/>
<script src="~/bundles/js/billingaddressr.js" asp-append-version="true"></script>

<script>
    var fullNameLength = @FormFields.FullName;
    var emailAddressLength = @FormFields.EmailAddress;
</script>
<form class="card-form @(selectedPlanId != null ? "display-block" : "display-none")" id="card-form-id">
    <h3 class="free-description no-margin text-h1">You won’t be charged untill @ViewBag.FreeSubscriptionEndDate</h3>
    <div class="no-padding parent-container text-h4">
        <div class="" id="address-section">
            <div class="no-padding address-section-left">
                <div class="form-group">
                    <div>
                        <input id="pay-form-info-fullname" name="pay-form-info-fullname" value="@ViewBag.BillingAddress.FullName" placeholder="Full name" class="form-control text-h4" type="text" autocomplete="name" />
                        <span class="validation-error text"></span>
                    </div>
                </div>
                <div class="form-group email-address-wrapper">
                    <div>
                        <span class="email-address-info">All billing-related information will be sent to this email address</span>
                        <input id="pay-form-info-email" name="pay-form-info-email" value="@ViewBag.BillingAddress.Email" placeholder="Email address" class="form-control text-h4" type="text" autocomplete="email" />
                        <span class="validation-error text"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input id="pay-form-info-address1" name="pay-form-info-address1" placeholder="Address Line 1" value="@ViewBag.BillingAddress.AddressLine1" class="form-control text-h4" type="text" autocomplete="address-line1" />
                        <span class="validation-error text"></span>
                    </div>
                </div>
                <div class="form-group address-line-2">
                    <div>
                        <input id="pay-form-info-address2" name="pay-form-info-address2" placeholder="Address Line 2" value="@ViewBag.BillingAddress.AddressLine2" class="form-control text-h4" type="text" autocomplete="address-line2" />
                    </div>
                </div>
            </div>
            <div class="no-padding address-section-right">
                <div class="form-group">
                    <div>
                        <select class="form-control selectpicker text-h4" data-live-search="true" id="pay-form-info-country" name="pay-form-info-country" data-size="10">
                            @if (ViewBag.CountryList.Count > 0)
                            {
                                <option data-hidden="true" value="">Select Country</option>
                                foreach (var country in ViewBag.CountryList)
                                {
                                    if (!String.IsNullOrWhiteSpace(ViewBag.BillingAddress.Country) && ViewBag.BillingAddress.Country == country.CountryCode)
                                    {
                                        <option value="@country.CountryCode" selected="selected">@country.Name</option>
                                    }
                                    else
                                    {

                                        <option value="@country.CountryCode">@country.Name</option>
                                    }
                                }
                            }
                        </select>
                        <span class="validation-error text" style="display: inline-table;"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input id="pay-form-info-state" name="pay-form-info-state" placeholder="State" value="@ViewBag.BillingAddress.State" class="form-control text-h4" type="text" autocomplete="address-level1" />
                        <span class="validation-error text"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input id="pay-form-info-city" name="pay-form-info-city" class="form-control text-h4" value="@ViewBag.BillingAddress.City" placeholder="City" type="text" autocomplete="address-level2" />
                        <span class="validation-error text"></span>
                    </div>
                </div>
                <div class="form-group zip-code">
                    <div>
                        <input id="pay-form-info-zip" name="pay-form-info-zip" class="form-control text-h4" value="@ViewBag.BillingAddress.ZipCode" placeholder="Zip / Postal Code" type="text" autocomplete="postal-code" />
                        <span class="validation-error text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container btn-holder">
            <input type="button" class="back-button billing-back-button" value="Back" />
            <input class='proceed-button billing-continue-button' type='button' value='Continue' />
        </div>
    </div>
</form>
