@{
    var priorityId = ViewData["PriorityOrderId"] != null ? (int)ViewData["PriorityOrderId"] : 0;
    var selectedPlanId = ViewBag.SelectedPlanId;

    var saasPlanDetailList = Model as List<SaaSPlanDetail>;
}

<link rel="stylesheet" href="~/bundles/css/plandetails.css" asp-append-version="true"/>
<script src="~/bundles/js/plandetails.js" asp-append-version="true"></script>

<div class="plan-chooser-container @(selectedPlanId != null ? "display-none" : "display-block")">
    <div id="license-setting-header" class="col-xs-12 admin-page-header  no-padding">
        @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
        {
            <div class="free-description no-margin text-h1">@CloudAppConfig.TrailPeriod day free trial. No credit card required.</div>
        }
        else
        {
            <div class="bold-bi-free-description-1 no-margin">Try @CloudAppConfig.TrailPeriod days risk-free</div>
            <div class="bold-bi-free-description-2 no-margin">100% transparent pricing &bull; No gimmicks &bull; No hidden fees</div>
        }
    </div>
    <div id="plan-chooser-body" class="admin-page-body col-xs-12 no-padding">
        @if (priorityId != 0)
        {
            <a href="javascript:void(0);" title="Close" class="popup-close pull-right" id="plan-close"><span class="su su-close" style="color: inherit;background-color: white"></span></a>
        }
        <div class="field-container @(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldbi-plan-card": "syncfusion-plan-card")">
            @for (int i = 0; i < saasPlanDetailList.Count; i++)
            {<div class="card-wrapper">
                    <div class="card col-sm-4">
                        <div class="card-body">
                            <div class="price-banner">
                                <div class="text-h4">@saasPlanDetailList[i].LicenseSettings.PlanName.ToUpper()</div>
                                <div class="price-container @saasPlanDetailList[i].LicenseSettings.PlanName.ToLower()">
                                    <div class="plan-price-div">
                                        <span class="dollar-symbol">$</span><span class="upgrading-plan-price">@Model[i].LicenseSettings.Price</span><span class="plan-duration">@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "/MONTH" : "MONTHLY FLAT FEE")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="features-container col-xs-12">
                                @if (GlobalAppSettings.Branding == AppBranding.Bold.Identifier)
                                {
                                    <span class="user-count feature-detail col-xs-12 no-padding">
                                        <span class="su su-tick"></span>
                                        @if (saasPlanDetailList[i].LicenseSettings.IsUserBasedLicense)
                                        {
                                            <span class="text-body"><strong>@saasPlanDetailList[i].LicenseSettings.Users Users</strong></span>
                                        }
                                        else
                                        {
                                            <span class="text-body"><strong>Unlimited Users</strong></span>
                                        }
                                    </span>
                                }

                                @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
                                {
                                    <span class="records-count feature-detail col-xs-12 no-padding">
                                        <span class="su su-tick"></span>
                                        <span class="text-body">@(saasPlanDetailList[i].LicenseSettings.Storage)GB Storage</span>
                                    </span>
                                }

                                <span class="dashboard-count feature-detail col-xs-12 no-padding">
                                    <span class="su su-tick"></span>
                                    @if (saasPlanDetailList[i].LicenseSettings.IsDashboardBasedLicense)
                                    {
                                        <span class="text-body"><span class="text-semibold">@saasPlanDetailList[i].LicenseSettings.Dashboards</span> Dashboards</span>
                                    }
                                    else
                                    {
                                        <span class="text-body">Unlimited Dashboards</span>
                                    }
                                </span>

                                @foreach (var additionalFeature in saasPlanDetailList[i].AdditionalFeatures)
                                {
                                    <span class="feature-detail col-xs-12 no-padding">
                                        <span class="su su-tick"></span>
                                        <span class="text-body">@additionalFeature</span>
                                    </span>
                                }
                            </div>
                            <button class="choose-plan-button text-semibold" data-plan-id="@saasPlanDetailList[i].LicenseSettings.PlanId" data-plan-name="$@saasPlanDetailList[i].LicenseSettings.Price /month"><span class="choose-plan-text">TRY NOW</span></button>
                        </div>

                    </div>
                </div>
            }
            @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
            {
                <div class="card-wrapper special-plans">
                    <div class="card col-sm-4">
                        <div class="card-body">
                            <div class="price-banner">
                                <div class="text-h4">ENTERPRISE PLAN</div>
                            </div>
                            <div class="content text-body">Cover everyone in your organization for one low annual fee.</div>
                            <a href="@CloudAppConfig.ContactUsUrl(TenantType.BoldBI)" target="_blank" class="contact-us-button">Contact Us</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>