@{
    var priorityId = ViewData["PriorityOrderId"] != null ? (int)ViewData["PriorityOrderId"] : 0;
    var selectedPlanId = ViewBag.SelectedPlanId;

    var saasPlanDetailList = Model as List<SaaSPlanDetail>;
    var isMobileDevice = DeviceDetection.IsMobile;
}

<link rel="stylesheet" href="~/bundles/css/plandetails-boldbi.css" asp-append-version="true"/>
<script src="~/bundles/js/plandetails.js" asp-append-version="true"></script>

<script>
    $(window).load(function () {
        if (window.innerWidth < 768) {
            $(".card").removeClass("col-sm-4").addClass("col-xs-12");
        }
        else {
            $(".card").removeClass("col-xs-12").addClass("col-sm-4");
        }
    });

    $(window).resize(function () {
        if (window.innerWidth < 768) {
            $(".card").removeClass("col-sm-4").addClass("col-xs-12");
        }
        else {
            $(".card").removeClass("col-xs-12").addClass("col-sm-4");
        }
    });
</script>
<div class="plan-chooser-container @(selectedPlanId != null ? "display-none" : "display-block") @(isMobileDevice ? "col-xs-12" : "")">
    <div id="license-setting-header" class="col-xs-12 admin-page-header  no-padding">
        @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
        {
            <div class="free-description no-margin text-h1">@CloudAppConfig.TrailPeriod-day free trial. No credit card required.</div>
        }
        else
        {
            <div class="bold-bi-free-description-1 no-margin">Sick of per user pricing?</div>
            <div class="bold-bi-free-description-2 no-margin">Only pay for Dashboard <b><a id="creator-info" href="javascript:void(0)" title="A creator is someone who has a Bold BI account, and creates, edits, shares or otherwise manages dashboards. Only creators are counted for licensing purposes." data-toggle="tooltip" data-placement="top">Creators</a></b>. Share with 10 or 10,000 users for no additional fee.</div>
        }
    </div>
    <div id="plan-chooser-body" class="admin-page-body col-xs-12 no-padding">
        @if (priorityId != 0)
        {
            <a href="javascript:void(0);" title="Close" class="popup-close pull-right" id="plan-close"><span class="su su-close" style="color: inherit;background-color: white"></span></a>
        }
        <div class="field-container @(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldbi-plan-card": "syncfusion-plan-card")">
            @for (int i = 0; i < saasPlanDetailList.Count; i++)
            {<div class="card-wrapper">
                    <div class="card col-sm-4">
                        <div class="card-body">
                            @if (saasPlanDetailList[i].LicenseSettings.PlanId != (int)SaaSPlan.SingleUserPlan && saasPlanDetailList[i].LicenseSettings.PlanId != (int)SaaSPlan.BoldReports_Cloud_SingleUserPlan)
                            {
                                <div class="unlimited-users-container">
                                    <div class="content">
                                        <img alt="Unlimited Users" src="~/styles/less/images/unlimited-users.svg">
                                        <span>Unlimited Users</span>
                                    </div>
                                </div>
                            }
                            <div class="price-banner col-xs-12">
                                <div class="plan-name">@saasPlanDetailList[i].LicenseSettings.PlanName</div>
                                @if (GlobalAppSettings.Branding == AppBranding.Bold.Identifier)
                                {
                                    <span class="user-count col-xs-12 no-padding">
                                        @if (saasPlanDetailList[i].LicenseSettings.IsUserBasedLicense)
                                        {
                                            if (saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.SingleUserPlan || saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.BoldReports_Cloud_SingleUserPlan || saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.Business50)
                                            {
                                                <span>Includes @saasPlanDetailList[i].LicenseSettings.Users creator</span>
                                            }
                                            else
                                            {
                                                <span>Up to @saasPlanDetailList[i].LicenseSettings.Users users</span>
                                            }
                                        }
                                        else if (saasPlanDetailList[i].LicenseSettings.IsAuthorBasedLicense)
                                        {
                                            <span>Includes @saasPlanDetailList[i].LicenseSettings.Authors creators</span>
                                        }
                                        else
                                        {
                                            <span>Unlimited Users</span>
                                        }
                                    </span>
                                }
                                <div class="price-container @saasPlanDetailList[i].LicenseSettings.PlanName.ToLower() col-xs-12">
                                    <div class="plan-price-div col-xs-12">
                                        @if (saasPlanDetailList[i].LicenseSettings.PlanId != (int)SaaSPlan.SingleUserPlan && saasPlanDetailList[i].LicenseSettings.PlanId != (int)SaaSPlan.BoldReports_Cloud_SingleUserPlan)
                                        {
                                            <span class="dollar-symbol">$</span>
                                            <span class="upgrading-plan-price">@Model[i].LicenseSettings.Price</span>
                                        }
                                        else
                                        {
                                            <span class="upgrading-plan-price">Free</span>
                                        }

                                        <span class="plan-duration">@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? (saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.SingleUserPlan || saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.BoldReports_Cloud_SingleUserPlan) ? "No additional users" : "/month" : "MONTHLY FLAT FEE")</span>
                                    </div>

                                    <button class="choose-plan-button text-semibold" data-plan-id="@saasPlanDetailList[i].LicenseSettings.PlanId" data-plan-name="$@saasPlanDetailList[i].LicenseSettings.Price /month"><span class="choose-plan-text">@((saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.SingleUserPlan || saasPlanDetailList[i].LicenseSettings.PlanId == (int)SaaSPlan.BoldReports_Cloud_SingleUserPlan) ? "Get Started" : "Start Your Trial") </span></button>
                                </div>
                            </div>
                            <div class="features-container col-xs-12">


                                @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
                                {
                                    <span class="records-count feature-detail col-xs-12 no-padding">
                                        <span class="su su-tick"></span>
                                        <span class="text-body">@(saasPlanDetailList[i].LicenseSettings.Storage)GB Storage</span>
                                    </span>
                                }

                                <span class="dashboard-count feature-detail col-xs-12 no-padding">
                                    <span class="su su-tick"></span>
                                    @if (saasPlanDetailList[i].LicenseSettings.IsDashboardBasedLicense)
                                    {
                                        <span class="text-body"><span class="text-semibold">@saasPlanDetailList[i].LicenseSettings.Dashboards</span> Dashboards</span>
                                    }
                                    else
                                    {
                                        <span class="text-body">Unlimited Dashboards</span>
                                    }
                                </span>

                                @foreach (var additionalFeature in saasPlanDetailList[i].AdditionalFeatures)
                                {
                                    <span class="feature-detail col-xs-12 no-padding">
                                        <span class="su su-tick"></span>
                                        <span class="text-body">@additionalFeature</span>
                                    </span>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
            @if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
            {
                <div class="card-wrapper special-plans">
                    <div class="card col-sm-4">
                        <div class="card-body">
                            <div class="price-banner">
                                <div class="text-h4">ENTERPRISE PLAN</div>
                            </div>
                            <div class="content text-body">Cover everyone in your organization for one low annual fee.</div>
                            <a href="@CloudAppConfig.ContactUsUrl(TenantType.BoldBI)" target="_blank" class="contact-us-button">Contact Us</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>