@{
    ViewBag.Title = "Registration Success";
    int planId;
    var requestUrl = new Uri(Context.Request.GetDisplayUrl());
    var requestedPlan = int.TryParse(QueryHelpers.ParseQuery(requestUrl.Query).Keys.Where(x => x == "plan").FirstOrDefault(), out planId);
    var isEmbedPlan = planId == (int)SaaSPlan.BoldBI_OnPremise_EmbeddedSetup;
    Layout = "../Shared/_Layout.Registration.cshtml";
    var isBoldBIBranding = GlobalAppSettings.Branding == @AppBranding.Bold.Identifier;
    var analyticsTrackingEnabled = Syncfusion.Server.Base.CloudAppConfig.EnableAnalyticsTracking;
    var url = ViewBag.DownloadUrl;
    int tenantTypeId = url.TenantTypeId;
    var isBoldBIOnPremise = tenantTypeId == (int)TenantType.BoldBIOnPremise;
}
@section styles{
    <link rel="stylesheet" href="~/bundles/css/registration-success.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap" rel="stylesheet">
}

@section scripts{
    <script src="~/bundles/js/registration-success.js" asp-append-version="true"></script>
    <script>
        var isCloudRegistration = @Json.Serialize(false);
        var isReportsCloudRegistration = @Json.Serialize(false);
        var isEmbedPlan = @Json.Serialize(isEmbedPlan);
        var isNewTenant = @Json.Serialize(@url.IsNewTenant);
        var downloadUrl = "@url.RedirectUrl";
        var isBoldBIOnPremise = @Json.Serialize(isBoldBIOnPremise);
    </script>
    <meta name="is_boldbi_branding" content="@isBoldBIBranding.ToString()" />
    <meta name="google_analytics:send_to" content="@CloudAppConfig.GoogleAnalyticSentTo.ToString()" />
    <meta name="analytics_tracking:enabled" content="@analyticsTrackingEnabled.ToString()" />
    <title>@ViewBag.Title</title>

}

@section MainSection
{
    @await Html.PartialAsync("_GoogleAnalytics")
    <div class="loading-page-wrap">
        <img class="spinner-gif" alt="spinner-gif" src="~/styles/less/images/Spinner.gif">
        <h1>Please wait...</h1>
        <h2>Your tenant registration has been completed successfully.</h2>
        <h2>Now, you will be redirected to the download page.</h2>
    </div>
}


