@using Syncfusion.Server.Base.Helpers;
@using Syncfusion.Server.Base.DataClasses;
@{
    int planId;
    var dnsRegEx = @"/^[a-zA-Z0-9][a-zA-Z0-9-]{4,}[a-zA-Z0-9]$/";
    var emailRegex = @"/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,63}|[0-9]{1,3})(\]?)$/";
    var passwordRegex = ValidationHelpers.PasswordRegex;
    //var isDomainValid = ViewBag.IsDomainValid != null ? ViewBag.IsDomainValid : true;
    var isUserExists = ViewBag.IsUserExists != null ? ViewBag.IsUserExists : false;
    var emailExist = ViewBag.IsAuthenticated && !string.IsNullOrWhiteSpace(ViewBag.TenantInfo.Email);
    var passwordRules = "<ul class='text-body' id='password_policy_rules'><li id='p_policy_length'><span class = 'icon'></span><span class='content'>[[[6 characters]]]</span></li><li id='p_policy_uppercase'><span class = 'icon'></span><span class='content'>[[[1 uppercase letter]]]</span></li><li id='p_policy_lowercase'><span class = 'icon'></span><span class='content'>[[[1 lowercase letter]]]</span></li><li id='p_policy_number'><span class = 'icon'></span><span class='content'>[[[1 number]]]</span></li><li id='p_policy_specialcharacter'><span class = 'icon'></span><span class='content'>[[[1 special character]]]</span></li></ul>";
    Layout = null;
    var domain = Syncfusion.Server.Base.CloudAppConfig.ProductHomeUrl(TenantType.BoldBIOnPremise);
    var subdomainList = (List<SubdomainStatus>)ViewBag.SubdomainList;
    var isBoldBIBranding = GlobalAppSettings.Branding == @AppBranding.BoldBI.Identifier;
    var analyticsTrackingEnabled = Syncfusion.Server.Base.CloudAppConfig.EnableAnalyticsTracking;
    var hidePrivacypolicy = ViewBag.HidePrivacyPolicy != null ? ViewBag.HidePrivacyPolicy : false;
    var isAuthenticatedUser = User.Identity.IsAuthenticated;
    var isMobileDevice = DeviceDetection.IsMobile;
    var requestedPlan = int.TryParse(HttpUtility.ParseQueryString(HttpContext.Current.Request.Url.Query).Get("plan"), out planId);
    var isEmbedPlan = planId == (int)SaaSPlan.Embedded || planId == (int)SaaSPlan.Embedded_OnPremise;
}
<!DOCTYPE html>
<html>
<head>
    <title>[[[Try Bold BI Enterprise]]]</title>
    <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.Favicon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Easily deploy data visualization tool to on-premises or private cloud. Data in your datacenter. Custom branding. Office 365 integration. Try now." />
    <meta name="keywords" content="dashboard, business intelligence, data visualization, data analytics, mobile bi, html5 dashboards, dashboard web designer, dashboard viewer, dashboard server, user management, white labeled dashboards, user based dashboards, dashboard schedules, collaborative dashboards, localizable dashboards, dashboard data alerts, tabbed dashboards, dashboard mobile, data agent, rebranding, embedding dashboards, embed dashboard, embedded dashboards, bi dashboards, visualizations, data connections, data solutions, dashboard azure deployment, dashboard service, dashboard filters, dashboard commenting, dashboard exporting, dashboard custom widgets, data integration in dashboard, pay as you go dashboards, on-premise" />
    <meta name="is_boldbi_branding" content="@isBoldBIBranding.ToString()" />
    <meta name="google_analytics:send_to" content="@CloudAppConfig.GoogleAnalyticSentTo.ToString()" />
    <meta name="analytics_tracking:enabled" content="@analyticsTrackingEnabled.ToString()" />
    @Html.Partial("_OGPContent", new ViewDataDictionary { { "Product", TenantType.BoldBIOnPremise } })
    @if (HttpContext.Current.Request.Url.Query.Contains("?plan"))
    {
        var uri = new Uri(HttpContext.Current.Request.Url.AbsoluteUri);
        <link rel="canonical" href="@uri.GetLeftPart(UriPartial.Path)" />
    }

    @Styles.Render("~/bundles/styles/tenant-register-boldbi")
    @Scripts.Render("~/bundles/scripts/tenant-register")
    <script>
        var registerTenantUrl = "@Url.Action("RegisterOnPremiseTenant", "Register")";
        var verifyConfirmationEmailUrl = "@Url.Action("VerifyConfirmationEmail", "Register")";
        var resendActivationUrl = "@Url.Action("resendactivationcode", "Register")";
        var checkVerificationCodeUrl = "@Url.Action("CheckVerificationCode", "Register")";
        var activationCode = "", tenantInfoId = "";
        var isEmailExist = @Json.Encode(emailExist);
        var isMobile = "@isMobileDevice.ToString().ToLower()";
        var isCloudRegistration = @Json.Encode(false);
        var isEmbedPlan = @Json.Encode(isEmbedPlan);
        var setCookieConsentUrl = "@Url.Action("SetCookieConsent", "Register")";

        $(document).ready(function (e) {
            $('#cookiesubs').on('click', function () {
                $(".cookie-notification").remove();
                SetCookie();
            });
        });

        function SetCookie() {
            $.ajax({
                type: "POST",
                url: window.setCookieConsentUrl,
            });
        }

        $(window).resize(function () {
            var height = 0;
            $(".link-bottom").css("margin-left", $(".register-tenant-container").width() - $(".link-bottom").width());

            if (window.innerWidth < 992) {
                height = $(".form-container").height() + $(".info-container").height();
            }
            else {
                height = $(".form-container").height();
            }

            if (window.innerHeight < height) {
                $(".register-tenant-parent").css("height", height);
                $("#body").css("height", height);
                $("html").css("height", height);
            }
            else {
                $(".register-tenant-parent").css("height", "100%");
                $("#body").css("height", "100%");
                $("html").css("height", "100%");
            }

            if (window.innerWidth >= 992) {
                $(".dashboard-image").removeClass("display-none");
                $(".link-bottom").removeClass("display-none");
                $(".link-top").addClass("display-none");
            }
            else {
                $(".dashboard-image").addClass("display-none");
                $(".link-bottom").addClass("display-none");
                $(".link-top").removeClass("display-none");
            }
        });

        $(window).load(function () {
            var height = 0;
            $(".link-bottom").css("margin-left", $(".register-tenant-container").width() - $(".link-bottom").width());

            if (window.innerWidth < 992) {
                height = $(".form-container").height() + $(".info-container").height();
            }
            else {
                height = $(".form-container").height();
            }

            if (window.innerHeight < height) {
                $(".register-tenant-parent").css("height", height);
                $("#body").css("height", height);
                $("html").css("height", height);
            }
            else {
                $(".register-tenant-parent").css("height", "100%");
                $("#body").css("height", "100%");
                $("html").css("height", "100%");
            }

            if (window.innerWidth >= 992) {
                $(".dashboard-image").removeClass("display-none");
                $(".link-bottom").removeClass("display-none");
                $(".link-top").addClass("display-none");
            }
            else {
                $(".dashboard-image").addClass("display-none");
                $(".link-bottom").addClass("display-none");
                $(".link-top").removeClass("display-none");
            }
        });

        @if (GlobalAppSettings.Branding == AppBranding.BoldBI.Identifier && Syncfusion.Server.Base.CloudAppConfig.EnableAnalyticsTracking) {
            <text>
            var analyticKeyUA = "@Syncfusion.Server.Base.CloudAppConfig.GoogleAnalyticKeyUA";
            var analyticKeyAW = "@Syncfusion.Server.Base.CloudAppConfig.GoogleAnalyticKeyAW";
            var google_tag_manager = document.createElement("script");
            google_tag_manager.src = "https://www.googletagmanager.com/gtag/js?id=" + analyticKeyUA;
            google_tag_manager.async = 1;
            var parent_node = document.head || document.body;
            parent_node.appendChild(google_tag_manager);

            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', analyticKeyUA);
            gtag('config', analyticKeyAW);
            </text>
        }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Heebo:400,700&display=swap" rel="stylesheet">
</head>
<body ng-app="serverApp" ng-controller="tenantController" id="body">
    <div id="boldbi-register-body" class="register-tenant-parent">
        <div class="register-tenant-block">
            <div class="col-xs-12 link-wrapper link-top display-none">
                <a class="need-help pull-right" href="@CloudAppConfig.ContactUsUrl(TenantType.BoldBIOnPremise)" target="_blank">[[[Need help?]]]</a>

                @if (isAuthenticatedUser)
                {
                    <a class="pull-right" href="@Url.Action("logout", "accounts")?returnUrl=@HttpContext.Current.Request.Url.AbsoluteUri">[[[Sign out]]]</a>
                }
            </div>
            <div class="info-container no-padding col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="reg-info col-xs-12">
                    <div class="reg-header col-xs-12 no-padding">
                        <a href="@CloudAppConfig.SyncfusionCloudHomeUrl">
                            <img class="reg-image" alt="[[[syncfusion]]]" src="https://cdn.boldbi.com/static/company/boldbi/logo/v1/login_logo.svg">
                        </a>
                        <h1 class="reg-header-info">[[[Ready, Set, Go!]]]</h1>
                    </div>
                    <div class="header-info-meassages col-xs-12 no-padding">
                        <span class="reg-info-span col-xs-12 no-padding">
                            <img class="reg-info-tick col-xs-2 no-padding" src="~/Content/Styles/LESS/images/bullet.svg" style="margin: 0 auto;">
                            <span class="reg-info-1 col-xs-10 no-padding"><b>[[[Create a portal account]]]</b> [[[to manage your license.]]]</span>
                        </span>
                        <span class="reg-info-span col-xs-12 no-padding">
                            <img class="reg-info-tick col-xs-2 no-padding" src="~/Content/Styles/LESS/Images/bullet.svg" style="margin: 0 auto;">
                            <span class="reg-info-2 col-xs-10 no-padding"><b>[[[Verify]]]</b> [[[your account.]]]</span>
                        </span>
                        <span class="reg-info-message-tablet col-xs-12 no-padding">
                            <img class="reg-info-tick col-xs-2 no-padding" src="~/Content/Styles/LESS/images/bullet.svg" style="margin: 0 auto;">
                            @if (isEmbedPlan)
                            {
                                <span class="reg-info-3 col-xs-10 no-padding"><b>[[[Download]]]</b>[[[ the product and ]]]<b>[[[embed dashboards]]]</b>[[[ within your application.]]]</span>
                            }
                            else
                            {
                                <span class="reg-info-3 col-xs-10 no-padding"><b>[[[Download]]]</b>[[[ the product and get started.]]]</span>
                            }
                        </span>
                    </div>
                    <img class="dashboard-image @(isAuthenticatedUser ? "authenticated-dashboard-image" : string.Empty) display-none" src="@GlobalAppSettings.CdnDomain/static/registration/bold-bi/v1/bold-bi-illustration.png" />
                </div>
            </div>
            <div class="form-container no-padding col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <main class="register-tenant-child col-xs-12">
                    <div class="table-container col-xs-12 no-padding">
                        <div class="col-xs-12 link-wrapper link-bottom display-none no-padding @(isAuthenticatedUser ? "authenticated-link-wrapper" : string.Empty)">
                            <a class="need-help" href="@CloudAppConfig.ContactUsUrl(TenantType.BoldBIOnPremise)" target="_blank">[[[Need help?]]]</a>

                            @if (isAuthenticatedUser)
                            {
                                <a href="@Url.Action("logout", "accounts")?returnUrl=@HttpContext.Current.Request.Url.AbsoluteUri">[[[Sign out]]]</a>
                            }
                        </div>
                        <div class="register-tenant-container @(isAuthenticatedUser ? "authenticated-register-tenant-container" : string.Empty)">
                            @if (isEmbedPlan)
                            {
                                <h1 class="boldbi-registration-main-heading">[[[Get Started with ]]]@GlobalAppSettings.BrandingDisplayName [[[Embedded On-Premise]]]</h1>
                            }
                            else
                            {
                                <h1 class="boldbi-registration-main-heading">[[[Get Started with ]]]@GlobalAppSettings.BrandingDisplayName [[[On-Premise]]]</h1>
                            }
                            <h2 class="boldbi-registration-sub-heading">[[[Free ]]]@CloudAppConfig.TrailPeriod-[[[day trial. No credit card required.]]]</h2>
                            <div class="register-tenant-bg">
                                <div class="register-tenant-fields-div @(emailExist ? "signed" : string.Empty)">
                                    <form id="register-tenant-form" class="register-tenant-fields-container" name="tenantRegistrationForm" ng-init="init()" ng-submit="onRegisterFormSubmit($event, tenantInformation)" novalidate autocomplete="off">
                                        @Html.AntiForgeryToken()
                                        <div id="outer-container">
                                            <div id="dns-container">
                                                <div class="form-div form-group input-alignment dns-list">
                                                    @if (subdomainList.Count > 0)
                                                    {
                                                        <select class="form-control selectpicker" data-live-search="@(subdomainList.Count > 10 ? "true" : "false")" data-size="10" id="selected-dns" name="tenantInfoId" ng-init="tenantInformation.TenantInfoId='@ViewBag.subdomainList[0].TenantInfoId'" ng-model="tenantInformation.TenantInfoId">
                                                            @foreach (var subdomain in ViewBag.subdomainList)
                                                            {
                                                                <option value="@subdomain.TenantInfoId">@subdomain.DNS</option>
                                                            }
                                                        </select>
                                                        <span class="validation-message" id="start-new-site"><a href="javascript:void(0)" ng-click="onStartNewSite()">[[[Create a new portal]]]</a></span>
                                                    }
                                                </div>
                                                <div class="form-div form-group input-alignment text-body site-field @(subdomainList.Count > 0 ? "hidden" : string.Empty)" style="margin-top:0px">
                                                    <input type="text" tabindex="1" id="txt-dns" name="dns" class="form-control" placeholder="[[[Portal name]]]" ng-init="tenantInformation.DNS='@ViewBag.TenantInfo.DNS'" ng-model="tenantInformation.DNS" ng-maxlength="@FormFields.SiteName" ng-model-options="{ debounce: 1000 }" required min="6" autofocus />
                                                    <span class="validation-message ng-cloak top-padding" ng-show="(tenantRegistrationForm.dns.$touched || tenantRegistrationForm.dns.$dirty) && (tenantRegistrationForm.dns.$error.required)">[[[Please enter the portal name]]]</span>
                                                </div>
                                            </div>
                                            <div class="form-inline input-alignment text-body name-block">
                                                <div class="form-group input-alignment text-body first-name-block">
                                                    <input type="text" tabindex="2" id="txt-firstname" name="firstname" class="form-control name-block-text" placeholder="[[[First name]]]" ng-model="tenantInformation.FirstName" ng-disabled="'@emailExist'" ng-init="tenantInformation.FirstName='@ViewBag.TenantInfo.FirstName'" ng-maxlength="@FormFields.FirstName" required autocomplete="given-name" />
                                                    <span class="validation-message ng-cloak top-padding" ng-show="(tenantRegistrationForm.firstname.$touched || tenantRegistrationForm.firstname.$dirty) && (tenantRegistrationForm.firstname.$error.required)">[[[Please enter first name]]]</span>
                                                    <span class="validation-message ng-cloak top-padding" ng-show="tenantRegistrationForm.firstname.$dirty && tenantRegistrationForm.firstname.$error.maxlength">[[[Must be no more than ]]]@FormFields.FirstName [[[characters.]]]</span>
                                                </div>
                                                <div class="form-group input-alignment text-body last-name-block">
                                                    <input type="text" tabindex="3" id="txt-lastname" class="form-control name-block-text" placeholder="[[[Last name]]]" name="lastName" ng-model="tenantInformation.LastName" ng-disabled="'@emailExist'" ng-init="tenantInformation.LastName='@ViewBag.TenantInfo.LastName'" ng-maxlength="@FormFields.LastName" autocomplete="family-name" />
                                                    <span class="validation-message ng-cloak top-padding" ng-show="tenantRegistrationForm.lastName.$dirty && tenantRegistrationForm.lastName.$error.maxlength">[[[Must be no more than ]]]@FormFields.LastName [[[characters.]]]</span>
                                                </div>
                                            </div>
                                            <div class="form-div form-group input-alignment text-body email-address @(emailExist ? "signed" : string.Empty)">
                                                <input type="text" tabindex="4" id="txt-emailid" class="form-control" placeholder="[[[Business Email address]]]" name="email" autocomplete="off" ng-model="tenantInformation.Email" ng-disabled="'@emailExist'" ng-init="tenantInformation.Email='@ViewBag.TenantInfo.Email'" ng-maxlength="@FormFields.EmailAddress" ng-pattern="@emailRegex" ng-change="onEmailChange()" required />
                                                <span id="email-validation" class="validation-message ng-cloak top-padding" ng-show="(tenantRegistrationForm.email.$touched || tenantRegistrationForm.email.$dirty) && (tenantRegistrationForm.email.$error.required)">[[[Please enter email address]]]</span>
                                                <span id="different-account" class="validation-message ng-cloak" ng-show="'@emailExist'"><a href="@Url.Action("Logout", "Accounts")?returnUrl=@HttpContext.Current.Request.Url.AbsoluteUri">[[[Sign in with a different account]]]</a></span>
                                                <span class="validation-message ng-cloak" ng-show="!tenantRegistrationForm.email.$error.maxlength && tenantRegistrationForm.email.$error.pattern ">[[[Invalid email address]]]</span>
                                                <span class="validation-message ng-cloak" ng-show="tenantRegistrationForm.email.$error.maxlength ">[[[Email address is too long. Must be no more than ]]]@FormFields.EmailAddress [[[characters.]]]</span>
                                                <span class="validation-message display-none" id="invalid-domain">[[[An account with this email already exists. Click ]]]<a href="@Url.Action("Login", "Accounts")?returnUrl=@HttpUtility.UrlEncode(HttpContext.Current.Request.Url.AbsoluteUri)">[[[ here ]]]</a>[[[to log in with your account.]]]</span>
                                                <span class="validation-message display-none" id="invalid-email">[[[Invalid email address]]]</span>
                                                <span class="validation-message display-none" ng-hide="hideBusinessEmailValidation" id="corporate-email">@(isAuthenticatedUser ? "[[[We require a business email account for the free plan]]]" : "[[[Please enter a valid business email address]]]")</span>
                                            </div>
                                            @if (!emailExist)
                                            {
                                                <div id="password-field" class="form-div form-group input-alignment text-body">
                                                    <input type="text" class="display-none">
                                                    <input type="password" class="fake-password" name="fake_passwordfield_to_turnoff_autocomplete">
                                                    <input type="password" tabindex="5" id="txt-password" class="form-control" placeholder="[[[Password]]]" name="password" autocomplete="off" data-toggle="popover" data-title="[[[Password must contain:]]]" data-trigger="focus" data-html="true" data-content="@passwordRules" ng-model="tenantInformation.Password" ng-maxlength="@FormFields.Password" ng-pattern="@passwordRegex" required />
                                                    <span class="su su-eye display-none show-hide-password"></span>
                                                    <div class="error-container">
                                                        <span class="validation-message ng-cloak top-padding password-rules" ng-show="(tenantRegistrationForm.password.$touched || tenantRegistrationForm.password.$dirty) && (tenantRegistrationForm.password.$error.required)">[[[Please enter password]]]</span>
                                                        <span class="validation-message ng-cloak password-rules" ng-show="!tenantRegistrationForm.password.$error.maxlength && tenantRegistrationForm.password.$error.pattern">[[[Invalid password]]]</span>
                                                        <span class="validation-message ng-cloak password-rules" ng-show="tenantRegistrationForm.password.$error.maxlength">[[[Password is too long. Must be no more than ]]]@FormFields.Password [[[characters.]]]</span>
                                                    </div>
                                                </div>
                                            }
                                            <div class="form-div form-group input-alignment text-body">
                                                <input type="text" tabindex="6" id="txt-company" class="form-control" placeholder="[[[Company name]]]" name="Company" ng-model="tenantInformation.Company" ng-disabled="'@(!string.IsNullOrWhiteSpace(ViewBag.TenantInfo.Company))'" ng-init="tenantInformation.Company='@ViewBag.TenantInfo.Company'" ng-maxlength="@FormFields.Company" required autocomplete="family-name" />
                                                <span class="validation-message ng-cloak top-padding" ng-show="(tenantRegistrationForm.Company.$touched || tenantRegistrationForm.Company.$dirty) && (tenantRegistrationForm.Company.$error.required)">[[[Please enter company name]]]</span>
                                                <span class="validation-message ng-cloak top-padding" ng-show="tenantRegistrationForm.Company.$dirty && tenantRegistrationForm.Company.$error.maxlength">[[[Company name is too long. Must be no more than ]]]@FormFields.Company [[[characters.]]]</span>
                                            </div>
                                            <div class="form-div form-group input-alignment text-body">
                                                <input type="text" tabindex="7" id="txt-Phone" class="form-control" placeholder="[[[Phone number]]]" name="Phone" ng-model="tenantInformation.Phone" ng-disabled="'@(!string.IsNullOrWhiteSpace(ViewBag.TenantInfo.Phone))'" ng-init="tenantInformation.Phone='@ViewBag.TenantInfo.Phone'" ng-maxlength="@FormFields.Contact" autocomplete="family-name" />
                                                <span class="validation-message ng-cloak top-padding" ng-show="tenantRegistrationForm.Phone.$dirty && tenantRegistrationForm.Phone.$error.maxlength">[[[Contact Number is too long. Must be no more than ]]]@FormFields.Contact [[[characters.]]]</span>
                                            </div>

                                            <div class="agreement-wrapper form-div @(subdomainList.Count > 0 ? "hidden" : string.Empty)">
                                                <div class="agreement-div material-checkbox selfhosted @(emailExist ? "signed" : string.Empty)">
                                                    @Html.CheckBox("agreement", false, new { @required = "required", ng_model = "tenantInformation.AggrementAcceptance", ng_click = "checkboxValidation()", tabindex = "8" })
                                                    <label for="agreement" class="@(subdomainList.Count > 0 ? "hidden" : string.Empty)">[[[ I have read and agree to Syncfusion's ]]]<a href="@domain/privacy" target="_blank" tabindex="9">[[[privacy policy]]]</a>[[[, ]]]<a href="@domain/cookie-policy" target="_blank" tabindex="10">[[[cookie policy,]]]</a>[[[ and Bold BI's On-Premise ]]]<a href="@domain/terms-of-use" target="_blank" tabindex="11">[[[terms of use]]]</a>[[[. ]]]<a href="#" id="agreement-popover" style="padding-right: 5px;" data-toggle="popover" data-placement="right" data-container='body' data-trigger="focus" data-content="[[[I understand I will receive transactional emails relating to my account, including invoices, and documentation.]]]" data-original-title="" title="">[[[Read More.]]]</a></label>
                                                </div>
                                                @if (!string.IsNullOrEmpty(HttpContext.Current.Request.QueryString[CloudAppConfig.KcUserQueryParameter]))
                                                {
                                                    if (ViewBag.KcCouponStatus)
                                                    {
                                                        <div class="coupon-status-div alert alert-success">
                                                            <span class="coupon-status">[[[Coupon applied successfully]]]</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="coupon-status-div alert alert-danger">
                                                            <span class="coupon-status">[[[Invalid coupon]]]</span>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <input type="submit" tabindex="12" id="register-tenant" class="proceed-button" ng-disabled="tenantRegistrationForm.$invalid" @*ng-click="onRegisterFormSubmit($event, tenantInformation)"*@ value="@(subdomainList.Count > 0 ? "[[[Continue]]]" : "[[[Start Creating Dashboards]]]")" />
                                    </form>
                                </div>
                            </div>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="signin-instead">[[[Already have a Bold BI or Syncfusion account? ]]]<a href="@Url.Action("Login", "Accounts")?returnUrl=@HttpUtility.UrlEncode(HttpContext.Current.Request.Url.AbsoluteUri)" class="signin-instead-link" tabindex="13">[[[Sign in]]]</a></div>
                            }
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div id="account-activation-popup">
            <div id="account-activation-popup-parent">
                <div id="account-activation-popup-content"></div>
            </div>
        </div>
    </div>
    @if (Request.Cookies["cookie-consent"] == null)
    {
        <div class="cookie-notification">
            <div class="container">
                <div class="row" style="color:#ffffff;font-size:13px;padding:0px 50px 0px 30px">
                    <div class="col-lg-10 col-md-9 col-sm-10 col-xs-12 content-small vcenter" style="font-family:RobotoRegular;font-size:13px !important;line-height: 1.7em; width: 86%;">
                        [[[We use cookies to give you the best experience on our website. If you continue to browse, then you agree to our ]]]<a href="https://www.@(GlobalAppSettings.BrandingDomain)/privacy" target="_blank" style="text-decoration:underline;" class="privacy-link">[[[privacy policy]]]</a>[[[ and ]]]<a href="https://www.@(GlobalAppSettings.BrandingDomain)/cookie-policy" target="_blank" style="text-decoration:underline;" class="privacy-link">[[[cookie policy]]]</a>[[[.]]]
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-12 vcenter agreebutton">
                        <button id="cookiesubs" type="button" class="btn  btn--stack  btn--primary" style="background:#ff4800; color:white;display: inline-block;font-size:13px;padding: 3px 25px;border-radius: 3px;cursor:pointer">
                            <span class="btn--text" style="font-family:RobotoRegular;font-size:13px;font-weight: bold;">[[[OK]]]</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <footer class="col-xs-12">
        @if (!hidePrivacypolicy)
        {
            <div class="privacy-policy-wrapper">
                <div class="mobile-align col-md-6 col-sm-12 col-xs-12">
                    <a class="privacy-policy" href="@domain/privacy" target="_blank">[[[Privacy Policy]]]</a>
                    <hr class="footer-separator">
                    <a class="terms-of-use" href="@domain/terms-of-use" target="_blank">[[[Terms of Use]]]</a>
                    <hr class="footer-separator">
                    <a class="cookie-policy" href="@domain/cookie-policy" target="_blank">[[[Cookie Policy]]]</a>
                </div>
                <div class="mobile-align col-md-6 col-sm-12 col-xs-12">
                    <a class="copyright" href="@domain/copyright" target="_blank">[[[Copyright © 2001 - ]]]@DateTime.UtcNow.Year [[[Syncfusion Inc. All Rights Reserved.]]]</a>
                </div>
            </div>
        }
    </footer>

</body>
</html>