@using Syncfusion.Server.Base.DataClasses;
@model UserTokenResponse
<div id="authenticator-application-box"></div>
<div id="authenticator-application-box-content">
    <div class="admin-page-body auth-header">
        <div id="qrcode-container" class="qrcode-container">
            <ol type="1">
                <li class="first-list">
                    @Html.Raw(string.Format(T["Download & install any TOTP applications such as Google Authenticator, Microsoft Authenticator, Authy, LastPass Authenticator from either the {0}Apple App Store{1} or {2}Google Play Store{3}."].Value, "<a class='help' href='" + await HelpSiteManager.GetHelpSiteUrl(HelpSiteUrlNames.Apple_App_Store) + "' target='_blank'>", "</a>", "<a class='help' href='" + await HelpSiteManager.GetHelpSiteUrl(HelpSiteUrlNames.Google_Play_Store) + "' target='_blank'>", "</a>"))
                </li>
                <li>@T["Scan the QR Code in the application to add the account."]</li>
                <div class="qrcode-content">
                    <div id="qrCode" data-toggle="tooltip"></div>
                    <p class="info-message">
                        @T["If you can’t scan the image, enter this code instead"]:
                    </p>
                    <input id="sharedKey" class="form-control" autocomplete="off" disabled />
                </div>
                <li>@T["Enter the six-digit code which the app generates below to enable."]</li>
            </ol>
            <div class="validate-code">
                <input id="verification-code" class="form-control" autocomplete="off" placeholder="@T["Enter the six-digit code"]" autofocus />
                <div class="validation-holder">
                    <span id="validation-error" class="validation-messages"></span>
                </div>
            </div>
        </div>
    </div>
</div>

