@using Syncfusion.Server.Base;
@using System.Security.Claims;

@{
    ViewBag.Title = $"{T["User Security"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}";
    ViewBag.MessageBox = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnUrl = ViewBag.ReturnUrl;
    var currentUserId = Context.User.GetUserId();
    var profileUrl = "profile";
    var userDetail = (User)ViewBag.UserDetail;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/change-password.css" integrity="@IntegrityTagHelper.GetIntegrity("bundles/css/change-password.css")" crossorigin="anonymous" asp-append-version="true" />
}
@section scripts{
    <script nonce="@Context.Items["ScriptNonce"]" src="~/bundles/js/change-password.js" integrity="@IntegrityTagHelper.GetIntegrity("bundles/js/change-password.js")" crossorigin="anonymous" asp-append-version="true"></script>
       <script nonce="@Context.Items["ScriptNonce"]">
        var updatepasswordUrl = "@Url.Action("updatepassword", "User")";
        var isShow2FA = @Json.Serialize(userDetail.DirectoryTypeId == DirectoryType.Local || userDetail.DirectoryTypeId == DirectoryType.ExternalDatabase);
        var generateUserTokenUrl = "@Url.Action("generateusertoken", "User")";
        var enable2faUrl = "@Url.Action("EnableTwoFactorAuthentication", "User")";
        var disableMfaUrl = "@Url.Action("DisableMfa", "User")";
        var regenerateRecoveryCodeUrl = "@Url.Action("RegenerateRecoveryCode", "User")";
        var validateVerificationCodeUrl = "@Url.Action("ValidateVerificationCode", "User")";
        $(document).ready(function () {
            generateProfileAvatar();
        });
    </script>
}
@section MainSection{
    @await Html.PartialAsync("_UserProfileMenu")

    <div class="col-xs-12 header-section no-padding no-margin width-alignment">

        <div class="admin-page-header col-md-12 col-lg-12 col-sm-12 security-header">
            <div class="col-xs-6 no-padding">
                <div class="admin-page-header-description col-xs-6 no-padding" id="application-title">
                    <hgroup class="col-xs-12 header-group">
                        <h1 class="page-title" id="display-name">@T["Security"]</h1>
                    </hgroup>
                </div>
            </div>
            <div class="col-xs-4 top-nav-sec no-padding">
                @await Html.PartialAsync("../Shared/_TopMenu")
            </div>
        </div>

        <div class="col-md-12 import-area bi-page-header admin-page-icon">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-6 no-padding admin-header-btn pull-right" id="user-management-options">
                    @if (!string.IsNullOrWhiteSpace(returnUrl))
                    {
                        <a href="@returnUrl" class="secondary-button pull-right" id="change-password-cancel">@T["Cancel"]</a>
                        <input id="hidden-return-url" class="hidden" value="@returnUrl" />
                    }
                    else
                    {
                        <a href="@profileUrl" class="secondary-button pull-right" id="change-password-cancel">@T["Cancel"]</a>
                    }

                   @Html.TextBox("save", T["Save"].Value, new { type = "button", @class = "primary-button pull-right", id = "change-password-save" })
                </div>
            </div>
        </div>

        @if ((userDetail.DirectoryTypeId == DirectoryType.Local || userDetail.DirectoryTypeId == DirectoryType.ExternalDatabase))
        {
            <div class="col-xs-12 no-padding auth-page-nav-bar">
                <ul id="ad-tab-nav" class="nav nav-tabs" role="tablist">

                    <li role="presentation">
                        <a href="#change-password-tab" id="change-password" aria-controls="change-password" role="tab" data-toggle="tab">@T["Change Password"]</a>
                    </li>

                    <li role="presentation">
                        <a href="#2fa-tab" id="2fa" aria-controls="2fa" role="tab" data-toggle="tab">@T["Two Factor Authentication"]</a>
                    </li>

                </ul>
            </div>  
        }
    </div>

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 admin-page-content-container" id="security-setting-container" role="tabpanel">
    <div class="admin-page-content col-xs-12 no-padding">
        <input type="hidden" class="page-name" data-content="CHANGE PASSWORD">
        <input type="hidden" id="UserName" value="@(currentUserId)" />
        @if ((userDetail.DirectoryTypeId == DirectoryType.Local || userDetail.DirectoryTypeId == DirectoryType.ExternalDatabase))
        {
            <div class="tab-content col-xs-12 no-padding">
                @await Html.PartialAsync("_ChangePassword")
                @await Html.PartialAsync("_MultiFactorAuthentication")
            </div>
        }
        else  {
               @await Html.PartialAsync("_MultiFactorAuthentication");
              }
    </div>
    @await Html.PartialAsync("../Shared/_FooterOnPremise")
</div>
    @await Html.PartialAsync("_AuthenticatorApplicationBox")
    @await Html.PartialAsync("_ShowRecoveryCode")
    @await Html.PartialAsync("_DisableMfaDialog")
    @await Html.PartialAsync("_RecoveryCodeRegenerationDialog")
}