@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (!CloudAppConfig.IsSelfHosted)
    {
    <title>Page Not Found - @GlobalAppSettings.SystemSettings.OrganizationName</title>
    <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.Favicon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    }
    else
    {
    <title>[[[Page Not Found]]] - @GlobalAppSettings.SystemSettings.OrganizationName</title>
    <link rel="icon" href="@GlobalAppSettings.SystemSettings.FavIcon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    }


    <style>
        body {
            background: #F9F9F9;
        }

        header {
            background: #FFF;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        }

        .image-404 {
            padding: 50px;
            max-width: 70%;
        }

        footer {
            background: #EFEFEF;
            bottom: 0;
            padding: 10px;
            position: absolute;
            width: 100%;
        }

        .page-not-found-logo {
            max-height: 30px;
            max-width: 129px;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="container">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Syncfusion">
                <img class="page-not-found-logo" alt="syncfusion" src="@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '@Url.Content("~/content/images/" + GlobalAppSettings.Branding + "/application/" + GlobalAppSettings.Branding + ".svg")') this.src = '@Url.Content("~/Content/images/" + GlobalAppSettings.Branding + "/application/"+ GlobalAppSettings.Branding + ".svg")';" />
            </a>
        </div>
    </header>
    <main class="container text-center">
        <img src="@GlobalAppSettings.SystemSettings.CDNLink/images/common/404.png" alt="404" class="image-404" />
        <h2>[[[Page Not Found]]]</h2>
    </main>
    <footer>
        <div class="container">
            <span class="">[[[Copyright]]] © 2001-@DateTime.UtcNow.Year Syncfusion Inc.</span>
        </div>
    </footer>
</body>
</html>