<div id="user-info-container" class="display-none" ng-app="serverApp" ng-controller="tenantController">
    <h4>Welcome to BoldSign</h4>
    <p>Fill in your basic information to get going with the BoldSign.</p>

    <form id="user-info" name="tenantRegistrationForm" novalidate ng-submit="onRegisterFormSubmit($event, tenantInformation)" autocomplete="off">
        @Html.AntiForgeryToken()
        <div class="name-inline fisrt-name input-fields">
            <input id="firstName" name="firstName" ng-model="tenantInformation.FirstName" ng-init="tenantInformation.FirstName='tenantInformation.FirstName'" ng-maxlength="@FormFields.FirstName" required />
            <span class="validation-message" ng-show="(tenantRegistrationForm.firstName.$touched || tenantRegistrationForm.firstName.$dirty) && (tenantRegistrationForm.firstName.$error.required)">Please enter first name</span>
            <span class="validation-message" ng-show="tenantRegistrationForm.firstName.$dirty && tenantRegistrationForm.firstName.$error.maxlength">Must be no more than @FormFields.FirstName characters.</span>
        </div>
        <div class="name-inline input-fields">
            <input id="lastName" name="lastName" ng-model="tenantInformation.LastName" ng-init="tenantInformation.LastName='tenantInformation.LastName'" ng-maxlength="@FormFields.LastName" />
            <span class="validation-message" ng-show="tenantRegistrationForm.lastName.$dirty && tenantRegistrationForm.lastName.$error.maxlength">Must be no more than @FormFields.LastName characters.</span>
        </div>
        <div class="input-fields">
            <input id="organizationName" name="Company" ng-model="tenantInformation.Company" ng-init="tenantInformation.Company='tenantInformation.Company'" required />
            <span class="validation-message" ng-show="(tenantRegistrationForm.Company.$touched ||tenantRegistrationForm.Company.$dirty) && (tenantRegistrationForm.Company.$error.required)">Please enter company name</span>
        </div>
        <div class="input-fields">
            <input id="phone" ng-model="tenantInformation.Phone" ng-init="tenantInformation.Phone='tenantInformation.Phone'" />
        </div>
        <div id="button-container">
            <input type="submit" tabindex="12" id="create-boldsign-account" class="sf-button sf-primary-button" ng-disabled="tenantRegistrationForm.$invalid" value="Get Started with BoldSign" />
        </div>
    </form>
</div>