
@{
    ViewBag.Title = "EmailActivityLogs";
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

@section scripts{
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/bootstrap.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/bootstrap.min.js"></script>
</environment>
}

<div id="apiKeyGrid" class="col-lg-12 no-padding dialog-override">
</div>
<script type="text/x-jsrender" id="last-used-date">
    <div class="token-validity" title="{{:LastUsedDate}}" data-bs-toggle="tooltip" data-placement="top">
         {{if ~isDash(LastUsedDate)}}
            <span>-</span>
        {{else}}
            {{:LastUsedDate}}
        {{/if}}
    </div>
</script>
<script type="text/x-jsrender" id="token-validity-value">
    <div class="token-validity" title="{{:Validity}}" data-bs-toggle="tooltip" data-placement="top">
         {{if ~isDash(TokenValidity)}}
            <span>-</span>
        {{else}}
            {{:TokenValidity}}
        {{/if}}
    </div>
</script>
<script type="text/x-jsrender" id="api-key-value">
    <div>
        <span class="api-key-column">
            <span id="apikey-value-id" title="{{:Validity}}">{{:ApiKey}}</span>
            <span class="su su-copy form-control copy-apikey-values" id="copy-apikey-id" onclick="fnCopyApiKey('#apikey-value-id','#copy-apikey-id')" data-bs-toggle="tooltip" data-bs-original-title="@T["Click to copy"]"></span>
        </span>
    </div>
</script>
<script type="text/x-jsrender" id="api-key-options">
    <div class="dropdown">
        <span class="dropdown-toggle option-icon" data-bs-toggle="dropdown">
            <span class="su su-options"> </span>
        </span>
        <ul class="dropdown-menu" role="menu">
            <li>
            <a id="edit-api-key" data-name="{{:Name}}" data-id="{{:Id}}">
                <i class="su su-edit"></i>
                <span>@T["Edit"]</span>
            </a>
            </li>
            <li>
                <a id="delete-api-key" class="delete-class delete-api-key" data-name="{{:Name}}">
                    <i class="su su-delete"></i>
                    <span>@T["Delete"]</span>
                </a>
            </li>
        </ul>
    </div>
</script>
<script type="text/javascript">
    $.views.helpers({
    isDash: function (tokenValidity) {
        return tokenValidity === null;
    }
    });
    GridLocalization(window.Server.App.Localization.ApiKeyEmpty);
    $("#apiKeyGrid").ejGrid({
        dataSource: ej.DataManager({ url: getApikeyUrl, adaptor: "UrlAdaptor" }),
        gridLines: ej.Grid.GridLines.None,
        allowPaging: true,
        pageSettings: { pageSize: 20 },
        allowSorting: true,
        enableAltRow: false,
        allowSearching: true,
        allowFiltering: true,
        allowSelection: true,
        filterSettings: { filterType: "menu" },
        actionBegin: "fnActionBegin",
        toolbarSettings: { showToolbar: false, toolbarItems: [ej.Grid.ToolBarItems.Search] },
        actionComplete: function (args) {
            ToggleApiKeyButton();
            maskApiKeys();
        },
        rowDataBound: function () {
            initializeTooltips();
        },
        dataBound: function () {
            initializeTooltips();
        },
        columns: [
            { field: 'Name', headerText: "@T["Name"]", width: 40, allowSorting: false, allowFiltering: false},
            { field: 'ApiKey', headerText: "@T["API Key"]", templateID: "#api-key-value", width: 70, allowSorting: false, allowFiltering: false},
            { field: 'ModifiedDateString', headerText: "@T["Modified On"]", width: 35, allowSorting: false, allowFiltering: false},
            { field: 'ModifiedByName', headerText: "@T["Modified By"]", width: 30, allowSorting: false, allowFiltering: false},
            { field: 'LastUsedDate', headerText: "@T["Last Used"]", templateID: "#last-used-date", width: 35, allowSorting: false, allowFiltering: false},
            { field: 'TokenValidity', headerText: "@T["Valid Till"]", templateID: "#token-validity-value", width: 35, allowSorting: false, allowFiltering: false },
            { field: 'Options', headerText: '', templateID: "#api-key-options", width: 20, allowSorting: false, allowFiltering: false }
        ]
    });

    function initializeTooltips() {
        $.fn.tooltip = function(options) {
            return this.each(function() {
                new bootstrap.Tooltip(this, options);
            });
        };

        // Initialize tooltips
        $('[data-bs-toggle="tooltip"]').tooltip({ container: 'body' });
    }

</script>