@{
    var dashboardSettings = ViewBag.DashboardSettings;
    var defaultViewSettings = ViewBag.DefaultView;
    var autosavedFilterValue = ViewBag.AutosavedFilterValue;
    var helpSiteBaseUrl = ServerAppConfig.AppSettings.Documentation.BaseUri;
    var autoSaveHelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.AutoSaveFilter);
    var IsHideHelpLink = ServerAppConfig.IsHideHelpLink;
}

<div id="dashboard-settings" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-margin admin-page-body notification-body">
    <input type="hidden" class="page-title">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="notification-heading-form-div">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding" id="section-heading">
            [[[Dashboard Settings]]]
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" id="notification-preference-form-div">
        <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 notification-preference-form no-padding" autocomplete="off">
            <div class="notification-preference-table col-sm-8 col-xs-12" cellpadding="20">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top16">
                    <label class="col-xs-12 col-sm-5 col-md-6 col-lg-5 no-padding notification-content text-right">
                        [[[Auto-save filter]]]
                        <div id="settings-info-tag">
                            <span class="dropdown-toggle cursor-type" data-toggle="dropdown"><span class="su su-info" title=""></span></span>
                            <div class="col-xs-2 dropdown-menu auto-info common-tooltip-info" id="tooltip-info" role="menu"></div>
                        </div>
                    </label>
                    <div class="text-center switch-align auto-save-switch" style="padding-right:49% !important">
                        <span class="material-switch text-left">
                            @if (autosavedFilterValue)
                            {
                                <input type="checkbox" id="restrict-auto-save-filter" @(dashboardSettings ? "checked" : string.Empty) onchange="SaveUserAutosaveFilter()" />
                                <label for="restrict-auto-save-filter" class="label-primary"></label>
                            }
                            else
                            {
                                <input type="checkbox" id="restrict-auto-save-filter" disabled />
                                <label for="restrict-auto-save-filter" class="label-primary"></label>
                            }

                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <input type="hidden" id="defaultSettings" value="@ViewBag.DefaultView" />
</div>
<script>
    if ($("#restrict-auto-save-filter").is(":disabled")) {
        if (@Json.Serialize(ViewBag.IsAdminAccount)) {
            $("#tooltip-info").html("[[[Auto save filter is disabled in ]]]<span><a target='_blank' href='@Url.Action("DashboardSettings", "Administration")'>[[[dashboard settings.]]]</a></span>");
        }
        else {
            $("#tooltip-info").html("[[[Auto-save filter is disabled by the system administrator. Please contact your system administrator to enable this.]]]");
        }
    }
    else {
        if (!@Json.Serialize(IsHideHelpLink)) {
            $("#tooltip-info").html("[[[The dashboards will be rendered with the last applied filters by the users. Learn more about ]]]<span><a target='_blank' href='@(helpSiteBaseUrl + autoSaveHelpSiteUrl)'>[[[auto-saving filters.]]]</a></span>");
        } else {
            $("#tooltip-info").html("[[[The dashboards will be rendered with the last applied filters by the users.]]]");
        }
    }
</script>