@{
    var globalAppSettings = _globalAppSettings;
    var identityResponse = Context.RequestServices.GetRequiredService<ServerPrincipal>();
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    ViewBag.Title = "[[[Change Password]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    ViewBag.MessageBox = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/change-password.min.css" />
     <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/change-password.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/change-password.min.css" />
     <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/change-password.js"></script>
</environment>
@section scripts{

     <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var updatepasswordUrl = "@Url.Action("updatepassword", "User")";
    </script>
}
@section MainSection{
    <div id="edit-profile-base-div" class="col-md-12 col-sm-12 col-12 col-lg-12 ">
        <input type="hidden" class="page-name" data-content="[[[CHANGE PASSWORD]]]">
        <input type="hidden" id="UserName" value="@identityResponse.User.Email" />
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 profile-edit admin-page-container" id="user-profile-master">
            <div id="edit-profile-heading-div" class="col-12 col-md-12 col-sm-12 col-lg-12 admin-page-header">
                <h2 class="page-title">[[[MY PROFILE - Change Password]]]</h2>
            </div>
            <div id="change-password" class="admin-page-body">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding" id="change-password-content">
                    <form class="col-12 col-sm-12 col-md-12 col-lg-12 change-password-form">
                        <div class="user-profile-table" cellpadding="20">
                            <div class="spacer col-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                                <div class="col-12 col-sm-3 col-md-2 col-lg-2 no-padding text-right password-label-div">
                                    @Html.Label("current-password", "[[[Current Password]]]", new { @class = "password-label app-textbox-label" })
                                    <span class="mandatory">*</span>
                                </div>
                                <div class="password-field col-12 col-sm-5 col-md-4 col-lg-3 no-padding">
                                    @Html.Password("fake-password", new { id = "fake-password", @class = "fake-password-avoid-autocomplete" })
                                    @Html.Password("old-password", "", new { @class = "form-control notification-content password-fields-user-profile-edit", id = "old-password", name = "old-password", maxlength = "4000" })
                                    <span class="su su-eye view-green show-hide-password"> </span>
                                    <span id="old-password-validate" class="password-validate-holder validation-message"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding new-section">
                                <div class="col-12 col-sm-3 col-md-2 col-lg-2 no-padding text-right password-label-div">
                                    @Html.Label("new-password", "[[[New Password]]]", new { @class = "password-label app-textbox-label" })
                                    <span class="mandatory">*</span>
                                </div>
                                <div class="password-field col-12 col-sm-5 col-md-4 col-lg-3 no-padding">
                                    @Html.Password("new-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "new-password", name = "new-password", maxlength = "4000" })
                                    <span class="su su-eye view-green show-hide-password"></span>
                                    <span id="new-password-validate" class="password-validate-holder  validation-message"></span>
                                </div>
                            </div>
                            <div id="confirm-password-section" class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding confirm-section">
                                <div class="col-12 col-sm-3 col-md-2 col-lg-2 no-padding text-right password-label-div">
                                    @Html.Label("confirm-password", "[[[Confirm Password]]]", new { @class = "password-label app-textbox-label" })
                                    <span class="mandatory">*</span>
                                </div>
                                <div class="password-field col-12 col-sm-5 col-md-4 col-lg-3 no-padding">
                                    @Html.Password("confirm-password", "", new { @class = "form-control password-fields-user-profile-edit", id = "confirm-password", name = "confirm-password", maxlength = "4000" })
                                    <span class="su su-eye view-green show-hide-password"></span>
                                    <span id="confirm-password-validate" class="password-validate-holder  validation-message"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 admin-page-actions">
                <div class="col-12 col-sm-3 col-md-2 col-lg-2 no-padding"></div>
                <div id="change-password-btn" class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                    <a href="@Url.Action("Profilepage","user")" class="secondary-button app-btn-secondary float-end" id="change-password-cancel">[[[Cancel]]]</a>
                    @Html.TextBox("save", "[[[Save]]]", new { type = "button", @class = "primary-button app-btn-primary float-end", id = "change-password-save" })
                </div>
                <div class="col-12 col-sm-3 col-md-2 col-lg-2 no-padding">
                    <h5 id="password-validation" class="password-validate-holder validation-message"></h5>
                </div>
            </div>
        </div>
    </div>
}