
<!DOCTYPE html>
<head>
     <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var scheduleHistoryUrl = "@Url.Action("ScheduleHistory", "items")";
    </script>

</head>
<body>
    <div id="run-history-container" class="col-12 no-padding dialog" style="display:none">
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog col-lg-12 popup-header no-padding" role="document">
                <div class="modal-content col-lg-12" data-spy="scroll">
                    <div class="col-12 modal-header">
                        <div class="col-lg-11 d-flex col-11 col-sm-11 col-md-11 no-padding">
                            <span class="su su-run-history head-icon col-lg-1 col-1 col-sm-1 col-md-1 header-icon"></span>
                            <span class="modal-title popup-title schedule-popup-title ellipsis col-lg-10 col-10 col-sm-10 col-md-10 no-padding" data-bs-toggle="tooltip" data-placement="bottom" data-container="body" style="font-size:16px;"></span>
                        </div>
                        <div class="col-lg-1 col-1 col-sm-1 col-md-1 no-padding">
                            <a href="#" data-bs-toggle="tooltip" data-placement="left" data-container="body" title="@T["Close"]" class="popup-close float-end"><span class="su su-close"></span></a>
                        </div>
                    </div>
                    <div class="modal-body col-lg-12">
                        <div class="total-move-container col-12 version-container-padding">
                            <div id="item-history-container" class="show col-12 no-padding version-area" data-previous-parent-id="none" data-parent-id="home" data-type="self">
                                <div class="col-12 no-padding" style="display:block; padding-top:20px; float:left;">
                                    <div id="historygrid" class="grid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 modal-footer">
                        <div class="col-12 no-padding">
                            <input type="button" id="close-button" title="@T["Close"]" class="app-button app-secondary-button app-btn-secondary float-end popup-close" value="@T["Close"]" tabindex="-1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ScheduleFailureStatus" class="fluent-popup custom-bootstrap-styles custom-server-style no-padding" style="display: none">
        <div class="fluent-popup-header col-12 no-padding">
            <h4 class="popup-title">
                <span class="su su-info"></span>
                <span id="info-dialog-header">@T["Failure Info"]</span>
                <button id="close-info-dialog" type="button" title="@T["Close"]" data-bs-toggle="tool-tip" data-container="body" class="btn-close popup-close" id="close-info-dialog" aria-label="Close">
                    <span class="su su-close"></span>
                </button>
            </h4>
        </div>
        <div class="fluent-item-popup-body col-12">
            <span id="ScheduleFailureStatusMessage"></span>
        </div>
        <div class="fluent-popup-footer col-12">
            <div class="col-12 no-padding">
                <button class="app-button app-secondary-button app-btn-secondary fluent" id="copy-schedule-history" title=@T["Copy to Clipboard"]>@T["Copy to Clipboard"]</button>
                <button class="close-fluent app-button app-secondary-button app-btn-secondary" id="close-info-dialog" title=@T["Close"]>@T["Close"]</button>
            </div>
        </div>
    </div>
</body>
<script type="text/x-jsrender" id="execution_type">
    <div class="grid-content" title="{{:ExecutionType}}" data-bs-toggle="tooltip">{{:ExecutionType}}</div>
</script>
<script type="text/x-jsrender" id="schedule_status">
        {{if ScheduleStatus =="@((int)ScheduleStatus.Fail)"}}
        <span><a class="grid-content" href="#" id="failure-status">{{:Status}}</a></span>
        {{else}}
    <div class="grid-content" title="{{:Status}}" data-bs-toggle="tooltip">{{:Status}}</div>
        {{/if}}
</script>
<script type="text/x-jsrender" id="schedule_message">
    <div class="grid-content" title="{{:Message}}" data-bs-toggle="tooltip">{{:Message}}</div>
</script>
<script type="text/x-jsrender" id="executed_date">
    <div class="grid-content" title="{{:ExecutedDateString}}" data-bs-toggle="tooltip">{{:ExecutedDateString}}</div>
</script>
<script type="text/x-jsrender" id="log_details">
    <div class="grid-content" title="{{:Details}}" data-bs-toggle="tooltip">{{:Details}}</div>
</script>
<script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
    $(document).ready(function () {
        GridLocalization(window.Server.App.Localization.ScheduleHistoryEmpty);
        $("#historygrid").ejGrid({
            gridLines: ej.Grid.GridLines.None,
            allowPaging: true,
            pageSettings: { pageSize: 10 },
            allowSorting: true,
            allowSearching: true,
            allowFiltering: false,
            enableAltRow: false,
            allowSelection: true,
            enableRowHover: true,
            locale: "en-US",
            rowDataBound: function () {
                var parent = args.row[0];
                var rowIndex = parent.rowIndex;
                var children = $(parent).children(".e-rowcell");
                var childOfChildrenElement = $(children[3]).children(".add-space-for-info");
                var statusElement = $(children[1]).children(".add-space-for-info");
                if (rowIndex > 4){
                    if (childOfChildrenElement.length > 0){
                        $(childOfChildrenElement[0]).attr("data-bs-toggle", "tooltip");
                        $(childOfChildrenElement[0]).attr("data-placement","top");
                    }
                    if (statusElement.length > 0) {
                        $(statusElement[0]).attr("data-bs-toggle", "tooltip");
                        $(statusElement[0]).attr("data-placement", "top");
                    }

                }
                else{
                    if (childOfChildrenElement.length > 0) {
                        $(childOfChildrenElement[0]).attr("data-bs-toggle", "tooltip");
                        $(childOfChildrenElement[0]).attr("data-placement", "bottom");
                    }

                    if (statusElement.length > 0) {
                        $(statusElement[0]).attr("data-bs-toggle", "tooltip");
                        $(statusElement[0]).attr("data-placement", "bottom");
                    }
                }

                $('[data-bs-toggle="tooltip"]').tooltip();
            },
            dataBound: function (args) {
                $('[data-bs-toggle="tooltip"]').tooltip();
            },
            columns: [
                {
                    template: true,
                    templateID: "#execution_type",
                    headerText: "@T["Execution Type"]",
                    width: 40,
                    field: "ExecutionType"
                },
                {
                    template: true,
                    templateID: "#schedule_status",
                    headerText: "@T["Status"]",
                    width: 25,
                    field: "Status"
                },
                {
                    template: true,
                    templateID: "#executed_date",
                    headerText: "@T["Execution Date"]",
                    width: 40,
                    field: "ExecutedDateString"
                },
            ]
        });
    });
</script>