@{
    Layout = null;
    var canEdit = Convert.ToBoolean(ViewBag.CanWrite);
}

<body ng-app="serverApp" id="body" style="overflow: hidden; position: static; margin: 0; padding: 0; height: 100%; width: 100%">  
    <div id="dataAlert" style="width:100%;height:100%"></div>
</body>

<script>
        var sharedDataSources = @Html.Raw(ViewBag.SharedDatasources);
        var itemId = "@ViewBag.ItemId";
        var version = "@ViewBag.Version";
        var designerToken = "@ViewBag.AccessToken";
        var canEdit = @Json.Serialize(canEdit);
</script>