@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@{
    var globalAppSettings = _globalAppSettings;

    ViewBag.Title = T["Schedules"].Value + " - " + globalAppSettings.SystemSettings.OrganizationName;
    var isMobile = new DeviceDetection(Context).IsMobile;
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.ManageSchedules);
    var itemPermissions = ViewBag.ItemAddOptions as Dictionary<ItemType, bool>;
    var itemsCount = ViewBag.ItemsCount as Dictionary<ItemType, int>;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var customUI = globalAppSettings.SystemSettings.CustomUI;
    var schemes = customUI?.Profiles != null && customUI.Profiles[0].Schedules != null ? customUI.Schemes.Where(x => x.Name == customUI.Profiles[0].Schedules.Scheme).FirstOrDefault() : null;
    var userId = _identityResponse.User.UserId;
    var cdnLink = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
    var pageDescription = T["Create and manage dashboard schedules to send out dashboard reports either at a specific date and time interval or when data changes."];
    var partialViewsUrl = Url.Action("LoadPartialViews", "PartialView") + "?v=" + ServerAppConfig.ProductVersion + "&c=" + @System.Globalization.CultureInfo.CurrentCulture + "&isMobile=" + isMobile + "&page=" + (int)ItemType.Schedule;
}
@model List<ScheduleViewModel>

@section styles{
    @await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/schedules.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/schedules.min.css" />
    </environment>
}

@section scripts{
    <script>
        var partialViewsUrl = @Json.Serialize(partialViewsUrl);
        var isMobile = @Json.Serialize(isMobile)
                var buildVersion = "@ServerAppConfig.ProductVersion";
        $(function () {
            $.ajax({
                type: "GET",
                url: partialViewsUrl,
                async: true,
                success: function (response) {
                    $('#server-app-container #content-area').append(response);

                },
            });
        });
    </script>
    <script>
        var dashboardServerResourceUrl = "@globalAppSettings.SystemSettings.CDNLink";
        var scheduleRangeDateFormat = "@_clientDateTimeInfo.ClientDateTime.DateFormat";
        var scheduleRangeTimeFormat = "@_clientDateTimeInfo.ClientDateTime.TimeFormat";
        var enableScheduleUrl = "@Url.Action("EnableSchedule", "scheduler")";
        var disableScheduleUrl = "@Url.Action("DisableSchedule", "scheduler")";
        var ondemandScheduleUrl = "@Url.Action("OnDemandSchedule", "scheduler")";
        var deleteScheduleUrl = "@Url.Action("deleteschedule", "scheduler")";
        var removeScheduleUrl = "@Url.Action("RemoveSchedule", "scheduler")";
        var getSchedulesUrl = "@Url.Action("getschedules", "scheduler")";
        var addScheduleUrl = "@Url.Action("AddSchedule", "scheduler")";
        var filterSchedulesUrl = "@Url.Action("GetFilteredSchedules", "scheduler")";
        var scheduleHistory = "@ViewBag.SchedleHistory";
        var scheduleHistoryScheduleId = "@ViewBag.ScheduleId";
        var scheduleHistoryScheduleName = "@ViewBag.ScheduleName";
        var scheduleHistoryItemType = "@Convert.ToInt32(ItemType.Schedule)";
        var cdnLink = "@cdnLink";
        var appVersion = "@ServerAppConfig.ProductVersion";
        var scheduleExist = "@ViewBag.ScheduleExist";
    </script>

    @if (!isMobile)
    {
        @await Html.PartialAsync("../Scheduler/_ScheduleHistory")
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/scheduleslisting.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/scheduleslisting.min.js"></script>
        </environment>
        <script type="text/javascript">
            $(document)
                .ready(function () {
                    $("#search-schedules").val("");
                    DateRangeLocalization();
                    $("#datePicker").ejDateRangePicker({
                        dateFormat: scheduleRangeDateFormat,
                        locale: "en-US",
                        buttonText: { apply: window.Server.App.Localization.Apply, cancel: window.Server.App.Localization.CancelButton, reset: window.Server.App.Localization.Reset },
                        ranges: [
                            { label: window.Server.App.Localization.Today, range: [new Date(), new Date()] },
                            { label: window.Server.App.Localization.Yesterday, range: [new Date(new Date().setDate(new Date().getDate() - 1)), new Date(new Date().setDate(new Date().getDate() - 1))] },
                            { label: window.Server.App.Localization.LastDays.format("7"), range: [new Date(new Date().setDate(new Date().getDate() - 7)), new Date()] },
                            { label: window.Server.App.Localization.LastDays.format("15"), range: [new Date(new Date().setDate(new Date().getDate() - 14)), new Date()] },
                            { label: window.Server.App.Localization.LastDays.format("30"), range: [new Date(new Date().setMonth(new Date().getMonth() - 1)), new Date()] },
                            { label: window.Server.App.Localization.LastDays.format("60"), range: [new Date(new Date().setMonth(new Date().getMonth() - 2)), new Date()] },
                            { label: window.Server.App.Localization.ThisWeek, range: [new Date(new Date().setDate(new Date().getDate() - new Date().getDay())), new Date(new Date().setDate(new Date().getDate() - new Date().getDay() + 6))] },
                            { label: window.Server.App.Localization.ThisMonth, range: [new Date(new Date().getFullYear(), new Date().getMonth(), 1), new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)] }
                        ],
                    });

                    $.views.helpers({
                        checkMobile: function() {
                            return ("@isMobile.ToString().ToLower()" == "false" &&
                            (window.innerWidth > 1040));
                        }
                    });
                    if (window.location.search.length > 0) {
                        var query = decodeURIComponent(window.location.search.split('?')[1]);
                        query = query.replace('=', ':');
                        searchValue = query.split('&');
                        $("#search-schedules").val(searchValue[0]);
                    }
                    addPlacehoder("#search-area");
                    ej.support.enableLocalizedSort = true;
                    GridLocalization(window.Server.App.Localization.ScheduleResourceEmpty);
                    $("#scheduleGrid")
                        .ejGrid({
                            dataSource: ej.DataManager({ url: "@Url.Action("getschedules", "scheduler")", adaptor: "UrlAdaptor" }),
                            allowPaging: true,
                            pageSettings: { pageSize: 20 },
                            allowSorting: true,
                            allowSearching: true,
                            allowFiltering: true,
                            filterSettings: { filterType: "menu" },
                            enableAltRow: false,
                            locale: "en-US",
                            gridLines: ej.Grid.GridLines.None,
                            recordClick: manageSchedule,
                            toolbarSettings: { showToolbar: false, toolbarItems: [ej.Grid.ToolBarItems.Search] },
                            searchSettings: { fields: ["Name", "ItemName", "CreatedByDisplayName", "LastRunString", "NextScheduleString", "Status"], key: "", ignoreCase: false },
                            actionBegin: "fnActionBegin",
                            actionComplete: function(args) {
                                document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function (element) {
                                    new bootstrap.Tooltip(element, {
                                        animation: true,
                                        container: 'body',
                                        placement: "top",
                                        html: true
                                    });
                                });

                                if (args.model.currentViewData.length === 0) {
                                    rowBound();
                                }

                                showOrHideGridPager("#scheduleGrid");
                                if (typeof (BoldBIDashboard) != "undefined") {
                                    $("#scheduleGrid").BoldBIDashboardWaitingPopup("hide");
                                }
                                else{
                                    $("#scheduleGrid").ejWaitingPopup("hide");
                                }
                            },
                            rowDataBound: function() {
                                var height = $(".e-gridcontent").height();
                                if (height != null) {
                                    rowBound();
                                }
                            },
                            dataBound: function(args) {
                                document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function (element) {
                                    new bootstrap.Tooltip(element, {
                                        animation: true,
                                        container: 'body',
                                        placement: "top",
                                        html: true
                                    });
                                });
                            },
                            columns: [
                                {
                                    field: "Name",
                                    headerText: "@T["Name"]",
                                    templateID: "#schedule-template",
                                    headerTemplateID: "#item-name-header",
                                    type: "string",
                                    width: ("@isMobile.ToString().ToLower()" == "false" &&
                                    (window.innerWidth > 1040))
                                    ? 100
                                    : 80
                                },
                                {
                                    field: "ItemName",
                                    headerText: "@T["Dashboard"]",
                                    templateID: "#dashboard-template",
                                    type: "string",
                                    width: 100,
                                    visible: ("@isMobile.ToString().ToLower()" == "false" &&
                                    (window.innerWidth > 1040))
                                },
                                {
                                    field: "LastRunString",
                                    headerText: "@T["Last Run"]",
                                    visible: !(window.innerWidth < 1200),
                                    width: 70,
                                    allowFiltering: false
                                },
                                {
                                    field: "NextScheduleString",
                                    headerText: "@T["Next Run Scheduled At"]",
                                    width: 100,
                                    headerTemplateID: "#next-schedule-header",
                                    allowSorting: false,
                                    allowFiltering: false
                                },
                                {
                                    field: "CreatedByDisplayName",
                                    headerText: "@T["Owner"]",
                                    width: 100,
                                    headerTemplateID: "#owner-column",
                                    allowSorting: true,
                                    allowFiltering: true
                                },
                                {
                                    field: "Status",
                                    headerText: "@T["Status"]",
                                    width: 60,
                                    allowSorting: false,
                                    templateID: "#status-template",
                                    allowFiltering: false,
                                    visible: ("@isMobile.ToString().ToLower()" == "false" &&
                                    (window.innerWidth > 1040))
                                },
                                {
                                    template: true,
                                    templateID: "#options",
                                    width: (window.innerWidth > 1200) ? 15 : 25,
                                    allowSorting: false,
                                    allowFiltering: false
                                }
                            ]
                        });

                    var preloadStyles = [];
                    preloadStyles.push(createSlideshowStyle);
                    preloadStyles.push(createDashboardStyle);
                    preloadStyles.push(itemVersionStyle);
                    preloadStyles.push(addCategoryStyle);

                    var preloadScripts = [];
                    preloadScripts.push(createSlideshowScript);
                    preloadScripts.push(editCategoryScript);
                    preloadScripts.push(createCategoryScript);

                    function DashboarDelayResources(resourceLinkArray, resourceType) {
                        for (var resource = 0; resource < resourceLinkArray.length; resource++) {
                            var isScriptAppended = false;
                            if (resourceType == "script") {
                                isScriptAppended = document.querySelector("script[src='" + resourceLinkArray[resource] + "']") !== null;
                                if (!isScriptAppended) {
                                    var preloadLink = document.createElement(resourceType);
                                    preloadLink.type = "text/javascript";
                                    preloadLink.src = resourceLinkArray[resource];
                                    document.head.appendChild(preloadLink);
                                }
                            }
                            else {
                                isScriptAppended = document.querySelector("link[href='" + resourceLinkArray[resource] + "']") !== null;
                                if (!isScriptAppended) {
                                    var preloadLink = document.createElement("link");
                                    preloadLink.rel = "stylesheet";
                                    preloadLink.href = resourceLinkArray[resource];
                                    document.head.appendChild(preloadLink);
                                }
                            }
                        }
                    }
                    DashboarDelayResources(preloadStyles, "style");
                    DashboarDelayResources(preloadScripts, "script");
                });
        </script>
    }
    else
    {
        <environment include="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/scheduleslisting-mobile.js"></script>
        </environment>
        <environment exclude="Development,CloudDevelopment">
            <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/scheduleslisting-mobile.min.js"></script>
        </environment>
    }

}

@section MainSection{
    @if (itemsCount != null && itemsCount.ContainsKey(ItemType.Schedule) && itemsCount[ItemType.Schedule] > 0)
    {
        if (!isMobile)
        {
            <script id="template-data" type="text/x-jsrender">
                <div class="details">
                    <a href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:ItemCategoryName}}/{{:ItemName}}" target="_blank">
                        <div class="item-name">{{:Name}}<span class="{{toLowerCase:Status}} su su-schedule-status"></span></div><br />
                        @T["Dashboard"]: <span class="values">{{:ItemName}}</span> <br />
                        @T["Last Run"] <span class="values">{{:LastRunString}}</span><br />
                        @T["Next Run"] <span class="values">{{:NextScheduleString}}</span>
                    </a>
                </div>
            </script>
            <script type="text/x-jsrender" id="dashboard-template">
                <div class="item-dashboard grid-content item-name-dashboard" data-bs-toggle="tooltip" data-bs-placement="top" data-container="body"
                title="{{if IsScheduledItemDeleted}}@Html.Raw($"<span class='label'><span class='title-label'>{T["Scheduled Dashboard is "].Value}</span><span>&quot;Deleted&quot;</span></span>"){{else}}<span class='dashboard-list-tooltip'><span class='tooltip-row'><span><span class='tooltip-label'><i class='su su-nav-dashboard'></i> @T["Dashboard name"].Value: </span><span class='tooltip-description'>{{:ItemName}}</span></span>{{if ViewItemName}}{{if IsViewDeleted}}<span class='tooltip-row'><span class='tooltip-label'><i class='su su-view'></i> @T["View name"].Value: </span><span class='tooltip-description'>{{:ViewItemName}}</span></span>{{else}}<span class='tooltip-row'><span class='tooltip-label'><i class='su su-view'></i> @T["View name"].Value: </span><span class='tooltip-description'>{{:ViewItemName}}</span></span>{{/if}}{{/if}}{{if WidgetItemName}}{{if IsWidgetDeleted}}<span class='tooltip-row'><span class='tooltip-label'><i class='su su-widgets'></i> @T["Widget name"].Value: </span><span class='tooltip-description'>{{:WidgetItemName}}</span></span>{{else}}<span class='tooltip-row'><span class='tooltip-label'><i class='su su-widgets'></i> @T["Widget name"].Value: </span><span class='tooltip-description'>{{:WidgetItemName}}</span></span>{{/if}}{{/if}}{{if IsDataChanges}}<span class='tooltip-row'><span class='tooltip-label'><i class='su su-data-alert'></i> @T["Data alert"].Value: </span><span class='tooltip-description'>ON</span></span>{{else}}<span class='tooltip-row'><span class='tooltip-label'><i class='su su-data-alert'></i> @T["Data alert"].Value: </span><span class='tooltip-description'>OFF</span></span>{{/if}}</span>{{/if}}"
                   data-bs-html="true">
                    {{if IsScheduledItemDeleted}}
                        <span><a class="grid-content item-name-isdeleted" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:ItemCategoryName}}/{{:ItemName}}" target="_blank">{{:DeletedItemName}}</a></span>
                    {{else MultiDashboardName}}
                        <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ParentItemId}}/{{:ItemCategoryName}}/{{:MultiDashboardName}}?tab={{:ItemName}}" target="_blank">{{:ItemName}}</a></span>
                    {{else DashboardWidgetId != "@Guid.Empty" && DashboardViewId != "@Guid.Empty"}}
                        <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:ItemCategoryName}}/{{:ItemName}}?isWidgetMode=true&serverWidgetId={{:DashboardWidgetId}}&viewid={{:DashboardViewId}}" target="_blank">{{:ItemName}}</a></span>
                    {{else DashboardWidgetId != "@Guid.Empty"}}
                        <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:ItemCategoryName}}/{{:ItemName}}?isWidgetMode=true&serverWidgetId={{:DashboardWidgetId}}" target="_blank">{{:ItemName}}</a></span>
                    {{else DashboardViewId != "@Guid.Empty"}}
                        <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:ItemCategoryName}}/{{:ItemName}}?viewid={{:DashboardViewId}}" target="_blank">{{:ItemName}}</a></span>
                    {{else}}
                        <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:ItemCategoryName}}/{{:ItemName}}" target="_blank">{{:ItemName}}</a></span>
                    {{/if}}
                </div>
                {{if IsViewDeleted || IsScheduledItemDeleted}}
                    <span class="su su-view views is-view-deleted disabled-icon-color"></span>
                {{else DashboardViewId != "@Guid.Empty"}}
                    <span class="su su-view views is-view-active"></span>
                {{/if}}
                {{if IsWidgetDeleted || IsScheduledItemDeleted}}
                    <i class="su su-widgets widgets widget-icon-isdeleted disabled-icon-color"><span class="widget-name-isdeleted">{{:DeletedWidgetName}}</span></i>
                {{else DashboardWidgetId != "@Guid.Empty"}}
                    <i class="su su-widgets widgets"> <span class="widget-name-isactive">{{:WidgetItemName}}</span></i>
                {{/if}}
            </script>
            <script type="text/x-jsrender" id="status-template">
                {{if Status=="Active"}}
                <span class="active su su-schedule-status"></span>
                @T["Active"]
                {{else Status=="Inactive"}}
                <span class="inactive su su-schedule-status"></span>
                @T["Inactive"]
                {{else}}
                <span class="done su su-schedule-status"></span>
                @T["Completed"]
                {{/if}}
            </script>
            <script type="text/x-jsrender" id="schedule-template">
                <div class="item-name grid-content">
                    <span class="data-alert-name" title="{{:Name}}" data-bs-toggle="tooltip" data-bs-placement="top">{{:Name}}</span>
                    {{if IsDataChanges}}
                    <span class="su su-data-alert alerts"></span>
                  {{/if}}
                </div>
            </script>
            <script type="text/x-jsrender" id="item-name-header">
                <div class="item-name">@T["Name"]</div>
            </script>
            <script type="text/x-jsrender" id="next-schedule-header">
                <div title="@T["Next Run Scheduled At"]">@T["Next Run Scheduled At"]</div>
            </script>
            <script type="text/x-jsrender" id="owner-column">
                <div title="@T["Owner"]">@T["Owner"]</div>
            </script>
            <script type="text/x-jsrender" id="options">
                <div class="dropdown context-menu @(schemes != null && !schemes.ContextMenu ? "hide" : string.Empty)">
                    <span class="dropdown-toggle option-icon" title="@T["Actions"]" data-bs-toggle="dropdown">
                        <span class="su su-options"> </span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        {{if !IsScheduledItemDeleted  && !(IsWidgetDeleted && DashboardWidgetId != "@Guid.Empty") && !(IsViewDeleted && DashboardViewId != "@Guid.Empty")}}
                        <li class="menu-group @(schemes != null && !schemes.RunNow ? "hide" : string.Empty)">
                            <a href="javascript:void(0);" title="@T["Run now"]" class="on-demand-schedule" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}" onclick='manageSchedule("{{:Id}}", "{{:ItemId}}", this.className,"{{:MultiDashboardName}}")'>
                                <i class="su su-play" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}"></i>
                                <span class="menu-text">@T["Run Now"]</span>
                            </a>
                        </li>
                        <li class="divider @(schemes != null && !schemes.RunNow ? "hide" : string.Empty)"></li>
                        {{/if}}
                        <li class="menu-group">
                            <a href="javascript:void(0);" title="@T["Schedule-History"]" class="schedule-history" data-category-name="{{:ItemCategoryName}}" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}" data-multiitem-name="{{:MultiDashboardName}}" onclick='manageSchedule("{{:Id}}", "{{:ItemId}}", this.className, "{{:MultiDashboardName}}")'>
                                <i class="su su-run-history" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}"></i>
                                <span class="menu-text">@T["Run History"]</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="menu-group @(schemes != null && !schemes.Info ? "hide" : string.Empty)">
                            <a href="javascript:void(0);" title="@T["Info"]" class="item-info">
                                <i class="su su-info"></i>
                                <span class="menu-text">@T["Info"]</span>
                            </a>
                        </li>
                        {{if CanWrite}}
                        <li class="divider @(schemes != null && !schemes.Info ? "hide" : string.Empty)"></li>
                        {{if Status=="Active"}}
                        {{if !IsScheduledItemDeleted && !(IsWidgetDeleted && DashboardWidgetId != "@Guid.Empty") && !(IsViewDeleted && DashboardViewId != "@Guid.Empty")}}
                        <li class="menu-group @(schemes != null && !schemes.Disable ? "hide" : string.Empty)">
                            <a href="javascript:void(0);" title="@T["Disable"]" class="disable-schedule" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}" onclick='manageSchedule("{{:Id}}", "{{:ItemId}}", this.className,"{{:MultiDashboardName}}")'>
                                <i class="su su-disable" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}"></i>
                                <span class="menu-text">@T["Disable"]</span>
                            </a>
                        </li>
                        {{/if}}

                        {{else Status=="Inactive"}}
                        {{if !IsScheduledItemDeleted && !(IsWidgetDeleted && DashboardWidgetId != "@Guid.Empty") && !(IsViewDeleted && DashboardViewId != "@Guid.Empty")}}
                        <li class="menu-group @(schemes != null && !schemes.Enable ? "hide" : string.Empty)">
                            <a href="javascript:void(0);" title="@T["Enable"]" class="enable-schedule" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}" onclick='manageSchedule("{{:Id}}", "{{:ItemId}}", this.className,"{{:MultiDashboardName}}")'>
                                <i class="su su-enable" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}"></i>
                                <span class="menu-text">@T["Enable"]</span>
                            </a>
                        </li>
                        {{/if}}
                        {{/if}}
                        {{/if}}

                        {{if ~checkMobile()}}
                        {{if CanWrite}}
                        <li title="@T["Edit"]" class="@(schemes != null && !schemes.Edit ? "hide" : string.Empty)">

                            <a href="javascript:void(0);" title="@T["Edit"]" class="edit-schedule" data-category-name="{{:ItemCategoryName}}" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}" data-multiitem-name="{{:MultiDashboardName}}" onclick='manageSchedule("{{:Id}}", "{{:ItemId}}", this.className, "{{:MultiDashboardName}}", "{{:IsScheduledItemDeleted}}")'>
                                <i class="su su-edit" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}"></i>
                                <span class="menu-text">@T["Edit"]</span>
                            </a>
                        </li>
                        {{/if}}
                        {{/if}}

                        {{if ~checkMobile()}}
                        {{if CanDelete}}
                        <li title="@T["Delete"]" class="@(schemes != null && !schemes.Delete ? "hide" : string.Empty)">
                            <a href="javascript:void(0);" title="@T["Delete"]" class="remove-schedule" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}" onclick='manageSchedule("{{:Id}}", "{{:ItemId}}", this.className,"{{:MultiDashboardName}}")'>
                                <i class="su su-delete" data-scheduleid="{{:Id}}" data-itemname="{{:ItemName}}" data-itemid="{{:ItemId}}"></i>
                                <span class="menu-text">@T["Delete"]</span>
                            </a>
                        </li>
                        {{/if}}
                        {{/if}}
                    </ul>
                </div>
            </script>
            @await Html.PartialAsync("../Shared/_TopHeaderSection", new ViewDataDictionary(ViewData) { { "PageHeader", @T["SCHEDULES"] }, { "PageDescription", @pageDescription } })
            <div class="bi-page-header col-12 top-nav-btn-secton">
                <div class="col-12 no-padding">
                    <div id="search-area" class="float-start col-4">
                        <input type="text" id="search-schedules" class="float-start no-margin" placeholder="@T["Search schedules"]" />
                        <span class="su close-icon su-inner-close float-start no-margin" id="clear-search" title="@T["Clear search"]"></span>
                        <span class="su su-search search-schedule float-start no-margin" title="@T["Search schedules"]"></span>
                    </div>
                    <div class="col-xs-6 no-padding button-section">
                        @if (itemPermissions[ItemType.Schedule])
                        {
                            <button type="button" class="create-schedule float-end primary-button app-btn-primary">@T["Create Schedule"]</button>
                        }
                    </div>
                </div>
            </div>
            <div id="item-grid-container" data-grid-name="schedules" class="bi-page-container col-12 schedule-listing grid-page-container">
                <div class="bi-page-content col-md-12 no-padding">
                    <div class="filter-section">
                        <div class="col-sm-3 col-3 date-picker no-padding">
                            <input type="text" name="schedule-filter-date-range" class="form-control full-width" id="datePicker">
                        </div>
                        <div class="dropdown schedule-filter-drop-down col-12">
                            @Html.DropDownList("Scheduleevent", ViewBag.ScheduleEvent as IEnumerable<SelectListItem>, new { id = "Schedule-event", @class = "selectpicker form-control", data_none_results_text = T["No results match"].Value, data_size = "10", title = T["Select Field"].Value, data_live_search = "true", data_live_search_placeholder = T["Search"].Value })
                        </div>
                        <button type="button" id="schedule-filter-apply-button" class="btn apply-button disable-schedule-apply" disabled>@T["Apply"]</button>
                     </div>
                    <div id="schedules-grid-container" class="col-12 bi-page-body  @(isMobile ? "mobile" : "desktop")">
                        <div id="scheduleGrid" class="schedule-grid">
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("../Shared/_Footer", new ViewDataDictionary(ViewData) { { "appsettings", globalAppSettings } })
            </div>
        }
        else
        {
            @await Html.PartialAsync("../Scheduler/_ScheduleGridForMobile", Model)
        }
    }
    else
    {
        @await Html.PartialAsync("../DefaultPages/DefaultPages", new ViewDataDictionary(ViewData) { { "Permissions", itemPermissions }, { "ItemType", ItemType.Schedule } })
    }

    @if (!isMobile)
    {
        @await Html.PartialAsync("../Items/_AddItems")
        @await Html.PartialAsync("../Items/_ItemInfo")
    }

    <div id="popup-container" style="display:none;">
        <iframe id="scheduler-popup-iframe"></iframe>
    </div>

    <div id="editpopup-container" style="display:none;">
        <iframe id="editscheduler-popup-iframe"></iframe>
    </div>

    <div id="schedule-delete-confirmation" class="no-padding"></div>

    <div id="permission-popup" class="no-padding" style="display:none;">
        <iframe id="permission-iframe"></iframe>
    </div>

    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
}