@{

}

<div id="MiddleContainer" class="col-md-9 pull-left sticky-next-container page-inner-small-padding no-margin">
    <div id="GroupTItleContainer" data-id="@ViewBag.GroupDetails.GroupId" class="col-md-12 no-margin page-inner-small-padding pull-left content">

        <div class="col-xs-7 UserProfileHeading" style="padding-top: 5px;">
            <div class="pull-left">
                <span class="report-security-head group-edit-back">
                    <i class="su su-back-trans-fill"></i>
                </span>
            </div>@ViewBag.GroupDetails.GroupName
        </div>
     
    </div>
    <div id="GroupMainContainer" class="col-xs-12  page-inner-small-padding pull-left content droppable">

        <div id="TabContainer">
            <div class="GroupTabs GroupNameClicked" id="PeopleTab">People</div>
            <div class="GroupTabs" id="InfoTab">Info</div>
            <div class="tabStyleArrow"></div>
        </div>
        <div id="PeopleContainer" class="TabContent page-inner-small-padding droppable">
            @{
                for (var i = 0; i < @ViewBag.GroupUsers.Count; i++)
                {
                    <div id="@ViewBag.GroupUsers[i].UserName" class="UserItem">
                        <div style="background: url(/UserProfile/Avatar?Username=@ViewBag.GroupUsers[i].UserName&ImageSize=32) no-repeat scroll 0 0/cover rgba(0, 0, 0, 0);" class="groupContentUserList"></div>@ViewBag.GroupUsers[i].DisplayName</div>
                }
            }
        </div>
        <div id="InfoContainer" class="TabInvisible TabContent ">
            <div class="row">
                <div class="GroupInfoLabel col-md-4 pull-left">Group Name</div>
                <div class="GroupInfoText col-md-4 pull-left">
                    @*@if (canEdit)
                    {
                        <input id="GroupInfoName" type="text" class="form-control NotificationContent" value="@ViewBag.GroupDetails.GroupName" autocomplete="off" />
                    }
                    else
                    {
                        <input id="GroupInfoName" type="text" disabled="disabled" class="form-control NotificationContent" value="@ViewBag.GroupDetails.GroupName" autocomplete="off" />
                    }*@
                </div>
            </div>
            <div class="row">
                <div class="GroupInfoLabel col-md-4 pull-left">Color</div>
                @*@if (canEdit)
                {
                    <div id="GroupInfoColor" class="GroupInfoText col-md-2 pull-left" data-color="@ViewBag.GroupDetails.GroupColor">
                        <input id="ColorDropDown" class="form-control" style="background-color: @ViewBag.GroupDetails.GroupColor; margin-top: 5px; height: 22px; width: 22px; margin-left: 5px; cursor: pointer;" />
                    </div>
                }
                else
                {
                    <div class="form-control" style="background-color: @ViewBag.GroupDetails.GroupColor; margin-top: 10px; margin-left: 15px; float: left; height: 22px; width: 22px; cursor: pointer;"></div>
                }*@
            </div>
            <div class="row">
                <div class="GroupInfoLabel col-md-4 pull-left">Description</div>
                <div class="GroupInfoText col-md-8 pull-left">
                    @*@if (canEdit)
                    {
                        <textarea id="GroupInfoDescription" class="form-control NotificationContent">@ViewBag.GroupDetails.GroupDescription</textarea>
                    }
                    else
                    {
                        <textarea id="GroupInfoDescription" class="form-control NotificationContent" disabled="disabled">@ViewBag.GroupDetails.GroupDescription</textarea>
                    }*@
                </div>
            </div>
        </div>
    </div>
</div>
