@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
  <script nonce="@Context.Items["ScriptNonce"]">
        var saveCustomAttributeUrl = "@Url.Action("SaveCustomAttribute", "CustomAttribute")";
        var isAttributeNameExistsUrl = "@Url.Action("IsSiteAttributeNameExists", "CustomAttribute")";
        var updateCustomAttributeUrl = "@Url.Action("UpdateSiteCustomAttribute", "CustomAttribute")";
        var deleteCustomAttributeUrl = "@Url.Action("DeleteSiteCustomAttribute", "CustomAttribute")";
</script>
<div id="custom-attribute-content" style="display:none">
    <div class="col-12 float-start custom-attribute-div">
        <form class="col-12 float-start no-padding" id="custom-attribute-form" autocomplete="off">
            @Html.AntiForgeryToken()
            <div class="col-12 float-start no-padding custom-attr-input attribute-name">
                @Html.Label("name", T["Name"].Value, new { @class = "app-textbox-label no-padding col-lg-12" })
                <input id="custom-attribute-name" name="custom-attribute-name" placeholder="@T["Name"]" maxlength="256" autofocus>
                <div class="custom-attr-validation-errors"></div>
            </div>
            <div class="col-12 float-start no-padding custom-attr-input attribute-value">
                @Html.Label("value", T["Value"].Value, new { @class = "app-textbox-label no-padding col-lg-12" })
                <input id="custom-attribute-value" name="custom-attribute-value" placeholder="@T["Value"]" maxlength="4001">
                <div class="custom-attr-validation-errors"></div>
            </div>
            <div class="col-12 float-start no-padding custom-attr-input attribute-description">
                @Html.Label("description", T["Description"].Value, new { @class = "app-textbox-label no-padding col-lg-12" })
                <input id="custom-attribute-descrition" name="custom-attribute-description" placeholder="@T["Description"]" maxlength="1025">
                <div class="custom-attr-validation-errors"></div>
            </div>
            <div class="entry-checkbox">
                @Html.CheckBox("encrypt-custom-attribute", new { @class = "material-checkbox" })
                @Html.Label("encrypt-custom-attribute", T["Encrypt this attribute"].Value, new { @class = "app-textbox-label toggle-space" })
            </div>
        </form>
    </div>
</div>
