@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <script>
        var saveCustomAttributeUrl = "@Url.Action("SaveCustomAttribute", "CustomAttribute")";
        var isAttributeNameExistsUrl = "@Url.Action("IsSiteAttributeNameExists", "CustomAttribute")";
        var updateCustomAttributeUrl = "@Url.Action("UpdateSiteCustomAttribute", "CustomAttribute")";
        var deleteCustomAttributeUrl = "@Url.Action("DeleteSiteCustomAttribute", "CustomAttribute")";
    </script>
</head>
<body>
    <div id="custom-attribute-content" style="display:none">
        <div class="col-xs-12 custom-attribute-div">
            <form class="col-xs-12 no-padding" id="custom-attribute-form" autocomplete="off">
                <div class="col-xs-12 no-padding">
                    <label class="custom-attribute-label">[[[Name]]]:</label>
                    <input id="custom-attribute-name" name="custom-attribute-name" autocomplete="off" class="custom-attribute-input form-control" placeholder="[[[Enter the attribute name.]]]" maxlength="255" autofocus>
                    <div class="custom-attr-validation-errors"></div>
                </div>
                <div class="col-xs-12 no-padding">
                    <label class="custom-attribute-label">[[[Value]]]:</label>
                    <textarea id="custom-attribute-value" name="custom-attribute-value" autocomplete="off" class="form-control" placeholder="[[[Enter the attribute value.]]]" maxlength="4000"></textarea>
                    <div class="custom-attr-validation-errors"></div>
                </div>
                <div class="col-xs-12 no-padding">
                    <label class="custom-attribute-label">[[[Description]]]:</label>
                    <textarea id="custom-attribute-descrition" autocomplete="off" class="form-control" placeholder="[[[Write a description about this attribute.]]]" maxlength="1024"> </textarea>
                </div>
                <div class="entry-checkbox">
                    @Html.CheckBox("encrypt-custom-attribute", new { @class = "material-checkbox" })
                    @Html.Label("encrypt-custom-attribute", "[[[Encrypt this attribute]]]", new { @class = "toggle-space" })
                </div>
            </form>
        </div>
    </div>
</body>