@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <script>
        var saveCustomAttributeUrl = "@Url.Action("SaveCustomAttribute", "CustomAttribute")";
        var isAttributeNameExistsUrl = "@Url.Action("IsSiteAttributeNameExists", "CustomAttribute")";
        var updateCustomAttributeUrl = "@Url.Action("UpdateSiteCustomAttribute", "CustomAttribute")";
        var deleteCustomAttributeUrl = "@Url.Action("DeleteSiteCustomAttribute", "CustomAttribute")";
    </script>
</head>
<body>
    <div id="custom-attribute-content" style="display:none">
        <div class="col-xs-12 custom-attribute-div">
            <form class="col-xs-12 no-padding" id="custom-attribute-form" autocomplete="off">
                <div class="col-xs-12 no-padding custom-attr-input attribute-name">
                    <input id="custom-attribute-name" name="custom-attribute-name" placeholder="[[[Name]]]" maxlength="255" autofocus>
                    <div class="custom-attr-validation-errors"></div>
                </div>
                <div class="col-xs-12 no-padding custom-attr-input attribute-value">
                    <input id="custom-attribute-value" name="custom-attribute-value" placeholder="[[[Value]]]" maxlength="4000">
                    <div class="custom-attr-validation-errors"></div>
                </div>
                <div class="col-xs-12 no-padding custom-attr-input attribute-description">
                    <input id="custom-attribute-descrition"  placeholder="[[[Description]]]" maxlength="1024">
                </div>
                <div class="entry-checkbox">
                    @Html.CheckBox("encrypt-custom-attribute", new { @class = "material-checkbox" })
                    @Html.Label("encrypt-custom-attribute", "[[[Encrypt this attribute]]]", new { @class = "toggle-space" })
                </div>
            </form>
        </div>
    </div>
</body>