@model TenantInfo
@{
    var activeTab = (!string.IsNullOrWhiteSpace(Context.Request.Query["tab"]) && Context.Request.Query["tab"] == "global-site-settings") ? "active" : string.Empty;
    var globalSettingsOptionCount = Enum.GetNames(typeof(GlobalSettingsOptions)).Length;
    var canDisableEmailSettingsOption =  ViewBag.MailSettings == null || string.IsNullOrWhiteSpace(ViewBag.MailSettings.MailSettingsHost) || ViewBag.MailSettings.MailSettingsPort <= 0 || string.IsNullOrWhiteSpace(ViewBag.MailSettings.MailSettingsSenderName) ||
                                         string.IsNullOrWhiteSpace(ViewBag.MailSettings.MailSettingsAddress) || string.IsNullOrWhiteSpace(ViewBag.MailSettings.MailSettingsUserName) || string.IsNullOrWhiteSpace(ViewBag.MailSettings.MailSettingsPassword);
}
<script type="text/javascript" nonce="@Context.Items["ScriptNonce"]">
    var tenantInfoId = "@Model.TenantInfoId";
    var updateTenantSettingsUrl = "@Url.Action("UpdateTenantSettings", "TenantsManagement")";
    var canDisableEmailSettingsOption =  "@canDisableEmailSettingsOption".toLowerCase() === "true";
</script>

<div role="tabpanel" class="tab-pane @activeTab" id="site-settings-tab">
    <div class="admin-page-body col-lg-12 col-md-12 col-sm-12 col-12 float-start no-padding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 float-start site-settings">
            <div class="col-12 float-start all-settings">
                <div>
                    <input type="checkbox" id="all-settings" class="enable-disable" checked="@((Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Count > 0))" indeterminate="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Count != 0 && Model.GlobalSettings.GlobalSettingsInfo.Count != globalSettingsOptionCount)" />
                    <label for="all-settings" class="settings-label">@T["Inherit Global Settings"]</label>
                </div>
            </div>
            <div class="col-12 float-start switch-padding">
                <div>
                    <input type="checkbox" class="enable-disable" value="@(GlobalSettingsOptions.DateTime.ToString())" id="date-and-time" checked="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Contains(GlobalSettingsOptions.DateTime.ToString()))" />
                    <label for="date-and-time" class="settings-label"> @EnumHelper.GetDescription(GlobalSettingsOptions.DateTime)</label>
                </div>
                <div class="settings-info">@T["The date format, time format, and time zone information will be inherited from UMS."]</div>
            </div>
            <div class="col-12 float-start switch-padding">
                <div>
                    <input type="checkbox" class="enable-disable" value="@(GlobalSettingsOptions.Language.ToString())" id="language" checked="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Contains(GlobalSettingsOptions.Language.ToString()))" />
                    <label for="language" class="settings-label"> @EnumHelper.GetDescription(GlobalSettingsOptions.Language)</label>
                </div>
                <div class="settings-info">@T["The language preference for localization will be inherited from UMS."]</div>

            </div>
            <div class="col-12 float-start switch-padding">
                <div>
                    <input type="checkbox" class="enable-disable" value="@(GlobalSettingsOptions.LookAndFeel.ToString())" id="look-and-feel" checked="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Contains(GlobalSettingsOptions.LookAndFeel.ToString()))" />
                    <label for="look-and-feel" class="settings-label"> @EnumHelper.GetDescription(GlobalSettingsOptions.LookAndFeel)</label>
                </div>
                <div class="settings-info">@T["The font family and theme preference will be inherited from UMS."]</div>
            </div>
            <div class="col-12 float-start switch-padding">
                <div>
                    <input type="checkbox" class="enable-disable" value="@(GlobalSettingsOptions.Branding.ToString())" id="branding" checked="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Contains(GlobalSettingsOptions.Branding.ToString()))" />
                    <label for="branding" class="settings-label">@EnumHelper.GetDescription(GlobalSettingsOptions.Branding)</label>
                </div>
                <div class="settings-info">@T["Branding image, copyright, and powered-by information will be inherited from UMS."]</div>
            </div>
            <div class="col-12 float-start switch-padding">
                <div id="email-settings-inherit-option" title="@(canDisableEmailSettingsOption ? "Please configure email settings to enable this option." : "")"
                     data-bs-toggle="tooltip">
                    <input type="checkbox" class="enable-disable" value="@(GlobalSettingsOptions.Email.ToString())" id="email" checked="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Contains(GlobalSettingsOptions.Email.ToString()))" @(canDisableEmailSettingsOption ? "disabled" : "") />
                    <label for="email" class="settings-label">@EnumHelper.GetDescription(GlobalSettingsOptions.Email)</label>
                </div>
                <div class="settings-info">@T["The email configuration will be inherited from UMS."]</div>
            </div>
            <div class="col-12 float-start switch-padding">
                <div>
                    <input type="checkbox" class="enable-disable" value="@(GlobalSettingsOptions.Account.ToString())" id="account" checked="@(Model.GlobalSettings.GlobalSettingsInfo != null && Model.GlobalSettings.GlobalSettingsInfo.Contains(GlobalSettingsOptions.Account.ToString()))" />
                    <label for="account" class="settings-label">@EnumHelper.GetDescription(GlobalSettingsOptions.Account)</label>
                </div>
                <div class="settings-info">@T["The user account activation mode and other related settings will be inherited from UMS."]</div>
            </div>
        </div>
    </div>
    <div class="admin-page-footer col-12 col-md-12 float-start">
        <div class="admin-page-actions col-lg-12 col-md-12 float-start no-margin">
            <a href="@Url.Action("Sites", "TenantsManagement")" class="secondary-button float-end text-decoration-none" id="cancel-tenant-settings" title="">@T["Cancel"]</a>
            <input type="button" id="update-tenant-settings" class="primary-button float-end" value="@T["Save"]" />
        </div>
    </div>
</div>