<div id="grant-users-access-dialog-content" class="modal-body col-12 float-start">
    <div id="add-user-search-area" class="float-start no-margin">
        <input type="text" class="float-start" id="add-user-search" placeholder="@T["Search users"]" />
        <span class="su su-inner-close close-icon float-start" id="add-user-clear-search" title="@T["Clear search"]"></span>
        <span class="su su-search search-icon float-start" title="@T["Search"]"></span>
    </div>
    <div class="col-12 float-start no-padding">
        <div id="add_users_grid"></div>
    </div>
    <div class="col-12 float-start no-padding">
        <div class="note-info"><span class="note-text">@T["Note"]:</span><span> @T["Select the users who would be granted site access."]</span></div>
    </div>
</div>