@model TenantInfo
@{
    var activeTab = (!string.IsNullOrWhiteSpace(Context.Request.Query["tab"]) && Context.Request.Query["tab"] == "isolation-code") ? "active" : string.Empty;
}
<div role="tabpanel" class="col-12 float-start no-padding tab-pane @activeTab" id="data-security-tab">
    <div class="admin-page-body col-lg-12 col-md-12 col-sm-12 col-12 float-start">
        <div class="isolation-enabled col-12 float-start no-padding">
            <div class="material-switch inline-align" id="isolation-switch-container">
                <input type="checkbox" id="isolation-enable-switch" @((bool)Model.TenantIsolation.IsEnabled ? "checked" : string.Empty) />
                <label for="isolation-enable-switch" class="label-primary"></label>
            </div>
            <div class="app-textbox-label inline-align activation enable-isolation-code">
                @T["Enable Isolation Code"]
            </div>
        </div>
        <div class="col-12 float-start no-padding input-field-margin">
            <div class="col-md-12 no-padding">
                @Html.Label("application-isolation-code", T["Isolation Code"].Value, new { @class = "app-textbox-label col-md-4" })
            </div>
            <div class="application-isolation-code">
                <div class="isolation-code-value" data-tenant-id="@Model.TenantInfoId"> </div>
                @Html.TextBox("isolation-code", Model.TenantIsolation.IsolationCode, new { id = "isolation-code", placeholder = T["Please enter the isolation code."].Value, @class = "form-control content-size" })
                <span id="isolation-code-validation" class="validation-message"></span>
            </div>
        </div>
         <div class="row-security-enabled col-xs-12 no-padding">
            <div class="material-switch inline-align" id="enabled-row-security-switch-container">
                <input type="checkbox" id="row-security-enable-switch" @((bool)Model.IsRowLevelSecurityEnabled ? "checked" : string.Empty) />
                <label for="row-security-enable-switch" class="label-primary"></label>
            </div>
            <div class="app-textbox-label inline-align activation enable-row-security">
                @T["Enable Row Security"]
            </div>
            <div class="info-message no-padding">
                @T["Row-Level Security is enabled and will enforce protection based on available columns, even if some are missing from the data source."]
            </div>
        </div>
    </div>
    <div class="admin-page-footer col-12 float-start">
        <div class="admin-page-actions col-12 col-md-12 float-start">
            <a href="@Url.Action("Sites", "TenantsManagement")" class="secondary-button float-end text-decoration-none" id="cancel-isolation-code" title="">@T["Cancel"]</a>
            <button disabled type="button" title="" id="update-isolation-code" class="primary-button float-end">
                @T["Save"]
            </button>
        </div>
    </div>
</div>
