@{
    var gridName = "TenantsManagement";
    var stripeCustomerLink = CloudAppConfig.StripeCustomerLink;
    var isMobileDevice = DeviceDetection.IsMobile.ToString().ToLower();
    var emailUrl = "https://intranet.syncfusion.com/customer/email/";
    var intranetDomain = "https://intranet.syncfusion.com/";
    var canDelete = Context.Request.Cookies["tenant:delete"] != null && bool.Parse(Context.Request.Cookies["tenant:delete"].ToString());
}
<script>
    var activateTenantUrl = "@Url.Action("ActivateTenant", gridName)";
    var suspendTenantUrl = "@Url.Action("SuspendTenant", gridName)";
    var deleteTenantUrl = "@Url.Action("DeleteTenant", gridName)";
    var markorremoveInternalUrl = "@Url.Action("MarkOrRemoveInternal",gridName)";
    var i_am_ie9 = false;
</script>
<!--[if LT IE  10]>
        <script>
            i_am_ie9 = true;
        </script>
    <![endif]-->
<div id="items" class="item-grid">
</div>
<script type="text/x-jsrender" id="owner-header">
    <div class="item-name">Owner</div>
</script>
<script type="text/x-jsrender" id="dns-header">
    <div class="item-header">DNS</div>
</script>
<script type="text/x-jsrender" id="stripe-customer-id-header">
    <div class="item-header">Stripe Customer ID</div>
</script>
<script type="text/x-jsrender" id="created-date-header">
    <div class="item-header">Created Date</div>
</script>
<script type="text/x-jsrender" id="app-status-header">
    <div class="item-header">App Status</div>
</script>
<script type="text/x-jsrender" id="actions-header">
    <div class="item-header">Actions</div>
</script>

<script type="text/x-jsrender" id="owner">
    <div class="item-description grid-content">
        @if (!bool.Parse(isMobileDevice))
        {
            <span class="customer-name" data-toggle="tooltip" title="{{:FullName}}" data-placement="bottom">
                <span>{{:FullName}}</span>

            </span>
            <span class="customer-email" data-toggle="tooltip" title="{{:EmailAddress}}" data-placement="bottom">
                <a rel="nofollow" href="@emailUrl{{:EmailAddress}}" target="_blank">
                    {{:EmailAddress}}
                </a>
            </span>
        }
        else
        {
            <div class="mobile-info">
                <h5 class="info-row info-name-status">
                    <span class="float-left info-name">{{:FullName}}</span>
                    <span class="float-right info-status">
                        {{include tmpl="#appStatus" /}}
                    </span>
                </h5>
                <p class="info-row info-email">{{:EmailAddress}}</p>
                <a class="info-row info-dns">{{:DNS}}</a>
            </div>
        }

    </div>
</script>

<script type="text/x-jsrender" id="internal-column">
    {{if IsInternal}}
    <img class="internal-icon" src="@Url.Content("~/content/images/" + GlobalAppSettings.Branding + "/syncfusion.ico")" />
    {{/if}}
</script>

<script type="text/x-jsrender" id="dns">
    <span><a href="{{:~urlEncode(Id, DNS)}}" target="_blank">{{:DNS}}</a></span>
</script>
<script type="text/x-jsrender" id="product-type">
    <div class="product-types">
        {{if TenantTypeId == "@((int)TenantType.BoldBI)"}}
        <span class="status-button bold-bi">@GlobalAppSettings.GetDescription(TenantType.BoldBI)</span>
        {{else TenantTypeId == "@((int)TenantType.BoldReports)"}}
        <span class="status-button bold-reports">@GlobalAppSettings.GetDescription(TenantType.BoldReports)</span>
        {{else TenantTypeId == "@((int)TenantType.BoldBIOnPremise)"}}
        <span class="status-button bold-bi-onpremise">@GlobalAppSettings.GetDescription(TenantType.BoldBIOnPremise)</span>
        {{else TenantTypeId == "@((int)TenantType.BoldReportsOnPremise)"}}
        <span class="status-button bold-reports-onpremise">@GlobalAppSettings.GetDescription(TenantType.BoldReportsOnPremise)</span>
        {{else TenantTypeId == "@((int)TenantType.BoldSign)"}}
        <span class="status-button bold-sign">@GlobalAppSettings.GetDescription(TenantType.BoldSign)</span>
        {{/if}}
    </div>
</script>
<script type="text/x-jsrender" id="stripe-customer-id">
    <div class="stripe-customer">
        <a class="item-name grid-content" title="@stripeCustomerLink{{:StripeCustomerId}}" data-toggle="tooltip" href="@stripeCustomerLink{{:StripeCustomerId}}">{{:StripeCustomerId}}</a>
    </div>
</script>
<script type="text/x-jsrender" id="plan-column">
    {{if SaaSPlanId == "@((int)SaaSPlan.Starter)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Starter)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Starter)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Mars)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Mars)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Mars)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Neptune)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Neptune)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Neptune)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Uranus)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Uranus)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Uranus)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Venus)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Venus)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Venus)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.KcBenefits)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.KcBenefits)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.KcBenefits)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Business10)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Business10)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Business10)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Business25)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Business25)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Business25)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.SingleUserPlan)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.SingleUserPlan)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.SingleUserPlan)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Business_10_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Business_10_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Business_10_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Business_25_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Business_25_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Business_25_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Business_50_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Business_50_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Business_50_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Enterprise_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Enterprise_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Enterprise_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Startup_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Startup_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Startup_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.SmallBusiness_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusiness_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusiness_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Enterprise_MultiTenant_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Enterprise_MultiTenant_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Enterprise_MultiTenant_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Startup_MultiTenant_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Startup_MultiTenant_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Startup_MultiTenant_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.SmallBusiness_MultiTenant_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusiness_MultiTenant_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusiness_MultiTenant_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Custom_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Custom_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Custom_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Embedded_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Embedded_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Embedded_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Startup_Embedded_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Startup_Embedded_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Startup_Embedded_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.SmallBusiness_Embedded_OnPremise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusiness_Embedded_OnPremise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusiness_Embedded_OnPremise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Business50)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Business50)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Business50)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Enterprise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Enterprise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Enterprise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.StartupEmbedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.StartupEmbedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.StartupEmbedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.SmallBusinessEmbedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusinessEmbedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.SmallBusinessEmbedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Business10)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Business10)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Business10)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Business25)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Business25)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Business25)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Business50)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Business50)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Business50)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Enterprise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Enterprise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Enterprise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Startup)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Startup)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Startup)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_SmallBusiness)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_SmallBusiness)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_SmallBusiness)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Startup_Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Startup_Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Startup_Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_SmallBusiness_Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_SmallBusiness_Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_SmallBusiness_Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Enterprise_MultiTenant)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Enterprise_MultiTenant)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Enterprise_MultiTenant)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Startup_MultiTenant)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Startup_MultiTenant)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Startup_MultiTenant)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_SmallBusiness_MultiTenant)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_SmallBusiness_MultiTenant)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_SmallBusiness_MultiTenant)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReportsViewerSDK)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReportsViewerSDK)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReportsViewerSDK)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_ViewerSDK_Custom)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_ViewerSDK_Custom_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_ViewerSDK_Custom_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_ViewerSDK_Custom_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_ViewerSDK_Custom_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_Embedded_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_Embedded_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Custom_Embedded_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Custom_Embedded_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_Embedded_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_Embedded_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Custom_Embedded_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Custom_Embedded_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_Embedded)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_Embedded_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_Embedded_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Custom_Embedded_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Custom_Embedded_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Cloud_Business5)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Cloud_Business5)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Cloud_Business5)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Business10)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Business10)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Business10)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_Cloud_Premium)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Cloud_Premium)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_Cloud_Premium)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_SingleUserPlan)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_SingleUserPlan)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_SingleUserPlan)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Business5)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Business5)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Business5)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Business10)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Business10)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Business10)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Premium)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Premium)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Premium)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Custom)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_Standard)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Standard)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_Standard)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Custom_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom_Annual)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom_Annual)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Custom_HalfYearly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom_HalfYearly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom_HalfYearly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_Cloud_Custom_Quarterly)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom_Quarterly)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_Cloud_Custom_Quarterly)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_Standard)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Standard)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_Standard)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldBI_OnPremise_EmbeddedSetup)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_EmbeddedSetup)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldBI_OnPremise_EmbeddedSetup)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldReports_OnPremise_EmbeddedSetup)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_EmbeddedSetup)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldReports_OnPremise_EmbeddedSetup)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Solo)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Solo)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Solo)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Enterprise)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Enterprise)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Enterprise)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Professional)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Professional)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Professional)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Business)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Business)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Business)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Custom)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Custom)" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Custom)</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Enterprise_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Enterprise_Annual) Annual" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Enterprise_Annual) Annual</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Professional_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Professional_Annual) Annual" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Professional_Annual) Annual</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Business_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Business_Annual) Annual" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Business_Annual) Annual</span>
    {{else SaaSPlanId == "@((int)SaaSPlan.BoldSign_Custom_Annual)"}}
    <span class="plan" title="@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Custom_Annual) Annual" data-toggle="tooltip">@GlobalAppSettings.GetDescription(SaaSPlan.BoldSign_Custom_Annual) Annual</span>

    {{/if}}
</script>
<script type="text/x-jsrender" id="appStatus">
    <span class="tenant-status">
        {{if TenantStatus == "@((int)TenantStatus.AccountActivationPending)"}}
        <span class="status-button activation-pending">@GlobalAppSettings.GetDescription(TenantStatus.AccountActivationPending)</span>
        {{else TenantStatus == "@((int)TenantStatus.SubscriptionCreationInProgress)"}}
        <span class="status-button deployment-inprogress">@GlobalAppSettings.GetDescription(TenantStatus.SubscriptionCreationInProgress)</span>
        {{else TenantStatus == "@((int)TenantStatus.SubscriptionCreationFailed)"}}
        <span class="status-button deployment-failed">@GlobalAppSettings.GetDescription(TenantStatus.SubscriptionCreationFailed)</span>
        {{else TenantStatus == "@((int)TenantStatus.DeploymentPending)"}}
        <span class="status-button deployment-inprogress">@GlobalAppSettings.GetDescription(TenantStatus.DeploymentPending)</span>
        {{else TenantStatus == "@((int)TenantStatus.DBDeploymentInProgress)"}}
        <span class="status-button deployment-inprogress">@GlobalAppSettings.GetDescription(TenantStatus.DBDeploymentInProgress)</span>
        {{else TenantStatus == "@((int)TenantStatus.DBDeploymentFailed)"}}
        <span class="status-button deployment-failed">@GlobalAppSettings.GetDescription(TenantStatus.DBDeploymentFailed)</span>
        {{else TenantStatus == "@((int)TenantStatus.StorageDeploymentInProgress)"}}
        <span class="status-button deployment-inprogress">@GlobalAppSettings.GetDescription(TenantStatus.StorageDeploymentInProgress)</span>
        {{else TenantStatus == "@((int)TenantStatus.StorageDeploymentFailed)"}}
        <span class="status-button deployment-failed">@GlobalAppSettings.GetDescription(TenantStatus.StorageDeploymentFailed)</span>
        {{else TenantStatus == "@((int)TenantStatus.ServerDeploymentInProgress)"}}
        <span class="status-button deployment-inprogress">@GlobalAppSettings.GetDescription(TenantStatus.ServerDeploymentInProgress)</span>
        {{else TenantStatus == "@((int)TenantStatus.ServerDeploymentFailed)"}}
        <span class="status-button deployment-failed">@GlobalAppSettings.GetDescription(TenantStatus.ServerDeploymentFailed)</span>
        {{else TenantStatus == "@((int)TenantStatus.DeploymentFailed)"}}
        <span class="status-button deployment-failed">@GlobalAppSettings.GetDescription(TenantStatus.DeploymentFailed)</span>
        {{else TenantStatus == "@((int)TenantStatus.Active)"}}
        <span class="status-button active">@GlobalAppSettings.GetDescription(TenantStatus.Active)</span>
        {{else TenantStatus == "@((int)TenantStatus.SubscriptionCancelled)"}}
        <span class="status-button subscription-cancelled">@GlobalAppSettings.GetDescription(TenantStatus.SubscriptionCancelled)</span>
        {{else TenantStatus == "@((int)TenantStatus.MarkedForSuspension)"}}
        <span class="status-button suspended">@GlobalAppSettings.GetDescription(TenantStatus.MarkedForSuspension)</span>
        {{else TenantStatus == "@((int)TenantStatus.Suspended)"}}
        <span class="status-button suspended">@GlobalAppSettings.GetDescription(TenantStatus.Suspended)</span>
        {{else TenantStatus == "@((int)TenantStatus.MarkedForDeletion)"}}
        <span class="status-button deletion-pending">@GlobalAppSettings.GetDescription(TenantStatus.MarkedForDeletion)</span>
        {{else TenantStatus == "@((int)TenantStatus.Expired)"}}
        <span class="status-button deleted">@GlobalAppSettings.GetDescription(TenantStatus.Expired)</span>
        {{else TenantStatus == "@((int)TenantStatus.SubscriptionDeleted)"}}
        <span class="status-button deletion-pending">@GlobalAppSettings.GetDescription(TenantStatus.SubscriptionDeleted)</span>
        {{else TenantStatus == "@((int)TenantStatus.DBDeleted)"}}
        <span class="status-button deletion-pending">@GlobalAppSettings.GetDescription(TenantStatus.DBDeleted)</span>
        {{else TenantStatus == "@((int)TenantStatus.StorageDeleted)"}}
        <span class="status-button deletion-pending">@GlobalAppSettings.GetDescription(TenantStatus.StorageDeleted)</span>
        {{else TenantStatus == "@((int)TenantStatus.Deleted)"}}
        <span class="status-button deleted">@GlobalAppSettings.GetDescription(TenantStatus.Deleted)</span>
        {{else TenantStatus == "@((int)TenantStatus.Trial)"}}
        <span class="status-button payment-pending">@GlobalAppSettings.GetDescription(TenantStatus.Trial)</span>
        {{else TenantStatus == "@((int)TenantStatus.ActivePaymentRequired)"}}
        <span class="status-button payment-pending">@GlobalAppSettings.GetDescription(TenantStatus.ActivePaymentRequired)</span>
        {{else TenantStatus == "@((int)TenantStatus.TrialNotStarted)"}}
        <span class="status-button trial-not-started">@GlobalAppSettings.GetDescription(TenantStatus.TrialNotStarted)</span>
        {{else TenantStatus == "@((int)TenantStatus.ActiveBenefits)"}}
        <span class="status-button active">@GlobalAppSettings.GetDescription(TenantStatus.ActiveBenefits)</span>
        {{else TenantStatus == "@((int)TenantStatus.ActiveDTPayment)"}}
        <span class="status-button active">@GlobalAppSettings.GetDescription(TenantStatus.ActiveDTPayment)</span>
        {{/if}}
    </span>
</script>
<script type="text/x-jsrender" id="payment-status">
    <div class="payment-status">
        {{if PaymentStatus == "@((int)PaymentStatus.Success)"}}
        <span class="status-button success">Success</span>
        {{else PaymentStatus == "@((int)PaymentStatus.Failure)"}}
        <span class="status-button failure">Failure</span>
        {{else PaymentStatus == "@((int)PaymentStatus.Refund)"}}
        <span class="status-button refund">Refund</span>
        {{else PaymentStatus == "@((int)PaymentStatus.Cancel)"}}
        <span class="status-button cancel">Cancel</span>
        {{/if}}
    </div>
</script>
<script type="text/x-jsrender" id="created-date">
    <div class="created-date">
        <span class="grid-content" title="{{:CreatedDateString}}" data-toggle="tooltip">{{:CreatedDateString}}</span>
    </div>
</script>
<script type="text/x-jsrender" id="next-payment-date">
    <div class="created-date">
        <span class="grid-content" title="{{:NextPaymentDateString}}" data-toggle="tooltip">{{:NextPaymentDateString}}</span>
    </div>
</script>
<script type="text/x-jsrender" id="external-links">
    <ul class="list-unstyled list-inline links">
        <li>
            {{if TenantTypeId == '@((int)TenantType.BoldBI)'}}<a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold-bi/tenant/{{:Id}}" target="_blank">
                <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
            </a>
            {{else TenantTypeId == '@((int)TenantType.BoldBIOnPremise)'}}<a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold-bi/on-premise/{{:Id}}" target="_blank">
                <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
            </a>
            {{else TenantTypeId == '@((int)TenantType.BoldReportsOnPremise)'}}<a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold/reports/on-premise/{{:Id}}" target="_blank">
                <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
            </a>
            {{else TenantTypeId == '@((int)TenantType.BoldReports)'}}<a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold/reports/tenant/{{:Id}}" target="_blank">
                <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
            </a>
            {{else TenantTypeId == '@((int)TenantType.BoldSign)'}}<a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)boldsign/tenant/{{:Id}}" target="_blank">
                <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
            </a>
            {{/if}}
        </li>

        <li>
            {{if StripeCustomerId}}
            <a title="Go to Stripe" data-toggle="tooltip" href="@stripeCustomerLink{{:StripeCustomerId}}" target="_blank">
                <img class="link-icon stripe-icon" src="@Url.Content("~/content/images/common/stripe.ico")" alt="Stripe" />
            </a>
            {{/if}}
        </li>
    </ul>
</script>
<script type="text/x-jsrender" id="actions">
    {{if !IsDeleted}}
    <div class="dropdown">
        <ul class="list-unstyled list-inline links">
            <li>
                <span class="dropdown-toggle option-icon" title="Actions" data-toggle="dropdown">
                    <i class="su su-options"></i>
                </span>
                <ul class="dropdown-menu" role="menu">
                    @*{{if TenantStatus == "@((int)TenantStatus.MarkedForDeletion)"}}
                        <li>
                            <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="activate">
                                <i class="su su-link"></i>
                                <span>Activate</span>
                            </a>
                        </li>
                        {{/if}}

                        {{if TenantStatus == "@((int)TenantStatus.Active)" || TenantStatus == "@((int)TenantStatus.MarkedForSuspension)" || TenantStatus == "@((int)TenantStatus.MarkedForDeletion)"}}
                        <li>
                            <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="suspend">
                                <i class="su su-link"></i>
                                <span>Suspend</span>
                            </a>
                        </li>
                        {{/if}}*@

                    <li>
                        {{if TenantTypeId == '@((int)TenantType.BoldBI)'}}
                        <a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold-bi/tenant/{{:Id}}" target="_blank">
                            <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
                            <span>Go to Direct-Trac</span>
                        </a>
                        {{else TenantTypeId == '@((int)TenantType.BoldBIOnPremise)'}}
                        <a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold-bi/on-premise/{{:Id}}" target="_blank">
                            <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
                            <span>Go to Direct-Trac</span>
                        </a>
                        {{else TenantTypeId == '@((int)TenantType.BoldReportsOnPremise)'}}
                        <a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold/reports/on-premise/{{:Id}}" target="_blank">
                            <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
                            <span>Go to Direct-Trac</span>
                        </a>
                        {{else TenantTypeId == '@((int)TenantType.BoldReports)'}}
                        <a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)bold/reports/tenant/{{:Id}}" target="_blank">
                            <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
                            <span>Go to Direct-Trac</span>
                        </a>
                        {{else TenantTypeId == '@((int)TenantType.BoldSign)'}}
                        <a rel="nofollow" title="Go to Direct-Trac" data-toggle="tooltip" href="@(intranetDomain)boldsign/tenant/{{:Id}}" target="_blank">
                            <img class="link-icon directtrac-icon" src="@Url.Content("~/content/images/common/directtrac.ico")" alt="Direct-Trac" />
                            <span>Go to Direct-Trac</span>
                        </a>
                        {{/if}}
                    </li>
                    {{if StripeCustomerId}}
                    <li>

                        <a title="Go to Stripe" data-toggle="tooltip" href="@stripeCustomerLink{{:StripeCustomerId}}" target="_blank">
                            <img class="link-icon stripe-icon" src="@Url.Content("~/content/images/common/stripe.ico")" alt="Stripe" />
                            <span>Go to Stripe</span>
                        </a>

                    </li>
                    {{/if}}

                    <li role="separator" class="divider"></li>

                    {{if IsInternal}}
                    <li>
                        <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="remove-from-internal">
                            <i class="su su-nav-settings"></i>
                            <span>Remove from Internal</span>
                        </a>
                    </li>
                    {{else}}
                    <li>
                        <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="mark-as-internal">
                            <i class="su su-nav-settings"></i>
                            <span>Mark as Internal</span>
                        </a>
                    </li>
                    {{/if}}

                    @if (canDelete)
                    {
                        <li>
                            <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="delete">
                                <i class="su su-delete"></i>
                                <span>Delete</span>
                            </a>
                        </li>
                    }

                </ul>
            </li>
        </ul>

        <ul class="dropdown-menu" role="menu">
            // Hide the tenant below activation dropdown for current release
            @*{{if TenantStatus == "@((int)TenantStatus.MarkedForDeletion)"}}
                <li>
                    <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="activate">
                        <i class="su su-link"></i>
                        <span>Activate</span>
                    </a>
                </li>
                {{/if}}

                {{if TenantStatus == "@((int)TenantStatus.Active)" || TenantStatus == "@((int)TenantStatus.MarkedForSuspension)" || TenantStatus == "@((int)TenantStatus.MarkedForDeletion)"}}
                <li>
                    <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="suspend">
                        <i class="su su-link"></i>
                        <span>Suspend</span>
                    </a>
                </li>
                {{/if}}*@
            <li>
                <a href="javascript:void(0);" title="" class="tenant-action" data-tenant-id="{{:Id}}" data-dns="{{:DNS}}" data-action="delete">
                    <i class="su su-link"></i>
                    <span>Delete</span>
                </a>
            </li>
        </ul>
    </div>
    {{/if}}
</script>
<script type="text/javascript" language="javascript">
    var gridName = $('#item-grid-container').attr("data-grid-name");
    var filters = { filterType: "menu" };

    $(document).ready(function () {
        ej.support.enableLocalizedSort = true;
        $("#items").ejGrid({
            dataSource: ej.DataManager({ url: "@Url.Action("GetItems", gridName)", adaptor: "UrlAdaptor" }),
            gridLines: ej.Grid.GridLines.None,
            pageSettings: { pageSize: 20 },
            allowPaging: true,
            allowSorting: true,
            enableAltRow: false,
            allowSearching: true,
            allowFiltering: true,
            allowSelection: true,
            filterSettings: filters,
            actionBegin: "fnActionBegin",
            actionComplete: "fnActionComplete",
            enableRowHover: true,
            columns: [
                {
                    headerText: "",
                    template: true,
                    templateID: "#internal-column",
                    width: 30,
                    allowSorting: true,
                    allowFiltering: false,
                    visible: ("@isMobileDevice" == "false" && (window.innerWidth > 1040))
                },
                {
                    headerText: "Owner",
                    template: true,
                    headerTemplateID: "#owner-header",
                    templateID: "#owner",
                    width: ("@isMobileDevice" == "false" && (window.innerWidth > 1200)) ? ((window.innerWidth < 1400) ? 250 : 350) : 140,
                    field: "[@GlobalAppSettings.DBColumns.DB_User.DB_TableName].[@GlobalAppSettings.DBColumns.DB_User.DisplayName]",
                    type: "string",
                    allowFiltering: false
                },
                {
                    headerText: "DNS",
                    template: true,
                    headerTemplateID: "#dns-header",
                    templateID: "#dns",
                    width: 170,
                    field: "[@GlobalAppSettings.DBColumns.DB_Tenant.DB_TableName].[@GlobalAppSettings.DBColumns.DB_Tenant.DNS]",
                    type: "string",
                    allowFiltering: false,
                    visible: ("@isMobileDevice" == "false" && (window.innerWidth > 1040))
                },
                @if (GlobalAppSettings.Branding == AppBranding.Bold.Identifier)
                {
                    <text>
                    {
                        headerText: "Product Type",
                        field: "[@GlobalAppSettings.DBColumns.DB_TenantInfo.TenantTypeId]",
                        allowFiltering: false,
                        allowSorting: true,
                        templateID: "#product-type",
                        template: true,
                        width: 140,
                        type: "string",
                        visible: ("@isMobileDevice" === "false" && (window.innerWidth > 1040))
                    },
                    </text>
                }
                {
                    headerText: "Plan",
                    field: "[@GlobalAppSettings.DBColumns.DB_TenantInfo.SaaSPlanId]",
                    allowFiltering: false,
                    allowSorting: true,
                    templateID: "#plan-column",
                    template: true,
                    width: 130,
                    type: "string",
                    visible: ("@isMobileDevice" === "false" && (window.innerWidth > 1040))
                },
                {
                    headerText: "Created Date",
                    template: true,
                    templateID: "#created-date",
                    field: "[@GlobalAppSettings.DBColumns.DB_Tenant.CreatedDate]",
                    allowFiltering: false,
                    allowSorting: true,
                    width: 140,
                    visible: ("@isMobileDevice" === "false" && (window.innerWidth > 1040))
                },
                {
                    headerText: "Next Payment On",
                    field:"[@GlobalAppSettings.DBColumns.DB_TenantInfo.RecurringPaymentDate]",
                    template: true,
                    templateID: "#next-payment-date",
                    allowFiltering: false,
                    allowSorting: true,
                    width: 140,
                    sortSettings: { sortedColumns: [{ field: "RecurringPaymentDate", direction: "descending" }] },
                    visible: ("@isMobileDevice" === "false" && (window.innerWidth > 1040))
                },
                {
                    headerText: "App Status",
                    headerTemplateID: "#app-status-header",
                    allowFiltering: false,
                    allowSorting: false,
                    template: true,
                    width: 150,
                    templateID: "#appStatus",
                    type: "string",
                    visible: ("@isMobileDevice" === "false" && (window.innerWidth > 1040)),
                },

                {
                    headerText: "Actions",
                    template: true,
                    templateID: "#actions",
                    cssClass: "action-column",
                    width: 70,
                    allowFiltering: false,
                    allowSorting: false
                }

            ],
            dataBound: function (args) {
                $("[data-toggle='tooltip']").tooltip();
            }
        });

        $.views.helpers({
            urlEncode: function (id, dns) {
                return encodeURI("/tenants?id=" + id + "&dns=" + dns + "&tab=general");
            }
        });
    });
</script>
