@model TenantInfo

<script>
var planUpgardeUrl = "@Url.Action("UpgradePlan", "TenantsManagement")";
</script>

<div role="tabpanel" class="tab-pane" id="tenant-plan-tab">
    <div class="sub-section admin-page-body license-info">
        @if (Model.LicenseSettings != null)
        {

            <div class="col-lg-1 col-md-1 no-padding">
                <label>Plan</label>
                <div class="current-plan">@GlobalAppSettings.GetDescription(Model.SaaSPlanId)</div>
            </div>
            <div class="col-lg-3 col-md-3 no-padding">
                <label>Pricing</label>
                <div>
                    @if (!Model.IsTrialExpired)
                    {
                        <div class="pricing-charge">Free until @Model.RecurringPaymentDate</div>
                    }

                    <div class="pricing-charge-details">
                        Credit liable to be charged $@Model.LicenseSettings.Price from every month.
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <label>Feature</label>
                <table class="license-feature">
                    <tr>
                        <td>Users</td>
                        @if (Model.LicenseSettings.IsUserBasedLicense)
                        {
                            <td>@Model.LicenseSettings.Users</td>
                        }
                        else
                        {
                            <td>Unlimited</td>
                        }
                    </tr>
                    <tr>
                        <td>Dashboards</td>
                        @if (Model.LicenseSettings.IsDashboardBasedLicense)
                        {
                            <td>@Model.LicenseSettings.Dashboards</td>
                        }
                        else
                        {
                            <td>Unlimited</td>
                        }
                    </tr>
                    <tr>
                        <td>Storage</td>
                        <td>@(Model.LicenseSettings.Storage)GB</td>
                    </tr>
                </table>
                <div>
                </div>
            </div>

            //Hide the tenant upgrade plan button for current release
            @*<div class="col-lg-1 col-md-1 col-lg-offset-2 btn col-md-offset-2" style="margin-top:-15px">
                    <button data-tenant-id="@Model.TenantInfoId" id="plan-upgrade-button" class="primary-button no-padding">Upgrade Plan</button>
                </div>*@

        }
        else
        {
            <div class="alert alert-danger">
                <strong>Payment details not provided</strong>
            </div>
        }
    </div>
</div>
