@model TenantInfo

@{
    ViewBag.Title = $"{T["Site Information"].Value} - {GlobalAppSettings.SystemSettings.OrganizationName}";
    var isGeneralTab = (string.IsNullOrWhiteSpace(Context.Request.Query["tab"]) || Context.Request.Query["tab"] == "general") ? "active" : string.Empty;
    var isAttributesTab = (Context.Request.Query["tab"] == "attributes") ? "active" : string.Empty;
    var isIsolationCodeTab = (Context.Request.Query["tab"] == "isolation-code") ? "active" : string.Empty;
    var isAiServiceKeyTab =(Context.Request.Query["tab"] == "ai-service") ? "active" : string.Empty;
    var isResourceLimitationTab = (Context.Request.Query["tab"] == "resource-limitation") ? "active" : string.Empty;
    var isUsersTab = (Context.Request.Query["tab"] == "users") ? "active" : string.Empty;
    var isSettingsTab = (Context.Request.Query["tab"] == "settings") ? "active" : string.Empty;
    var enableAIFeature = GlobalAppSettings.SystemSettings.AI.EnableAiFeature != null && (bool)GlobalAppSettings.SystemSettings.AI.EnableAiFeature;
}

@section styles{
    <link rel="stylesheet" href="~/bundles/css/view-site.css" integrity="@IntegrityTagHelper.GetIntegrity("bundles/css/view-site.css")" crossorigin="anonymous" asp-append-version="true" />
}

@section scripts{
    <meta name="ump-app-users-link" content="@Url.Action("GetTenantUsers", "TenantsManagement")?tenantInfoId=" />
    <meta name="add-ump-app-users-link" content="@Url.Action("GetUsersForTenantAccess", "TenantsManagement")?tenantInfoId=" />
    <meta name="provide-app-access-link" content="@Url.Action("GrantUserAccessforTenant", "TenantsManagement")?tenantInfoId=" />
    <meta name="remove-app-access-link" content="@Url.Action("RemoveUserAccessfromTenant", "TenantsManagement")?tenantInfoId=" />
    <meta name="isolation-code" content="@Model.TenantIsolation?.IsolationCode" />

    <script nonce="@Context.Items["ScriptNonce"]" src="~/bundles/js/sites.js" integrity="@IntegrityTagHelper.GetIntegrity("bundles/js/sites.js")" crossorigin="anonymous" asp-append-version="true"></script>
    <script nonce="@Context.Items["ScriptNonce"]">
        var tenantInfoId = "@Model.TenantInfoId";
        var isolationCode = $('meta[name="isolation-code"]').attr("content");
        var updateIsolationCodeUrl = "@Url.Action("IsolationCode", "TenantsManagement")";
        var updateResourceLimitationUrl = "@Url.Action("UpdateResourceLimitation", "TenantsManagement")";
        var siteAttributesUrl = "@Url.Action("GetSiteAttributes", "CustomAttribute")";
        var isActiveSite = "@Model.TenantStatus" == "@TenantStatus.Active";
        var enableAIFeature = "@enableAIFeature".toLowerCase() === "true";
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="commandstemplate">
        <div>
            <span><a href="#" class="delete-permission text-decoration-none" data-user-id="${UserId}"><i class="su su-close"></i> @T["Revoke Access"]</a></span>
        </div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="groups-command-template">
        <div>
            <span><a href="#" class="remove-group-access text-decoration-none" data-group-id="${GroupId}"><i class="su su-close"></i> @T["Revoke Access"]</a></span>
        </div>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="admincommandstemplate">
        <div class="revoke-access-div">
            <span><a href="#" class="delete-admin-permission text-decoration-none" data-admin-id="${UserId}"><i class="su su-close"></i> @T["Revoke Access"]</a></span>
        </div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-profile-template">
        ${if (Email != "")}
        <a class="item-name grid-content text-decoration-none" title="${DisplayName}" data-bs-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")?userid=${UserId}&email=${Email}" target="_blank">${DisplayName}</a>
        ${else}
        <a class="item-name grid-content text-decoration-none" title="${DisplayName}" data-bs-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")?userid=${UserId}" target="_blank">${DisplayName}</a>
        ${/if}
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-username-template">
        <span class="grid-content" title="${Username}" data-bs-toggle="tooltip">${Username}</span>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-email-template">
        <span class="grid-content" title="${Email}" data-bs-toggle="tooltip">${Email}</span>
    </script>
    <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="activation-method-template">
        ${if (ActivationMethod == null || ActivationMethod == "" || ActivationMethod == " ")}
          @T["NA"]
        ${else}
          ${ActivationMethod}
        ${/if}
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-status-template">
        <span class="grid-content">${UserStatus}</span>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="username-header">
        <div class="item-name">@T["Name"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-username-header">
        <div class="item-header">@T["Username"]</div>
    </script>
    <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="email-header">
        <div class="item-header">@T["Email Address"]</div>
    </script>
    <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="activation-method-header">
        <div class="item-header">@T["Activation Method"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="status-header">
        <div class="item-header">@T["Status"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="actionsheader">
        <div class="item-header">@T["Actions"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="actions-header-for-group">
        <div class="item-header">@T["Actions"]</div>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-name-template">
        ${if (Email != "")}
        <a class="item-name grid-content text-decoration-none" title="${DisplayName}" data-bs-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")?userid=${UserId}&email=${Email}" target="_blank">${DisplayName}</a>
        ${else}
        <a class="item-name grid-content text-decoration-none" title="${DisplayName}" data-bs-toggle="tooltip" href="@Url.Action("ViewProfile", "UserManagement")?userid=${UserId}" target="_blank">${DisplayName}</a>
        ${/if}
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="email-template">
        <span class="grid-content" title="${Email}" data-bs-toggle="tooltip">${Email}</span>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-name-header">
        <div class="item-header">@T["Name"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="user-email-header">
        <div class="item-header">@T["Email Address"]</div>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="${UserId}" id="row-check${UserId}" />
        <input name="row-check${UserId}" type="hidden" value="false">
        <label for="row-check${UserId}"> </label>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="group-checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="${GroupId}" id="group-row-check${GroupId}" />
        <input name="group-row-check${GroupId}" type="hidden" value="false">
        <label for="group-row-check${GroupId}"> </label>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="admin-checkbox-row-template">
        <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="${UserId}" id="admin-row-check${UserId}" />
        <input name="admin-row-check${UserId}" type="hidden" value="false">
        <label for="admin-row-check${UserId}"> </label>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="checkbox-header-template">
        @Html.CheckBox("checkbox-header", new { @class = "material-checkbox" })
        @Html.Label("checkbox-header", " ", new { @class = "checkbox-header-label" })
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="group-checkbox-header-template">
        @Html.CheckBox("group-checkbox-header", new { @class = "material-checkbox" })
        @Html.Label("group-checkbox-header", " ", new { @class = "checkbox-header-label" })
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="admin-checkbox-header-template">
        @Html.CheckBox("admin-checkbox-header", new { @class = "material-checkbox" })
        @Html.Label("admin-checkbox-header", " ", new { @class = "admin-checkbox-header-label" })
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="name-header">
        <div class="item-name">@T["Name"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="description-header">
        <div class="item-header">@T["Description"]</div>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="users-header">
        <div class="item-header">@T["No. of Users"]</div>
    </script>

      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="group-profile-template">
        <a class="item-name grid-content text-decoration-none" title="${GroupName}" data-bs-toggle="tooltip" href="@Url.Action("viewgroup", "group")/${GroupId}" target="_blank">${GroupName}</a>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="group-description-template">
        <span class="grid-content" title="${GroupDescription}" data-bs-toggle="tooltip">
            ${GroupDescription}
        </span>
    </script>
      <script type="text/x-jsrender" nonce="@Context.Items["ScriptNonce"]" id="users-count-template">
        <span class="grid-content" title="${UsersCount}" data-bs-toggle="tooltip">
            ${UsersCount}
        </span>
    </script>
}

@section MainSection{

    <div class="col-12 float-start no-padding no-margin width-alignment admin-header-width">
        <div class="admin-page-header float-start col-md-12 col-lg-12 col-sm-12">
            <div class="col-6 float-start no-padding">
                <a class="back-button float-start text-decoration-none" href="@Url.Action("Sites", "TenantsManagement")">
                    <i class="su su-arrow-back back-navigaion img-size"> </i>
                </a>
                <div class="admin-page-header-description col-6 float-start no-padding" id="application-title">
                    <hgroup class="col-12 float-start header-group">
                        <h1 class="page-title">@Model.Tenant.TenantName</h1>
                    </hgroup>
                 </div>
            </div>

            <div class="col-4 top-nav-sec no-padding">
                @await Html.PartialAsync("../Shared/_TopMenu")
            </div>
        </div>

        <div class="col-12 float-start site-nav-bar">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="@isGeneralTab" id="application">
                    <a href="#application-tab" class="text-decoration-none" aria-controls="application-tab" role="tab" data-bs-toggle="tab">@T["General"]</a>
                </li>
                @if (Model.TenantStatus == TenantStatus.Active)
                {
                    <li role="presentation" class="@isUsersTab" id="users">
                        <a href="#users-tab" class="text-decoration-none" aria-controls="users-tab" role="tab" data-bs-toggle="tab">@T["Users"]</a>
                    </li>
                    @if (Model.TenantTypeId == (int)TenantType.BoldBIOnPremise)
                    {
                        <li role="presentation" class="@isIsolationCodeTab" id="data-security">
                            <a href="#data-security-tab" class="text-decoration-none" aria-controls="data-security-tab" role="tab" data-bs-toggle="tab">@T["Isolation Code"]</a>
                        </li>
                    }
                    @if (Model.TenantTypeId == (int)TenantType.BoldBIOnPremise)
                    {
                        <li role="presentation" class="@isAiServiceKeyTab" id="ai-service">
                            <a href="#ai-serviceKey-tab" class="text-decoration-none" aria-controls="ai-serviceKey-tab" role="tab" data-bs-toggle="tab">@T["AI"]</a>
                        </li>
                    }
                    @if (Model.TenantTypeId == (int)TenantType.BoldBIOnPremise && ViewBag.ResourceLimitationEnable)
                    {
                        <li role="presentation" class="@isResourceLimitationTab" id="resource-limitation">
                            <a href="#resource-limitation-tab" class="text-decoration-none" aria-controls="resource-limitation-tab" role="tab" data-bs-toggle="tab">@T["Limitations"]</a>
                        </li>
                    }
                    <li role="presentation" class="@isAttributesTab" id="custom-attribute">
                        <a href="#custom-attribute-tab" class="text-decoration-none" aria-controls="custom-attribute-tab" role="tab" data-bs-toggle="tab">@T["Attributes"]</a>
                    </li>
                    @if (Model.TenantTypeId == (int)TenantType.BoldBIOnPremise)
                    {
                        <li role="presentation" class="@isSettingsTab" id="site-settings">
                            <a href="#site-settings-tab" class="text-decoration-none" aria-controls="site-settings-tab" role="tab" data-bs-toggle="tab">@T["Settings"]</a>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>

<div id="application-information-container" class="admin-page-content-container full-page-container" style=" height: calc(100% - 85px) !important;">
        <div class="admin-page-content col-12 float-start no-padding">
                <div class="tab-content col-12 float-start no-padding">
                    @await Html.PartialAsync("_SiteDetail")
                    @await Html.PartialAsync("_SiteUsers")
                    @await Html.PartialAsync("_SiteDataSecurity")
                    @await Html.PartialAsync("_SiteAIServiceKey")
                    @await Html.PartialAsync("_SiteResourceLimitation")
                    @await Html.PartialAsync("_SiteCustomAttribute")
                    @if (Model.TenantTypeId == (int)TenantType.BoldBIOnPremise)
                    {
                        @await Html.PartialAsync("_GlobalSiteSettings")
                    }
                </div>

            }
            else
            {
            <div class="admin-page-body">
                <p class="no-tenant-detail">
                    @T["The requested tenant details not found."]
                </p>
            </div>
            }
        </div>
        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    </div>
}
