@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;

@model List<AppHealthCheck>

@{
    Layout = null;
    var apprunning = Model.All(s => s.IsRunning);
    var tenantmanagementurl = GlobalAppSettings.SystemSettings.InternalAppUrls.Idp.TrimEnd('/') + "/ums/startup";
    var querystringerror = @Context.Request.Query["error"];
}

<html>
<head>
    <title>Application Healthcheck</title>
    @await Html.PartialAsync("../Shared/_FontReference")
    @await Html.PartialAsync("../Shared/_ThemeReference")
    <link rel="stylesheet" href="~/bundles/css/statushealthcheck.css" integrity="@IntegrityTagHelper.GetIntegrity("bundles/css/statushealthcheck.css")" crossorigin="anonymous" asp-append-version="true" />
    <script nonce="@Context.Items["ScriptNonce"]">
        var defaultErrorImageSrc = "@Url.Content(CloudAppConfig.FallbackLoginLogoUrl)";
        document.addEventListener("DOMContentLoaded", function () {
            var logoimage = document.getElementById("status-image");
            if (logoimage) {
                logoimage.onerror = function () {
                    this.onerror = null;
                    this.src = defaultErrorImageSrc;
                };
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="image">
            <img id="status-image" alt="@T["Login Logo"]" src="@Url.Content($"{CloudAppConfig.TenantManagementUrl(Context).TrimEnd('/')}/logos?type=login")" />
        </div>
        @if (Model.Count != 0)
        {
            <div>

                @if (apprunning)
                {
                    <h3 class="status-header status-success">All services are up and running</h3>
                }
                else
                {

                    <h3 class="status-header status-warning">
                        <span>One or more services are down.</span>
                        @if (querystringerror == "startup")
                        {
                            <span>Please resolve the issues and retry the <a href=@tenantmanagementurl>application startup.</a></span>
                        }
                    </h3>
                }

            </div>

            <div class="border">
                <table class="table">
                    <tbody class="tbody">

                        @foreach (var platform in Model)
                        {
                            <tr class="row">
                                <td>
                                    <p class="left">
                                        <span>@platform.ApplicationName</span> <br />
                                        <a href="@platform.ApplicationUrl/health-check" target="_blank" class="application-link">@platform.ApplicationUrl/health-check</a>
                                    </p>

                                    <p class="right">

                                        @if (platform.IsRunning)
                                        {
                                            <span class="online">Online</span>
                                        }
                                        else
                                        {
                                            <span class="down">@platform.StatusCode - @platform.ResponseMessage</span>
                                        }
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h3 class="status-header status-warning">
                <span>All services are down.</span>
            </h3>
        }
    </div>
</body>
</html>