@model SaaSPlanDetail

<span class="feature-detail col-xs-12 no-padding">
    <span class="su su-tick"></span>
    @if (@Model.LicenseSettings.BoldSign.Senders == -1)
    {
        <span class="text-body">Unlimited Senders</span>
    }
    else
    {
        <span class="text-body"><strong>@Model.LicenseSettings.BoldSign.Senders Senders</strong></span>
    }
</span>
<span class="feature-detail col-xs-12 no-padding">
    <span class="su su-tick"></span>
    @if (@Model.LicenseSettings.BoldSign.ESignatures == -1)
    {
        <span class="text-body">Unlimited ESignatures</span>
    }
    else
    {
        <span class="text-body"><strong>@Model.LicenseSettings.BoldSign.ESignatures ESignatures</strong></span>
    }
</span>
<span class="feature-detail col-xs-12 no-padding">
    <span class="su su-tick"></span>
    @if (@Model.LicenseSettings.BoldSign.DigitalSignatures == -1)
    {
        <span class="text-body">Unlimited DigitalSignatures</span>
    }
    else
    {
        <span class="text-body"><strong>@Model.LicenseSettings.BoldSign.DigitalSignatures DigitalSignatures</strong></span>
    }
</span>

