@{
    Layout = null;
    var userName = TempData["userName"] as string;
    var errorType = ((TempData["errorType"] as string) ?? "").ToLower();
    var isValidAccount = TempData["validAccount"];
    var isActivated = TempData["isActivated"];
    var privacyStatus = TempData["privacyStatus"];
    var isReturnUrl = !string.IsNullOrWhiteSpace((string)TempData["returnUrl"]) ? true : false;
    var isFromOAuth = ViewBag.ClientId != null ? true : false;
    var accessDeniedForTenant = TempData["accessDeniedForTenant"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[[[Login using syncfusion.com account | ]]]@GlobalAppSettings.BrandingDisplayName</title>
    @Styles.Render("~/bundles/styles/syncfusion-login")
    @Scripts.Render("~/bundles/scripts/accounts")
    @Scripts.Render("~/bundles/scripts/accounts/login")
    @Scripts.Render("~/bundles/scripts/localizationcontent")
    <script>
        var privacyUrl = "@Url.Action("Privacy", "Accounts")";
        var accessDeniedForTenantUrl = "@Url.Action("AccessDeniedForTenant", "Accounts")"
        var validateEmailUrl = "@Url.Action("ValidateEmail", "Accounts")";
        var isFromOAuth = "@isFromOAuth";
        var IsAdfsUserNotFound;

        $(document).ready(function () {
            if ($("#syncfusion-login-email").val().trim() === '') {
                if (window.opener.document.getElementById("login-email").value.trim() != '') {
                    $("#syncfusion-login-email").val(window.opener.document.getElementById("login-email").value);
                }
            }

            var isValidAccount = "@isValidAccount";
            var isReturnUrl = "@isReturnUrl";
            var isActivated = "@isActivated";
            var privacyStatus = "@privacyStatus";
            var accessDeniedForTenant = "@accessDeniedForTenant";

            window.opener.isValidAccount = isValidAccount;
            window.opener.privacyAccepted = privacyStatus;
            window.opener.accessDeniedForTenant = accessDeniedForTenant;

            if (isReturnUrl.toLocaleLowerCase() == 'true') {
                window.opener.privacyUrl = privacyUrl + "?returnUrl=" + "@TempData["returnUrl"]";
            }
            else {
                 window.opener.privacyUrl = privacyUrl;
            }

            if (isFromOAuth.toLocaleLowerCase() === 'true') {
                window.opener.returnUrl = "@TempData["returnUrl"]";
            }
            else {
                window.opener.returnUrl = "@Url.Action("Index", "Home")";
            }

            if (accessDeniedForTenant.toLocaleLowerCase() === 'true') {
                window.opener.accessDeniedUrl = accessDeniedForTenantUrl + "?clientId=" + "@ViewBag.ClientId";
            }

            if ((isValidAccount.toLocaleLowerCase() === 'true' && isActivated.toLocaleLowerCase() === 'true') || (isValidAccount.toLocaleLowerCase() === 'false' && accessDeniedForTenant.toLocaleLowerCase() === 'true')) {
                window.close();
            }
            else {
                $("#syncfusion-login-button").attr("disabled", true);
            }
        });
    </script>
</head>
<body id="body">
    <div class="account-parent">
        <div class="account-child">
            <div class="account-bg">
                <div class="account-header">
                    <img alt="[[[Syncfusion Login Logo]]]" src="@GlobalAppSettings.CdnDomain/static/company/syncfusion/logo/v1/@IconFileNames.LoginLogo" />
                </div>
                <div class="syncfusion-login-wrapper">
                    <div class="login-body">
                        <form id="login-form" class="syncfusion-login-form" method="post" action="@Url.Action("ValidateSyncfusionUser", "Accounts")" onsubmit="return onSyncfusionFormSubmit()">
                            <h1 class="syncfusion-login-header">[[[Login with your Syncfusion account]]]</h1>
                            <div class="syncfusion-login-fields">
                                <div class="input-field-form email">
                                    <input id="hidden-email" type="hidden" value="@userName" />
                                    <input required type="text" name="email" id="syncfusion-login-email" onkeyup="return onSyncfusionFormChange()" value="@userName" placeholder="[[[Email address]]]" class="form-control" maxlength="100" />
                                    <div class="mail-loader-div"></div>
                                    <span id="error-email" style="display: @((errorType == "not activated" || errorType == "unable to find your account") ? "inline-block" : "none")">
                                        @TempData["errorType"]
                                    </span>
                                    <span class="validation-holder"></span>
                                    <span class="special-char-msg-login"></span>
                                </div>
                                <div class="input-field-form" id="syncfusion-password-field">
                                    <input required name="password" type="password" id="syncfusion-login-password" onkeyup="return onSyncfusionFormChange()" placeholder="[[[Password]]]" class="form-control">
                                    <span class="su su-eye login-password-show show-hide-password special-char"></span>
                                    <span id="error-password" style="display: @((errorType == "incorrect password") ? "inline-block" : "none")">
                                        @TempData["errorType"]
                                    </span>
                                    <span class="validation-holder"></span>
                                </div>
                                <div class="login-options">
                                    <div id="remember-me" class="material-checkbox">
                                        @Html.CheckBox("remember", new { @class = "material-checkbox pull-left", @id = "remember" })
                                        @Html.Label("remember", "[[[Remember me]]]", new { @class = "disable-text-select", @id = "remember-label" })
                                    </div>
                                </div>
                                <input type="hidden" name="clientId" value="@ViewBag.ClientId" />
                                <input type="hidden" value="@TempData["returnUrl"]" id="ReturnURL" name="ReturnURL" />
                                <button class="login-button proceed-button" type="submit" name="Submit" id="syncfusion-login-button">
                                    [[[Log In]]]
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
