@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var isDefaultLoginLogo = _identityResponse != null && _identityResponse.LoginLogo != null ? _identityResponse.LoginLogo.EndsWith(ServerAppConfig.BrandingJson.BrandingImages.LoginLogo) : false;
    var defaultAppLogo = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/') + "/cdn/images/application/" + ServerAppConfig.AppSettings.AppBranding.Identifier + "/" + ServerAppConfig.BrandingJson.BrandingImages.LoginLogo;
    var appLogo = isDefaultLoginLogo ? defaultAppLogo : _identityResponse.LoginLogo;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var LoginDescription = (string)Context.Items["LoginDescription"];
    var showContainer = (ViewBag.HasSSO ?? ViewBag.HasSSO == true && !string.IsNullOrWhiteSpace(ViewBag.ExternalLogin)) ? "none" : "block";
    var loginProvider = (ViewBag.HasSSO ?? ViewBag.HasSSO == true && !string.IsNullOrWhiteSpace(ViewBag.ExternalLogin)) ? ViewBag.ExternalLogin : "";}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T["Embed"] - @globalAppSettings.SystemSettings.OrganizationName</title>
    <link rel="icon" href="@globalAppSettings.SystemSettings.FavIcon" id="favicon-link" />
     <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var idLogin = '@globalAppSettings.SystemSettings.IDPUrl';
        var serverUrl = '@globalAppSettings.SystemSettings.BaseUrl.TrimEnd('/')';
        var showContainer = '@showContainer';
        var loginProvider = '@loginProvider';
        document.addEventListener("DOMContentLoaded", function () {
            var initialFaviconPath = "@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@ServerAppConfig.BrandingJson.BrandingImages.FavIcon";
            var fallbackFaviconPath = "@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppSettings.AppBranding.Identifier/@ServerAppConfig.BrandingJson.BrandingImages.FavIcon";

            var faviconLink = document.getElementById("favicon-link");
            if (faviconLink) {
                faviconLink.addEventListener("error", function () {
                    var currentHref = faviconLink.getAttribute("href");
                    if (currentHref && currentHref.toLowerCase() !== initialFaviconPath.toLowerCase()) {
                        faviconLink.setAttribute("href", fallbackFaviconPath);
                    }
                });
            }
        });

    </script>
    @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
    <environment include="Development,CloudDevelopment">
         <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/embed-login.js"></script>
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/embed-login.css" />
    </environment>
    <environment exclude="Development,CloudDevelopment">
         <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/embed-login.min.js"></script>
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/embed-login.min.css" />
    </environment>

    <link rel="icon" href="@globalAppSettings.SystemSettings.FavIcon" id="favicon-link" />
</head>
<body>
    <div class="container" style="display: @showContainer">
        <div class="content">
            <div class="embed-login-image">
                <img data-alt="@globalAppSettings.SystemSettings.OrganizationName" data-id="application-logo" data-src="@appLogo" data-default="@defaultAppLogo" class="lazyload img-loader" />
            </div>
            <p class="embed-login-header">@globalAppSettings.SystemSettings.OrganizationName</p>
            <p class="embed-login-description">@LoginDescription</p>
            <button id="login" class="primary-button app-btn-primary">@T["Sign in"]</button>
        </div>
        <div class='loader-blue loader-icon' id='loader'><svg class='circular'><circle class='path' cx='27' cy='27' r='20' fill='none' stroke-width='4' stroke-miterlimit='10'></circle></svg></div>
    </div>
</body>
</html>
