@{
    Layout = null;
    var globalAppSettings = new TenantHandler().GetTenantConfig();
    var email = ViewBag.Email;
    var faviconLogo = globalAppSettings.SystemSettings.FavIcon;
    var cdnLink = @GlobalAppSettings.CdnDomain;
}
<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles/layout")
    @Styles.Render("~/bundles/styles/error-page-new")
    @Scripts.Render("~/bundles/scripts/error-page")
    <script>
        var setPermissionUrl = "@Url.Action("SetCookieStoragePermission", "Accounts")";
    </script>
    <link rel="icon" href="@faviconLogo" onerror="if (this.href !== null && this.href.toLowerCase() !== '@cdnLink/images/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon') this.href = '@cdnLink/images/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon';" />
    @Html.Partial("~/Views/Shared/_LoaderIcon.cshtml")
</head>
<body class="error-full-content">
    <div class="error-page-outer">
        <div class="error-page-content">
            <div class="error-inside">
                <div class="error-image-center-1">
                    <img src="@globalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '@ServerAppConfig.SyncfusionLoginLogoUrl') this.src = '@ServerAppConfig.SyncfusionLoginLogoUrl';" class="error-image-1">
                </div>
                <div class="error-image-center-2">
                    <img src="@GlobalAppSettings.CdnDomain/static/error-pages/v1/@ViewBag.ErrorImage" class="error-image-2">
                </div>
                <div class="error-type">@ViewBag.ErrorHeader</div>

                @if (ViewBag.ErrorType == "access_denied")
                {
                    if (ViewBag.InActiveUser)
                    {
                        <div class="error-text">
                            [[[You are logged in as]]] <strong>@email</strong>, [[[but your account is not yet activated in the site]]] <strong>@(new Uri(globalAppSettings.SystemSettings.BaseUrl))</strong>.<br>
                            [[[Please contact your system administrator to activate your account.]]]
                        </div>
                    }
                    else
                    {
                        <div class="error-text">
                            [[[You are logged in as]]] <strong>@email</strong>, [[[but you do not have access to the site]]] <strong>@(new Uri(globalAppSettings.SystemSettings.BaseUrl))</strong>.<br>
                            [[[If you should have access to this site, contact your system administrator.]]]
                        </div>
                    }
                }
                else
                {
                    <div class="error-text">
                        @ViewBag.ErrorText1 <br>
                        @ViewBag.ErrorText2
                    </div>
                }
                <div class="take-me-back-to-home-page">
                    @if (ViewBag.ErrorType == "access_denied")
                    {
                        <span class="error-page-cursor">
                            <a class="error-to-beck-text-color" href="@(new Uri(globalAppSettings.SystemSettings.BaseUrl+ "/accounts/logout"))">[[[Try a different account]]]</a>
                        </span>
                    }
                    else if (ViewBag.ErrorType == "http_error_404")
                    {
                        <span class="error-page-cursor"><a class="error-to-beck-text-color" href="@(new Uri(globalAppSettings.SystemSettings.BaseUrl+ "/dashboards"))">[[[Go to home page]]]</a></span>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("../Shared/_Footer", new ViewDataDictionary { { "appsettings", globalAppSettings } })
</body>
</html>