@{
    Layout = null;
    var cdnLink = @GlobalAppSettings.CdnDomain;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[[[Page Unavailable]]]</title>
    @Styles.Render("~/bundles/styles/layout")
    @Styles.Render("~/bundles/styles/error-page-new")
    @Scripts.Render("~/bundles/scripts/error-page")
    <link rel="icon" href="@cdnLink/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon" onerror="if (this.href != '@cdnLink/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon') this.href = '@cdnLink/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon';" />
</head>
<body class="error-full-content">
    <div class="error-page-outer">
        <div class="error-page-content">
            <div class="error-inside">
                <div class="error-image-center-1">
                    <img src="@ServerAppConfig.SyncfusionLoginLogoUrl" class="error-image-1">
                </div>
                <div class="error-image-center-2">
                    <img src="@GlobalAppSettings.CdnDomain/static/error-pages/v1/500.svg" class="error-image-2">
                </div>
                <div class="error-type">[[[Page unavailable]]]</div>
                @if (!ServerAppConfig.IsSelfHosted)
                {
                    if (GlobalAppSettings.Branding == AppBranding.Syncfusion.Identifier)
                    {

                        <div class="error-text">[[[The requested page failed to load. If the problem persists, please contact Syncfusion Support.]]]</div>
                    }
                    else
                    {
                        <div class="error-text">[[[The requested page failed to load. If the problem persists, please contact Bold BI Support.]]]</div>
                    }

                    <div class="take-me-back-to-home-page">
                        <span class="error-page-cursor">
                            <a class="error-to-beck-text-color" href="@ServerAppConfig.ProductHome/contact">[[[Create a Support ticket]]]</a>
                        </span>
                    </div>
                }
                else
                {
                    <div class="error-text">[[[The requested page failed to load. If the problem persists, please contact your administrator.]]]</div>
                }
            </div>
        </div>
    </div>
</body>
</html>
