@{
    Layout = null;
    var globalAppSettings = new TenantHandler().GetTenantConfig();
}
<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site Suspended - @GlobalAppSettings.BrandingDisplayName</title>
    @Styles.Render("~/bundles/styles/layout")
    @Styles.Render("~/bundles/styles/error-page")

    @Html.Partial("~/Views/Shared/_LoaderIcon.cshtml")
    <link rel="icon" href="@globalAppSettings.SystemSettings.FavIcon" onerror="if (this.href != '@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon') this.href = '@globalAppSettings.SystemSettings.CDNLink/images/application/@ServerAppConfig.AppBranding/@IconFileNames.Favicon';" />
</head>
<body>
    <div class="suspended-container-bg">
        <div class="suspended-conatiner" id="suspended-conatiner">
            <div id="suspended-main-div">
                <div class="suspended-logo">
                    <img src="@Url.Content("~/Content/images/application/suspended.svg")" />
                </div>
                <div class="suspended-secondary-div">
                    <div class="suspended-page-title">
                        [[[Suspended]]]
                    </div>
                    <div class="suspended-page-content">[[[Subscription to the Dashboards has been suspended. Please contact your System Administrator for more details.]]]</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>