@{
    var customDomain = ViewBag.CustomDomain;
    var whiteLabel = ViewBag.WhiteLabel;
    var thirdPartyLogin = ViewBag.ThirdPartyLogins;
    var manageLicenseSettingsUrl = Url.Action("LicenseSettings", "Administration");
}
<script>
    var haveCustomDomainAccess = "@customDomain";
    var haveWhiteLabelAccess = "@whiteLabel";
    var haveThirdPartyLogins = "@thirdPartyLogin";
</script>
<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
<div id="unlock-enterprise-features-container" class="col-xs-12 no-padding no-margin display-none">
    <div id="shield-container" class="col-xs-4 no-padding">
        <img id="unlock-shield" src="@(GlobalAppSettings.CdnDomain)/static/enterprise-features/v1/unlock-feature.svg" />
        <h1>[[[Unlock Enterprise Features!]]]</h1>
        <p id="feature-paragraph-content" class="self-hosted-feature">[[[Enterprise features come with additional pricing. You can unlock below feature with the Enterprise Plan]]]</p>
        <span id="feature-list">
            <ul>
                <li>[[[Custom branding]]]</li>
                <li>[[[Third party logins]]]</li>
            </ul>
        </span>
        <span id="upgrade-license-contact-us" class="license-contact-us">
            [[[Please ]]]<a href="@manageLicenseSettingsUrl">[[[upgrade your license]]]</a>[[[  or ]]]<a target="_blank" href="https://www.@(GlobalAppSettings.BrandingDomain)/contact">[[[contact us]]]</a>[[[ to unlock the enterprise feature.]]]
        </span>
    </div>
</div>
<link rel="stylesheet" href="~/bundles/css/unlock-features.css" asp-append-version="true"/>
<script src="~/bundles/js/unlock-features.js" asp-append-version="true"></script>