@{
    var cardDetail = ViewData["CardDetail"] != null ? (CardDetail)ViewData["CardDetail"] : new CardDetail();
}
@model List<Country>
<div class="col-xs-5 col-md-5" id="address-section">
    <div class="form-group">
        <div>
            <input id="pay-form-info-fullname" name="pay-form-info-fullname" class="form-control" type="text" placeholder="[[[Full Name]]]" value="@cardDetail.FullName">
            <span class="validation-error text"></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <p class="email-address-info">[[[All billing-related information will be sent to this email address]]]</p>
            <input id="pay-form-info-email" name="pay-form-info-email" class="form-control" type="text" placeholder="[[[Email address]]]" value="@cardDetail.Email">
            <span class="validation-error text"></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input id="pay-form-info-address1" name="pay-form-info-address1" class="form-control" type="text" placeholder="[[[Address1]]]" value="@cardDetail.Address1">
            <span class="validation-error text"></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input id="pay-form-info-address2" name="pay-form-info-address2" class="form-control" type="text" placeholder="[[[Address2]]]" value="@cardDetail.Address2">
            <span class="validation-error text"></span>
        </div>
    </div>
</div>
<div class="col-xs-5 col-md-5" id="address-section">
    <div class="form-group">
        <div>
            <input id="pay-form-info-city" name="pay-form-info-city" class="form-control" type="text" placeholder="[[[City]]]" value="@cardDetail.City">
            <span class="validation-error text"></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input id="pay-form-info-state" name="pay-form-info-state" class="form-control" type="text" placeholder="[[[State]]]" value="@cardDetail.State">
            <span class="validation-error text"></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <select class="form-control selectpicker" data-live-search="true" id="pay-form-info-country" name="pay-form-info-country" data-size="10">
                @if (Model != null && Model.Count > 0)
                {
                    <option data-hidden="true" value="">[[[Select Country]]]</option>
                    foreach (var country in Model)
                    {
                        if (!string.IsNullOrWhiteSpace(cardDetail.Country) && cardDetail.Country == country.CountryCode)
                        {
                            <option value="@country.CountryCode" selected="selected">@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.CountryCode">@country.Name</option>
                        }
                    }
                }
            </select>
            <span class="validation-error text country-validation"></span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input id="pay-form-info-zip" name="pay-form-info-zip" class="form-control" type="text" placeholder="[[[ZIP Code]]]" value="@cardDetail.ZipCode">
            <span class="validation-error text"></span>
        </div>
    </div>
</div>