@{
    var tenantStatus = (TenantStatus)ViewData["TenantStatus"];
}

<div id="update-card-body" class="admin-page-body">
    <div class="card-container">
        <hgroup class="update-card-container-title">
            <h1 class="card-title">[[[Credit/Debit Card]]]</h1>
            <h5 class="card-description">[[[This is the card used for your subscription renewals.]]]</h5>
        </hgroup>
        <div class="no-padding">
            <div class="card">
                <div class="card-block col-xs-12 no-padding">
                    <div class="card-top col-xs-12" id="card-name">
                        <div class="card-brand col-xs-6 no-padding">
                            <div id="card-brand-name" class="no-margin">@ViewData["BrandName"]</div>
                        </div>
                    </div>
                    <div class="col-xs-12" id="card-expire-title">
                        <div class="col-xs-6 no-padding">
                        </div>
                        <div class="col-xs-6 no-padding">
                            <div id="card-expires" class="card-expire-title pull-right no-margin">[[[Expires on]]]</div>
                        </div>
                    </div>
                    <div class="col-xs-12" id="card-detail">
                        <div class="col-xs-6 no-padding">
                            <div class="card-num no-margin">**** **** **** <span id="card-number-last4">@ViewData["CardNum"]</span></div>
                        </div>
                        <div class="col-xs-6 no-padding">
                            <div id="card-expires" class="card-expire pull-right no-margin">@ViewData["ExpiresIn"]</div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding card-button">
                        @if (tenantStatus == TenantStatus.Suspended || tenantStatus == TenantStatus.MarkedForSuspension)
                        {
                            <div class="col-xs-6 no-padding">
                                <button class="retry-payment no-padding" data-toggle="tooltip">[[[Retry payment now]]]</button>
                            </div>
                            <div class="col-xs-6 no-padding">
                                <button class="update-and-pay no-padding" data-toggle="tooltip">[[[Update and pay now]]]</button>
                            </div>
                        }
                        else
                        {
                            <button class="edit-card" data-toggle="tooltip">[[[Update]]]</button>
                        }
                    </div>
                </div>

            </div>
        </div>
        @if (tenantStatus == TenantStatus.MarkedForSuspension)
        {
            <div class="payment-description">
                <div class="col-xs-12 pad8">
                    [[[The most recent charge attempt was declined. We will make a few more attempts untill %0 to charge your card. In the event of failure, the subscription will be suspended on %1. |||| @ViewData["ExpireDate"], @ViewData["ExpireDate"]]]]
                </div>
                <div class="col-xs-12 pad8">[[[You may either retry the payment with the same card or update your payment details to continue the subscription.]]]</div>
            </div>
        }
        else if (tenantStatus == TenantStatus.Suspended)
        {
            <div class="payment-description">
                <div class="col-xs-12 pad8">
                    [[[Your subscription has been suspended due to payment failure. You cannot use the %0 until you pay the full subscription amount. |||| @GlobalAppSettings.BrandingDisplayName]]]
                </div>
                <div class="col-xs-12 pad8">[[[You may either retry the payment with the same card or update your payment details to continue the subscription.]]]</div>
            </div>
        }
    </div>
</div>
