@using Syncfusion.Server.Base
@{
    var poweredbyClass = GlobalAppSettings.SystemSettings.IsEnablePoweredBySyncfusion ? "show" : "hide";
    var copyrightClass = GlobalAppSettings.SystemSettings.IsEnableCopyrightInfo ? "show" : "hide";
    var separatorparagraphClass = (GlobalAppSettings.SystemSettings.IsEnablePoweredBySyncfusion && GlobalAppSettings.SystemSettings.IsEnableCopyrightInfo) ? "show" : "hide";
    var separatorFooterClass = (GlobalAppSettings.SystemSettings.IsEnablePoweredBySyncfusion || GlobalAppSettings.SystemSettings.IsEnableCopyrightInfo) ? "show" : "hide";
}

<div id="base-footer-div">
    <footer>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding layout-footer no-margin">
            <div class="copyright-poweredby">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 dropup no-padding language-area pull-left no-padding ">
                    <div class="col-xs-12 col-lg-12 no-padding pull-left" id="lang_menu">                       
                        <p class="pull-left @copyrightClass" id="copyrightinfo"> @Html.Raw(GlobalAppSettings.SystemSettings.CopyrightInformation.Replace("$$CurrentYear$$", DateTime.UtcNow.Year.ToString()))</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding pull-right" id="enablefooter">
                    @if (GlobalAppSettings.SystemSettings.IsShowPoweredBySyncfusion)
                    {
                        <p class="no-margin pull-right pow @poweredbyClass" id="poweredbysyncfusion">
                            [[[Powered by]]]
                            <img src="@GlobalAppSettings.SystemSettings.PoweredByLogo" onerror="this.onerror=null;this.src='@Url.Content("~/images/" + GlobalAppSettings.Branding + "/application/footer_logo_black.svg")';" alt="Syncfusion" width="110" height="25">
                        </p>
                    }
                </div>
            </div>
        </div>
    </footer>
</div>