<!DOCTYPE html>
@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldid" : GlobalAppSettings.Branding)/logo/v1/@IconFileNames.Favicon" onerror="if (this.href != '~/content/images/@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldid" : GlobalAppSettings.Branding)/application/@IconFileNames.Favicon') this.href = '~/content/images/@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldid" : GlobalAppSettings.Branding)/application/@IconFileNames.Favicon';" />
    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/privacypolicy.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundles/css/accounts-layout.css" asp-append-version="true" />
    @RenderSection("styles", false)
    @{var domain = System.Configuration.ConfigurationManager.AppSettings["syncfusion:product_home"]; }
</head>

<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="containerBox">
                <div class="navbar-header">
                    <img src="@CloudAppConfig.SyncfusionLoginLogoUrl" class="custom-logo" alt="Bold ID" itemprop="logo">
                </div>
                <div class="navbar-collapse collapse">
                    <div class="navbar-collapse collapse" style="float:right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="btn" onclick="location.href='@Url.Action("Login", "Accounts")'"><b>Login</b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer-text">
            @*<a class="copyrights" href="@domain/copyright" target="_blank">Copyright © 2001 - @DateTime.UtcNow.Year Syncfusion Inc. All Rights Reserved.</a>*@
            <a class="tag1" href="#" onclick="location.href='@Url.Action("Privacy", "PrivacyPolicy")'">Privacy Policy</a>
            <span>|</span>
            <a class="tag2" href="#" onclick="location.href='@Url.Action("Cookie", "PrivacyPolicy")'">Cookie Policy</a>
            <span>|</span>
            <a class="tag3" href="#" onclick="location.href='@Url.Action("TermsOfUse", "PrivacyPolicy")'">Terms of Use</a>
        </div>
    </div>
</body>
</html>
