@using System.Net;

@{
    var authLogoPrefixUrl = new Uri(GlobalAppSettings.SystemSettings.InternalAppUrls.Idp).GetLeftPart(UriPartial.Authority) + (Context.Request.PathBase.ToString().ToLower().Equals("/api") ? string.Empty : Context.Request.PathBase.ToString()) + "/content/images/application/authlogo/";
    var authSettings = ViewBag.AuthSettings as List<AuthSettings>;
    var azureb2cloginAction = ViewBag.ReturnURL != null ? Url.Action("AzureB2CLogin", "accounts") + "?returnUrl=" + WebUtility.UrlEncode(ViewBag.ReturnURL.ToString()) : Url.Action("AzureB2CLogin", "accounts");
    string openidLoginUrl = Url.Action("OpenIdLogin", "accounts");
    string oauthLoginUrl = Url.Action("OAuthLogin", "accounts");
    string jwtLoginUrl = Url.Action("JwtLogin", "accounts");
    var isPopUp = ViewData["IsPopUp"] as bool? ?? false;
}

@if (authSettings.Any(auth => auth.AuthProvider == AuthProvider.AzureADB2C && (AuthProvider)ViewData["AuthProvider"] == auth.AuthProvider))
{
    var azureADB2C = authSettings.FirstOrDefault(auth => auth.AuthProvider == AuthProvider.AzureADB2C && (AuthProvider)ViewData["AuthProvider"] == auth.AuthProvider);
    @Html.Hidden("provider", "Azure AD B2C")
    <input type="hidden" id="azure-email" name="email" />
    <button id="azureb2c-login" class="@($"login-provider auth-login-button link-button button-style login-button-openid {(isPopUp ? "popup-login-button" : "")}")" data-login-url="@azureb2cloginAction" type="@((isPopUp ? "button" : "submit"))">
        @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
        {
            <img class="open-id-logo" id="openid_logo_img" style="margin: 0 auto" src='@Url.Content($"~/authlogo?path={azureADB2C.LogoUrl}")' alt="@T["AuthLogo"]" />
        }
        else
        {
            <img class="open-id-logo" id="openid_logo_img" style="margin: 0 auto" src="@(authLogoPrefixUrl + azureADB2C.AzureADB2CSettings.Logo)" alt="@T["AuthLogo"]" />
        }
        <span class="login-provider-name"> Sign in with @azureADB2C.AzureADB2CSettings.AzureB2CProviderName</span>
    </button>
}
@if (authSettings.Any(auth => auth.AuthProvider != AuthProvider.AzureAD && auth.AuthProvider != AuthProvider.WindowsAD && auth.AuthProvider != AuthProvider.AzureADB2C && (AuthProvider)ViewData["AuthProvider"] == auth.AuthProvider))
{
    var otherAuthProvider = authSettings.FirstOrDefault(auth => auth.AuthProvider != AuthProvider.AzureAD && auth.AuthProvider != AuthProvider.WindowsAD && auth.AuthProvider != AuthProvider.AzureADB2C && (AuthProvider)ViewData["AuthProvider"] == auth.AuthProvider);
    <input type="hidden" value="@ViewBag.ReturnURL" id="authReturnUrl" name="authReturnUrl" />
    @Html.Hidden("tenantId", otherAuthProvider.TenantId.ToString())
    @Html.Hidden("authProviderLocation", otherAuthProvider.AuthProviderLocation.ToString())
    <button id="azureb2c-login" class="@($"login-provider auth-login-button link-button button-style login-button-openid {(isPopUp ? "popup-login-button" : "")}")" data-login-url="@(otherAuthProvider.AuthProvider == AuthProvider.CustomOAuth ? oauthLoginUrl : otherAuthProvider.AuthProvider == AuthProvider.CustomOIDC ? openidLoginUrl : jwtLoginUrl)" type="@((isPopUp ? "button" : "submit"))">
        @if (GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob)
        {
            <img class="open-id-logo" id="openid_logo_img" style="margin: 0 auto" src='@Url.Content($"~/authlogo?path={otherAuthProvider.LogoUrl}")' alt="@T["AuthLogo"]" />
        }
        else
        {
            <img class="open-id-logo" id="openid_logo_img" style="margin: 0 auto" src="@(authLogoPrefixUrl + (otherAuthProvider.AuthProvider == AuthProvider.CustomOAuth ? otherAuthProvider.OAuthAuthSettings.Logo : otherAuthProvider.AuthProvider == AuthProvider.CustomOIDC ? otherAuthProvider.OIDCAuthSettings.Logo : otherAuthProvider.JwtSettings.Logo))" alt="@T["AuthLogo"]" />
        }
        <span class="login-provider-name"> Sign in with @(otherAuthProvider.AuthProvider == AuthProvider.CustomOAuth ? otherAuthProvider.OAuthAuthSettings.ProviderName : otherAuthProvider.AuthProvider == AuthProvider.CustomOIDC ? otherAuthProvider.OIDCAuthSettings.ProviderName : otherAuthProvider.JwtSettings.Name)</span>
    </button>
}

