@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @RenderSection("meta", false)
    <title>
        @ViewBag.Title
    </title>

    @await Html.PartialAsync("_Favicon")

    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/layout.css" asp-append-version="true" />

    @RenderSection("styles", false)
    @RenderSection("scripts", false)

</head>
@if (!CloudAppConfig.IsSelfHosted)
{
    @await Html.PartialAsync("../Shared/_LocalizationContent")
}
<body class="clearfix" id="body">
    <div id="server-app-container">
        <section id="header-area">
            <div class="header-bar col-lg-12 col-md-12 col-sm-12">
                <div class="main-screen-logo mobile-hidden">
                    <a href="@Url.Action("Login", "Accounts")" class="home-link" data-container="body">
                        @if (!CloudAppConfig.IsSelfHosted)
                        {
                            <img alt="Application Logo" id="application-logo" src="@GlobalAppSettings.CdnDomain/static/company/@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldid" : GlobalAppSettings.Branding)/logo/v1/@IconFileNames.MainLogo" />
                        }
                        else
                        {
                            <img alt="[[[Application Logo]]]" id="application-logo" src="@GlobalAppSettings.SystemSettings.MainScreenLogo" onerror="this.onerror=null;this.src='@GlobalAppSettings.CdnDomain/@GlobalAppSettings.Branding/application/@IconFileNames.MainLogo';" />
                        }
                    </a>
                </div>
                <div class="org-name-wrapper">
                    <h5 class="header-org-name">@GlobalAppSettings.SystemSettings.OrganizationName</h5>
                </div>
            </div>
        </section>
        <div id="content-area" class="clearfix">
            @RenderSection("MainSection", true)
        </div>
        @if (!CloudAppConfig.IsSelfHosted)
        {
            @await Html.PartialAsync("../Shared/_Footer")
        }
        else
        {
            @await Html.PartialAsync("../Shared/_FooterOnPremise")
        }
    </div>
</body>
</html>