@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/iframe.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/addgroup.css" />
         <script nonce="@ViewBag.ScriptNonce" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/addgroup.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/iframe.min.css" />
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/addgroup.min.css" />
         <script nonce="@ViewBag.ScriptNonce" asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/addgroup.min.js"></script>
    </environment>

<script nonce="@ViewBag.ScriptNonce" type="text/javascript">
        var checkGroupnameUrl = "@Url.Action("CheckGroupname", "group")";
        var addGroupUrl = "@Url.Action("AddGroup", "group")";
        var deleteGroupViewUrl = "@Url.Action("DeleteGroupView", "group")";
        var addGroupViewUrl = "@Url.Action("AddGroupView","group")";
        var deleteGroupUrl = "@Url.Action("DeleteGroup", "group")";
        var groupPageUrl = "@Url.Action("group", "group")";
        cdnLink = "@dashboardServerResourceUrl";
    </script>

     <script nonce="@ViewBag.ScriptNonce" type="text/javascript">
        $(document).ready(function () {
            if (($(window).width()) > 1400) {
                $("#resolution-fix").addClass("lg-flexible-creategroup");
            } else {
                $("#resolution-fix").removeClass("lg-flexible-creategroup");
            }
            ejs.popups.hideSpinner(document.getElementById('create_group_dialog'));
        });

    </script>
    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

<div class="white-bg" id="resolution-fix">
    <form class="col-lg-12 no-padding group-form" id="popup-container" autocomplete="off">
        <div class="col-12 no-padding">
            <div class="col-12 namepad no-padding">
                <div class="col-12 text-label no-padding">@T["Name"]<span class="mandatory">*</span></div>
                <div class="grouppad" id="group-name">
                    <input type="text" id="GroupName" class="form-control has-error" placeholder="@T["Group name"]" name="groupname" tabindex="1" data-maxlength="255" autofocus>
                    <span id="invalid-groupname" class="error-message float-start" title="@T["Please enter the group name"]" data-content=""></span>
            </div>
            <div class="col-12 namepad no-padding top-margin">
                <div class="col-12 text-label no-padding">@T["Description"]</div>
                <div class="grouppad">
                    <textarea class="form-control has-error" name="group-description" data-maxlength="1024" id="group-description" tabindex="2"></textarea>
                    <div class="help-text">
                        *@T["1024 characters maximum"]
                    </div>
                   <span id="invalid-groupname" class="error-message float-start"></span>
                </div>
            </div>
        </div>
    </form>
     <script nonce="@ViewBag.ScriptNonce" asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</div>