@{
    var imageUrl = _globalAppSettings.SystemSettings.InternalAppIdpUrl;
}
<div id="group-logo-upload-box"></div>

<div id="group-logo-upload-box-content">
    <div class="no-padding group-img-name align-center">
        <div class="img-view-holder no-padding" style="border: 0px; width: auto">
            <div class="group-logo-tag profile-pic-tag" data-id="@ViewBag.groupId" data-type="user" data-group-logo="@ViewBag.GroupLogo" data-display-name="@ViewBag.GroupName " data-image-size="80" data-bs-toggle="tooltip" title="{{allGroupDetails.GroupName}}" data-bs-placement="top" data-url="@imageUrl"></div>
        </div>
    </div>
    <div class="no-padding input-group image-path align-center">
        <input type="file" id="fileupload" name="UploadFiles">
    </div>
    <div class="image-message align-center">
            <span class="image-validation-message"></span>
        </div>
    <div class="no-padding align-center" id="file-description">
        <div id="file-description-content">
            <ul>
                <li class="content">@string.Format(T["Allowed file types are {0}, {1} and {2}."].Value, ".png", ".jpg", ".jpeg")</li>
                <li class="content">@string.Format(T["Maximum file size is {0}."].Value, "20MB")</li>
                <li class="content last">@string.Format(T["Recommended resolution is {0} pixels."].Value, "200x200")</li>
            </ul>
        </div>
    </div>
</div>
