@*

@{
    var globalAppSettings = _globalAppSettings;

    var permissionSet = new PermissionSet(globalAppSettings);
    var permissionList =
                permissionSet.GetAllPermissionsOfRole(
                    Convert.ToInt32(permissionSet.GetRoleOfUser((Context.User as ServerPrincipal).UserId)));
    var canEdit = permissionList.Contains((int)EnumClass.PermissionList.EditGroup);
}

<div id="MiddleContainer" class="col-md-9 float-start sticky-next-container page-inner-small-padding no-margin">
    <div id="GroupTItleContainer" data-id="@ViewBag.GroupDetails.GroupId" class="col-md-12 no-margin page-inner-small-padding float-start content">

        <div class="col-xs-7 UserProfileHeading" style="padding-top: 5px;">
            <div class="float-start">
                <span class="report-security-head group-edit-back">
                    <i class="su su-back-trans-fill"></i>
                </span>
            </div>@ViewBag.GroupDetails.GroupName
        </div>
        <div class="col-xs-5 no-padding">
            @if (canEdit || permissionList.Contains((int)EnumClass.PermissionList.EditUser))
            {
                <input type="button" name="save" value="[[[SAVE]]]" class="btn sync-btn-blue small-inner-margin" id="GroupTItleContainerSaveButton" />
            }
            @if (permissionList.Contains((int)EnumClass.PermissionList.DeleteGroup))
            {
                <input type="button" name="save" value="[[[DELETE GROUP]]]" class="btn sync-btn-red small-inner-margin" id="GroupTItleContainerDeleteButton" />
            }
        </div>
    </div>
    <div id="GroupMainContainer" class="col-12  page-inner-small-padding float-start content droppable">

        <div id="TabContainer">
            <div class="GroupTabs GroupNameClicked" id="PeopleTab">[[[People]]]</div>
            <div class="GroupTabs" id="InfoTab">[[[Info]]]</div>
            <div class="tabStyleArrow"></div>
        </div>
        <div id="PeopleContainer" class="TabContent page-inner-small-padding droppable">
            @{
                for (var i = 0; i < @ViewBag.GroupUsers.Count; i++)
                {
                    <div id="@ViewBag.GroupUsers[i].UserName" class="UserItem">
                        <div style="background: url(/UserProfile/Avatar?Email=@ViewBag.GroupUsers[i].Email&ImageSize=32) no-repeat scroll 0 0/cover rgba(0, 0, 0, 0);" class="groupContentUserList"></div>@ViewBag.GroupUsers[i].DisplayName
                    </div>
                }
            }
        </div>
        <div id="InfoContainer" class="TabInvisible TabContent ">
            <div class="row">
                <div class="GroupInfoLabel col-md-4 float-start">[[[Group Name]]]</div>
                <div class="GroupInfoText col-md-4 float-start">
                    @if (canEdit)
                    {
                        <input id="GroupInfoName" type="text" class="form-control NotificationContent" value="@ViewBag.GroupDetails.GroupName" autocomplete="off" />
                    }
                    else
                    {
                        <input id="GroupInfoName" type="text" disabled="disabled" class="form-control NotificationContent" value="@ViewBag.GroupDetails.GroupName" autocomplete="off" />
                    }
                </div>
            </div>
            <div class="row">
                <div class="GroupInfoLabel col-md-4 float-start">[[[Color]]]</div>
                @if (canEdit)
                {
                    <div id="GroupInfoColor" class="GroupInfoText col-md-2 float-start" data-color="@ViewBag.GroupDetails.GroupColor">
                        <input id="ColorDropDown" class="form-control" style="background-color: @ViewBag.GroupDetails.GroupColor; margin-top: 5px; height: 22px; width: 22px; margin-left: 5px; cursor: pointer;" />
                    </div>
                }
                else
                {
                    <div class="form-control" style="background-color: @ViewBag.GroupDetails.GroupColor; margin-top: 10px; margin-left: 15px; float: left; height: 22px; width: 22px; cursor: pointer;"></div>
                }
            </div>
            <div class="row">
                <div class="GroupInfoLabel col-md-4 float-start">[[[Description]]]</div>
                <div class="GroupInfoText col-md-8 float-start">
                    @if (canEdit)
                    {
                        <textarea id="GroupInfoDescription" class="form-control NotificationContent">@ViewBag.GroupDetails.GroupDescription</textarea>
                    }
                    else
                    {
                        <textarea id="GroupInfoDescription" class="form-control NotificationContent" disabled="disabled">@ViewBag.GroupDetails.GroupDescription</textarea>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (canEdit || permissionList.Contains((int)EnumClass.PermissionList.EditUser))
{
    <div class="col-md-3 no-right-padding no-left-padding no-margin right-panel-top-padding" id="UserContainer">
        <div class="col-md-12 " id="UserHeader">
            <div class="tabStyleArrowUserList"></div>
            <div class=" float-start  User`n UserHeader">[[[Users]]]</div>

            <div class="su su-search searchIcon UserSelection"></div>
            <div class="su su-sort sortIcon SortAscending UserSelection "></div>
        </div>
        <div id="UserSearchBar" class="col-12" style="display: none">
            <input id="UserSearch" class="form-control" autofocus placeholder="[[[Search Here]]]..." />
        </div>

        <div class="col-12 page-inner-small-padding" id="UserListContainer">
        </div>
    </div>
}*@