@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[[[Access Denied - ]]]@GlobalAppSettings.SystemSettings.OrganizationName</title>
    @Styles.Render("~/styles/layout")
    @Styles.Render("~/styles/oauth-authorization-error")
</head>
<body>
    <div id="banned-country-page" class="base-container-bg">
        <div class="base-conatiner" id="base-conatiner">
            <div id="main-div">
                <div class="app-logo">
                    <img src="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.LoginLogo" />
                </div>
                <div class="secondary-div">
                    <div class="page-title">
                        [[[Access Denied]]]
                    </div>
                    <div class="page-content">
                        @(GlobalAppSettings.Branding == AppBranding.BoldBI.Identifier ? "[[[Bold BI(Powered By Syncfusion)]]]" : "[[[Syncfusion]]]") [[[is a United States company and is subject to US export laws. Consequently, due to your location, we may not allow access to any material on our site.]]]
                        [[[If you believe that this is inaccurate, please contact ]]]<a href="mailto:@CloudAppConfig.SalesTeamEmailAddress">@CloudAppConfig.SalesTeamEmailAddress</a>[[[ Thank you.]]]
                    </div>
                    <p class="text-danger">[[[We are unable to service your request.]]]</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>