@{
    Layout = null;
}
<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[[[Login - ]]]@GlobalAppSettings.BrandingDisplayName</title>
    @if (!CloudAppConfig.IsSelfHosted)
    {
        <link rel="icon" href="@GlobalAppSettings.CdnDomain/static/company/@GlobalAppSettings.Branding/logo/v1/@IconFileNames.Favicon" />
    }
    else
    {
        <link rel="icon" href="@GlobalAppSettings.SystemSettings.FavIcon" onerror="this.onerror=null;this.src='@GlobalAppSettings.CdnDomain/@GlobalAppSettings.Branding/Application/@IconFileNames.Favicon';" />
    }
    @Styles.Render("~/styles/layout")
    @Styles.Render("~/styles/oauth-authorization-error")
    <style>
    </style>
</head>
<body>
    <div class="login-container-bg">
        <div class="login-conatiner">
            <div class="login-main-div">
                <div class="login-logo">
                    <img src="@GlobalAppSettings.SystemSettings.CDNLink/images/common/application/login_failed.svg" alt="[[[Login Failed]]]" />
                </div>
                <div class="login-secondary-div">
                    <div class="login-page-title">
                        [[[Login Failed]]]
                    </div>
                    <div class="login-page-content">[[[Sorry, we are having trouble logging you in.]]]</div>
                    <div class="support-div">
                        <a href="@Url.Action("Login", "Accounts")" class="login-button">
                            [[[Retry]]]
                        </a>
                    </div>
                    <div class="external-container">
                        <div class="divider-container col-xs-12">
                            <div class="line col-xs-4"></div>
                        </div>
                        <div class="alternative-login">
                            <div class="page-wrapper">
                                <span style="float:left">[[[Still having trouble?]]]</span>
                                <span class="hoverlink" style="float:right">
                                    <a href="@CloudAppConfig.ContactUsUrl(TenantType.BoldBI)">
                                        [[[Contact Support]]]
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>