@{
    var globalAppSettings = _globalAppSettings;
    ViewBag.Title = T["Published Resources"].Value + " - " + globalAppSettings.SystemSettings.OrganizationName;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<!DOCTYPE html>
<head>
    <script>
        @{
#pragma warning disable SCS0029
        }
        var downloadedItemDetails = @Html.Raw(Json.Serialize(ViewBag.DownloadedItemDeatils));
        @{
#pragma warning restore SCS0029
        }
        var bulkDownloadUrl = "@Url.Action("BulkDownloadDashboardFile", "Items")";
        var downloadItemUrl = "@Url.Action("DownloadDashboardFile", "Items")"
        var deleteDownloadDashboardUrl = "@Url.Action("DeleteDownloadedDashboardView", "Items")"
    
    </script>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/download-items.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/download-items.min.js"></script>
    </environment>
</head>

<div class="col-12 no-padding" id="download-dashboards-section">
    <div id="download-dashboards-info" class="col-xs-9 no-padding">
        <label>@T["All files prepared more than 48 hours ago will be deleted automatically. Please click Status to see the progress of the file preparation."]</label>
    </div>
    <div class="col-12 no-padding offline-files-header">
        <span class="col-xs-3 no-padding float-start">
            <span class="col-12 no-padding">
                <span class="dashboard-selected-count" ">@T["Selected (0)"]</span>
            </span>
        </span>
        <div class="col-xs-3 no-padding float-end download-button">
            <button type="button" class="float-end primary-button app-btn-primary" id="bulk-download" disabled>
                <span class="col-xs-2 no-padding">
                    <span>
                        <i class="su su-download"></i>
                    </span>
                </span>
                @T["Download All"]
            </button>
        </div>
    </div>
    
</div>

<div class="col-12 no-padding">
    <div class="control-section">
        <div class="content-wrapper">
            <script type="text/x-jsrender" id="checkbox-row-template">
                {{if Status == "Success"}}
                <input type="checkbox" class="checkbox-row material-checkbox" data-checked-id="{{:ItemId}}" id="row-check{{:ItemId}}-{{:JobId}}" />
                <input name="row-check{{:ItemId}}-{{:JobId}}" type="hidden" value="false">
                <label for="row-check{{:ItemId}}-{{:JobId}}"> </label>
                {{else}}
                <input type="checkbox" class="checkbox-row-disabled material-checkbox" data-checked-id="{{:ItemId}}" id="row-check{{:ItemId}}-{{:JobId}}" disabled/>
                <input name="row-check{{:ItemId}}-{{:JobId}}" type="hidden" value="false">
                <label for="row-check{{:ItemId}}-{{:JobId}}"> </label>
                {{/if}}           
            </script>

            <script type="text/x-jsrender" id="checkbox-header-template">
                @Html.CheckBox("checkbox-header", new { @class = "material-checkbox" })
                @Html.Label("checkbox-header", " ", new { @class = "checkbox-header-label" })
            </script>
            <script type="text/x-jsrender" id="itemname-template">
                <div class="item-dashboard grid-content" title="{{:ItemName}}" data-bs-toggle="tooltip" data-placement="top">
                    <span><a class="grid-content" href="@Url.Action("Dashboards", "Dashboards")/{{:ItemId}}/{{:CategoryName}}/{{:ItemName}}" target="_blank">{{:ItemName}}</a></span>
                </div>
            </script>
            <script type="text/x-jsrender" id="download-status-template">
                {{if Status == "Started"}}
                <div class="item-dashboard grid-content" title="@T["Started"]">
                    <span>@T["Started"]</span>
                </div>
                {{else Status == "InProgress"}}
                <div class="item-dashboard grid-content" title="@T["In Progress"]">
                    <span><a class="grid-content" href="javascript:void(0);" onclick="onStatusClick()">@T["In Progress"]</a></span>
                </div>
                {{else Status == "Success"}}
                <div class="item-dashboard grid-content" title="@T["Success"]">
                    <span><a class="grid-content" href="javascript:void(0);" onclick="onStatusClick()">@T["Success"]</a></span>
                </div>
                {{else}}
                <div class="item-dashboard grid-content" title="@T["Failed"]">
                    <span><a class="grid-content" href="javascript:void(0);" onclick="onStatusClick()">@T["Failed"]</a></span>
                </div>
                {{/if}}
            </script>
            <script type="text/x-jsrender" id="sensitiveinfo-template">
                {{if CanIncludeSensitiveInfo }}
                <div class="item-dashboard grid-content" title="@T["Yes"]">
                    <span>@T["Yes"]</span>
                </div>
                {{else}}
                <div class="item-dashboard grid-content" title="@T["No"]">
                    <span>@T["No"]</span>
                </div>
                {{/if}}
            </script>
            <script type="text/x-jsrender" id="download-template">
                {{if Status == "Success"}}
                <div class="item-dashboard grid-content" title="{{:ItemName}}">
                    <span>
                        <a class="grid-content enable-color download-icon-offline-tab" href="javascript:void(0);">
                            <i class="su su-download"></i>
                        </a>
                    </span>
                </div>
                {{else}}
                <div class="item-dashboard grid-content disable-color download-icon-offline-tab" title="{{:ItemName}}">
                    <span>
                        <a class="grid-content disable-color" href="javascript:void(0);">
                            <i class="su su-download"></i>
                        </a>
                    </span>
                </div>
                {{/if}}
            </script>
            <script type="text/x-jsrender" id="actionstemplate">
                <div>
                <span><a href="javascript:void(0);" class="delete-download-dashboard" title="" data-itemName="{{:ItemName}}" data-jobId ="{{:JobId}}" data-itemId="{{:ItemId}}"><i class="su su-close"></i> @T["Remove"]</a></span>
            </div>
            </script>
            <div id="DownloadItemGrid"></div>
            <div id="DownlodDashboardStatus"></div>
            <div id="ProgressStages" class="display-none">
                <ul id="progress-stages" class="no-margin no-padding"></ul>
            </div>
        </div>
    </div>
</div>
<script>
    GridLocalization(window.Server.App.Localization.DownloadedResourcesEmpty);
    $("#DownloadItemGrid").ejGrid({
        dataSource: downloadedItemDetails,
        gridLines: ej.Grid.GridLines.None,
        allowSorting: true,
        allowPaging: true,
        allowGrouping: false,
        allowSearching: true,
        allowSelection: true,
        allowFiltering: true,
        filterSettings: { filterType: "menu" },
        selectionType: ej.Grid.SelectionType.Multiple,
        selectionSettings: { selectionMode: ["row"] },
        searchSettings: { fields: ["ItemName", "Status"], key: "" },
        pageSettings: { pageSize: 15 },
        enableRowHover: true,
        enableAltRow: false, 
        rowDataBound: function () {
            $.fn.tooltip = function(options) {
                return this.each(function() {
                    new bootstrap.Tooltip(this, options);
                });
            };
            $('[data-bs-toggle="tooltip"]').tooltip({ container: $('body') });
        },
        dataBound: function () {
            $.fn.tooltip = function(options) {
                return this.each(function() {
                    new bootstrap.Tooltip(this, options);
                });
            };
            $('[data-bs-toggle="tooltip"]').tooltip({ container: $('body') });
        },
        create: "fnCreate",
        recordClick: "fnRecordClick",
        actionBegin: "fnOnUserGridActionBegin",
        actionComplete: "fnOnUserGridActionComplete",
        columns: [
            {
                        headerTemplateID: "#checkbox-header-template",
                        template: true,
                        templateID: "#checkbox-row-template",
                        textAlign: ej.TextAlign.Center,
                        allowFiltering: false,
                        width: 20
                    },
            { field: 'ItemName', headerText: window.Server.App.Localization.DownloadItemName, templateID: '#itemname-template', width: 100, allowFiltering: true, allowSorting: true, allowGrouping: false },
            { field: 'CreatedDateString', headerText: window.Server.App.Localization.DownloadRequestedDate, width: 80, allowFiltering: false, allowSorting: true, allowGrouping: false },
            { field: 'LastUpdatedDateString', headerText: window.Server.App.Localization.DownloadCompltededdate, width: 80, allowFiltering: false, allowSorting: true, allowGrouping: false },
            { field: 'CanIncludeSensitiveInfo', headerText: window.Server.App.Localization.ContainsSensitiveData, templateID: '#sensitiveinfo-template', width: 80, allowFiltering: false, allowSorting: true, allowGrouping: false },
            { field: 'Status', headerText: window.Server.App.Localization.DownloadItemStatus, templateID: '#download-status-template', width: 50, allowFiltering: false, allowSorting: false, allowGrouping: false },
            {
                headerText: window.Server.App.Localization.Action, templateID: '#download-template', width: 40, allowFiltering: false, allowSorting: false, allowGrouping: false
            },
            {

                template: true,
                templateID: "#actionstemplate",
                allowSorting: false,
                width: 50,
                allowFiltering: false
            }
        ]
    });
</script>