<div id="PublishHistoryContainer" class="display-none">
    <div class="col-lg-12 modal-header">
        <div class="col-lg-11 col-xs-11 col-sm-11 col-md-11 no-padding">
            <span class="su su-versions head-icon col-lg-1 col-xs-1 col-sm-1 col-md-1 header-icon"></span>
            <span class="modal-title popup-title schedule-popup-title ellipsis col-lg-10 col-xs-10 col-sm-10 col-md-10 no-padding" data-bs-toggle="tooltip" data-placement="bottom" data-container="body" style="font-size:16px;">@T["Publish History"]</span>
        </div>
        <div class="col-lg-1 col-xs-1 col-sm-1 col-md-1 no-padding">
            <a href="javascript:void(0);" title="@T["Close"]" class="popup-close float-end"><span class="su su-close"></span></a>
        </div>
    </div>
    <div class="col-lg-12 modal-body">
        <div id="PublishHistoryGrid"></div>
    </div>
    <div class="col-lg-12 modal-footer">
        <div class="col-12 no-padding margin-top">
            <input type="button" id="close-button" title="@T["Close"]" class="app-button app-secondary-button app-btn-secondary float-end popup-close" value="@T["Close"]" tabindex="-1" />
        </div>
    </div>
    <script type="text/x-jsrender" id="job-status-template">
        {{if Status == "Failed"}}
        <div class="item-dashboard grid-content" title="@T["Failed"]">
            <span><a class="grid-content" href="javascript:void(0);" onclick="onFailureStatusClick()">@T["Failed"]</a></span>
        </div>
        {{else Status == "InProgress"}}
        <div class="item-dashboard grid-content">
            <span>@T["In Progress"]</span>
        </div>
        {{else Status == "Started"}}
        <div class="item-dashboard grid-content">
            <span>@T["Started"]</span>
        </div>
        {{else}}
        <div class="item-dashboard grid-content">
            <span>@T["Success"]</span>
        </div>
        {{/if}}
    </script>
</div>
<div id="PublishFailureStatus" class="fluent-popup custom-bootstrap-styles custom-server-style no-padding" style="display: none">
    <div class="fluent-popup-header col-12 no-padding">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">@T["Failure Info"]</span>
            <button id="close-info-dialog" type="button" title="@T["Close"]" data-bs-toggle="tool-tip" data-container="body" class="btn-close popup-close" onclick="closeFailureInfo()" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body col-12">
        <span id="PublishFailureStatusMessage"></span>
    </div>
    <div class="fluent-popup-footer col-12">
        <div class="col-12 no-padding">
            <button class="app-button app-secondary-button app-btn-secondary fluent" onclick="copyPublishHistoryToClipboard()" title=@T["Copy to Clipboard"]>@T["Copy to Clipboard"]</button>
            <button class="close-fluent app-button app-secondary-button app-btn-secondary" onclick="closeFailureInfo()" title="@T["Close"]">@T["Close"]</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#PublishHistoryGrid").ejGrid({
            dataSource: window.publishedItemDetails,
            gridLines: ej.Grid.GridLines.None,
            allowSorting: true,
            allowPaging: true,
            allowSearching: true,
            allowSelection: true,
            filterSettings: { filterType: "menu" },
            pageSettings: { pageSize: 10 },
            enableRowHover: true,
            enableAltRow: false,
            columns: [
                { field: 'JobId', headerText: "@T["Job ID"]", width: 40, allowSorting: true },
                { field: 'DisplayName', headerText: "@T["User"]", width: 50, allowSorting: true },
                { field: 'Type', headerText: "@T["Type"]", width: 50, allowSorting: true },
                { field: 'JobStatus', headerText: "@T["Status"]", templateID: "#job-status-template", width: 40, allowSorting: true },
                { field: 'CreatedDate', headerText: "@T["Created Date"]", width: 60, allowSorting: true },
                { field: 'LastUpdatedDate', headerText: "@T["Completed Date"]", width: 60, allowSorting: true }
            ]
        });
    });
</script>
