<div id="publish-info-popup" class="fluent-popup custom-bootstrap-styles custom-server-style" style="display: none" ng-controller="PublishInfoCtrl">
    <div class="fluent-popup-header col-xs-12 no-padding">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">@T["Publishing Info"]</span>
            <button id="close-info-dialog" type="button" title="@T["Close"]" data-toggle="tool-tip" data-container="body" class="close popup-close" ng-click="closeItemInfo()" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body col-xs-12">
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Name"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.ItemName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Description"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.Description}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding" ng-if="PublishedItemDetails.ItemType == 'Dashboard'">
            <label class="info-label col-xs-4 no-padding">@T["Category Name"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.CategoryName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Published Site"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.TenantName}}</span>
        </span>
        @if (ServerAppConfig.IsSelfHosted)
        {
            <span class="item-info-created col-xs-12 no-padding">
                <label class="info-label col-xs-4 no-padding">@T["Published Type"]:</label>
                <span class="col-xs-8 no-padding">{{PublishedItemDetails.PublishType == "Internal" ? "@T["Internal"]" : "@T["External"]" }}</span>
            </span>
        }
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">{{PublishedItemDetails.ItemType == "Dashboard" ? "@T["Allow Dashboard Editing"]" : "@T["Allow Data Source Editing"]" }}:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.IsLocked ? "@T["Disabled"]" : "@T["Enabled"]"}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Created By"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.DisplayName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Created Date"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.CreatedDateString}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Last modified by"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.PublishJobHistory[0].DisplayName}}</span>
        </span>
        <span class="item-info-created col-xs-12 no-padding">
            <label class="info-label col-xs-4 no-padding">@T["Last modified on"]:</label><span class="col-xs-8 no-padding">{{PublishedItemDetails.LastUpdatedDateString}}</span>
        </span>
    </div>
    <div class="fluent-popup-footer col-xs-12">
        <div class="col-xs-12">
            <button class="app-button app-secondary-button app-btn-secondary" ng-click="closeItemInfo()" title="@T["Close"]">@T["Close"]</button>
        </div>
    </div>
</div>
