@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;
@{
    Layout = null;
    var returnUrl = ViewBag.ReturnUrl;
    var email = ViewBag.Email;
    var dns = ViewBag.DNS;
}
<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta name="viewport" content="width=device-width" />
    @if (CloudAppConfig.IsSelfHosted)
    {
        <title>[[[Access Denied]]] - @GlobalAppSettings.SystemSettings.OrganizationName</title>
    }
    else
    {
        <title>@GlobalAppSettings.BrandingDisplayName - Access Denied</title>

    }
    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundles/css/oauth-authorization-error.css" asp-append-version="true" />
</head>
<body>
    @if (CloudAppConfig.IsSelfHosted)
    {
        <div class="error-page-outer">
            <div class="error-page-content">
                <div class="error-inside">
                    <div class="error-image-center-1">
                        <img src="@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '@GlobalAppSettings.SystemSettings.CDNLink/images/application/@CloudAppConfig.AppBranding/@IconFileNames.LoginLogo') this.src = '@GlobalAppSettings.SystemSettings.CDNLink/images/application/@CloudAppConfig.AppBranding/@IconFileNames.LoginLogo';" class="error-image-1">
                    </div>
                    <div class="error-image-center-2">
                        <img src="@GlobalAppSettings.CdnDomain/static/error-pages/v1/access-denied.svg" class="error-image-2">
                    </div>
                    <div class="error-type">[[[Access Denied]]]</div>
                    <div class="error-text">
                        [[[You are logged in as ]]]<strong>@email</strong>[[[, but you do not have access to the site ]]]<strong>@dns</strong>[[[.]]]<br>
                        [[[If you should have access to this site, contact your system administrator.]]]
                    </div>
                    <div class="take-me-back-to-home-page">
                        <span class="error-page-cursor">
                            <a class="error-to-beck-text-color" href="@Url.Action("Logout", "Accounts")">
                                [[[Try a different account]]]
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    }
    else
    {
        <div class="base-container-bg">
            <div class="base-conatiner" id="base-conatiner">
                <div id="main-div">
                    <div class="app-logo">
                        <img src="@GlobalAppSettings.CdnDomain/static/company/@(GlobalAppSettings.Branding == AppBranding.Bold.Identifier ? "boldid" : GlobalAppSettings.Branding)/logo/v1/@IconFileNames.LoginLogo" alt="Login Logo" />
                    </div>
                    <div class="secondary-div">
                        <div class="page-title">
                            Access Denied
                        </div>
                        <p class="page-content">You are logged in as <strong>@email</strong>, but you do not have access to the site <strong>@dns</strong>.</p>
                        <p class="page-second-content">If you should have access to this site, contact your system administrator.</p>
                        <div class="support-div">
                            <a href="@Url.Action("Logout", "Accounts")?returnOAuth=1&returnUrl=@returnUrl">
                                Try a different account
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>