@using Syncfusion.Server.Base;
@using Syncfusion.Server.Base.DataClasses;
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[[[Internal Server Error]]] - @GlobalAppSettings.SystemSettings.OrganizationName</title>
    <link rel="icon" href="@GlobalAppSettings.SystemSettings.FavIcon" onerror="this.onerror=null;this.src='@GlobalAppSettings.CdnDomain/@GlobalAppSettings.Branding/application/@IconFileNames.Favicon';" />
    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundles/css/error-page-new.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bundles/css/error-page.css" asp-append-version="true" />
</head>
<body class="error-full-content">
    <div class="error-page-outer">
        <div class="error-page-content">
            <div class="error-inside">
                <div class="error-image-center-1">
                    <img src="@GlobalAppSettings.SystemSettings.LoginLogo" onerror="if (this.src != '@Url.Content(CloudAppConfig.FallbackLoginLogoUrl)') this.src = '@Url.Content(CloudAppConfig.FallbackLoginLogoUrl)';" class="error-image-1">
                </div>
                <div class="error-image-center-2">
                    <img src="@GlobalAppSettings.CdnDomain/static/error-pages/v1/500.svg" class="error-image-2">
                </div>
                <div class="error-type">[[[Internal Server Error (500)]]]</div>
                <div class="error-text">
                    [[[Sorry! The server has encountered an internal error and was unable to complete your request.]]]
                </div>
                <div class="take-me-back-to-home-page">
                    <span class="error-page-cursor"><a class="error-to-beck-text-color" href="@GlobalAppSettings.SystemSettings.InternalAppUrls.Idp">[[[Take me back to home page]]]</a></span>
                </div>
            </div>
        </div>
    </div>
    @if (CloudAppConfig.IsSelfHosted)
    {
        @await Html.PartialAsync("../Shared/_FooterOnPremise")
    }
</body>
</html>
