@using Syncfusion.Server.Base;
@{
    Layout = null;
    var authMessage = TempData["AuthMessage"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@T["Login Error"] - @GlobalAppSettings.SystemSettings.OrganizationName</title>
    @await Html.PartialAsync("~/Views/Shared/_Favicon.cshtml")
    @await Html.PartialAsync("../Shared/_FontReference")
    @await Html.PartialAsync("../Shared/_ThemeReference")
    <link rel="stylesheet" href="~/bundles/css/error-page.css" integrity="@IntegrityTagHelper.GetIntegrity("bundles/css/error-page.css")" crossorigin="anonymous" asp-append-version="true" />
</head>
<body>
    <div class="base-container-bg">
        <div class="base-conatiner" id="base-conatiner">
            <div id="main-div">
                <div class="app-logo">
                    <img src="@Url.Content($"{CloudAppConfig.TenantManagementUrl(Context).TrimEnd('/')}/logos?type=login")" />
                </div>
                <div class="secondary-div">
                    <div class="page-title">
                        @T["Login Error"]
                    </div>
                    <div class="page-content text-start">
                        <span>@T["Error in establishing a connection to our login service."]</span><br />
                        <br />
                        <span>@authMessage</span>
                    </div>
                    <div>
                        <span><a href="@Url.Action("Login", "Accounts")" class="text-decoration-none">@T["Return to Sign in"]</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>