@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @await Html.PartialAsync("../Shared/_FontReference")
    <link rel="stylesheet" href="~/bundles/css/editdelete.css" asp-append-version="true" />

    <script>
        var deleteUserFromGroupUrl = "@Url.Action("DeleteUserFromGroup", "group")";
        var deleteGroupUrl = "@Url.Action("DeleteGroup", "group")";
    </script>
    <script src="~/bundles/js/deletegroupuser.js" asp-append-version="true"></script>

</head>
<body id="user-delete">
<div id="user-delete-confirmation" class="no-padding">
    <div class="col-md-12 error-message pull-left no-padding">@TempData["ErrorMessage"]</div>
    <div class="col-md-12 success-message pull-left no-padding"></div>
    <div class="modal-content col-xs-12 no-padding" id="container">
        <div class="col-md-12 modal-header">
            <div class="col-xs-8 no-padding">
                <span class="su su-delete head-icon"></span>
                <span class="modal-title">Delete User</span>
            </div>
            <div class="col-xs-4 no-padding">
                <a href="javascript:void(0);" class="popup-close  pull-right">
                    <span class="su su-close"></span>
                </a>
                <div id="folder-setting-arrow" class="downArrow" style="left: 37px;"></div>
            </div>
        </div>
        <div class="modal-body col-xs-12 no-padding">
            <div class="col-xs-12 no-left-padding no-bottom-padding no-right-padding">
                <div class="delete-msg">Are you sure you want to delete this user from the group?</div>
            </div>
        </div>
        <div class="col-xs-12 modal-footer">
            <div class="col-xs-4">
                <input type="hidden" id="hidden-id" value="@ViewBag.id"/>
                <input type="hidden" id="hidden-name" value="@ViewBag.name"/>
                <input type="hidden" id="hidden-group-id" value="@ViewBag.groupId"/>
            </div>
            <div class="col-xs-8 no-padding pull-right margin-top">
                <input type="button" id="delete-user" class="critical-action-button margin-right" value="Yes"/>
                <input type="button" id="cancel-group" class="secondary-button popup-close" value="No"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>