@{
    /**/

    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
}

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
<title>@T["Sample Dashboards"]</title>
@await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
<script>
    var addSampleDashboardUrl = "@Url.Action("AddSampleItem", "Items")";
    var dashboardServerResourceUrl = "@globalAppSettings.SystemSettings.CDNLink";
    var dashboardBaseUrl = "@Url.Action("dashboards", "dashboards")";
    var cdnLink = "@dashboardServerResourceUrl";
    var enableApplicationEmbed =@ServerAppConfig.EnableSameTabLinkTarget.ToString().ToLower();
</script>

@await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")
<environment include="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/addsampleitem.css" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/addsampleitem.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <script asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/addsampleitem.min.css" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/addsampleitem.min.js"></script>
</environment>

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

<div class="overflow-none sample-item-popup" id="sample-item-container" style="display:none">
    <div class="no-padding" tabindex="-1" role="dialog">
        <div class="col-lg-12 popup-header no-padding" id="samples" ng-controller="SampleListCtrl" role="document">
            <div id="sample-item-popup-container" data-spy="scroll">
                <div class="col-xs-12 no-padding">
                    <div id="sample-item-container" class="col-xs-12 sample-item-container-padding no-padding">
                        <div class="sample-item">
                            <div class="col-xs-3 sample-category">
                                <h5>@T["Categories"]</h5>
                                <div class="col-xs-12 search-found ng-hide" ng-repeat="(key,value) in samples|filter:query| groupBy:'Name' as result">
                                    <span class="badge badge-primary badge-pill">{{createDummyArray(result)}}</span>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center highlight-list-item" ng-click="setFilterCategory()">
                                        All
                                        <span class="badge badge-primary badge-pill all-dashboard-count">0</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="item in dummies | filter:query" ng-click="setFilterCategory(item.category)">
                                        {{item.category}}
                                        <span class="badge badge-primary badge-pill">{{getCategoryItemsCount(result,item.category)}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-9 no-padding">
                                <div class="search-div">
                                    <div id="search-area" class="pull-right">
                                        <input type="text" id="search-sample-items" class="pull-left no-margin" ng-model="query" placeholder="@T["Search"]" />
                                        <span class="su close-icon su-inner-close pull-left no-margin clear-search" ng-click="query = ''" id="clear-search" title="@T["Clear search"]"></span>
                                        <span class="su su-search search-item pull-left no-margin" title="@T["Search"]"></span>
                                    </div>
                                </div>
                                <div class="sample-dashboard">
                                    <div class="col-xs-12 search-found ng-hide" id="serch-count" ng-show="countFilterObjects(result, query) >= 1">
                                        <span class="dashboard-count">
                                            @Html.Raw(String.Format(T["{0} Result(s) found for {1}"].Value, "{{countFilterObjects(result, query)}}", "\"{{query}}\""))
                                        </span>
                                    </div>
                                    <div class="col-xs-12 no-padding" ng-repeat="category in filteredSamples =(samples | filter:query | filter: filterByCategory )">
                                        <div class="col-xs-12 no-padding" ng-repeat="dashboard in category.Dashboards ">
                                            <div class="col-xs-3 sample-image">
                                                @if (ServerAppConfig.IsSelfHosted)
                                                {
                                                    <img ng-src="@dashboardServerResourceUrl/cdn/css/sample_dashboards/{{dashboard.ImageName | lowercase}}" />
                                                }
                                                else
                                                {
                                                    <img ng-src="@(GlobalAppSettings.CdnDomain)/static/sample-dashboards/v2/{{dashboard.ImageName | lowercase}}" />
                                                }
                                            </div>
                                            <div class="col-xs-9 sample-content">
                                                <div class="sample-name">{{dashboard.Name}}</div>
                                                <div class="sample-description">{{dashboard.Description}}</div>
                                                <input type="button" class="sample-add-button primary-button app-btn-primary" data-category-name="{{category.Name}}" data-sample-filename="{{dashboard.FileName}}" data-sample-description="{{dashboard.Description}}" data-sample-name="{{dashboard.Name}}" value="@T["Add Dashboard"]" />
                                            </div>
                                            <hr class="col-xs-12 sample-separator" />
                                        </div>
                                    </div>
                                    <div class="dashboard-empty-message-div col-xs-12 ng-hide" ng-show="countFilterObjects(result, query) == 0">
                                        <div class="empty-dashboard-image-div">
                                            <img class="empty-dashboard-image" src="@dashboardServerResourceUrl/cdn/css/images/dashboard-empty-state-60x60.svg" style="margin: 0 auto;/*! width: 100%; */">
                                        </div>
                                        <div>
                                            <span class="dashboard-empty-message">@T["No dashboards were found that match your search."]<br />@T["Try modifying your search or filters."]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>