<script>
    var addCategoryIframeUrl = "@Url.Action("addcategory", "category")";
    var addDatasourceIframeUrl = "@Url.Action("adddatasource", "datasources")";
    var addFileIframeUrl = "@Url.Action("AddFile", "Files")";
    var addDashboardIframeUrl = "@Url.Action("AddDashboard", "dashboards")";
    var addWidgetUrl = "@Url.Action("addwidget", "widgets")";
    var createDatasourceUrl = "@Url.Action("CreateDatasource", "DataSources")";
    var addSampleItemsUrl = "@Url.Action("AddSampleItems", "Items")";
    var schedulerIframeUrl = "@Url.Action("GetSchedulerDialog", "scheduler")";
</script>
<div id="datasource-popup" style="display:none">
    <iframe id="datasource-popup-iframe" class="datasource-popup-frame"></iframe>
</div>
<div id="widget_popup" style="display:none">
    <iframe id="widget_popup_iframe" class="widget-popup-frame"></iframe>
</div>
<div id="item-delete-confirmation" class="no-padding" style="display:none"></div>
<div id="privacy-settings-container" class="no-padding"></div>
<div id="file-popup" style="display:none">
    <iframe id="file-popup-iframe" class="file-popup-frame"></iframe>
</div>
<div id="report_popup" class="col-md-12 DisplayNone" style="display:none">
    <iframe id="report_iframe" class="EditIframe"></iframe>
</div>

<div id="permission-popup" class="no-padding" style="display:none">
    <iframe id="permission-iframe" class="PermissionIframe"></iframe>
</div>

<div id="create-datasource-popup" class="no-padding" style="display:none">
    <iframe id="create-datasource-iframe" class="create-datasource-frame"></iframe>
</div>

<div id="create-presentation-popup" class="no-padding" style="display:none">
    <div id="create-presentation-div">
        @{ await Html.RenderPartialAsync("~/Views/Slideshow/_CreateSlideshow.cshtml");}
    </div>
</div>
@await Html.PartialAsync("../Items/_CreateDashboards", ViewBag.ItemAddOptions as Dictionary<ItemType, bool>)