@{
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var requestUrl = url.AbsolutePath.ToString().ToLower();
    var dashboardsPageUrl = Url.Action("Dashboards", "Dashboards");
    var dataSourcePageUrl = Url.Action("DataSources", "DataSources");
    var schedulePageUrl = Url.Action("Schedules", "Scheduler");
    var slideshowPageUrl = Url.Action("Slideshows", "Slideshow");
    var itemsCount = ViewBag.ItemsCount as Dictionary<ItemType, int>;
}
<div id="AddSubCategoryPopup" style="display:none">
    <div style="background:white;" class="dialog">
        <form id="addSubCategoryForm" class="col-md-12 dialog-body">
            <table>
                <tbody>
                    <tr>
                        <td><div class="margin-bottom sub-category-name">@T["Category Name"]<span class="mandatory">*</span></div></td>
                    </tr>
                    <tr>
                        <td>
                            <span class ="margin-bottom">
                                <input type="text" id="sub-category_name" class="popup form-control text-field text" data-maxlength="255" value="" tabindex="1" autofocus name="categoryName">
                                <span id="validate-name" class="validation-message text"></span>
                                <div id="plugin_validation" class="validation-message text"></div>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="margin-bottom">@T["Description"]</div></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea class="form-control text-field text" maxlength="1024" id="category_description" tabindex="2"></textarea>
                            <span class="help-text">
                                <span class="help-text-mandatory">*</span>@T["1024 characters maximum"]
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div id="CreateCategoryPopup" style="display:none">
    <div style="background:white;" class="dialog">
        <div class="select-create-type">
            <div class="new-category-select select-database">
                <input type="radio" id="new-category" class="css-radio" name="categoryType" value="0" checked>
                <label for="new-category" class="radio-btn-label app-textbox-label"><span class="text">@T["New Category"]</span></label>
            </div>
            <div class="new-subcategory-select select-database">
                <input type="radio" id="new-subcategory" class="css-radio" name="categoryType" value="1">
                <label for="new-subcategory" class="radio-btn-label app-textbox-label"><span class="text">@T["New Sub Category"]</span></label>
            </div>
        </div>
        <form id="create_newcategory_content" class="col-md-12 dialog-body">
            <div id="create-category-section">
                <table>
                    <tbody>
                        <tr>
                            <td><div class="category-name category-add-field">@T["Category Name"]<span class="mandatory">*</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <input type="text" id="add_category_name" class="popup form-control text-field" data-maxlength="255" value="" tabindex="1" autofocus name="categoryName">
                                    <span id="validate-name" class="validation-message text"></span>
                                    <div id="plugin_validation" class="validation-message text"></div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="category-description category-add-field">@T["Description"]</div></td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="form-control text-field text" maxlength="1024" id="add-category_description" tabindex="2"></textarea>
                                <span class="help-text">
                                    <span class="help-text-mandatory">*</span>@T["1024 characters maximum"]
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <form id="create_subcategory_content" class="col-md-12 dialog-body" style="display:none">
            <div id="create-subcategory-section">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="choose-category category-add-field">@T["Choose Category"]<span class="mandatory">*</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <input id="SubCategoryList" style="height:12px;" />
                                    <div id="categorylist_validation" class="validation-message text"></div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><div class ="category-name category-add-field">@T["Category Name"]<span class="mandatory">*</span></div></td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <input type="text" id="create_subcategory_name" class="form-control text-field sub-category-field" data-maxlength="255" value="" tabindex="1" autofocus name="subcategoryName">
                                    <span id="validate-name" class="validation-message text"></span>
                                    <div id="plugin_validation" class="validation-message text"></div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><div class="category-description category-add-field">@T["Description"]</div></td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="form-control text-field" maxlength="1024" id="create_subcategory_description" tabindex="2"></textarea>
                                <span class="help-text">
                                    <span class="help-text-mandatory">*</span>@T["1024 characters maximum"]
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@if ((requestUrl.IndexOf(dashboardsPageUrl, StringComparison.OrdinalIgnoreCase) == -1 || (itemsCount != null && itemsCount.ContainsKey(ItemType.Dashboard) && itemsCount[ItemType.Dashboard] == 0)) && requestUrl.IndexOf(dataSourcePageUrl, StringComparison.OrdinalIgnoreCase) == -1 && requestUrl.IndexOf(schedulePageUrl, StringComparison.OrdinalIgnoreCase) == -1 && requestUrl.IndexOf(slideshowPageUrl, StringComparison.OrdinalIgnoreCase) == -1)
{
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-category.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/add-category.min.js"></script>
    </environment>
}