
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var dns = url.GetLeftPart(UriPartial.Authority);
}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    @await Html.PartialAsync("~/Views/Shared/_ApplicationThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseThemeStyleSheet.cshtml")
    @await Html.PartialAsync("~/Views/Shared/_BaseFontStyleSheet.cshtml")

     <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
        var deleteDownloadedDashboard = "@Url.Action("DeleteDownloadedDashboard", "Items")";
        var cdnLink = "@dashboardServerResourceUrl";
    </script>

    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")


<div id="downloaded-dashboard-delete">
    <div id="downloaded-dashboard-confirmation" class="no-padding">
        <input type="hidden" id="hidden-itemName" value="@ViewBag.ItemName" />
        <input type="hidden" id="hidden-itemId" value="@ViewBag.ItemId" />
        <input type="hidden" id="hidden-jobId" value="@ViewBag.JobId" />
        <div class="col-md-12 success-message float-start no-padding"></div>
        <div class="col-12 no-padding" id="container">
            <div class="modal-body col-12 no-padding">
                <div class="col-12 no-padding">
                    <div class="delete-msg">
                        @{
                        #pragma warning disable SCS0029
                        }
                        @Html.Raw("<span>" + String.Format(ViewBag.DeleteDashboardFileConfirmation, "</span><span id = 'delete-dashboard-name' class='delete-item-body highlight-name'>" + ViewBag.itemName + "</span>"))
                        @{
                        #pragma warning restore SCS0029
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script nonce="@Context.Items["ScriptNonce"]" asp-append-version="true" src="~/js/localizationcontent.js?v=@ServerAppConfig.ProductVersion&c=@System.Globalization.CultureInfo.CurrentCulture"></script>
</div>