@{
    Layout = null;
    var itemType = (ItemType)Model.Value;
    var itemTypeName = itemType.ToString().ToLower() == "datasource" ? T["Data Source"].Value : itemType.ToString();
}

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

@if (Model.Success)
{
<div class="col-lg-12 no-padding dialog" id="delete-popup-container">
    <input type="hidden" id="delete-slideshow" data-item-id="@ViewData["ItemId"]" data-datasource-type="@ViewData["DatasourceType"]" data-itemtype="@(Model.Value)" />
    <input type="hidden" id="delete-item" data-item-id="@ViewData["ItemId"]" data-datasource-type="@ViewData["DatasourceType"]" data-itemtype="@(Model.Value)" />
    <input type="hidden" id="delete-category-status" value="true" />
    <div class="dialog-body col-xs-12 no-padding" style="height:auto;">
        @if (ViewBag.Validation != null)
        {
            if (ViewBag.Validation[ItemType.Schedule] && ViewBag.Validation[ItemType.Dashboard] && ViewBag.Validation[ItemType.Slideshow])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing schedules, multi-tabbed dashboards, and slideshows. Deleting this dashboard will make the schedules, multi-tabbed dashboards, and slideshows linked with it no longer work."]
                </div>
                <br />
            }
            else if (ViewBag.Validation[ItemType.Schedule] && ViewBag.Validation[ItemType.Dashboard])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing schedules and multi-tabbed dashboards. Deleting this dashboard will make the schedules and multi-tabbed dashboards linked with it no longer work."]
                </div>
                <br />
            }
            else if (ViewBag.Validation[ItemType.Dashboard] && ViewBag.Validation[ItemType.Slideshow])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing multi-tabbed dashboards and slideshows. Deleting this dashboard will make the multi-tabbed dashboards and slideshows linked with it no longer work."]
                </div>
                <br />
            }
            else if (ViewBag.Validation[ItemType.Schedule] && ViewBag.Validation[ItemType.Slideshow])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing schedules and slideshows. Deleting this dashboard will make the schedules and slideshows linked with it no longer work."]
                </div>
                <br />
            }
            else if (ViewBag.Validation[ItemType.Schedule])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing schedules. Deleting this dashboard will make the schedules linked with it no longer work."]
                </div>
                <br />
            }
            else if (ViewBag.Validation[ItemType.Dashboard])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing multi-tabbed dashboards. Deleting this dashboard will make the multi-tabbed dashboards linked with it no longer work."]
                </div>
                <br />
            }
            else if (ViewBag.Validation[ItemType.Slideshow])
            {
                <div class="datasource-delete-warning">
                    @T["This dashboard has been used in existing slideshows. Deleting this dashboard will make the slideshows linked with it no longer work."]
                </div>
                <br />
            }
        }

        <div class="delete-item">

            @Html.Raw("<span style='white-space:nowrap; float:left'>" + String.Format(ViewBag.deleteConformation, "</span><span id = 'delete-item-name' class='delete-item-body highlight-name'>" + ViewData["ItemName"] + "</span>"))
        </div>

        @if (itemType == ItemType.Datasource && !ViewBag.IsDraft && ViewBag.LinkedDashboardsCount > 0)
        {
            <div class="datasource-delete-warning">
                @Html.Raw(String.Format(T["Dashboards that use this data source will no longer work. You can view the {0}dashboards{1} linked to this data source and then delete it."].Value, "<a href='" + Url.Action("viewlinkeddashboards", "datasources", new { dataSourceId = ViewData["ItemId"] }) + "'>", "</a>"))
                @*@String.Format(T["{0}Dashboards{1} that use this data source will no longer work. You cannot undo this action."].Value, "<a href='@Url.Action("dashboards", "dashboards")/?datasource="@ViewData["ItemName"]"' target='_blank'>","</a>")*@
            </div>
        }
    </div>
</div>
}
else
{
    <div class="col-lg-12 no-padding dialog" id="delete-popup-container">
        <div class="dialog-body col-xs-12 no-padding" style="height:auto;">
            @switch ((ItemType)Model.Value)
            {
                case ItemType.Category:
                    @if (ViewBag.HasHiddenItem != null && ViewBag.HasHiddenItem)
                    {
                        <div class="delete-item">
                            <span>
                                @Html.Raw(String.Format(T["Cannot delete {0} as the category contains dashboards."].Value, "</span><span class='delete-item-body highlight-name'>" + @ViewData["ItemName"] + "</span><span>"))
                            </span>
                            <strong style="float:left;padding-top:15px;width:100%" class="note">@T["Note:"]</strong>
                            <span style="white-space:normal;float:left;padding-top:5px" class="text">
                                @T["This category may contain a dashboard that is not listed here due to its visibility settings."]
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="delete-item">
                            <span>
                                @Html.Raw(String.Format(T["Cannot delete {0} as the category contains dashboards or subcategories."].Value, "</span><span class='delete-item-body highlight-name'>" + @ViewData["ItemName"] + "</span><span>"))
                            </span>
                        </div>
                    }
                    break;
                case ItemType.Report:
                    <div class="delete-item">
                        <span>
                            @Html.Raw(String.Format(T["Unable to delete the report - {0} as it has been scheduled to run at certain times."].Value, "</span><span class='delete-item-body highlight-name'>" + @ViewData["ItemName"] + "</span><span>"))
                        </span>
                    </div>
                    break;
                case ItemType.Dashboard:

                    <div class="delete-item">
                        <span>
                            @Html.Raw(String.Format(T["Unable to delete the dashboard - {0} as it has been scheduled to run at certain times."].Value, "</span><span class='delete-item-body highlight-name'>" + @ViewData["ItemName"] + "</span><span>"))
                        </span>
                    </div>
                    break;

                case ItemType.Datasource:

                    <div class="delete-item">
                        <span>
                            @Html.Raw(String.Format(T["Cannot delete {0} as the data source is being used by dashboards."].Value, "</span><span class='delete-item-body highlight-name'>" + @ViewData["ItemName"] + "</span><span>"))
                        </span>
                    </div>
                    break;
            }
        </div>
    </div>

}

