@{
    Layout = null;
    var forReportsWidgetsConfiguration = ViewBag.forReportsWidgetsConfiguration;
}

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
<!DOCTYPE html>

<head>
    <script>
        var forReportsWidgetsConfiguration = "@forReportsWidgetsConfiguration";
        var addExternalSitesUrl = forReportsWidgetsConfiguration == "True" ? "@Url.Action("AddReportsWidgetSites", "Administration")" : "@Url.Action("AddExternalSites", "Publish")";
        var isSiteNameExistsUrl = forReportsWidgetsConfiguration == "True" ? "@Url.Action("IsReportsSiteNameExists", "Administration")" : "@Url.Action("IsExternalSiteNameExists", "Publish")";
        var connectedSitesUrl = "@Url.Action("ConnectedSites", "User")";
    </script>
</head>
<body>
    <div id="get-external-site-content" style="display:none">
        <form class="col-lg-12 no-padding" id="dialog-container" autocomplete="off">
            <div class="col-11 no-padding no-margin first-child">
                <label class="app-textbox-label col-3">@T["Name"]</label>
                <div class="col-9 no-margin form-input-field">
                    <input type="text" class="form-control col-6 no-margin" placeholder="@T["Please enter the site name"]" name="external-site-name-input" id="external-site-name" />
                    <span class="name-validation-message"></span>
                </div>
            </div>
            <div class="col-11 no-padding no-margin">
                <label class="app-textbox-label col-3">@T["Client ID"]</label>
                <div class="col-9 no-margin form-input-field">
                    <input type="text" class="form-control col-6 no-margin" placeholder="@T["Please enter the Client ID"]" name="external-client-id-input" id="external-client-id" />
                    <span class="clientid-validation-message"></span>
                </div>
            </div>
            <div class="col-11 no-padding no-margin">
                <label class="app-textbox-label col-3">@T["Client Secret"]</label>
                <div class="col-9 no-margin form-input-field">
                    <input type="password" class="form-control col-6 no-margin" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" name="external-client-secret-input" id="external-client-secret" />
                    <div class="show-hide-password su su-eye"></div>
                    <span class="client-secret-validation-message"></span>
                </div>
            </div>
            <div class="col-11 no-padding no-margin">
                <label class="app-textbox-label col-3">@T["Site URL"]</label>
                <div class="col-9 no-margin form-input-field">
                    <input type="text" class="form-control col-6 no-margin" placeholder="@T["Please enter the site URL"]" name="external-site-url-input" id="external-site-url" />
                    <span class="site-url-validation-message"></span>
                </div>
            </div>
            <div id="validation-message" style="color:red; display:inline-block; margin-left:145px"></div>
        </form>
    </div>
</body>