@inject ServerPrincipal _identityResponse
@{
    var globalAppSettings = _globalAppSettings;

    Layout = null;
    var itemType = (ItemType)Model.Value;
    var itemTypeName = itemType.ToString().ToLower() == "datasource" ? "[[[Data Source]]]" : itemType.ToString();
    var IsMarkItemsPublic = globalAppSettings.SystemSettings.IsMarkItemsPublic;
    ViewBag.isAdmin = _identityResponse.IsAdmin;
    var isMobile = new DeviceDetection(Context).IsMobile;
}

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")

<script>
    var makeUnlistUrl = "@Url.Action("makeitemunlist", "items")";
    var makeItemUnlistUrl = "@Url.Action("MakeUnlistItem", "items")";

       function load() {
        if (($(parent.window).width()) > 1400) {
            $(".dialog").addClass("iframe");
        }

        if (($(parent.window).width()) < 1400) {
            $(".dialog").removeClass("iframe");
        }
    }
</script>
<body onload="load();">
    <div class="col-lg-12 no-padding dialog iframe" id="PopupContainer">
        <div class="col-md-12 dialog-header">
            <span class="su su-unlisted-eye Head-icon"></span>
            <span class="PopupTitle">[[[Unlist ]]]@(itemTypeName)</span>
            <a href="javascript:void(0);" title="[[[Close]]]" class="PopupClose" onclick="onMakeUnlistDialogClose()"><span class="su su-close"></span></a>
        </div>
        <div class="dialog-body col-xs-12 no-padding" style="height:auto;">
            <div class="col-xs-12 padding-bottom20">
                <div class="deleteItem" id="makeunlistitem" style="font-size:14px !important">
                    <span style="white-space:normal;float:left;width:100%" class="text">
                        [[[Are you sure you want to hide this ]]] @(itemTypeName) — <span class="highlight-name">@ViewData["ItemName"]</span> &nbsp;[[[ from listing? ]]]
                    </span>
                    <strong style="float:left;padding-top:15px;width:100%" class="note">Note:</strong>
                    <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px" class="text">
                        [[[Unlisted ]]]@(itemTypeName)[[[s are accessible to anyone with a link to them.]]]
                    </span>
                    <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px" class="text">
                        @(itemTypeName)[[[s will be listed only to owners.]]]
                    </span>
                </div>
                <div class="error-msg deleteItem text" style="display:none">
                    <span style="white-space:normal;float:left">[[[Unable to mark this ]]] @(itemTypeName)—</span>
                    <span id="item_name" class="delete-item-body highlight-name">]</span>[[[ as public. Internal server error. Please try again.]]]
                </div>
            </div>
        </div>
        <div class="col-xs-12 dialog-footer rightAlign" style="position:relative !important;font-size:14px !important">
            <div class="col-xs-3"></div>
            <div class="col-xs-9 no-padding rightAlign validationArea" id="select-area">
                <input type="button" class="btn primary-button rightAlign" value="[[[Unlist ]]]@(itemTypeName)" data-item-type="@(itemTypeName)" id="make-unlist" data-name="@ViewData["ItemName"]" data-item-id="@ViewData["ItemId"]" data-ispublic="@ViewData["IsPublic"]" data-isunlisted="@ViewData["IsUnlisted"]" tabindex="1" autofocus />
                <input type="button" id="Cancel" class="btn secondary-button PopupClose no" value="[[[No]]]" onclick="onMakeUnlistDialogClose()" tabindex="2" />
            </div>
            <div class="col-xs-8 no-padding centerAlign validationArea" id="close" style="display:none">
                <input title="" type="button" id="Cancel" class="btn secondary-button PopupClose" value="[[[Close]]]" onclick="onMakeUnlistDialogClose()" tabindex="3" autofocus />
            </div>
        </div>
    </div>
</body>