@inject ServerPrincipal _identityResponse
@{
    var globalAppSettings = _globalAppSettings;

    Layout = null;
    var itemType = (ItemType)Model.Value;
    var itemTypeName = itemType.ToString().ToLower() == "datasource" ? "[[[Data Source]]]" : itemType.ToString();
    var IsMarkItemsPublic = globalAppSettings.SystemSettings.IsMarkItemsPublic;
    ViewBag.isAdmin = _identityResponse.IsAdmin;
    var isMobile = new DeviceDetection(Context).IsMobile;
}

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")


<script>
    var makePublicUrl = "@Url.Action("makeitempublic", "items")";
    var makeItemPublicUrl = "@Url.Action("MakePublicItem", "items")";

       function load() {
        if (($(parent.window).width()) > 1400) {
            $(".dialog").addClass("iframe");
        }

        if (($(parent.window).width()) < 1400) {
            $(".dialog").removeClass("iframe");
        }
    }
</script>

<body onload="load();">

    @if (IsMarkItemsPublic == true)
    {
        <div class="col-lg-12 no-padding dialog" id="PopupContainer">
            <div class="col-md-12 dialog-header">
                <span class="su su-public Head-icon"></span>
                <span class="PopupTitle">[[[Make Public]]]</span>
                <a href="javascript:void(0);" title="[[[Close]]]" class="PopupClose" onclick="onMakePublicDialogClose()"><span class="su su-close"></span></a>
            </div>
            <div class="dialog-body col-xs-12 no-padding" style="height:auto;">
                <div class="col-xs-12 padding-bottom20">

                    <div class="deleteItem" id="makepublicitem" style="font-size:14px !important">

                        <span style="white-space:normal;float:left;width:100%" class="text">
                            [[[Are you sure you want to make the ]]] @(itemTypeName) - <span class="highlight-name">@ViewData["ItemName"]</span> &nbsp;[[[public?]]]
                        </span>

                        <strong style="float:left;padding-top:15px;width:100%" class="note">Note:</strong>
                        <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px" class="text">
                            [[[Public ]]]@(itemTypeName)[[[s are accessible to anyone with a link to them.]]]
                        </span>
                    </div>

                    <div class="error-msg deleteItem text" style="display:none">
                        <span style="white-space:normal;float:left">[[[Unable to mark this ]]] @(itemTypeName)—</span>
                        <span id="item_name" class="delete-item-body highlight-name">@ViewData["ItemName"]</span>[[[ as public. Internal server error. Please try again.]]]
                    </div>
                </div>
            </div>
            <div class="col-xs-12 dialog-footer rightAlign" style="position:relative !important;font-size:14px !important">
                <div class="col-xs-3"></div>

                <div class="col-xs-9 no-padding rightAlign validationArea" id="select-area">

                    <input type="button" class="app-button app-primary-button rightAlign" value="[[[Make Public]]]" data-item-type="@(itemTypeName)" id="make-public" data-name="@ViewData["ItemName"]" data-item-id="@ViewData["ItemId"]" tabindex="1" autofocus />

                    <input type="button" id="Cancel" class="app-button app-secondary-button PopupClose no" value="[[[No]]]" onclick="onMakePublicDialogClose()" tabindex="2" />
                </div>
                <div class="col-xs-8 no-padding centerAlign validationArea" id="close" style="display:none">
                    <input title="" type="button" id="Cancel" class="app-button app-secondary-button PopupClose" value="[[[Close]]]" onclick="onMakePublicDialogClose()" tabindex="3" autofocus />
                </div>
            </div>
        </div>
    }
    @if (IsMarkItemsPublic == false)
    {
        <div class="col-lg-12 no-padding dialog" id="PopupContainer">
            <div class="col-md-12 dialog-header">
                <span class="su su-public Head-icon"></span>
                <span class="PopupTitle">[[[Make Public]]]</span>
                <a href="javascript:void(0);" title="[[[Close]]]" class="PopupClose" onclick="onMakePublicDialogClose()"><span class="su su-close"></span></a>
            </div>
            <div class="dialog-body col-xs-12 no-padding" style="height:auto;">
                <div class="col-xs-12 padding-bottom20">

                    <div class="deleteItem" id="makepublicitem">

                        @if (ViewBag.IsAdmin == true)
                        {
                            if ((int)itemType == ((int)ItemType.Dashboard))
                            {
                                <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;text-align:center; padding-left:20px;padding-top:10px;font-size:14px!important" class="text">
                                    [[[Public Dashboards are disabled in ]]]
                                    @if (!isMobile)
                                    {
                                        <a href="@Url.Action("DashboardSettings", "Administration")">[[[dashboard settings.]]]</a>
                                    }
                                    else
                                    {
                                        <span>[[[dashboard settings.]]]</span>
                                    }
                                </span>
                            }

                            if ((int)itemType == ((int)ItemType.Widget))
                            {
                                <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;text-align:center;padding-left:20px;padding-top:10px;font-size:14px!important" class="text"> [[[Public Widgets disabled in ]]]<a href="@Url.Action("DashboardSettings", "Administration")">[[[dashboard settings.]]]</a></span>

                            }
                        }
                        else
                        {
                            if ((int)itemType == ((int)ItemType.Dashboard))
                            {
                                <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;padding-left:20px;font-size:14px!important" class="text">[[[Public Dashboards are disabled by the system administrator. Please contact your system administrator to enable this.]]]</span>
                            }

                            if ((int)itemType == ((int)ItemType.Widget))
                            {
                                <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;padding-left:20px;font-size:14px!important" class="text"> [[[Public Widgets disabled by the system administrator.    Please contact your system administrator to enable this.]]]</span>

                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-12 dialog-footer rightAlign" style="position:relative !important;font-size:14px !important">
                <div class="col-xs-3"></div>

                <div class="col-xs-9 no-padding centerAlign validationArea" id="select-area">
                    <input type="button" id="Cancel" class="app-button app-secondary-button PopupClose no" value="[[[Close]]]" onclick="onMakePublicDialogClose()" tabindex="2" />
                </div>
                <div class="col-xs-8 no-padding centerAlign validationArea" id="close" style="display:none">
                    <input id="Cancel" class="app-button app-secondary-button PopupClose" type="button" autofocus="" tabindex="3" onclick="onRemovePublicDialogClose()" value="[[[Close]]]" title="">

                </div>
            </div>
        </div>
    }
</body>