@inject ServerPrincipal _identityResponse
@{
    var globalAppSettings = _globalAppSettings;

    Layout = null;
    var itemType = (ItemType)Model.Value;
    var itemTypeName = itemType.ToString().ToLower() == "datasource" ? T["Data Source"].Value : itemType.ToString();
    var IsMarkItemsPublic = globalAppSettings.SystemSettings.IsMarkItemsPublic;
    ViewBag.isAdmin = _identityResponse.IsAdmin;
    var isMobile = new DeviceDetection(Context).IsMobile;
    var granularPermissions = ViewBag.GranularPermissions as Dictionary<object, bool>;
}

@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")


<script>
    var makePublicUrl = "@Url.Action("makeitempublic", "items")";
    var makeItemPublicUrl = "@Url.Action("MakePublicItem", "items")";

       function load() {
        if (($(parent.window).width()) > 1400) {
            $(".dialog").addClass("iframe");
        }

        if (($(parent.window).width()) < 1400) {
            $(".dialog").removeClass("iframe");
        }
    }
</script>

<body onload="load();">

    @if (IsMarkItemsPublic == true)
    {
    <div class="col-lg-12 no-padding dialog" id="PopupContainer">
        <input type="hidden" id="make-public-status" value="true" />
        <input type="hidden" data-item-type="@(itemTypeName)" id="make-item-public" data-name="@ViewData["ItemName"]" data-item-id="@ViewData["ItemId"]" data-ispublic="@ViewData["IsPublic"]" />
        <div class="dialog-body col-xs-12 no-padding" style="height:auto;">

            <div class="deleteItem" id="makepublicitem" style="font-size:14px !important">

                <span style="white-space:normal;float:left;width:100%" class="text">
                    @T["Are you sure you want to make this Dashboard public?"]
                </span>

                <strong style="float:left;padding-top:15px;width:100%" class="note">@T["Note:"]</strong>
                <span style="white-space:normal;float:left;padding-top:5px" class="text">
                    @T["Public dashboards are accessible to anyone with a link to them."]
                </span>
            </div>
            <div class="error-msg deleteItem text" style="display:none">
                @Html.Raw(String.Format("{1}" + T["Unable to mark this Dashboard — {0} as public. Internal server error. Please try again."].Value, "</span><span id='item_name' class='delete-item-body highlight-name'>" + ViewData["ItemName"] + "</span>", "<span style='white-space:normal; float:left'>"))
            </div>
        </div>
    </div>
    }
    @if (IsMarkItemsPublic == false)
    {
<div class="col-lg-12 no-padding dialog" id="PopupContainer">
    <div class="dialog-body col-xs-12 no-padding" style="height:auto;">

        <div class="deleteItem" id="makepublicitem">

            @if (ViewBag.IsAdmin == true || granularPermissions[SettingsScopes.All] || granularPermissions[SettingsScopes.DashboardSettings])
            {
                if ((int)itemType == ((int)ItemType.Dashboard))
                {
                    <span style="white-space:normal;float:left;text-align:center;font-size:14px!important" class="text">
                        @Html.Raw(String.Format(T["Public Dashboards are disabled in {0}dashboard settings{1}."].Value, !isMobile ? "<a href = " + Url.Action("DashboardSettings", "Administration") + ">" : string.Empty, !isMobile ? "</a>" : string.Empty))
                    </span>
                }

                if ((int)itemType == ((int)ItemType.Widget))
                {
                    <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;text-align:center;padding-left:20px;padding-top:10px;font-size:14px!important" class="text"> @Html.Raw(string.Format(T["Public Widgets disabled in {0}dashboard settings{1}."].Value, "<a href='" + Url.Action("DashboardSettings", "Administration") + "'>", "</a>"))</span>

                }
            }
            else
            {
                if ((int)itemType == ((int)ItemType.Dashboard))
                {
                    <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;padding-left:20px;font-size:14px!important" class="text">@T["Public Dashboards are disabled by the system administrator. Please contact your system administrator to enable this."]</span>
                }

                if ((int)itemType == ((int)ItemType.Widget))
                {
                    <span style="white-space:normal;float:left;padding-top:5px;padding-bottom:15px;padding-left:20px;font-size:14px!important" class="text"> @T["Public Widgets disabled by the system administrator. Please contact your system administrator to enable this."]</span>

                }
            }
        </div>
    </div>
</div>
    }
</body>