@{
    Layout = null;
    var itemType = (ItemType)Model.Value;
    var dashboardServerResourceUrl = _globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}
<!Doctype html>
<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/privacysettings.css" />
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/privacysettings.min.css" />
</environment>
<script>
    $(document).ready(function () {
        var checked =  @ViewBag.IsPublic ? "public" : (!@ViewBag.IsUnlisted && !@ViewBag.IsPublic) ? "private" : "unlisted"
        $("input[name='privacysettings']").on("click change", function () {
            if ($("input:radio[name=privacysettings]:checked").val().toLowerCase() != checked) {
                $("#change-privacy").prop("disabled", false);
            }
            else {
                $("#change-privacy").prop("disabled", true);
            }
        });
    });
</script>
<body>
    <div id="privacy-settings-container" class="col-xs-12 no-padding dialog">
        <div class="col-xs-12 dialog-header">
            <span class="su su-privacy-settings"></span>
            <span class="PopupTitle" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[Privacy Settings]]]">[[[Privacy Settings]]]</span>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" data-container="body" title="[[[Close]]]" class="PopupClose" onclick="onPrivacySettingsDialogClose()"><span class="su su-close"></span></a>
            <div class="report-name no-padding col-xs-12" style="padding-left:5px;padding-top: 10px;" data-toggle="tooltip" data-placement="top" data-container="body"></div>
        </div>
        <div class="dialog-body col-xs-12 no-padding">
            <div class="col-xs-12 body-content-padding">
                <input type="radio" id="private" class="css-radio" value="Private" style="margin-top:13px" name="privacysettings" @(ViewBag.IsPublic == "false" && ViewBag.IsUnlisted == "false" ? "checked" : string.Empty ) />
                @{
                    if ((int)itemType == ((int)ItemType.Dashboard))
                    {
                        <label id="private-label" for="private" class="normal-font notransition ">
                            [[[Private]]] <span class="su su-lock"></span>
                            <p class="description">
                                [[[Dashboards will only be visible to users with the appropriate permissions.]]]
                            </p>
                        </label>
                    }
                }
            </div>
            <div class="col-xs-12 body-content-padding">
                <input type="radio" id="public" class="css-radio" value="Public" name="privacysettings" @(ViewBag.IsPublic == "true" ? "checked" : string.Empty ) />
                @{
                    if ((int)itemType == ((int)ItemType.Dashboard))
                    {
                        <label id="public-label" for="public" class="normal-font notransition">
                            [[[Public]]] <span class="su su-public"></span>
                            <p class="description">
                                [[[Dashboards are accessible to anyone with a link to them. No sign-in is required. If a user is signed in, public dashboards will be included in their dashboards list.]]]
                            </p>
                        </label>
                    }
                }

            </div>
            <div class="col-xs-12 body-content-padding footer-padding">
                <input type="radio" id="unlist" class="css-radio" value="Unlisted" name="privacysettings" @(ViewBag.IsUnlisted == "true" ? "checked" : string.Empty ) />
                @{
                    if ((int)itemType == ((int)ItemType.Dashboard))
                    {
                        <label id="unlist-label" for="unlist" class="pointer normal-font notransition">
                            [[[Unlisted]]] <span class="su su-unlisted-eye"></span>
                            <p class="description">
                                [[[Dashboards marked as unlisted are accessible to anyone with a link to them. No sign-in is required. Only dashboard owners can see them in their dashboards list.]]]
                            </p>
                        </label>
                    }
                }

            </div>
        </div>
        <div class="col-xs-12 dialog-footer">
            <div class="pull-right">
                <input type="button" title="" class="btn primary-button" id="change-privacy" disabled value="[[[Change]]]" data-categoryName="@ViewBag.CategoryName" data-itemtype="@ViewBag.ItemTypeId" data-item-id="@ViewBag.ItemId" data-name="@ViewBag.ItemName" data-ispublic="@ViewBag.IsPublic" data-isunlisted="@ViewBag.IsUnlisted" tabindex="4">
                <input type="button" title="" class="btn secondary-button" onclick="onPrivacySettingsDialogClose()" value="[[[Cancel]]]" tabindex="4">
            </div>
        </div>
    </div>
</body>