@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<!DOCTYPE html>
<head>
    <script>
        var getActiveSitesUrl = "@Url.Action("GetAllActiveTenantsForPublish", "Publish")";
        var getUsersPermissionUrl = "@Url.Action("GetUsersWithCreatePermission", "Publish")";
        var getDatasourceUrl = "@Url.Action("GetDataSources", "Publish")";
        var publishDashboardUrl = "@Url.Action("PublishDashboardItem", "Publish")";
        var validatePublishItemUrl = "@Url.Action("ValidatePublishItem", "Publish")";
        var getExternalSitesUrl = "@Url.Action("GetExternalSites", "Publish")";
    </script>
    <environment include="Development,CloudDevelopment">
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/publish-dashboard.css" />
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/publish-dashboard.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/publish-dashboard.min.js"></script>
        <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/publish-dashboard.min.css" />
    </environment>

</head>
<body>
    <div id="publish-site-content" class="col-xs-12 no-padding" style="display:none" ng-controller="PublishCtrl">
        <div id="publish-base-container" style="display:none">
            <div class="col-xs-6 publish-container">
                <div>
                    <label ng-if="publishType == '@PublishType.Internal.ToString()'">[[[Publish to these sites]]]:</label>
                    <label class="external-dropdown" ng-if="publishType == '@PublishType.External.ToString()'">[[[Publish to external sites]]]:</label>
                    <div id="active-sites-dropdown" class="selectpicker">
                        <select id="multiselect-dropdown" class="form-control selectpicker" data-size="5" multiple="" data-actions-box="true" data-live-search="true"></select>
                    </div>
                    <span class="col-xs-1 input-group-btn no-padding" id="add-external-sites" ng-if="publishType == '@PublishType.External.ToString()'">
                        <button class="btn btn-default" type="button" data-placement="right" title="[[[Add external sites]]]" data-toggle="tooltip" onclick="getExternalSitesDetailDialog()"><span class="su-add"></span></button>
                    </span>
                </div>
                <span id="active-sites-validation" class="validation-message text"></span>
                <label>[[[Category name]]]</label>
                <input id="publish-category-name" autocomplete.="off" class="form-control" placeholder="[[[Category name]]]" maxlength="255" ng-model="PublishedItems.CategoryName" autofocus>
                <span id="publish-category-validation" class="validation-message text"></span>
                <div id="publish-plugin-validation" class="validation-message text"></div>
                <label>[[[Dashboard name]]]</label>
                <input id="publish-dashboard-name" class="form-control" maxlength="253" ng-model="PublishedItems.Name" disabled>
                <label>[[[Dashboard description]]]</label>
                <textarea id="publish-dashboard-descrition" autocomplete="off" class="form-control" placeholder="[[[Write description of dashboard.]]]" ng-model="PublishedItems.Description" maxlength="1024" rows="3"> </textarea>
                <div id="publish-dashboard-checkbox" ng-if="publishType == '@PublishType.Internal.ToString()'">
                    @Html.CheckBox("publish-dashboard-edit", new { @class = "material-checkbox" })
                    @Html.Label("publish-dashboard-edit", "[[[Lock dashboard editing in published site.]]]", new { @class = "toggle-space" })
                </div>
                <div id="publish-datasource-checkbox" ng-if="publishType == '@PublishType.Internal.ToString()'">
                    @Html.CheckBox("publish-datasource-edit", new { @class = "material-checkbox" })
                    @Html.Label("publish-datasource-edit", "[[[Lock data source editing in published site.]]]", new { @class = "toggle-space" })
                </div>
            </div>
            <div class="col-xs-6 publish-info">
                <h5>[[[Sites:]]]</h5>
                <p>[[[Choose the sites you want to publish the dashboard to.]]]</p>
                <h5>[[[Category name:]]]</h5>
                <p>[[[An existing category will be used if one is present in the destination site. Otherwise, a new category will be created in the destination site according to the name entered in this field.]]]</p>
                <h5>[[[Owner:]]]</h5>
                <p>[[[The dashboard will be created in the destination site with an owner who has permission to create dashboards, data sources, and categories.]]]</p>
                <div class="advanced-info">
                    <p>[[[If you want to publish the dashboard for a specific user, click on ]]]<b>[[[Advanced]]]</b>[[[ and choose the user you want.]]]
                </div>
            </div>
        </div>
        <div id="publish-advanced-container" class="col-xs-12 no-padding" style="display: none">
            <div class="selected-sites col-xs-6">
                <ul class="col-xs-11 publish-detail" ng-repeat="sites in selectedSites" ng-class="{active : activeMenu.TenantId === sites.TenantId}">
                    <li class="publish-active-sites" ng-click="setActive(sites, $event)">
                        <span>{{sites.TenantName}}</span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 advanced-page-container" ng-repeat="p in TargetSiteDetail" ng-if="p.TenantId == activeMenu.TenantId">
                <label>[[[Select the dashboard owner for the destination site.]]]</label>
                <div class="users-list">
                    <select id="user-selected" name="p.UserId" class="primary-select form-control" ng-model="p.UserId" data-size="5" data-live-search="true"></select>
                </div>
                <label>[[[Category name]]]</label>
                <input ng-model="p.PublishItem.CategoryName" id="advanced-category-name" autocomplete="off" class="form-control" placeholder="[[[Category name]]]" maxlength="255" autofocus>
                <span id="advanced-category-validation" class="validation-message text"></span>
                <div id="advanced-plugin-validation" class="validation-message text"></div>
                <label>[[[Dashboard name]]]</label>
                <input ng-model="p.PublishItem.Name" id="advanced-dashboard-name" class="form-control" maxlength="253" disabled>
                <label>[[[Dashboard description]]]</label>
                <textarea ng-model="p.PublishItem.Description" id="advanced-dashboard-descrition" autocomplete="off" class="form-control" placeholder="[[[Write description of dashboard.]]]" maxlength="1024"></textarea>
                <div ng-if="publishType == '@PublishType.Internal.ToString()'">
                    <div id="advanced-dashboard-checkbox">
                        <input type="checkbox" id="advanced-dashboard-edit" class="material-checkbox" ng-model="p.PublishItem.IsLocked" />
                        <input name="advanced-dashboard-edit" type="hidden" value="false" ng-model="p.PublishItem.IsLocked">
                        <label for="advanced-dashboard-edit">[[[Lock dashboard editing in published site]]] </label>
                    </div>
                    <label>[[[Select data sources that you want to lock from editing in the destination site.]]]</label>
                    <div id="selected-datasources" class="selectpicker dropup">
                        <select id="datasource-list-dropdown" class="form-control selectpicker" title="[[[Select data sources]]]" multiple="" data-size="5" data-actions-box="true" data-live-search="true" style="display: none"></select>
                    </div>
                </div>
            </div>
        </div>
        <div id="publish-select-site-container" class="col-xs-12" style="display:none">
            <div class="site-content-container first-label">
                <input type="radio" name="publish-site" class="css-radio" checked="checked" id="internal-site" ng-click="selectPublishType('@PublishType.Internal')" />
                <label for="internal-site" class="pull-left app-radio-label normal-font">[[[Internal Site]]]</label>
                <br />
                <p class="site-content">[[[Allows you to publish the dashboard to the sites created in the same server.]]]</p>
            </div>
            <div class="site-content-container">
                <input type="radio" name="publish-site" class="css-radio" id="external-site" ng-click="selectPublishType('@PublishType.External')" />
                <label for="external-site" class="pull-left app-radio-label normal-font">[[[External Site]]]</label>
                <br />
                <p class="site-content">[[[Allows you to publish the dashboard to the sites created in other servers.]]]</p>
            </div>
        </div>
    </div>
</body>