@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
    var url = new Uri(Context.Request.GetDisplayUrl());
    var requestUrl = url.AbsolutePath.ToString().ToLower();
    var dashboardsPageUrl = Url.Action("Dashboards", "Dashboards");
}
<!DOCTYPE html>
<head>
    <script>
    var getActiveSitesUrl = "@Url.Action("GetAllActiveTenantsForPublish", "Publish")";
    var getUsersPermissionUrl = "@Url.Action("GetUsersWithCreatePermission", "Publish")";
    var getDatasourceUrl = "@Url.Action("GetDataSources", "Publish")";
    var publishDashboardUrl = { "dashboard": "@Url.Action("PublishDashboardItem", "Publish")", "datasource": "@Url.Action("PublishDatasourceItem", "Publish")" };
    var validatePublishItemUrl = { "dashboard": "@Url.Action("ValidatePublishItem", "Publish")", "datasource": "@Url.Action("ValidateDatasourcePublishItem", "Publish")" };
    var getExternalSitesUrl = "@Url.Action("GetExternalSites", "Publish")";
    </script>
    <environment include="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/publish-dashboard.js"></script>
    </environment>
    <environment exclude="Development,CloudDevelopment">
        <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/publish-dashboard.min.js"></script>
    </environment>
</head>
<body>
    <div id="publish-site-content" class="col-12 no-padding" style="display:none" ng-controller="PublishCtrl">
        <div id="publish-base-container" style="display:none">
            <div class="col-6 publish-container">
                <div>
                    <label ng-if="publishType=='@PublishType.Internal.ToString()'">@T["Publish to these sites"]:</label>
                    <label class="external-dropdown" ng-if="publishType=='@PublishType.External.ToString()'">@T["Publish to external sites"]:</label>
                    <div id="active-sites-dropdown" class="selectpicker">
                        <select id="multiselect-dropdown" class="form-control selectpicker" data-size="5" multiple="" data-actions-box="true" data-live-search="true" data-none-results-text="@T["No results matched"]" data-select-all-text="@T["Select All"]" data-deselect-all-text="@T["Deselect All"]" data-none-Selected-text="@T["Nothing selected"]"></select>
                    </div>
                    <span class="col-1 input-group-btn no-padding" id="add-external-sites" ng-if="publishType == '@PublishType.External.ToString()'">
                        <button class="btn btn-default" type="button" data-placement="right" title="@T["Add external sites"]" data-bs-toggle="tooltip" onclick="getExternalSitesDetailDialog()"><span class="su-add"></span></button>
                    </span>
                </div>
                <span id="active-sites-validation" class="validation-message text"></span>
                <label ng-show="itemType == '@((int)ItemType.Dashboard)'">@T["Category name"]</label>
                <input ng-show="itemType == '@((int)ItemType.Dashboard)'" id="publish-category-name" autocomplete.="off" class="form-control" placeholder="@T["Category name"]" data-maxlength="255" ng-model="PublishedItems.CategoryName" autofocus>
                <span id="publish-category-validation" class="validation-message text"></span>
                <div id="use-source-category-checkbox" ng-if="itemType == '@((int)ItemType.Dashboard)'">
                    <input type="checkbox" id="use-source-category" class="material-checkbox" />
                    <input name="use-source-category" type="hidden" value="false">
                    <label for="use-source-category" data-container="#use-source-category-checkbox">@T["Use source category name."]</label>
                </div>
                <div ng-show="itemType == '@((int)ItemType.Dashboard)'" id="publish-plugin-validation" class="validation-message text"></div>
                <label ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Dashboard name"]</label>
                <label ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Data Source Name"]</label>
                <input id="publish-dashboard-name" class="form-control" maxlength="253" ng-model="PublishedItems.Name" disabled>
                <div id="use-source-name-checkbox" ng-if="itemType == '@((int)ItemType.Dashboard)'">
                    <input type="checkbox" id="use-source-name" class="material-checkbox" />
                    <input name="use-source-name" type="hidden" value="false">
                    <label for="use-source-name" data-bs-toggle="tooltip" data-placement="bottom" data-container="#use-source-name-checkbox" title="@T["On enabling this, if a dashboard or data source with the same name exists in the destination site, the publishing will fail."]">@T["Use source dashboard and data source name."]</label>
                </div>
                <div id="use-source-name-checkbox" ng-if="itemType == '@((int)ItemType.Datasource)'">
                    <input type="checkbox" id="use-source-name" class="material-checkbox" />
                    <input name="use-source-name" type="hidden" value="false">
                    <label for="use-source-name" data-bs-toggle="tooltip" data-placement="bottom" data-container="#use-source-name-checkbox" title="@T["On enabling this, if data source with the same name exists in the destination site, the publishing will fail."]">@T["Use original data source and linked data source name."]</label>
                </div>
                <label ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Dashboard description"] </label>
                <label ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Data Source Description"]</label>
                <textarea ng-if="itemType == '@((int)ItemType.Dashboard)'" id="publish-dashboard-description" autocomplete="off" class="form-control" placeholder="@T["Write a description of the dashboard"]" ng-model="PublishedItems.Description" data-maxlength="1024" rows="3"> </textarea>
                <textarea ng-if="itemType == '@((int)ItemType.Datasource)'" id="publish-dashboard-description" autocomplete="off" class="form-control description-text-area" placeholder="@T["Write a description of the data source"]" ng-model="PublishedItems.Description" data-maxlength="1024" rows="3"> </textarea>
                <span id="publish-description-validation" class="validation-message text"></span>
                <div ng-show="itemType == '@((int)ItemType.Dashboard)'" id="publish-description-plugin-validation" class="validation-message text"></div>
                <div ng-show="itemType == '@((int)ItemType.Datasource)'" id="publish-description-plugin-validation" class="validation-message text"></div>
                <div id="publish-dashboard-checkbox" ng-if="itemType == '@((int)ItemType.Dashboard)'">
                    @Html.CheckBox("publish-dashboard-edit", new { @class = "material-checkbox" })
                    @Html.Label("publish-dashboard-edit", T["Lock dashboard editing in published site."].Value, new { @class = "toggle-space" })
                </div>
                <div id="publish-dashboard-checkbox" ng-if="itemType == '@((int)ItemType.Datasource)'">
                    @Html.CheckBox("publish-dashboard-edit", new { @class = "material-checkbox" })
                    @Html.Label("publish-dashboard-edit", T["Lock data source editing in the published site."].Value, new { @class = "toggle-space" })
                </div>
                <div id="publish-datasource-checkbox" ng-if="itemType == '@((int)ItemType.Dashboard)'">
                    @Html.CheckBox("publish-datasource-edit", new { @class = "material-checkbox" })
                    @Html.Label("publish-datasource-edit", T["Lock data source editing in published site."].Value, new { @class = "toggle-space" })
                </div>
                <div id="publish-datasource-checkbox" ng-if="itemType == '@((int)ItemType.Datasource)'">
                    @Html.CheckBox("publish-datasource-edit", new { @class = "material-checkbox" })
                    @Html.Label("publish-datasource-edit", T["Lock linked data source editing in the published site."].Value, new { @class = "toggle-space" })
                </div>
                <div ng-if="itemType == '@((int)ItemType.Dashboard)'" id="make-public-checkbox">
                    @Html.CheckBox("make-public", new { @class = "material-checkbox" })
                    @Html.Label("make-public", T["Make dashboard as public in published site."].Value, new { @class = "toggle-space" })
                </div>
            </div>
            <div class="col-6 publish-info">
                <h5>@T["Sites"]:</h5>
                <p ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Choose the sites you want to publish the dashboard to."]</p>
                <p ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Choose the sites you want to publish the data source to."]</p>
                <h5 ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Category name"]:</h5>
                <p ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["An existing category will be used if one is present in the destination site. Otherwise, a new category will be created in the destination site according to the name entered in this field."]</p>
                <h5>@T["Owner"]:</h5>
                <p ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["The dashboard will be created in the destination site with an owner who has permission to create dashboards, data sources, and categories."]</p>
                <p ng-if="itemType == '@((int)ItemType.Datasource)'">@T["The data source will be created in the destination site with an owner who has permission to create data sources."]</p>
                <h5 ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Note"]</h5>
                <p ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Publishing the data source will automatically publish all of the linked data sources on destination sites. Click Advanced below to check the linked data source details."]</p>
                <div class="advanced-info">
                    <p ng-if="itemType == '@((int)ItemType.Dashboard)'">
                        @Html.Raw(String.Format(T["If you want to publish the dashboard for a specific user, click on {0}Advanced{1} and choose the user you want."].Value, "<b>", "</b>"))
                    </p>
                    <p ng-if="itemType == '@((int)ItemType.Datasource)'">
                        @Html.Raw(String.Format(T["If you want to publish the data source for a specific user, click on {0}Advanced{1} and choose the user you want."].Value, "<b>", "</b>"))
                    </p>
                </div>
            </div>
        </div>
        <div id="publish-advanced-container" class="col-12 no-padding" style="display: none">
            <div class="selected-sites col-6">
                <ul class="col-11 publish-detail" ng-repeat="sites in selectedSites" ng-class="{active : activeMenu.TenantId === sites.TenantId}">
                    <li class="publish-active-sites" ng-click="setActive(sites, $event)">
                        <span>{{sites.TenantName}}</span>
                        <span id="warning-info" title="@T["One or more details are invalid"]" data-bs-toggle="tooltip" data-placement="top" data-container="#publish-site-dialog" style="display: none">
                            <i class="su su-info"></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-6 advanced-page-container" ng-repeat="p in TargetSiteDetail" ng-if="p.TenantId == activeMenu.TenantId">
                <label ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Select the dashboard owner for the destination site."]</label>
                <label ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Select the data source owner for the destination site."]</label>
                <div class="users-list">
                    <select id="user-selected" name="p.UserId" class="primary-select form-control" ng-model="p.UserId" data-size="5" data-live-search="true"></select>
                </div>
                <label ng-show="itemType == '@((int)ItemType.Dashboard)'">@T["Category name"]</label>
                <input ng-show="itemType == '@((int)ItemType.Dashboard)'" ng-model="p.PublishItem.CategoryName" id="advanced-category-name" autocomplete="off" class="form-control" placeholder="@T["Category name"]" data-maxlength="255" autofocus>
                <span id="advanced-category-validation" class="validation-message text"></span>
                <div id="advanced-plugin-validation" class="validation-message text"></div>
                <div id="use-same-category-checkbox" ng-if="itemType == '@((int)ItemType.Dashboard)'">
                    <input type="checkbox" id="use-same-category" class="material-checkbox" />
                    <input name="use-same-category" type="hidden" value="false">
                    <label for="use-same-category" data-container="#use-same-category-checkbox">@T["Use source category name."]</label>
                </div>
                <input ng-show="itemType == '@((int)ItemType.Dashboard)'" class="form-control" id="select-source-category" />
                
                <label ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Dashboard name"]</label>
                <label ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Data Source Name"]</label>
                <input ng-model="p.PublishItem.Name" id="advanced-dashboard-name" class="form-control" maxlength="253" disabled>
                <div ng-if="itemType == '@((int)ItemType.Dashboard)'" id="advanced-source-name-checkbox">
                    <input type="checkbox" id="advanced-source-name" class="material-checkbox" ng-model="p.UseSourceItemName" />
                    <input name="advanced-source-name" type="hidden" value="false" ng-model="p.UseSourceItemName">
                    <label for="advanced-source-name" data-bs-toggle="tooltip" data-placement="bottom" title='@T["On enabling this, if a dashboard or data source with the same name exists in the destination site, the publishing will fail."]'>@T["Use source dashboard and data source name."]</label>
                </div>
                <div ng-if="itemType == '@((int)ItemType.Datasource)'" id="advanced-source-name-checkbox">
                    <input type="checkbox" id="advanced-source-name" class="material-checkbox" ng-model="p.UseSourceItemName" />
                    <input name="advanced-source-name" type="hidden" value="false" ng-model="p.UseSourceItemName">
                    <label for="advanced-source-name" data-bs-toggle="tooltip" data-placement="bottom" title='@T["On enabling this, if a data source with the same name exists in the destination site, the publishing will fail."]'>@T["Use source data source and linked data source name."]</label>
                </div>
                <label ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Dashboard description"]</label>
                <label ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Data Source Description"]</label>
                <textarea ng-if="itemType == '@((int)ItemType.Dashboard)'" ng-model="p.PublishItem.Description" id="advanced-dashboard-description" autocomplete="off" class="form-control" placeholder="@T["Write a description of the dashboard"]" data-maxlength="1024"></textarea>
                <textarea ng-if="itemType == '@((int)ItemType.Datasource)'" ng-model="p.PublishItem.Description" id="advanced-dashboard-description" autocomplete="off" class="form-control" placeholder="@T["Write a description of the data source"]" data-maxlength="1024"></textarea>
                <span id="advance-publish-description-validation" class="validation-message text"></span>
                <div ng-show="itemType == '@((int)ItemType.Dashboard)'" id="advance-publish-description-plugin-validation" class="validation-message text"></div>
                <div ng-show="itemType == '@((int)ItemType.Datasource)'" id="advance-publish-description-plugin-validation" class="validation-message text"></div>
                <div id="advanced-dashboard-checkbox">
                    <input type="checkbox" id="advanced-dashboard-edit" class="material-checkbox" ng-model="p.PublishItem.IsLocked" />
                    <input name="advanced-dashboard-edit" type="hidden" value="false" ng-model="p.PublishItem.IsLocked">
                    <label for="advanced-dashboard-edit" ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Lock dashboard editing in published site"] </label>
                    <label for="advanced-dashboard-edit" ng-if="itemType == '@((int)ItemType.Datasource)'" class="datasource-edit-label">@T["Lock this data source editing in published site"] </label>
                </div>
                <div ng-if="itemType == '@((int)ItemType.Dashboard)'" id="advanced-make-public-checkbox">
                    <input type="checkbox" id="advanced-make-public" class="material-checkbox" ng-model="p.PublishItem.IsPublic" />
                    <input name="advanced-make-public" type="hidden" value="false" ng-model="p.PublishItem.IsPublic">
                    <label for="advanced-make-public">@T["Make dashboard as public in published site."] </label>
                </div>
                <div>
                    <label ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Select data sources that you want to lock from editing in the destination site."]</label>
                    <label ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Select the linked data sources that you want to lock from editing in the destination site."]</label>
                    <div id="selected-datasources" class="selectpicker dropup">
                        <select ng-if="itemType == '@((int)ItemType.Dashboard)'" id="datasource-list-dropdown" class="form-control select-picker-publishdialog" title='@T["Select data sources"]' multiple="" data-size="5" data-actions-box="true" data-live-search="true" style="display:none"></select>
                        <select ng-if="itemType == '@((int)ItemType.Datasource)'" id="datasource-list-dropdown" class="form-control select-picker-publishdialog" title='@T["Select linked data sources"]' multiple="" data-size="5" data-actions-box="true" data-live-search="true" style="display:none"></select>
                    </div>
                </div>
            </div>
        </div>
        <div id="publish-select-site-container" class="col-12" style="display:none">
            <div class="site-content-container first-label">
                <input type="radio" name="publish-site" class="css-radio" checked="checked" id="internal-site" ng-click="selectPublishType('@PublishType.Internal')" />
                <label for="internal-site" class="float-start app-radio-label normal-font">@T["Internal Site"]</label>
                <br />
                <p class="site-content" ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Allows you to publish the dashboard to the sites created in the same server."]</p>
                <p class="site-content" ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Allows you to publish a data source to the sites created in the same server."]</p>
            </div>
            <div class="site-content-container">
                <input type="radio" name="publish-site" class="css-radio" id="external-site" ng-click="selectPublishType('@PublishType.External')" />
                <label for="external-site" class="float-start app-radio-label normal-font">@T["External Site"]</label>
                <br />
                <p class="site-content" ng-if="itemType == '@((int)ItemType.Dashboard)'">@T["Allows you to publish the dashboard to the sites created in other servers."]</p>
                <p class="site-content" ng-if="itemType == '@((int)ItemType.Datasource)'">@T["Allows you to publish a data source to the sites created in other servers."]</p>
            </div>
        </div>
    </div>
</body>