@{
    Layout = null;
    var itemType = (ItemType)Model.Value;
    var itemTypeName = itemType.ToString().ToLower() == "datasource" ? "[[[Data Source]]]" : itemType.ToString();
}
<script>
    var removeItemPublicUrl = "@Url.Action("RemoveItemPublic", "items")";

    function load() {
        if (($(parent.window).width()) > 1400) {
            $(".dialog").addClass("iframe");
        }

        if (($(parent.window).width()) < 1400) {
            $(".dialog").removeClass("iframe");
        }
    }
</script>


@await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")


<body onload="load()">
    <div class="col-lg-12 no-padding dialog" id="PopupContainer">
        <div class="col-md-12 dialog-header">
            <span class="su su-remove-public Head-icon"><span class="su-remove-public path1"></span><span class="su-remove-public path2"></span><span class="su-remove-public path3"></span></span>
            <span class="PopupTitle">[[[Make Private]]]</span>
            <a href="javascript:void(0);" title="[[[Close]]]" class="PopupClose" onclick="onRemovePublicDialogClose()"><span class="su su-close"></span></a>
        </div>
        <div class="dialog-body col-xs-12 no-padding" style="height:auto;">

            <div class="col-xs-12 padding-bottom20">

                <div class="deleteItem" id="removepublicitem" style="font-size:14px !important">

                    <span style="white-space:normal;float:left;width:100%" class="text">[[[Are you sure you want to make the ]]] @(itemTypeName) — <span class="highlight-name">@ViewData["ItemName"]</span> &nbsp;[[[private?]]]</span>

                    <strong style="float:left;padding-top:15px;width:100%" class="note">[[[Note:]]]</strong>

                    <span class="note text" style="white-space:normal;float:left;padding-top:10px;padding-bottom:15px">
                        [[[If made private, the ]]]@(itemTypeName)[[[ will only be visible to users with the appropriate permissions.]]]
                    </span>
                </div>

                <div id="error-msg" class="error-msg deleteItem text" style="display:none"><span style="white-space:nowrap;float:left">[[[Unable to Remove this ]]] @(itemTypeName)—</span><span id="item_name" class="delete-item-body highlight-name">@ViewData["ItemName"]</span> [[[from Public access. Internal server error. Please try again.]]]</div>

                <div id="success-msg" class="error-msg deleteItem text" style="display:none;font-size:14px !important">
                    <span style="white-space:nowrap;float:left">@(itemTypeName)—</span>
                    <span id="item_name" class="delete-item-body highlight-name">@ViewData["ItemName"]</span>
                    &nbsp;[[[is now private.]]]
                </div>
            </div>
        </div>
        <div class="col-xs-12 dialog-footer rightAlign" style="position:relative !important;font-size:14px !important">
            <div class="col-xs-3"></div>

            <div id="remove-select-area" class="col-xs-9 no-padding rightAlign validationArea">

                <input type="button" class="app-button app-primary-button rightAlign" value="[[[Make Private]]]" id="remove-public" data-item-id="@ViewData["ItemId"]" data-itemtype="" tabindex="1" autofocus />

                <input type="button" id="Cancel" class="app-button app-secondary-button PopupClose no" value="[[[No]]]" onclick="onRemovePublicDialogClose()" tabindex="2" />
            </div>
            <div class="col-xs-8 no-padding centerAlign validationArea" id="remove-close" style="display:none">

                <input title="" type="button" id="Cancel" class="app-button app-secondary-button PopupClose" value="[[[Close]]]" onclick="onRemovePublicDialogClose()" tabindex="3" autofocus />
            </div>
        </div>
    </div>
</body>