@{
    var globalAppSettings = new TenantHandler().GetTenantConfig();
    var cdnLink = globalAppSettings.SystemSettings.CDNLink;
    ViewBag.Title = "[[[Data Connectors]]] - " + globalAppSettings.SystemSettings.OrganizationName;
    bool isSelfHosted = ServerAppConfig.IsSelfHosted;
    var dashboardServerApiUrl = new DashboardServerApiEndPoints(globalAppSettings).DashboardServerApiUrl();
    var dashboardBIUrl = new DashboardServerEndPoints(globalAppSettings).DashboardServerBIUrl();
    var isAdmin = HttpContext.Current.Session["IsAdmin"] != null && Convert.ToBoolean(HttpContext.Current.Session["IsAdmin"]);
    ViewBag.HelpSiteUrl = GlobalAppSettings.GetHelpSiteUrl(HelpSiteUrlNames.DataConnectors);

    HttpContext.Current.Response.Cookies.Add(new HttpCookie(ServerAppConfig.DesignerLanguageCookieName)
    {
        Value = GlobalAppSettings.GetLanguageTag(),
        HttpOnly = true,
        Expires = DateTime.UtcNow.AddYears(1)
    });
}

@section meta{
    <meta name="dashboard_server:url" content="@dashboardServerApiUrl" />
    <meta name="user:is_admin" content="@isAdmin.ToString()" />
    <meta name="designer_service:url" content="@ServerAppConfig.InternalAppDataServiceUrl" />
    <meta name="designer_service:access_token" content="@ViewBag.AccessToken" />
    <meta name="intermediatedbstatus" content="@ViewBag.IntermediateDbStatus" />
}

@section styles{
    @Styles.Render("~/bundles/Styles/webdesignerservice/dashboard-designer-component")
    @Styles.Render("~/bundles/styles/connection-configuration")
    @Styles.Render("~/bundles/Styles/connector-page")
}

@section scripts{
    <script src="@(EarlyUrlLocalizer.IgnoreLocalizationUrlPrefix)@ServerAppConfig.InternalAppDataServiceUrl/localization/designerlocalization.js?v=@ServerAppConfig.ProductVersion"></script>

    @Scripts.Render("~/bundles/Scripts/webdesignerservice/connection-configuration-dependency")
    @if (isSelfHosted)
    {
        @Scripts.Render("~/bundles/Scripts/webdesignerservice/ej1-web-all")
        @Scripts.Render("~/bundles/Scripts/webdesignerservice/ej2-web-all")
    }
    else
    {
        <script src="@cdnLink/scripts/designer/ej.dashboard.web.all.min.js"></script>
    }
    @Scripts.Render("~/bundles/Scripts/webdesignerservice/connection-configuration")
    @Scripts.Render("~/bundles/scripts/connector-page")


    <script>
    var subAppPath = "@HttpRuntime.AppDomainAppVirtualPath";
        var isSelfHosted = "@isSelfHosted";
        var dataStoreSettingUrl = "@Url.Action("DataStoreSettings", "Administration")";
    </script>
}
@section MainSection{

    @Html.Partial("_AdminMenu")
    <div id="look-and-feel-container" class="col-xs-12 admin-page-container">
        <div id="dataconnector-settings-header" class="col-xs-12 admin-page-header">
            <hgroup class="col-lg-6">
                <h1 class="h2 page-title">
                    [[[DATA CONNECTORS CONFIGURATION]]]
                </h1>
                <h5 class="page-description">
                    [[[Configure any number of connections for your applications by choosing connectors from the list below.]]]
                </h5>
            </hgroup>
            <a href="@Url.Action("Index", "Home")" class="secondary-button pull-right" id="cancel-connector-settings" title="">[[[Cancel]]]</a>
            <button type="button" title="" id="update-datasource-settings" name="update-datasources-settings" class="primary-button pull-right update-system-settings">
                [[[Save]]]
            </button>
        </div>

        <div id="look-and-feel-form col-lg-12 col-md-12">
            <div id="connectionDesigner" style="height:100%;min-height:350px" class="admin-page-body"></div>
        </div>
        <div class="admin-page-actions col-lg-12 col-md-12 no-margin">
            <a href="@Url.Action("Index", "Home")" class="secondary-button pull-right" id="cancel-connector-settings" title="">[[[Cancel]]]</a>
            <button type="button" title="" id="update-datasource-settings" name="update-datasources-settings" class="primary-button pull-right update-system-settings">
                [[[Save]]]
            </button>
        </div>
    </div>
}
