@{
    var totalTour = 6;
}

 <script nonce="@Context.Items["ScriptNonce"]" type="text/javascript">
    var TotalTour = @totalTour;
</script>

<div id="tour-container" style="display: none">
    <div id="tour-div-1">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Connect"]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["Connect to your data available online."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">1/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="next-nav">@T["NEXT"]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-2">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Visualize"]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["Drag and drop suitable widgets for better illustration."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">2/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">@T["PREV"]</span>
                    <span class="next-nav">@T["NEXT"]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-3">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Configure"]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["Configure the widgets with appropriate data views."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">3/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">@T["PREV"]</span>
                    <span class="next-nav">@T["NEXT"]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-4">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Customize"]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["Customize the filter relationship between the widgets."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">4/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">@T["PREV"]</span>
                    <span class="next-nav">@T["NEXT"]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-5">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Preview"]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["Preview the created dashboard."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">5/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">@T["PREV"]</span>
                    <span class="next-nav">@T["NEXT"]</span>
                </div>
            </div>
        </div>
    </div>
    
    <div id="tour-div-6">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Publish"]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["Publish the dashboard to share with others."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">6/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">@T["PREV"]</span>
                    <span class="end-nav">@T["START"]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="datasource-tour-div">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">@T["Start with configuring a data source"]</span>
                <span class="su su-close datasource-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    @T["While working on a dashboard, you can add a new data source or use an existing one configured in the past."]
                </div>
            </div>
            <div class="tour-footer col-12 no-padding">
                <div class="tour-navigation-div text-button no-padding">
                    <span class="add-datasource-button">@T["CONTINUE"]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="backdropFallback" class="tour-backdrop "></div>
