
@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}

<environment include="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/emaileditor.css" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/emaileditor.js"></script>
</environment>
<environment exclude="Development,CloudDevelopment">
    <link rel="stylesheet" asp-append-version="true" href="@dashboardServerResourceUrl/cdn/css/emaileditor.min.css" />
    <script asp-append-version="true" src="@dashboardServerResourceUrl/cdn/scripts/emaileditor.min.js"></script>
</environment>


<!DOCTYPE html>
<html class="dashboard-server">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @await Html.PartialAsync("~/Views/Shared/_LoaderIcon.cshtml")
</head>
<body>
<div class="no-padding email-custom-editor" id="email-editor-area">
    <div class="no-padding  align-center choose-template">
        @Html.Label("email-templates", T["Choose a template"].Value, new { @class = "enabled-label" })
    </div>
    <div class="info-message" style="font-size: 13px; padding-bottom: 5px;">
        @T["Please select an email template from the list to apply a predefined layout and content for your email."]
    </div>
    <div class="template-dropdown no-padding" id="select-template">
        <select id="email-templates" class="selectpicker" data-size="5" title="@T["Select a template"]" data-hide-disabled="true">
        </select>
    </div>
    <div class="col-sm-12 col-xs-12 no-padding enabled-div email-template-header-placement">
        <div class="col-sm-2 col-xs-2 no-padding  align-center">
            @Html.Label("enable-schedule-template", T["Email Customization"].Value, new { @class = "enabled-label" })
        </div>
        <div class="col-sm-10 col-xs-10 pull-left no-margin enabled-label-div email-template-alignment">
            <span class="material-switch text-left">
                <input type="checkbox" name="Enable-Schedule-Editor" id="enable-schedule-template"/>
                <label class="label-primary" for="enable-schedule-template"></label>
            </span>
        </div>
        <div class="info-message col-sm-12 col-xs-12 no-padding Info-alignment" style="font-size: 13px; margin-top:5px !important; ">
            @T["Enabling this option allows you to customize the email template content for this particular schedule. You cannot customize the email template when 'Inherit default from settings' option is selected."]
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 no-padding" id="email-subject-panel">
        <div class="col-sm-2 col-xs-2 no-padding align-center email-label"><span>@T["Subject"]</span></div>
        <div class="col-sm-12 col-xs-12 no-padding email-subject-text"><input type="text" class="form-control cls-schname" value="" id="subject-area" data-maxlength="255"></div>
        <div class="col-sm-4 col-xs-4 no-padding pull-right" id="select-variables">
            <select id="email-subject-variables" class="selectpicker" data-size="5" title="@T["Select variables"]" data-hide-disabled="true" multiple>
                <option value="Organization Name">Organization Name</option>
                <option value="Schedule Name">Schedule Name</option>
                <option value="Dashboard Name">Dashboard Name</option>
                <option value="Date">Date</option>
                <option value="Time">Time</option>
            </select>
        </div>
        <div class="validate-error" id="email-subject-validation">@T["Please enter the email subject"]</div>
    </div>
    <div class="col-xs-12 no-padding email-editor custom-bootstrap-styles" id="email-editor-panel">
        <div class="col-sm-2 col-xs-2 no-padding align-center email-label"><span>@T["Body"]</span></div>
        <div id="data-alert-header" class="col-sm-12 col-xs-12 bottom-margin no-padding">
            <div class="col-sm-1 col-xs-3 no-padding field-width" style="margin-top: 11px;">@T["Select Fields"] : </div>
            <div id="email-alert-widget-container" class="col-sm-4 col-xs-4 no-padding no-margin i-search-fields">
                <select id="widget-items" data-live-search="true" class="selectpicker col-sm-4 col-xs-4 no-padding" data-size="5" data-toggle="tooltip"></select>
            </div>
            <div class="col-sm-3 col-xs-3"><input type="button" class="primary-button app-btn-primary" id="add-alert-column" value="Insert"/> </div>
        </div>
        <div class="col-sm-12 col-xs-12 no-padding" id="selected-users-container"></div>
        <div id="email-content-validation" style="visibility: visible;"></div>
    </div>
</div>
</body>
</html>

<script>

    $("#email-templates").selectpicker();

</script>