@{
    Layout = null;
    var globalAppSettings = _globalAppSettings;
    var dashboardServerResourceUrl = globalAppSettings.SystemSettings.CDNLink.TrimEnd('/');
}


<div id="general-feedback-popup" class="fluent-popup display-none custom-bootstrap-styles custom-server-style">
    <input id="feedback-form-id" type="hidden" value="@FeedbackFormId.GeneralFeedback">
    <div class="fluent-popup-header">
        <h4 class="popup-title">
            <span>[[[Help us improve]]]</span>
            <button id="close-general-feedback" type="button" title="[[[Close]]]" data-feedback-close="false" data-cookie="Show-Later" class="close popup-close cookie-button" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-popup-body">
        <div class="general-feedback-smiley">
            <label class="popup-label">[[[How was your @GlobalAppSettings.BrandingDisplayName experience?]]]</label>
            <div id="feedback-smiley">
                <button class="terrible-smiley smiley-button smiley-change" data-toggle="tooltip" data-placement="bottom" title="Terrible" data-smiley-val="@CloudExperience.Terrible">
                    <img id="terrible_smiley_img" class="smiley" src=@Url.Content(dashboardServerResourceUrl + "/cdn/images/terrible.svg") loading="lazy" />
                </button>
                <button class="ok-smiley smiley-button smiley-change" data-toggle="tooltip" data-placement="bottom" title="Okay" data-smiley-val="@CloudExperience.Okay">
                    <img id="ok_smiley_img" class="smiley" src=@Url.Content(dashboardServerResourceUrl +"/cdn/images/okay.svg") loading="lazy" />
                </button>
                <button class="good-smiley smiley-button smiley-change" data-toggle="tooltip" data-placement="bottom" title="Amazing" data-smiley-val="@CloudExperience.Amazing">
                    <img id="good_smiley_img" class="smiley" src=@Url.Content(dashboardServerResourceUrl + "/cdn/images/amazing.svg") loading="lazy" />
                </button>
            </div>
        </div>
        <div class="general-feedback-subject">
            <label class="popup-label">[[[Select a subject:]]]</label>
            <div class="col-xs-12 no-padding btn-group">
                <button id="sub1" class="button sub-button first-subject" value="@FeedbackSubject.Problem">[[[Problem]]]</button>
                <button id="sub2" class="button sub-button" value="@FeedbackSubject.Suggestion">[[[Suggestion]]]</button>
                <button id="sub3" class="button sub-button" value="@FeedbackSubject.Compliment">[[[Compliment]]]</button>
                <button id="sub4" class="button sub-button last-subject" value="@FeedbackSubject.Others">[[[Other]]]</button>
            </div>
        </div>
        <div class="form-group">
            <span class="sub-title-change popup-label" for="general-feedbak-comment"><span>[[[Share your thoughts.]]]</span></span>
            <textarea class="form-control textarea" maxlength="255" rows="5" id="general-feedbak-comment"></textarea>
        </div>
        <span class="error-message"></span>
        <div id="general-feedback-checkbox" class="">
            @Html.CheckBox("general-feedback", new { @class = "material-checkbox", @checked = "checked" })
            @Html.Label("general-feedback", "[[[May we contact you to follow up on your feedback?]]]", new { @class = "toggle-space" })
        </div>
    </div>
    <div id="general-feedback-button" class="fluent-popup-footer">
        <div id="button-container" class="col-lg-12 col-md-12">
            <button type="button" id="cancel-button" class="app-button app-secondary-button app-btn-secondary cookie-button pull-right">[[[Cancel]]]</button>
            <button type="button" id="do-not-show-button" data-cookie="Do-Not-Show" class="app-button app-secondary-button app-btn-secondary cookie-button pull-right">[[[Do not show]]]</button>
            <button type="button" id="show-later-button" data-cookie="Show-Later" class="app-button app-secondary-button app-btn-secondary cookie-button pull-right">[[[Show Later]]]</button>
            <button type="button" id="submit-button" data-cookie="Send-Cookie" class="app-button app-primary-button app-btn-primary pull-right" disabled="disabled">[[[Submit]]]</button>
        </div>
    </div>
</div>

