
<div id="warning-toast-dialog" class="warning-toast-dialog fluent-popup custom-bootstrap-styles custom-server-style no-padding" style="display: none">
    <div class="fluent-popup-header col-12 no-padding">
        <h4 class="popup-title">
            <span class="su su-info"></span>
            <span id="info-dialog-header">@T["Template Dashboard"]</span>
            <button id="close-info-dialog" type="button" title="@T["Close"]" data-bs-toggle="tool-tip" data-container="body" class="btn-close popup-close" aria-label="Close">
                <span class="su su-close"></span>
            </button>
        </h4>
    </div>
    <div class="fluent-item-popup-body col-12">
        <span class="item-info-created col-12" id="warning-toast-content">
        </span>
    </div>
    <div class="fluent-popup-footer col-12">
        <button class="app-button app-secondary-button app-btn-secondary fluent" id="copy-to-clipboard" title=@T["Copy to Clipboard"]>@T["Copy to Clipboard"]</button>
        <button class="close-fluent app-button app-secondary-button app-btn-secondary" id="close-info-dialog" title="@T["Close"]">@T["Close"]</button>
    </div>
</div>
